FIN - Processar regra faturamento mensal (corrigido anti-loop).json
{
  "name": "FIN - Processar regra faturamento mensal (corrigido anti-loop)",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"contractVersion\": \"fin_v3\",\n  \"itemType\": \"rule_input\",\n  \"trace\": {\n    \"parentExecutionId\": \"123456\",\n    \"workflowExecutionId\": \"manual\",\n    \"ruleExecutionKey\": \"manual:123:456\"\n  },\n  \"run\": {\n    \"executionId\": \"123456\",\n    \"competenciaYMD\": \"2026-02-01\",\n    \"compStart\": \"2026-02-01\",\n    \"compEnd\": \"2026-02-28\",\n    \"todayDay\": 5\n  },\n  \"rule\": {\n    \"ruleId\": \"999999\",\n    \"ruleTitle\": \"Regra Exemplo\",\n    \"prefetchDecision\": \"new_rule_candidate\",\n    \"ruleFields\": {},\n    \"itemTemplateIds\": [\n      \"111\",\n      \"222\"\n    ]\n  }\n}"
      },
      "id": "8e171abc-9c07-4ecc-bff8-20095f35df45",
      "name": "01.1 | Trigger entrada",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1344,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = ($json && typeof $json === 'object' && !Array.isArray($json)) ? $json : {};\nconst nowIso = new Date().toISOString();\nconst NODE_NAME = '01.2 | Init contexto fin_v3';\n\nconst clean = (v) => String(v ?? '').trim();\nconst isBlank = (v) => {\n  const s = clean(v).toLowerCase();\n  return s === '' || s === 'null' || s === 'undefined' || s === 'nan';\n};\nconst isIsoDate = (v) => /^\\d{4}-\\d{2}-\\d{2}$/.test(clean(v));\nconst collectIds = (...values) => {\n  const out = [];\n  const visit = (value) => {\n    if (value === undefined || value === null) return;\n    if (Array.isArray(value)) {\n      for (const item of value) visit(item);\n      return;\n    }\n    const s = String(value).trim();\n    if (s) out.push(s);\n  };\n  for (const value of values) visit(value);\n  return Array.from(new Set(out));\n};\nconst failureEntry = (node, reason, ...ids) => ({\n  node,\n  reason: String(reason || 'unexpected_payload_shape'),\n  pipefyCardIds: collectIds(...ids),\n});\n\nconst ruleSrc = (input.rule && typeof input.rule === 'object' && !Array.isArray(input.rule))\n  ? input.rule\n  : ((input.ruleContext && typeof input.ruleContext === 'object' && !Array.isArray(input.ruleContext)) ? input.ruleContext : {});\n\nconst runSrc = (input.run && typeof input.run === 'object' && !Array.isArray(input.run))\n  ? input.run\n  : ((input.runContext && typeof input.runContext === 'object' && !Array.isArray(input.runContext)) ? input.runContext : {});\n\nconst traceSrc = (input.trace && typeof input.trace === 'object' && !Array.isArray(input.trace)) ? input.trace : {};\nconst ruleExecutionKey = [String($execution.id ?? 'manual'), String(Date.now()), String(Math.floor(Math.random() * 1e9))].join(':');\nconst trace = {\n  parentExecutionId: traceSrc.parentExecutionId != null ? String(traceSrc.parentExecutionId) : (runSrc.executionId != null ? String(runSrc.executionId) : null),\n  workflowExecutionId: String($execution.id ?? 'manual'),\n  ruleExecutionKey,\n};\n\nconst cfg = {\n  invoicePipeId: 306859731,\n  invoicePhaseId: 341350484,\n  itemPipeId: 306859915,\n  itemPhaseId: 341351580,\n  activeItemPhaseId: '341306826',\n  ruleLinkFieldId: 'id_da_regra_de_faturamento',\n  competenciaFieldId: 'data_de_compet_ncia',\n};\n\nconst ruleId = clean(ruleSrc.ruleId || ruleSrc.id || '');\nconst competenciaYMD = clean(ruleSrc.competenciaYMD || runSrc.competenciaYMD || '');\nconst compStart = clean(ruleSrc.compStart || runSrc.compStart || '');\nconst compEnd = clean(ruleSrc.compEnd || runSrc.compEnd || '');\nconst itemTemplateIds = Array.isArray(ruleSrc.itemTemplateIds)\n  ? Array.from(new Set(ruleSrc.itemTemplateIds.map((x) => clean(x)).filter(Boolean)))\n  : [];\n\nconst ctx = {\n  contractVersion: 'fin_v3',\n  trace,\n  run: {\n    executionId: runSrc.executionId != null ? String(runSrc.executionId) : String($execution.id ?? 'manual'),\n    competenciaYMD,\n    compStart,\n    compEnd,\n    todayDay: Number(runSrc.todayDay || 0),\n  },\n  rule: {\n    ruleId: ruleId || null,\n    ruleTitle: clean(ruleSrc.ruleTitle || ruleSrc.title || ''),\n    prefetchDecision: clean(ruleSrc.prefetchDecision || 'new_rule_candidate') || 'new_rule_candidate',\n    ruleFields: (ruleSrc.ruleFields && typeof ruleSrc.ruleFields === 'object' && !Array.isArray(ruleSrc.ruleFields)) ? ruleSrc.ruleFields : {},\n    itemTemplateIds,\n  },\n  config: cfg,\n  metricsDelta: {\n    itemBatchQueries: 0,\n    itemsFetched: 0,\n    createInvoices: 0,\n    createItems: 0,\n    updateItemInvoiceLinks: 0,\n    updateParcelasPagas: 0,\n  },\n  failures: [],\n  createItemRequests: [],\n  createdItemIds: [],\n  parcelaUpdates: [],\n  linkUpdates: [],\n  eligibleItems: [],\n  invoiceInputBase: null,\n  invoiceId: null,\n  existingInvoiceId: null,\n  totals: { brl: 0, usd: 0 },\n  hasParcelaErrors: false,\n  terminal: { done: false, status: null, reason: null },\n  startedAt: nowIso,\n};\n\nif (String(input.contractVersion || '') !== 'fin_v3' || String(input.itemType || '') !== 'rule_input') {\n  ctx.terminal = { done: true, status: 'failed', reason: 'unexpected_payload_shape' };\n  ctx.failures.push(failureEntry(NODE_NAME, 'unexpected_payload_shape', ruleId || null));\n}\n\nconst validationErrors = [];\nif (isBlank(ruleId)) validationErrors.push('missing_rule_id');\nif (!isIsoDate(competenciaYMD)) validationErrors.push('invalid_competencia_ymd');\nif (!isIsoDate(compStart)) validationErrors.push('invalid_comp_start');\nif (!isIsoDate(compEnd)) validationErrors.push('invalid_comp_end');\nif (isIsoDate(compStart) && isIsoDate(compEnd) && compStart > compEnd) validationErrors.push('comp_start_after_comp_end');\n\nif (!ctx.terminal.done && validationErrors.length > 0) {\n  ctx.terminal = { done: true, status: 'failed', reason: 'invalid_rule_input' };\n  ctx.failures.push(failureEntry(NODE_NAME, 'invalid_rule_input', ruleId || null));\n}\n\nif (!ctx.terminal.done && itemTemplateIds.length === 0) {\n  ctx.terminal = { done: true, status: 'skipped', reason: 'rule_has_no_item_templates' };\n}\n\nreturn [{ json: ctx }];"
      },
      "id": "c96a5090-282e-4404-9cac-380d0849c670",
      "name": "01.2 | Init contexto fin_v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.terminal?.done === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "0d7c2002-2e19-480b-9a18-2740625707b8",
      "name": "01.3 | Encerrar na entrada?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -896,
        384
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query GetTemplateItem($id: ID!) { card(id: $id) { id title current_phase { id name } fields { field { id label type } value report_value array_value } } }",
        "variables": "={{ { id: String($json.templateItemId) } }}"
      },
      "id": "707f3cd2-a62a-4f05-af8f-203260dc5725",
      "name": "02.3 | FIN-02 Buscar item template",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        -224,
        624
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000,
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "94c14c56-d215-4107-b36c-21c4264668aa",
      "name": "02.4 | Merge retorno template",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const inItems = $input.all().map((i) =>\n  (i && i.json && typeof i.json === 'object' && !Array.isArray(i.json)) ? i.json : {}\n);\n\nif (inItems.length === 0) {\n  throw new Error('No template items received to consolidate');\n}\n\nconst baseCtx =\n  (inItems[0].ctx && typeof inItems[0].ctx === 'object' && !Array.isArray(inItems[0].ctx))\n    ? inItems[0].ctx\n    : null;\n\nif (!baseCtx) {\n  throw new Error('Missing ctx on consolidate templates');\n}\n\nconst ctx = JSON.parse(JSON.stringify(baseCtx));\nctx.failures = Array.isArray(ctx.failures) ? ctx.failures : [];\nconst collectIds = (...values) => {\n  const out = [];\n  const visit = (value) => {\n    if (value === undefined || value === null) return;\n    if (Array.isArray(value)) {\n      for (const item of value) visit(item);\n      return;\n    }\n    const s = String(value).trim();\n    if (s) out.push(s);\n  };\n  for (const value of values) visit(value);\n  return Array.from(new Set(out));\n};\nconst pushFailure = (node, reason, ...ids) => {\n  ctx.failures.push({\n    node,\n    reason: String(reason || 'unexpected_payload_shape'),\n    pipefyCardIds: collectIds(...ids),\n  });\n};\n\nconst fieldMap = (fields) => {\n  const out = {};\n  for (const f of (fields || [])) {\n    const fid = f && f.field ? f.field.id : null;\n    if (fid) out[fid] = f;\n  }\n  return out;\n};\n\nconst pickScalar = (f) => {\n  if (!f) return null;\n  const rv = f.report_value;\n  return (rv !== undefined && rv !== null && String(rv).trim() !== '') ? rv : f.value;\n};\n\nconst parseNum = (v) => {\n  if (v === undefined || v === null) return 0;\n  if (typeof v === 'number' && Number.isFinite(v)) return v;\n  let s = String(v).trim();\n  if (!s) return 0;\n  s = s.replace(/[^0-9,.-]/g, '');\n  if (!s) return 0;\n\n  if (s.includes(',') && s.includes('.')) {\n    if (s.lastIndexOf(',') > s.lastIndexOf('.')) {\n      s = s.replace(/\\./g, '').replace(',', '.');\n    } else {\n      s = s.replace(/,/g, '');\n    }\n  } else if (s.includes(',')) {\n    s = s.replace(',', '.');\n  }\n\n  const n = Number(s);\n  return Number.isFinite(n) ? n : 0;\n};\n\nconst intFrom = (v) => {\n  const m = String(v ?? '').match(/[0-9]+/);\n  return m ? parseInt(m[0], 10) : 0;\n};\n\nconst extractIds = (f) => {\n  if (!f) return [];\n  const av = f.array_value;\n  const ids = [];\n\n  const push = (x) => {\n    if (x === undefined || x === null) return;\n    if (typeof x === 'object') {\n      if (x.id != null) ids.push(String(x.id));\n      else if (x.value != null) ids.push(String(x.value));\n      else if (x.label != null) ids.push(String(x.label));\n      else ids.push(JSON.stringify(x));\n    } else {\n      ids.push(String(x));\n    }\n  };\n\n  if (Array.isArray(av)) {\n    for (const x of av) push(x);\n  } else {\n    const v = pickScalar(f);\n    if (Array.isArray(v)) {\n      for (const x of v) push(x);\n    } else if (typeof v === 'string') {\n      const ms = v.match(/[0-9]+/g);\n      if (ms) for (const x of ms) ids.push(String(x));\n      else if (v.trim() !== '') ids.push(v.trim());\n    } else if (v != null) {\n      push(v);\n    }\n  }\n\n  return Array.from(new Set(ids.filter((s) => s && String(s).trim() !== ''))).map(String);\n};\n\nconst extractList = (f) => {\n  if (!f) return [];\n  const av = f.array_value;\n  let out = [];\n\n  if (Array.isArray(av)) {\n    out = av.map((x) => String(x));\n  } else {\n    const v = pickScalar(f);\n    if (Array.isArray(v)) out = v.map((x) => String(x));\n    else if (typeof v === 'string') {\n      const s = v.trim();\n      if (!s) out = [];\n      else if (s.startsWith('[')) {\n        try {\n          const p = JSON.parse(s);\n          if (Array.isArray(p)) out = p.map((x) => String(x));\n          else out = [String(p)];\n        } catch (_err) {\n          out = s.split(',').map((x) => x.trim()).filter(Boolean);\n        }\n      } else {\n        out = s.split(',').map((x) => x.trim()).filter(Boolean);\n      }\n    } else if (v != null) {\n      out = [String(v)];\n    }\n  }\n\n  return Array.from(new Set(out.filter(Boolean)));\n};\n\nconst allowed = new Set([\n  'afiliados_que_comp_em_a_cobran_a',\n  'base_do_c_lculo_percentual',\n  'categorias_do_saas_isentas_ou_com_desconto',\n  'data_de_compet_ncia',\n  'desconto_no_valor_vari_vel_do_saas_para_a_b',\n  'desconto_no_valor_vari_vel_do_saas_para_e_s',\n  'desconto_no_valor_vari_vel_do_saas_para_espa_os',\n  'desconto_no_valor_vari_vel_do_saas_para_hospedagem',\n  'desconto_no_valor_vari_vel_do_saas_para_outros',\n  'h_algum_desconto_nesse_item',\n  'id_backoffice_do_afiliado',\n  'id_da_fatura',\n  'id_do_item_usado_como_template_fin_02',\n  'modelo_de_cobran_a',\n  'moeda_da_fatura',\n  'observa_es_sobre_descontos_e_isen_es',\n  'percentual_a_ser_aplicado_na_base',\n  'percentual_de_desconto_a_ser_aplicado',\n  'produto',\n  'quantidade',\n  'status',\n  'tipo_de_desconto_a_b_1',\n  'tipo_de_desconto_e_s',\n  'tipo_de_desconto_espa_os',\n  'tipo_de_desconto_hospedagem',\n  'tipo_de_desconto_no_item',\n  'tipo_de_desconto_outros',\n  'tipo_de_item',\n  'unidade_de_cobran_a',\n  'valor_base_saas_categoria_a_b_brl',\n  'valor_base_saas_categoria_a_b_usd',\n  'valor_base_saas_categoria_e_s_brl',\n  'valor_base_saas_categoria_e_s_usd',\n  'valor_base_saas_categoria_espa_os_brl',\n  'valor_base_saas_categoria_espa_os_usd',\n  'valor_base_saas_categoria_hospedagem_brl',\n  'valor_base_saas_categoria_hospedagem_usd',\n  'valor_base_saas_categoria_outros_brl',\n  'valor_base_saas_categoria_outros_usd',\n  'valor_de_base_brl',\n  'valor_de_base_usd',\n  'valor_do_imposto_a_ser_isento_a_b',\n  'valor_do_imposto_a_ser_isento_e_s',\n  'valor_do_imposto_a_ser_isento_espa_os',\n  'valor_do_imposto_a_ser_isento_hospedagem',\n  'valor_do_imposto_a_ser_isento_outros',\n  'valor_nominal_a_ser_descontado_brl',\n  'valor_nominal_a_ser_descontado_usd',\n  'valor_total_do_item_brl',\n  'valor_total_do_item_com_descontos_brl',\n  'valor_total_do_item_com_descontos_usd',\n  'valor_total_do_item_usd',\n  'valor_unit_rio_brl',\n  'valor_unit_rio_usd',\n  'statement_2c441aae_a317_42eb_81c2_c3a06c8daae7',\n  'statement_4a274d3d_6286_453b_9e74_46b058076519',\n  'statement_4f0c1eda_5fed_4d79_8cdd_ac05c377995d',\n  'statement_7140fc81_0523_47c6_a23b_c31ede660ea4',\n]);\n\nconst special = {\n  tipo_de_desconto_no_item_1: 'tipo_de_desconto_no_item',\n  subtotal_do_item_brl: 'valor_total_do_item_brl',\n  subtotal_do_item_usd: 'valor_total_do_item_usd',\n};\nconst requiredUsdBaseFields = [\n  'valor_base_saas_categoria_a_b_usd',\n  'valor_base_saas_categoria_e_s_usd',\n  'valor_base_saas_categoria_espa_os_usd',\n  'valor_base_saas_categoria_hospedagem_usd',\n  'valor_base_saas_categoria_outros_usd',\n];\nconst upsertFieldValue = (fields, fieldId, fieldValue) => {\n  const idx = fields.findIndex((entry) => entry && entry.field_id === fieldId);\n  if (idx >= 0) {\n    fields[idx] = { ...fields[idx], field_value: fieldValue };\n  } else {\n    fields.push({ field_id: fieldId, field_value: fieldValue });\n  }\n};\nconst isBlankFieldValue = (value) => {\n  if (value === undefined || value === null) return true;\n  if (Array.isArray(value)) return value.length === 0;\n  return typeof value === 'string' ? value.trim() === '' : false;\n};\n\nconst compStart = String(ctx.run.compStart || '');\nconst compEnd = String(ctx.run.compEnd || '');\nconst activePhase = String(ctx.config.activeItemPhaseId || '');\nconst ruleId = ctx.rule?.ruleId ?? null;\nconst failureCountBefore = ctx.failures.length;\n\nlet totalBrl = 0;\nlet totalUsd = 0;\nconst eligibleItems = [];\nconst createItemRequests = [];\n\nfor (const it of inItems) {\n  const templateItemId = String(it.templateItemId || '').trim();\n  const gqlErrors = Array.isArray(it.errors) ? it.errors : [];\n\n  if (it.error) {\n    pushFailure('02.3 | FIN-02 Buscar item template', 'fetch_template_item_error', ruleId, templateItemId || null);\n    continue;\n  }\n\n  if (gqlErrors.length > 0) {\n    pushFailure('02.3 | FIN-02 Buscar item template', 'fetch_template_item_error', ruleId, templateItemId || null);\n    continue;\n  }\n\n  const card = it.data?.card;\n  if (!card || !card.id) {\n    pushFailure('02.3 | FIN-02 Buscar item template', 'fetch_template_item_error', ruleId, templateItemId || null);\n    continue;\n  }\n\n  const phaseId = card.current_phase && card.current_phase.id ? String(card.current_phase.id) : '';\n  if (phaseId !== activePhase) {\n    continue;\n  }\n\n  const fm = fieldMap(card.fields || []);\n  const start = String(pickScalar(fm['data_de_in_cio_do_faturamento']) || '').slice(0, 10);\n  const end = String(pickScalar(fm['data_de_fim_do_faturamento']) || '').slice(0, 10);\n\n  if (start && start > compEnd) {\n    continue;\n  }\n  if (end && end < compStart) {\n    continue;\n  }\n\n  const periodicidade = String(pickScalar(fm['periodicidade']) || '').trim();\n  let parcelado = null;\n\n  if (periodicidade === 'Parcelado') {\n    const pagas = intFrom(pickScalar(fm['parcelas_pagas']));\n    const total = intFrom(pickScalar(fm['quantidade_de_parcelas_totais']));\n\n    if (!(total > 0)) {\n      pushFailure('02.5 | Consolidar templates e elegibilidade', 'invalid_total_parcelas', ruleId, String(card.id));\n      continue;\n    }\n\n    if (pagas >= total) {\n      continue;\n    }\n\n    parcelado = { newParcelasPagas: pagas + 1 };\n  }\n\n  const currency = String(pickScalar(fm['moeda_da_fatura']) || '').trim();\n  let brl = 0;\n  let usd = 0;\n\n  if (currency.startsWith('USD')) {\n    usd = parseNum(pickScalar(fm['valor_total_do_item_com_descontos_usd']) ?? pickScalar(fm['subtotal_do_item_usd']));\n  } else if (currency.startsWith('BRL')) {\n    brl = parseNum(pickScalar(fm['valor_total_do_item_com_descontos_brl']) ?? pickScalar(fm['subtotal_do_item_brl']));\n  } else {\n    brl = parseNum(pickScalar(fm['valor_total_do_item_com_descontos_brl']) ?? pickScalar(fm['subtotal_do_item_brl']));\n    usd = parseNum(pickScalar(fm['valor_total_do_item_com_descontos_usd']) ?? pickScalar(fm['subtotal_do_item_usd']));\n  }\n\n  totalBrl += brl;\n  totalUsd += usd;\n\n  const fa = [];\n  fa.push({ field_id: 'data_de_compet_ncia', field_value: String(ctx.run.competenciaYMD || '') });\n  fa.push({ field_id: 'id_do_item_usado_como_template_fin_02', field_value: String(card.id) });\n  fa.push({ field_id: 'status', field_value: 'Ativo' });\n\n  for (const f of (card.fields || [])) {\n    const fid = f && f.field ? f.field.id : null;\n    if (!fid) continue;\n\n    const target = special[fid] || fid;\n    if (!allowed.has(target)) continue;\n    if (target === 'data_de_compet_ncia' || target === 'id_do_item_usado_como_template_fin_02' || target === 'status' || target === 'id_da_fatura') continue;\n\n    const type = f && f.field ? String(f.field.type || '') : '';\n    let val = null;\n\n    if (type === 'connector' || type === 'checklist_horizontal' || type === 'checklist_vertical') {\n      val = extractIds(f);\n    } else {\n      val = pickScalar(f);\n    }\n\n    if (val === undefined || val === null) continue;\n    if (Array.isArray(val) && val.length === 0) continue;\n    if (typeof val === 'string' && val.trim() === '') continue;\n\n    fa.push({ field_id: target, field_value: val });\n  }\n\n  for (const fid of requiredUsdBaseFields) {\n    const existing = fa.find((entry) => entry && entry.field_id === fid);\n    if (!existing || isBlankFieldValue(existing.field_value)) {\n      upsertFieldValue(fa, fid, 0);\n    }\n  }\n\n  const createReq = {\n    templateItemId: String(card.id),\n    shouldUpdateParcelas: Boolean(parcelado),\n    newParcelasPagas: parcelado ? parcelado.newParcelasPagas : null,\n    input: {\n      pipe_id: Number(ctx.config.itemPipeId),\n      phase_id: Number(ctx.config.itemPhaseId),\n      parent_ids: [String(card.id)],\n      title: `Item ${String(ctx.run.competenciaYMD || '').slice(0, 7)} - ${String(card.id)}`,\n      fields_attributes: fa,\n    },\n  };\n\n  eligibleItems.push({ templateItemId: String(card.id), periodicidade, totalBrl: brl, totalUsd: usd });\n  createItemRequests.push(createReq);\n}\n\nctx.metricsDelta.itemBatchQueries = inItems.length;\nctx.metricsDelta.itemsFetched = eligibleItems.length;\nctx.eligibleItems = eligibleItems;\nctx.createItemRequests = createItemRequests;\nctx.totals = { brl: totalBrl, usd: totalUsd };\n\nconst rf =\n  (ctx.rule.ruleFields && typeof ctx.rule.ruleFields === 'object' && !Array.isArray(ctx.rule.ruleFields))\n    ? ctx.rule.ruleFields\n    : {};\n\nconst invoiceFields = [];\n\nconst pushField = (fid, val) => {\n  if (val === undefined || val === null) return;\n  if (Array.isArray(val) && val.length === 0) return;\n  if (typeof val === 'string' && val.trim() === '') return;\n  invoiceFields.push({ field_id: fid, field_value: val });\n};\n\npushField('clientes_na_fatura', extractIds(rf['clientes_na_fatura']));\npushField('rede_na_fatura', extractIds(rf['rede_na_fatura']));\npushField('contatos_que_receber_o_a_fatura', extractIds(rf['contatos_que_receber_o_a_fatura']));\npushField('forma_de_pagamento', extractList(rf['forma_de_pagamento']));\npushField('identificador_fiscal_na_fatura', String(pickScalar(rf['identificador_fiscal_na_fatura']) || ''));\npushField('tipo_de_cliente_final', String(pickScalar(rf['tipo_de_cliente_final']) || ''));\npushField('moeda_do_teto_de_faturamento', extractList(rf['moeda_do_teto_de_faturamento']));\n\nconst tetoBrl = parseNum(pickScalar(rf['teto_de_faturamento_brl']));\nconst tetoUsd = parseNum(pickScalar(rf['teto_de_faturamento_usd']));\nif (tetoBrl) pushField('teto_de_faturamento_brl', tetoBrl);\nif (tetoUsd) pushField('teto_de_faturamento_usd', tetoUsd);\n\npushField('etiquetas', extractList(rf['etiquetas']));\npushField('id_da_regra_de_faturamento', ctx.rule.ruleId);\npushField('data_de_compet_ncia', String(ctx.run.competenciaYMD || ''));\npushField('valor_total_da_fatura_brl', totalBrl);\npushField('valor_total_da_fatura_usd', totalUsd);\n\nctx.invoiceInputBase = {\n  pipe_id: Number(ctx.config.invoicePipeId),\n  phase_id: Number(ctx.config.invoicePhaseId),\n  title: `Fatura ${String(ctx.run.competenciaYMD || '').slice(0, 7)} - Regra ${String(ctx.rule.ruleId || '')}`,\n  fields_attributes: invoiceFields,\n};\n\nif (eligibleItems.length === 0) {\n  const newFailures = ctx.failures.slice(failureCountBefore);\n  if (newFailures.length > 0) {\n    ctx.terminal = { done: true, status: 'failed', reason: String(newFailures[0].reason || 'fetch_template_item_error') };\n  } else {\n    ctx.terminal = { done: true, status: 'skipped', reason: 'no_eligible_items_after_filters' };\n  }\n}\n\nreturn [{ json: ctx }];"
      },
      "id": "854235d8-8664-4a71-9ca3-e5774ff77969",
      "name": "02.5 | Consolidar templates e elegibilidade",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.terminal?.done === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "f7468411-e08e-4c4c-8572-9249bd421650",
      "name": "02.6 | Encerrar após templates?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        160
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation CreateItem($input: CreateCardInput!) { createCard(input: $input) { card { id url } } }",
        "variables": "={{ { input: $json.createReq.input } }}"
      },
      "id": "bf920761-9e94-42fa-a9bc-1847b121ff47",
      "name": "03.3 | FIN-04 Criar item",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        1120,
        624
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000,
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "77cc1de6-aa24-422f-a48f-bcb7761f01db",
      "name": "03.4 | Merge criação item",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1344,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const inItems = $input.all().map((i) => (i && i.json && typeof i.json === 'object' && !Array.isArray(i.json)) ? i.json : {});\nif (inItems.length === 0) {\n  throw new Error('No items to consolidate create item stage');\n}\n\nconst baseCtx = (inItems[0].ctx && typeof inItems[0].ctx === 'object' && !Array.isArray(inItems[0].ctx)) ? inItems[0].ctx : null;\nif (!baseCtx) {\n  throw new Error('Missing ctx on consolidate create item stage');\n}\n\nconst ctx = JSON.parse(JSON.stringify(baseCtx));\nctx.failures = Array.isArray(ctx.failures) ? ctx.failures : [];\nconst SOURCE_NODE = '03.3 | FIN-04 Criar item';\nconst collectIds = (...values) => {\n  const out = [];\n  const visit = (value) => {\n    if (value === undefined || value === null) return;\n    if (Array.isArray(value)) {\n      for (const item of value) visit(item);\n      return;\n    }\n    const s = String(value).trim();\n    if (s) out.push(s);\n  };\n  for (const value of values) visit(value);\n  return Array.from(new Set(out));\n};\nconst pushFailure = (reason, ...ids) => {\n  ctx.failures.push({\n    node: SOURCE_NODE,\n    reason: String(reason || 'no_created_items_for_invoice'),\n    pipefyCardIds: collectIds(...ids),\n  });\n};\nconst REQUIRED_FIELD_ERROR_SENTINEL = 'FIN_CREATE_ITEM_REQUIRED_FIELD_ERROR::';\nconst collectErrorStrings = (value, out = []) => {\n  if (value === undefined || value === null) return out;\n  if (Array.isArray(value)) {\n    for (const item of value) collectErrorStrings(item, out);\n    return out;\n  }\n  if (typeof value === 'string') {\n    const s = value.trim();\n    if (s) out.push(s);\n    return out;\n  }\n  if (typeof value === 'object') {\n    for (const key of ['message', 'description', 'hint', 'details', 'errorMessage']) {\n      if (key in value) collectErrorStrings(value[key], out);\n    }\n    if (out.length === 0) {\n      for (const nested of Object.values(value)) collectErrorStrings(nested, out);\n    }\n  }\n  return out;\n};\nconst errorTextFor = (...values) => Array.from(new Set(values.flatMap((value) => collectErrorStrings(value, [])))).join(' | ');\nconst isRequiredFieldValidationError = (text) => {\n  const s = String(text || '');\n  return s.includes('Invalid inputs:') && s.includes('is required! Please fill it');\n};\n\nconst failureCountBefore = ctx.failures.length;\nconst created = [];\nconst parcelaUpdates = [];\nconst requiredFieldErrorMessages = [];\n\nfor (const it of inItems) {\n  const req = (it.createReq && typeof it.createReq === 'object' && !Array.isArray(it.createReq)) ? it.createReq : {};\n  const gqlErrors = Array.isArray(it.errors) ? it.errors : [];\n  const create = it.data?.createCard;\n  const userErrors = Array.isArray(create?.userErrors) ? create.userErrors : (Array.isArray(create?.user_errors) ? create.user_errors : []);\n  const errorText = errorTextFor(it.error, gqlErrors, userErrors);\n\n  if (it.error) {\n    if (isRequiredFieldValidationError(errorText)) {\n      requiredFieldErrorMessages.push(errorText);\n      pushFailure('create_item_required_field_error', ctx.rule?.ruleId ?? null, req.templateItemId ?? null);\n    } else {\n      pushFailure('create_item_transport_error', ctx.rule?.ruleId ?? null, req.templateItemId ?? null);\n    }\n    continue;\n  }\n\n  if (gqlErrors.length > 0) {\n    if (isRequiredFieldValidationError(errorText)) {\n      requiredFieldErrorMessages.push(errorText);\n      pushFailure('create_item_required_field_error', ctx.rule?.ruleId ?? null, req.templateItemId ?? null);\n    } else {\n      pushFailure('create_item_logical_error', ctx.rule?.ruleId ?? null, req.templateItemId ?? null);\n    }\n    continue;\n  }\n\n  const createdId = create?.card?.id != null ? String(create.card.id) : null;\n  if (userErrors.length > 0 || !createdId) {\n    if (userErrors.length > 0 && isRequiredFieldValidationError(errorText)) {\n      requiredFieldErrorMessages.push(errorText);\n      pushFailure('create_item_required_field_error', ctx.rule?.ruleId ?? null, req.templateItemId ?? null);\n    } else {\n      pushFailure('create_item_logical_error', ctx.rule?.ruleId ?? null, req.templateItemId ?? null);\n    }\n    continue;\n  }\n\n  created.push(createdId);\n  if (req.shouldUpdateParcelas === true && req.newParcelasPagas != null && req.templateItemId != null) {\n    parcelaUpdates.push({\n      templateItemId: String(req.templateItemId),\n      newParcelasPagas: Number(req.newParcelasPagas),\n    });\n  }\n}\n\nctx.createdItemIds = Array.from(new Set(created));\nctx.parcelaUpdates = parcelaUpdates;\nctx.metricsDelta.createItems = ctx.createdItemIds.length;\n\nif (requiredFieldErrorMessages.length > 0) {\n  throw new Error(REQUIRED_FIELD_ERROR_SENTINEL + String(requiredFieldErrorMessages[0] || 'required_field_missing'));\n}\n\nif (ctx.createdItemIds.length === 0) {\n  const newFailures = ctx.failures.slice(failureCountBefore);\n  const reason = newFailures.length > 0\n    ? String(newFailures[0].reason || 'no_created_items_for_invoice')\n    : 'no_created_items_for_invoice';\n  ctx.terminal = { done: true, status: 'failed', reason };\n}\n\nreturn [{ json: ctx }];"
      },
      "id": "ddbd2cfb-ae54-4916-9cfc-aafc9a8c7b37",
      "name": "03.5 | Consolidar criação de itens",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.terminal?.done === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "c1d971fc-68d0-4072-a8ca-c759d91bfc93",
      "name": "03.6 | Encerrar após criação de itens?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1792,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ Array.isArray($json.parcelaUpdates) && $json.parcelaUpdates.length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "ea239d5e-f80b-47b7-b5db-fe60ae5942af",
      "name": "04.1 | Há parcelas para atualizar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1792,
        352
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation UpdateParcelas($cardId: ID!, $value: [UndefinedInput!]!) { updateFieldsValues(input: { nodeId: $cardId, values: [{ fieldId: \"parcelas_pagas\", value: $value }] }) { success } }",
        "variables": "={{ { cardId: String($json.updateReq.templateItemId), value: [Number($json.updateReq.newParcelasPagas)] } }}"
      },
      "id": "01e7c235-fa5b-4f9c-b6a9-76ba4c6d608d",
      "name": "04.4 | FIN-02 Atualizar parcelas_pagas",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        2464,
        496
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000,
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "a68e31b4-25a2-4809-9b0a-07b010b39f61",
      "name": "04.5 | Merge update parcelas",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2688,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const inItems = $input.all().map((i) => (i && i.json && typeof i.json === 'object' && !Array.isArray(i.json)) ? i.json : {});\nif (inItems.length === 0) {\n  throw new Error('No items to consolidate parcelas stage');\n}\n\nconst baseCtx = (inItems[0].ctx && typeof inItems[0].ctx === 'object' && !Array.isArray(inItems[0].ctx)) ? inItems[0].ctx : null;\nif (!baseCtx) {\n  throw new Error('Missing ctx on consolidate parcelas stage');\n}\n\nconst ctx = JSON.parse(JSON.stringify(baseCtx));\nctx.failures = Array.isArray(ctx.failures) ? ctx.failures : [];\nconst SOURCE_NODE = '04.4 | FIN-02 Atualizar parcelas_pagas';\nconst collectIds = (...values) => {\n  const out = [];\n  const visit = (value) => {\n    if (value === undefined || value === null) return;\n    if (Array.isArray(value)) {\n      for (const item of value) visit(item);\n      return;\n    }\n    const s = String(value).trim();\n    if (s) out.push(s);\n  };\n  for (const value of values) visit(value);\n  return Array.from(new Set(out));\n};\nconst pushFailure = (...ids) => {\n  ctx.failures.push({\n    node: SOURCE_NODE,\n    reason: 'update_parcelas_error',\n    pipefyCardIds: collectIds(...ids),\n  });\n};\n\nfor (const it of inItems) {\n  const req = (it.updateReq && typeof it.updateReq === 'object' && !Array.isArray(it.updateReq)) ? it.updateReq : {};\n  if (it.error) {\n    ctx.hasParcelaErrors = true;\n    pushFailure(ctx.rule?.ruleId ?? null, req.templateItemId ?? null);\n    continue;\n  }\n\n  const gqlErrors = Array.isArray(it.errors) ? it.errors : [];\n  const upd = it.data?.updateFieldsValues;\n  const userErrors = Array.isArray(upd?.userErrors) ? upd.userErrors : [];\n  const success = upd?.success === true && gqlErrors.length === 0 && userErrors.length === 0;\n\n  if (success) {\n    ctx.metricsDelta.updateParcelasPagas = Number(ctx.metricsDelta.updateParcelasPagas || 0) + 1;\n  } else {\n    ctx.hasParcelaErrors = true;\n    pushFailure(ctx.rule?.ruleId ?? null, req.templateItemId ?? null);\n  }\n}\n\nreturn [{ json: ctx }];"
      },
      "id": "6cf2c8c6-322b-4706-864a-1919ee457654",
      "name": "04.6 | Consolidar update parcelas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        352
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query FindInvoicesForRuleRecheck($pipeId: ID!, $fieldId: String!, $competencia: String!, $first: Int!) { findCards(pipeId: $pipeId, first: $first, search: { fieldId: $fieldId, fieldValue: $competencia }) { edges { node { id title fields { field { id label type } value report_value array_value } } } pageInfo { hasNextPage endCursor } } }",
        "variables": "={{ { pipeId: Number($json.config.invoicePipeId), fieldId: String($json.config.competenciaFieldId), competencia: String($json.run.competenciaYMD), first: 200 } }}"
      },
      "id": "5b2fa257-b124-44bd-b901-308a6b45cfdb",
      "name": "05.1 | FIN-03 Recheck fatura existente",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        3136,
        592
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000,
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "f06abdbe-31e3-4199-a03d-39dacb53c4cf",
      "name": "05.2 | Merge recheck",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3360,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = ($json && typeof $json === 'object' && !Array.isArray($json)) ? $json : {};\nconst nowIso = new Date().toISOString();\nconst NODE_NAME = '05.3 | Parse recheck anti-loop';\nconst SOURCE_NODE = '05.1 | FIN-03 Recheck fatura existente';\nconst toObj = (v) => (v && typeof v === 'object' && !Array.isArray(v)) ? v : null;\nconst collectIds = (...values) => {\n  const out = [];\n  const visit = (value) => {\n    if (value === undefined || value === null) return;\n    if (Array.isArray(value)) {\n      for (const item of value) visit(item);\n      return;\n    }\n    const s = String(value).trim();\n    if (s) out.push(s);\n  };\n  for (const value of values) visit(value);\n  return Array.from(new Set(out));\n};\nconst failureEntry = (node, reason, ...ids) => ({\n  node,\n  reason: String(reason || 'unexpected_payload_shape'),\n  pipefyCardIds: collectIds(...ids),\n});\n\nconst defaultConfig = {\n  invoicePipeId: 306859731,\n  invoicePhaseId: 341350484,\n  itemPipeId: 306859915,\n  itemPhaseId: 341351580,\n  activeItemPhaseId: '341306826',\n  ruleLinkFieldId: 'id_da_regra_de_faturamento',\n  competenciaFieldId: 'data_de_compet_ncia',\n};\n\nconst defaultMetricsDelta = {\n  itemBatchQueries: 0,\n  itemsFetched: 0,\n  createInvoices: 0,\n  createItems: 0,\n  updateItemInvoiceLinks: 0,\n  updateParcelasPagas: 0,\n};\n\nlet baseCtx = toObj(input.ctx) || toObj(input);\nconst baseCtxLooksValid = baseCtx && toObj(baseCtx.config) && toObj(baseCtx.rule) && toObj(baseCtx.run);\n\nif (!baseCtxLooksValid) {\n  const trace = toObj(input.trace) || {\n    parentExecutionId: null,\n    workflowExecutionId: String($execution.id ?? 'manual'),\n    ruleExecutionKey: null,\n  };\n  const rule = toObj(input.rule) || {\n    ruleId: null,\n    ruleTitle: null,\n    prefetchDecision: null,\n    ruleFields: {},\n    itemTemplateIds: [],\n  };\n  const run = toObj(input.run) || {\n    executionId: String(trace.parentExecutionId ?? $execution.id ?? 'manual'),\n    competenciaYMD: null,\n    compStart: null,\n    compEnd: null,\n    todayDay: null,\n  };\n\n  return [{ json: {\n    contractVersion: 'fin_v3',\n    trace,\n    run,\n    rule,\n    config: defaultConfig,\n    metricsDelta: { ...defaultMetricsDelta },\n    failures: [failureEntry(NODE_NAME, 'unexpected_payload_shape', rule.ruleId ?? null)],\n    createItemRequests: [],\n    createdItemIds: [],\n    parcelaUpdates: [],\n    linkUpdates: [],\n    eligibleItems: [],\n    invoiceInputBase: null,\n    invoiceId: null,\n    existingInvoiceId: null,\n    totals: { brl: 0, usd: 0 },\n    hasParcelaErrors: false,\n    terminal: { done: true, status: 'failed', reason: 'unexpected_payload_shape' },\n    startedAt: nowIso,\n  }}];\n}\n\nconst ctx = JSON.parse(JSON.stringify(baseCtx));\nctx.failures = Array.isArray(ctx.failures) ? ctx.failures : [];\n\nif (ctx.terminal?.done === true) {\n  return [{ json: ctx }];\n}\n\nconst ruleId = ctx.rule?.ruleId ?? null;\nconst pushFailure = (node, reason, ...ids) => ctx.failures.push(failureEntry(node, reason, ...ids));\n\nif (input.error) {\n  pushFailure(SOURCE_NODE, 'recheck_invoice_transport_error', ruleId, ctx.createdItemIds);\n  ctx.terminal = { done: true, status: 'failed', reason: 'recheck_invoice_transport_error' };\n  return [{ json: ctx }];\n}\n\nconst gqlErrors = Array.isArray(input.errors) ? input.errors : [];\nif (gqlErrors.length > 0) {\n  pushFailure(SOURCE_NODE, 'recheck_invoice_logical_error', ruleId, ctx.createdItemIds);\n  ctx.terminal = { done: true, status: 'failed', reason: 'recheck_invoice_logical_error' };\n  return [{ json: ctx }];\n}\n\nconst edges = input.data?.findCards?.edges;\nif (!Array.isArray(edges)) {\n  pushFailure(NODE_NAME, 'unexpected_payload_shape', ruleId, ctx.createdItemIds);\n  ctx.terminal = { done: true, status: 'failed', reason: 'unexpected_payload_shape' };\n  return [{ json: ctx }];\n}\n\nconst invoiceInputBase = toObj(ctx.invoiceInputBase);\nif (!invoiceInputBase) {\n  pushFailure(NODE_NAME, 'missing_invoice_input_context', ruleId, ctx.createdItemIds);\n  ctx.terminal = { done: true, status: 'failed', reason: 'missing_invoice_input_context' };\n  return [{ json: ctx }];\n}\n\nconst pickField = (fields, id) => {\n  for (const f of (fields || [])) if (f?.field?.id === id) return f;\n  return null;\n};\nconst pickValue = (f) => {\n  if (!f) return null;\n  const rv = f.report_value;\n  return (rv !== undefined && rv !== null && String(rv).trim() !== '') ? rv : f.value;\n};\nconst toId = (v) => {\n  if (v == null) return null;\n  const s = String(v);\n  const m = s.match(/[0-9]+/);\n  return m ? m[0] : s.trim();\n};\n\nlet existingInvoiceId = null;\nfor (const e of edges) {\n  const node = e?.node;\n  if (!node) continue;\n  const rid = toId(pickValue(pickField(node.fields, ctx.config.ruleLinkFieldId)));\n  const comp = String(pickValue(pickField(node.fields, ctx.config.competenciaFieldId)) || '').slice(0, 10);\n  if (rid === String(ctx.rule.ruleId || '') && comp === String(ctx.run.competenciaYMD || '')) {\n    existingInvoiceId = String(node.id);\n    break;\n  }\n}\n\nif (existingInvoiceId) {\n  ctx.existingInvoiceId = existingInvoiceId;\n  ctx.invoiceId = existingInvoiceId;\n  if (ctx.failures.length > 0) {\n    const firstFailure = ctx.failures[0];\n    ctx.terminal = { done: true, status: 'failed', reason: String(firstFailure?.reason || 'existing_invoice_found') };\n  } else {\n    ctx.terminal = { done: true, status: 'skipped', reason: 'existing_invoice_found' };\n  }\n  return [{ json: ctx }];\n}\n\nconst baseFields = Array.isArray(invoiceInputBase.fields_attributes)\n  ? invoiceInputBase.fields_attributes.filter((x) => x && x.field_id !== 'itens_da_fatura')\n  : [];\nbaseFields.push({ field_id: 'itens_da_fatura', field_value: Array.isArray(ctx.createdItemIds) ? ctx.createdItemIds : [] });\nctx.invoiceInput = {\n  ...invoiceInputBase,\n  fields_attributes: baseFields,\n};\nctx.shouldCreateInvoice = true;\n\nreturn [{ json: ctx }];"
      },
      "id": "f8f56c62-427e-4db9-88ef-00ad267e6063",
      "name": "05.3 | Parse recheck anti-loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3584,
        336
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.shouldCreateInvoice === true && $json.terminal?.done !== true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "ef098656-9327-474d-96ff-6af1777a7ae6",
      "name": "06.1 | Criar fatura?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3808,
        336
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation CreateInvoice($input: CreateCardInput!) { createCard(input: $input) { card { id title url } } }",
        "variables": "={{ { input: $json.invoiceInput } }}"
      },
      "id": "24d354f4-d065-4c55-b935-d51965c06ff5",
      "name": "06.2 | FIN-03 Criar fatura",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        4032,
        624
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000,
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "58f9d16a-b586-4f2e-9319-665ccf949d72",
      "name": "06.3 | Merge criação fatura",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4256,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = ($json && typeof $json === 'object' && !Array.isArray($json)) ? $json : {};\nconst nowIso = new Date().toISOString();\nconst NODE_NAME = '06.4 | Parse criação fatura';\nconst SOURCE_NODE = '06.2 | FIN-03 Criar fatura';\nconst toObj = (v) => (v && typeof v === 'object' && !Array.isArray(v)) ? v : null;\nconst collectIds = (...values) => {\n  const out = [];\n  const visit = (value) => {\n    if (value === undefined || value === null) return;\n    if (Array.isArray(value)) {\n      for (const item of value) visit(item);\n      return;\n    }\n    const s = String(value).trim();\n    if (s) out.push(s);\n  };\n  for (const value of values) visit(value);\n  return Array.from(new Set(out));\n};\nconst failureEntry = (node, reason, ...ids) => ({\n  node,\n  reason: String(reason || 'unexpected_payload_shape'),\n  pipefyCardIds: collectIds(...ids),\n});\n\nconst defaultConfig = {\n  invoicePipeId: 306859731,\n  invoicePhaseId: 341350484,\n  itemPipeId: 306859915,\n  itemPhaseId: 341351580,\n  activeItemPhaseId: '341306826',\n  ruleLinkFieldId: 'id_da_regra_de_faturamento',\n  competenciaFieldId: 'data_de_compet_ncia',\n};\n\nconst defaultMetricsDelta = {\n  itemBatchQueries: 0,\n  itemsFetched: 0,\n  createInvoices: 0,\n  createItems: 0,\n  updateItemInvoiceLinks: 0,\n  updateParcelasPagas: 0,\n};\n\nlet baseCtx = toObj(input.ctx) || toObj(input);\nconst baseCtxLooksValid = baseCtx && toObj(baseCtx.config) && toObj(baseCtx.rule) && toObj(baseCtx.run);\n\nif (!baseCtxLooksValid) {\n  const trace = toObj(input.trace) || {\n    parentExecutionId: null,\n    workflowExecutionId: String($execution.id ?? 'manual'),\n    ruleExecutionKey: null,\n  };\n  const rule = toObj(input.rule) || {\n    ruleId: null,\n    ruleTitle: null,\n    prefetchDecision: null,\n    ruleFields: {},\n    itemTemplateIds: [],\n  };\n  const run = toObj(input.run) || {\n    executionId: String(trace.parentExecutionId ?? $execution.id ?? 'manual'),\n    competenciaYMD: null,\n    compStart: null,\n    compEnd: null,\n    todayDay: null,\n  };\n\n  return [{ json: {\n    contractVersion: 'fin_v3',\n    trace,\n    run,\n    rule,\n    config: defaultConfig,\n    metricsDelta: { ...defaultMetricsDelta },\n    failures: [failureEntry(NODE_NAME, 'unexpected_payload_shape', rule.ruleId ?? null)],\n    createItemRequests: [],\n    createdItemIds: [],\n    parcelaUpdates: [],\n    linkUpdates: [],\n    eligibleItems: [],\n    invoiceInputBase: null,\n    invoiceId: null,\n    existingInvoiceId: null,\n    totals: { brl: 0, usd: 0 },\n    hasParcelaErrors: false,\n    terminal: { done: true, status: 'failed', reason: 'unexpected_payload_shape' },\n    startedAt: nowIso,\n  }}];\n}\n\nconst ctx = JSON.parse(JSON.stringify(baseCtx));\nctx.failures = Array.isArray(ctx.failures) ? ctx.failures : [];\n\nif (ctx.terminal?.done === true) {\n  return [{ json: ctx }];\n}\n\nconst ruleId = ctx.rule?.ruleId ?? null;\nconst pushFailure = (node, reason, ...ids) => ctx.failures.push(failureEntry(node, reason, ...ids));\n\nif (input.error) {\n  pushFailure(SOURCE_NODE, 'create_invoice_transport_error', ruleId, ctx.createdItemIds);\n  ctx.terminal = { done: true, status: 'failed', reason: 'create_invoice_transport_error' };\n  return [{ json: ctx }];\n}\n\nconst gqlErrors = Array.isArray(input.errors) ? input.errors : [];\nconst create = input.data?.createCard;\nconst userErrors = Array.isArray(create?.userErrors) ? create.userErrors : (Array.isArray(create?.user_errors) ? create.user_errors : []);\nconst invoiceId = create?.card?.id != null ? String(create.card.id) : null;\n\nif (gqlErrors.length > 0 || userErrors.length > 0 || !invoiceId) {\n  pushFailure(SOURCE_NODE, 'create_invoice_logical_error', ruleId, ctx.createdItemIds);\n  ctx.terminal = { done: true, status: 'failed', reason: 'create_invoice_logical_error' };\n  return [{ json: ctx }];\n}\n\nctx.invoiceId = invoiceId;\nctx.metricsDelta.createInvoices = 1;\nctx.linkUpdates = (Array.isArray(ctx.createdItemIds) ? ctx.createdItemIds : []).map((itemId) => ({ itemId: String(itemId), invoiceId }));\n\nreturn [{ json: ctx }];"
      },
      "id": "09579ab6-d5e2-4cf9-8080-c08a1ab5fcf7",
      "name": "06.4 | Parse criação fatura",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4480,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.terminal?.done !== true && Array.isArray($json.linkUpdates) && $json.linkUpdates.length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "19621b0d-5d64-45f5-89a5-fecec4871d09",
      "name": "07.1 | Precisa vincular invoice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4704,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation LinkInvoiceOnItem($itemId: ID!, $value: [UndefinedInput!]!) { updateFieldsValues(input: { nodeId: $itemId, values: [{ fieldId: \"id_da_fatura\", value: $value }] }) { success } }",
        "variables": "={{ { itemId: String($json.linkReq.itemId), value: [String($json.linkReq.invoiceId)] } }}"
      },
      "id": "80942794-4c40-49f1-94b4-45c0d9d04745",
      "name": "07.4 | FIN-04 Vincular id_da_fatura",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        5376,
        432
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000,
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "e2b2b464-d49a-4b91-8d73-50d256d2d5b1",
      "name": "07.5 | Merge vínculo fatura",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5600,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const inItems = $input.all().map((i) => (i && i.json && typeof i.json === 'object' && !Array.isArray(i.json)) ? i.json : {});\nif (inItems.length === 0) {\n  throw new Error('No items to consolidate links stage');\n}\n\nconst baseCtx = (inItems[0].ctx && typeof inItems[0].ctx === 'object' && !Array.isArray(inItems[0].ctx)) ? inItems[0].ctx : null;\nif (!baseCtx) {\n  throw new Error('Missing ctx on consolidate links stage');\n}\n\nconst ctx = JSON.parse(JSON.stringify(baseCtx));\nctx.failures = Array.isArray(ctx.failures) ? ctx.failures : [];\nconst SOURCE_NODE = '07.4 | FIN-04 Vincular id_da_fatura';\nconst collectIds = (...values) => {\n  const out = [];\n  const visit = (value) => {\n    if (value === undefined || value === null) return;\n    if (Array.isArray(value)) {\n      for (const item of value) visit(item);\n      return;\n    }\n    const s = String(value).trim();\n    if (s) out.push(s);\n  };\n  for (const value of values) visit(value);\n  return Array.from(new Set(out));\n};\nconst pushFailure = (...ids) => {\n  ctx.failures.push({\n    node: SOURCE_NODE,\n    reason: 'link_invoice_error',\n    pipefyCardIds: collectIds(...ids),\n  });\n};\n\nlet hasLinkError = false;\nlet successCount = 0;\n\nfor (const it of inItems) {\n  const req = (it.linkReq && typeof it.linkReq === 'object' && !Array.isArray(it.linkReq)) ? it.linkReq : {};\n  if (it.error) {\n    hasLinkError = true;\n    pushFailure(ctx.rule?.ruleId ?? null, req.itemId ?? null, req.invoiceId ?? ctx.invoiceId ?? null);\n    continue;\n  }\n\n  const gqlErrors = Array.isArray(it.errors) ? it.errors : [];\n  const upd = it.data?.updateFieldsValues;\n  const userErrors = Array.isArray(upd?.userErrors) ? upd.userErrors : [];\n  const success = upd?.success === true && gqlErrors.length === 0 && userErrors.length === 0;\n\n  if (success) {\n    successCount += 1;\n  } else {\n    hasLinkError = true;\n    pushFailure(ctx.rule?.ruleId ?? null, req.itemId ?? null, req.invoiceId ?? ctx.invoiceId ?? null);\n  }\n}\n\nctx.metricsDelta.updateItemInvoiceLinks = successCount;\nif (hasLinkError) {\n  ctx.terminal = { done: true, status: 'failed', reason: 'link_invoice_error' };\n} else if (!ctx.terminal?.done) {\n  if (ctx.hasParcelaErrors || ctx.failures.length > 0) {\n    const firstFailure = ctx.failures[0];\n    ctx.terminal = { done: true, status: 'failed', reason: String(firstFailure?.reason || 'link_invoice_error') };\n  } else {\n    ctx.terminal = { done: true, status: 'processed', reason: 'invoice_created_and_items_linked' };\n  }\n}\n\nreturn [{ json: ctx }];"
      },
      "id": "e990932a-10f2-47c3-99ab-a422fed33c26",
      "name": "07.6 | Consolidar vínculos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5824,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = ($json && typeof $json === 'object' && !Array.isArray($json)) ? $json : {};\nconst finishedAt = new Date().toISOString();\nconst terminal = (ctx.terminal && ctx.terminal.done === true)\n  ? ctx.terminal\n  : { done: true, status: 'failed', reason: 'unexpected_payload_shape' };\n\nconst startedMs = Date.parse(ctx.startedAt || '');\nconst finishedMs = Date.parse(finishedAt);\nconst durationMs = (Number.isFinite(startedMs) && Number.isFinite(finishedMs)) ? Math.max(0, finishedMs - startedMs) : null;\n\nconst out = {\n  contractVersion: 'fin_v3',\n  itemType: 'rule_result',\n  trace: (ctx.trace && typeof ctx.trace === 'object' && !Array.isArray(ctx.trace)) ? ctx.trace : { parentExecutionId: null, workflowExecutionId: String($execution.id ?? 'manual'), ruleExecutionKey: null },\n  rule: {\n    ruleId: ctx.rule?.ruleId ?? null,\n    ruleTitle: ctx.rule?.ruleTitle ?? null,\n    prefetchDecision: ctx.rule?.prefetchDecision ?? null,\n  },\n  result: {\n    status: String(terminal.status || 'failed'),\n    reason: String(terminal.reason || 'unexpected_payload_shape'),\n    invoiceId: ctx.invoiceId || null,\n    existingInvoiceId: ctx.existingInvoiceId || null,\n    createdItemIds: Array.isArray(ctx.createdItemIds) ? ctx.createdItemIds : [],\n    totals: (ctx.totals && typeof ctx.totals === 'object' && !Array.isArray(ctx.totals)) ? ctx.totals : { brl: 0, usd: 0 },\n    metricsDelta: (ctx.metricsDelta && typeof ctx.metricsDelta === 'object' && !Array.isArray(ctx.metricsDelta)) ? ctx.metricsDelta : {},\n    timings: {\n      startedAt: ctx.startedAt || null,\n      finishedAt,\n      durationMs,\n    },\n    failures: Array.isArray(ctx.failures) ? ctx.failures : [],\n  },\n  status: String(terminal.status || 'failed'),\n  reason: String(terminal.reason || 'unexpected_payload_shape'),\n};\n\nreturn [{ json: out }];"
      },
      "id": "a9adf0c1-a4b7-4ff9-b858-8a59f46e40c3",
      "name": "08.1 | Finalizar rule_result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6048,
        336
      ]
    },
    {
      "parameters": {
        "content": "## Fase 01 — Entrada\nEntrada: `rule_input`\nSaída: `ctx` inicial ou terminal antecipado.",
        "height": 140,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1392,
        -48
      ],
      "id": "147da759-c701-4e8d-b466-678d2bcc8c29",
      "name": "Nota Fase 01"
    },
    {
      "parameters": {
        "content": "## Fase 02 — Templates\nEntrada: templates da regra\nSaída: elegibilidade + requests de item + base da fatura.",
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -736,
        -144
      ],
      "id": "0ba492bd-fdc7-46e8-b906-90f7aea2a7ff",
      "name": "Nota Fase 02"
    },
    {
      "parameters": {
        "content": "## Fase 03 — Criação de Itens\nEntrada: `createItemRequests`\nSaída: `createdItemIds` + `parcelaUpdates`.",
        "height": 150,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        -80
      ],
      "id": "c44ef242-b472-44e3-8d0a-ec01dddded4e",
      "name": "Nota Fase 03"
    },
    {
      "parameters": {
        "content": "## Fase 04 — Parcelas\nEntrada: `parcelaUpdates`\nSaída: atualização de parcelas antes do recheck.",
        "height": 150,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1632,
        -48
      ],
      "id": "b2ad9873-ee88-42e8-904c-89272262255c",
      "name": "Nota Fase 04"
    },
    {
      "parameters": {
        "content": "## Fase 05 — Recheck / Anti-loop\nEntrada: itens criados + competência\nSaída: encerra com fatura existente ou prepara criação.",
        "height": 150,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2880,
        864
      ],
      "id": "d79afce2-5c64-43e6-8a46-e303d388e765",
      "name": "Nota Fase 05"
    },
    {
      "parameters": {
        "content": "## Fase 06 — Criação de Fatura\nEntrada: `invoiceInput`\nSaída: `invoiceId` e lista para vínculo.",
        "height": 150,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3792,
        864
      ],
      "id": "e9521992-28f1-4092-a05a-0cf32392c4b2",
      "name": "Nota Fase 06"
    },
    {
      "parameters": {
        "content": "## Fase 07 — Vínculo\nEntrada: `linkUpdates`\nSaída: itens vinculados via `id_da_fatura`.",
        "height": 150,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4624,
        -64
      ],
      "id": "0a49c566-6be2-457a-b62b-6a1e6de4b640",
      "name": "Nota Fase 07"
    },
    {
      "parameters": {
        "content": "## Fase 08 — Finalização\nSaída final: `rule_result` com status/reason/métricas/logs/erros.",
        "height": 140,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5920,
        -64
      ],
      "id": "91648ee1-57f0-4dff-b3e3-1a8bceb59f4d",
      "name": "Nota Fase 08"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "516e08e1-3390-4f2a-a45d-1289ff89464a",
              "name": "emitTemplatePairs",
              "type": "json",
              "value": "={{ (Array.isArray($json.rule?.itemTemplateIds) ? $json.rule.itemTemplateIds : []).map((templateItemId) => ({ ctx: $json, templateItemId: String(templateItemId) })) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0c999180-8386-4615-b55d-36381f509d79",
      "name": "02.1 | Set pares template IDs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        160
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "emitTemplatePairs",
        "options": {}
      },
      "id": "8ea3f293-55ca-450d-ae98-d1165a7e4722",
      "name": "02.2 | Split Out template IDs",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -448,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f22af6ae-8ce3-404a-acde-a55c96503fd3",
              "name": "emitCreatePairs",
              "type": "json",
              "value": "={{ (Array.isArray($json.createItemRequests) ? $json.createItemRequests : []).map((createReq) => ({ ctx: $json, createReq })) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4c2cb97e-3b56-439a-93d7-41885aaf4c60",
      "name": "03.1 | Set pares create requests",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        352
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "emitCreatePairs",
        "options": {}
      },
      "id": "29889a17-407d-45e0-8df0-d2ed2e5d78ce",
      "name": "03.2 | Split Out create requests",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        896,
        352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "edc12f71-9d17-4dd5-ab19-c22db5fc433c",
              "name": "emitParcelaPairs",
              "type": "json",
              "value": "={{ (Array.isArray($json.parcelaUpdates) ? $json.parcelaUpdates : []).map((updateReq) => ({ ctx: $json, updateReq })) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0be247cf-b3e8-4790-b6fb-790255baa13e",
      "name": "04.2 | Set pares parcela updates",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2016,
        352
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "emitParcelaPairs",
        "options": {}
      },
      "id": "37a84b5f-d423-4960-8421-90aa05b0e37d",
      "name": "04.3 | Split Out parcela updates",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2240,
        352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "989f1ba1-07e1-41ae-af52-3f6c40f1519f",
              "name": "emitLinkPairs",
              "type": "json",
              "value": "={{ (Array.isArray($json.linkUpdates) ? $json.linkUpdates : []).map((linkReq) => ({ ctx: $json, linkReq })) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "18338948-2d5f-44d4-8acc-6f5c17530cff",
      "name": "07.2 | Set pares link updates",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4928,
        288
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "emitLinkPairs",
        "options": {}
      },
      "id": "3b416e45-a537-413f-afa0-c1010c4f1c18",
      "name": "07.3 | Split Out link updates",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        5152,
        288
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "01.1 | Trigger entrada": {
      "main": [
        [
          {
            "node": "01.2 | Init contexto fin_v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "01.2 | Init contexto fin_v3": {
      "main": [
        [
          {
            "node": "01.3 | Encerrar na entrada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "01.3 | Encerrar na entrada?": {
      "main": [
        [
          {
            "node": "08.1 | Finalizar rule_result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "02.1 | Set pares template IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02.2 | Split Out template IDs": {
      "main": [
        [
          {
            "node": "02.3 | FIN-02 Buscar item template",
            "type": "main",
            "index": 0
          },
          {
            "node": "02.4 | Merge retorno template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02.3 | FIN-02 Buscar item template": {
      "main": [
        [
          {
            "node": "02.4 | Merge retorno template",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "02.4 | Merge retorno template": {
      "main": [
        [
          {
            "node": "02.5 | Consolidar templates e elegibilidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02.5 | Consolidar templates e elegibilidade": {
      "main": [
        [
          {
            "node": "02.6 | Encerrar após templates?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02.6 | Encerrar após templates?": {
      "main": [
        [
          {
            "node": "08.1 | Finalizar rule_result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "03.1 | Set pares create requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03.2 | Split Out create requests": {
      "main": [
        [
          {
            "node": "03.3 | FIN-04 Criar item",
            "type": "main",
            "index": 0
          },
          {
            "node": "03.4 | Merge criação item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03.3 | FIN-04 Criar item": {
      "main": [
        [
          {
            "node": "03.4 | Merge criação item",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "03.4 | Merge criação item": {
      "main": [
        [
          {
            "node": "03.5 | Consolidar criação de itens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03.5 | Consolidar criação de itens": {
      "main": [
        [
          {
            "node": "03.6 | Encerrar após criação de itens?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04.1 | Há parcelas para atualizar?": {
      "main": [
        [
          {
            "node": "04.2 | Set pares parcela updates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "05.1 | FIN-03 Recheck fatura existente",
            "type": "main",
            "index": 0
          },
          {
            "node": "05.2 | Merge recheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04.3 | Split Out parcela updates": {
      "main": [
        [
          {
            "node": "04.4 | FIN-02 Atualizar parcelas_pagas",
            "type": "main",
            "index": 0
          },
          {
            "node": "04.5 | Merge update parcelas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04.4 | FIN-02 Atualizar parcelas_pagas": {
      "main": [
        [
          {
            "node": "04.5 | Merge update parcelas",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "04.5 | Merge update parcelas": {
      "main": [
        [
          {
            "node": "04.6 | Consolidar update parcelas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04.6 | Consolidar update parcelas": {
      "main": [
        [
          {
            "node": "05.1 | FIN-03 Recheck fatura existente",
            "type": "main",
            "index": 0
          },
          {
            "node": "05.2 | Merge recheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05.1 | FIN-03 Recheck fatura existente": {
      "main": [
        [
          {
            "node": "05.2 | Merge recheck",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "05.2 | Merge recheck": {
      "main": [
        [
          {
            "node": "05.3 | Parse recheck anti-loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05.3 | Parse recheck anti-loop": {
      "main": [
        [
          {
            "node": "06.1 | Criar fatura?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06.1 | Criar fatura?": {
      "main": [
        [
          {
            "node": "06.2 | FIN-03 Criar fatura",
            "type": "main",
            "index": 0
          },
          {
            "node": "06.3 | Merge criação fatura",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "08.1 | Finalizar rule_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06.2 | FIN-03 Criar fatura": {
      "main": [
        [
          {
            "node": "06.3 | Merge criação fatura",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "06.3 | Merge criação fatura": {
      "main": [
        [
          {
            "node": "06.4 | Parse criação fatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06.4 | Parse criação fatura": {
      "main": [
        [
          {
            "node": "07.1 | Precisa vincular invoice?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07.1 | Precisa vincular invoice?": {
      "main": [
        [
          {
            "node": "07.2 | Set pares link updates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "08.1 | Finalizar rule_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07.3 | Split Out link updates": {
      "main": [
        [
          {
            "node": "07.4 | FIN-04 Vincular id_da_fatura",
            "type": "main",
            "index": 0
          },
          {
            "node": "07.5 | Merge vínculo fatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07.4 | FIN-04 Vincular id_da_fatura": {
      "main": [
        [
          {
            "node": "07.5 | Merge vínculo fatura",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "07.5 | Merge vínculo fatura": {
      "main": [
        [
          {
            "node": "07.6 | Consolidar vínculos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07.6 | Consolidar vínculos": {
      "main": [
        [
          {
            "node": "08.1 | Finalizar rule_result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03.1 | Set pares create requests": {
      "main": [
        [
          {
            "node": "03.2 | Split Out create requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04.2 | Set pares parcela updates": {
      "main": [
        [
          {
            "node": "04.3 | Split Out parcela updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07.2 | Set pares link updates": {
      "main": [
        [
          {
            "node": "07.3 | Split Out link updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02.1 | Set pares template IDs": {
      "main": [
        [
          {
            "node": "02.2 | Split Out template IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03.6 | Encerrar após criação de itens?": {
      "main": [
        [
          {
            "node": "08.1 | Finalizar rule_result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "04.1 | Há parcelas para atualizar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "mry7wCpuNRODMB5e"
  },
  "versionId": "4bc32656-68b8-4114-9b18-cfb2da8bd21e",
  "meta": {
    "instanceId": "3016816d496aebba57a69fdaf12429733e80c66b51f4f4969ff2808297f74ee9"
  },
  "id": "0nUKP2OUpRLgMSxq",
  "tags": [
    {
      "createdAt": "2025-10-28T14:26:57.025Z",
      "updatedAt": "2025-10-28T14:26:57.025Z",
      "id": "jWQLHyRjnHUkdCL1",
      "name": "Pipefy"
    },
    {
      "createdAt": "2025-11-10T13:15:26.055Z",
      "updatedAt": "2025-11-10T13:15:58.540Z",
      "id": "XyK45Idu3SHOnbVr",
      "name": "Automação de pipe"
    }
  ]
}
