FIN - Preparação regras elegíveis (faturamento mensal).json
{
  "name": "FIN - Preparação regras elegíveis (faturamento mensal)",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"runContext\": {\n    \"startedAt\": \"2026-03-02T10:00:00.000Z\",\n    \"timezone\": \"America/Sao_Paulo\",\n    \"todayDay\": 2,\n    \"competenciaYMD\": \"2026-02-01\",\n    \"compStart\": \"2026-02-01\",\n    \"compEnd\": \"2026-02-28\",\n    \"flags\": {\n      \"maxRulesPages\": 50,\n      \"maxPrefetchPages\": 50,\n      \"rulesPageSize\": 50,\n      \"prefetchPageSize\": 200\n    }\n  },\n  \"caller\": {\n    \"workflowId\": \"parent-workflow-id\",\n    \"workflowName\": \"FIN - Gerar faturas mensais\",\n    \"executionId\": \"12345\"\n  },\n  \"prepConfig\": {\n    \"rulesPhaseId\": 341313813,\n    \"invoicesPipeId\": 306859731,\n    \"competenciaFieldId\": \"data_de_compet_ncia\",\n    \"ruleLinkFieldId\": \"id_da_regra_de_faturamento\"\n  }\n}"
      },
      "id": "fb586a35-0509-43be-a2f9-5092cc60da99",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1952,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "const sd=$getWorkflowStaticData('global');\nconst execId=String($execution.id ?? 'manual');\nconst nowIso=new Date().toISOString();\nconst METRICS_DEFAULTS={\"rulesPages\":0,\"rulesTotal\":0,\"rulesEligible\":0,\"rulesSkippedDay\":0,\"rulesSkippedExisting\":0,\"invoicesPrefetchCalls\":0,\"invoicesPrefetchCount\":0,\"itemBatchQueries\":0,\"itemsFetched\":0,\"createInvoices\":0,\"createItems\":0,\"updateItemInvoiceLinks\":0,\"updateParcelasPagas\":0};\n\nconst normalizeNumber=(value,fallback,min=1,max=Number.MAX_SAFE_INTEGER)=>{\n  const n=Number(value);\n  if(!Number.isFinite(n)) return fallback;\n  const normalized=Math.floor(n);\n  return Math.min(max,Math.max(min,normalized));\n};\nconst isIsoDate=(value)=>/^\\d{4}-\\d{2}-\\d{2}$/.test(String(value||'').slice(0,10));\nconst normalizeIsoDate=(value,fallbackValue,fieldName,notes)=>{\n  const candidate=String(value ?? '').trim().slice(0,10);\n  if(isIsoDate(candidate)) return candidate;\n  notes.push({field:fieldName,from:value ?? null,to:fallbackValue});\n  return fallbackValue;\n};\nconst validatePositiveInt=(value,name)=>{\n  const n=Number(value);\n  if(!Number.isInteger(n) || n<=0){\n    throw new Error('Invalid prepConfig '+name+': '+String(value));\n  }\n  return n;\n};\n\nconst buildFallbackRunContext=()=>{\n  const TZ='America/Sao_Paulo';\n  const now=new Date();\n  const parts=new Intl.DateTimeFormat('en-CA',{\n    timeZone:TZ,\n    year:'numeric',\n    month:'2-digit',\n    day:'2-digit'\n  }).formatToParts(now);\n  const m={};\n  for(const p of parts){\n    m[p.type]=p.value;\n  }\n\n  const year=Number(m.year);\n  const month=Number(m.month);\n  const day=Number(m.day);\n  let compYear=year;\n  let compMonth=month-1;\n  if(compMonth===0){\n    compMonth=12;\n    compYear=year-1;\n  }\n\n  const mm=String(compMonth).padStart(2,'0');\n  const competenciaYMD=compYear+'-'+mm+'-01';\n  const daysInCompMonth=new Date(Date.UTC(compYear,compMonth,0)).getUTCDate();\n\n  return {\n    startedAt:now.toISOString(),\n    timezone:TZ,\n    todayDay:day,\n    competenciaYMD,\n    compStart:competenciaYMD,\n    compEnd:compYear+'-'+mm+'-'+String(daysInCompMonth).padStart(2,'0'),\n    flags:{\n      maxRulesPages:50,\n      maxPrefetchPages:50,\n      rulesPageSize:50,\n      prefetchPageSize:200\n    },\n    metrics:{...METRICS_DEFAULTS},\n    logs:[],\n    errors:[]\n  };\n};\n\nconst clone=(obj)=>JSON.parse(JSON.stringify(obj));\nconst fallback=buildFallbackRunContext();\n\nconst input=($json && typeof $json==='object' && !Array.isArray($json)) ? $json : {};\nconst incomingRunContext=(input.runContext && typeof input.runContext==='object' && !Array.isArray(input.runContext)) ? input.runContext : null;\nconst callerInput=(input.caller && typeof input.caller==='object' && !Array.isArray(input.caller)) ? input.caller : {};\nconst prepInput=(input.prepConfig && typeof input.prepConfig==='object' && !Array.isArray(input.prepConfig)) ? input.prepConfig : {};\n\nconst runContext=incomingRunContext ? clone(incomingRunContext) : fallback;\nconst normalizationNotes=[];\nrunContext.timezone=String(runContext.timezone || fallback.timezone || 'America/Sao_Paulo');\nrunContext.startedAt=String(runContext.startedAt || nowIso);\nrunContext.todayDay=normalizeNumber(runContext.todayDay,fallback.todayDay,1,31);\nrunContext.competenciaYMD=normalizeIsoDate(runContext.competenciaYMD,fallback.competenciaYMD,'competenciaYMD',normalizationNotes);\nrunContext.compStart=normalizeIsoDate(runContext.compStart || runContext.competenciaYMD,fallback.compStart,'compStart',normalizationNotes);\nrunContext.compEnd=normalizeIsoDate(runContext.compEnd,fallback.compEnd,'compEnd',normalizationNotes);\nif(runContext.compStart > runContext.compEnd){\n  normalizationNotes.push({field:'competencia_window',from:{compStart:runContext.compStart,compEnd:runContext.compEnd},to:{compStart:fallback.compStart,compEnd:fallback.compEnd}});\n  runContext.compStart=fallback.compStart;\n  runContext.compEnd=fallback.compEnd;\n}\n\nrunContext.flags=(runContext.flags && typeof runContext.flags==='object' && !Array.isArray(runContext.flags)) ? runContext.flags : {};\nrunContext.flags.maxRulesPages=normalizeNumber(runContext.flags.maxRulesPages,50,1,1000);\nrunContext.flags.maxPrefetchPages=normalizeNumber(runContext.flags.maxPrefetchPages,50,1,1000);\nrunContext.flags.rulesPageSize=normalizeNumber(runContext.flags.rulesPageSize,50,1,200);\nrunContext.flags.prefetchPageSize=normalizeNumber(runContext.flags.prefetchPageSize,200,1,200);\nrunContext.metrics=(runContext.metrics && typeof runContext.metrics==='object' && !Array.isArray(runContext.metrics)) ? runContext.metrics : {};\nfor(const [k,v] of Object.entries(METRICS_DEFAULTS)){\n  runContext.metrics[k]=Number.isFinite(Number(runContext.metrics[k])) ? Number(runContext.metrics[k]) : v;\n}\nrunContext.metrics.unexpectedStateErrors=Number(runContext.metrics.unexpectedStateErrors || 0);\nrunContext.logs=Array.isArray(runContext.logs) ? runContext.logs : [];\nrunContext.errors=Array.isArray(runContext.errors) ? runContext.errors : [];\n\nconst prepConfig={\n  rulesPhaseId:validatePositiveInt(prepInput.rulesPhaseId ?? 341313813,'rulesPhaseId'),\n  invoicesPipeId:validatePositiveInt(prepInput.invoicesPipeId ?? 306859731,'invoicesPipeId'),\n  competenciaFieldId:String(prepInput.competenciaFieldId || 'data_de_compet_ncia').trim(),\n  ruleLinkFieldId:String(prepInput.ruleLinkFieldId || 'id_da_regra_de_faturamento').trim()\n};\nif(!prepConfig.competenciaFieldId){\n  throw new Error('Invalid prepConfig competenciaFieldId (blank)');\n}\nif(!prepConfig.ruleLinkFieldId){\n  throw new Error('Invalid prepConfig ruleLinkFieldId (blank)');\n}\n\nconst prepMeta={\n  source:incomingRunContext ? 'caller' : 'fallback',\n  callerWorkflowId:callerInput.workflowId != null ? String(callerInput.workflowId) : null,\n  callerWorkflowName:callerInput.workflowName != null ? String(callerInput.workflowName) : null,\n  callerExecutionId:callerInput.executionId != null ? String(callerInput.executionId) : null,\n  prepExecutionId:execId,\n  normalizedAt:nowIso\n};\n\nrunContext.logs.push({\n  ts:nowIso,\n  level:'info',\n  event:'prep_init',\n  source:prepMeta.source,\n  callerExecutionId:prepMeta.callerExecutionId,\n  competenciaYMD:runContext.competenciaYMD\n});\n\nif(!incomingRunContext){\n  runContext.logs.push({\n    ts:nowIso,\n    level:'warn',\n    event:'prep_init_without_caller_context',\n    reason:'incoming_run_context_missing'\n  });\n}\nif(normalizationNotes.length>0){\n  runContext.metrics.unexpectedStateErrors += normalizationNotes.length;\n  runContext.logs.push({\n    ts:nowIso,\n    level:'warn',\n    event:'prep_run_context_normalized',\n    fields:normalizationNotes.map((x)=>x.field),\n    details:normalizationNotes\n  });\n}\n\nif(!isIsoDate(runContext.compStart) || !isIsoDate(runContext.compEnd) || runContext.compStart>runContext.compEnd){\n  runContext.metrics.unexpectedStateErrors += 1;\n  runContext.errors.push({event:'prep_invalid_comp_window',details:{compStart:runContext.compStart,compEnd:runContext.compEnd}});\n  throw new Error('Invalid competencia window after normalization');\n}\n\nsd.prepRuns=(sd.prepRuns && typeof sd.prepRuns==='object' && !Array.isArray(sd.prepRuns)) ? sd.prepRuns : {};\nfor(const [key,state] of Object.entries(sd.prepRuns)){\n  const startedAt=state?.runContext?.startedAt || state?.stateStartedAt || null;\n  const ageMs=startedAt ? (Date.now()-Date.parse(startedAt)) : Number.POSITIVE_INFINITY;\n  if(!Number.isFinite(ageMs) || ageMs > 24*60*60*1000){\n    delete sd.prepRuns[key];\n  }\n}\n\nsd.prepRuns[execId]={\n  runContext,\n  rules:[],\n  existingRuleIds:{},\n  prepMeta,\n  prepConfig,\n  stateStartedAt:nowIso\n};\n\nreturn [{json:{\n  execId,\n  runContext,\n  prepMeta,\n  prepConfig,\n  after:null,\n  prefetchAfter:null\n}}];"
      },
      "id": "2aa9c0b0-1492-4ce2-ac2d-30dceb655eb1",
      "name": "Init Run",
      "position": [
        -1728,
        464
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query RulesByPhase($phaseId: ID!, $first: Int!, $after: String) { phase(id: $phaseId) { id name cards(first: $first, after: $after) { edges { node { id title fields { field { id label type } value report_value array_value } } } pageInfo { hasNextPage endCursor } } } }",
        "variables": "={{ { phaseId: $node['Init Run'].json.prepConfig.rulesPhaseId, first: Number($node['Init Run'].json.runContext.flags.rulesPageSize || 50), after: (() => { const a = ($json.after ?? null); if (a === null) return null; const s = String(a).trim(); if (!s || s.toLowerCase() === 'null') return null; return s; })() } }}"
      },
      "id": "fca41f0a-81fb-43d5-85a1-77aa2aee2cd0",
      "maxTries": 5,
      "name": "FIN-01: Listar regras Ativo (page)",
      "position": [
        -832,
        464
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000,
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sd=$getWorkflowStaticData('global');\nconst execId=String($execution.id ?? 'manual');\nconst state=sd.prepRuns?.[execId];\nif(!state){\n  throw new Error('Missing state for execution '+execId);\n}\n\nconst runContext=state.runContext;\nrunContext.metrics=runContext.metrics || {};\nrunContext.logs=Array.isArray(runContext.logs) ? runContext.logs : [];\nrunContext.errors=Array.isArray(runContext.errors) ? runContext.errors : [];\nstate.rules=Array.isArray(state.rules) ? state.rules : [];\n\nconst nowIso=new Date().toISOString();\nconst gqlErrors=Array.isArray($json.errors) ? $json.errors : [];\nif(gqlErrors.length>0){\n  runContext.errors.push({event:'rules_query_error',reason:'graphql_errors',errors:gqlErrors});\n  runContext.logs.push({ts:nowIso,level:'error',event:'rules_query_error',reason:'graphql_errors',errorsCount:gqlErrors.length});\n  throw new Error('Rules query returned GraphQL errors: '+JSON.stringify(gqlErrors));\n}\n\nconst cards=$json.data?.phase?.cards;\nif(!cards || !Array.isArray(cards.edges) || typeof cards.pageInfo!=='object' || cards.pageInfo===null){\n  runContext.errors.push({event:'rules_query_error',reason:'invalid_shape',details:$json.data ?? null});\n  runContext.logs.push({ts:nowIso,level:'error',event:'rules_query_invalid_shape',reason:'invalid_shape'});\n  throw new Error('Invalid GraphQL shape for rules listing');\n}\n\nconst edges=cards.edges;\nconst pi=cards.pageInfo;\nconst sanitizeCursor=(c)=>{\n  if(c===undefined || c===null) return null;\n  const s=String(c).trim();\n  if(!s || s.toLowerCase()==='null') return null;\n  return s;\n};\n\nlet hasNextPage=pi.hasNextPage===true;\nlet endCursor=sanitizeCursor(pi.endCursor);\nlet stopReason=null;\n\nconst pageNum=Number(runContext.metrics.rulesPages || 0) + 1;\nrunContext.metrics.rulesPages=pageNum;\n\nfor(const e of edges){\n  if(e?.node?.id) state.rules.push(e.node);\n}\n\nif(edges.length===0){\n  hasNextPage=false;\n  stopReason='empty_page';\n}\n\nconst lastCursor=runContext.lastRulesCursor ?? null;\nif(hasNextPage && endCursor===null){\n  hasNextPage=false;\n  stopReason='missing_end_cursor';\n  runContext.logs.push({ts:nowIso,level:'warn',event:'rules_cursor_missing',page:pageNum});\n}else if(hasNextPage && lastCursor!==null && String(endCursor)===String(lastCursor)){\n  hasNextPage=false;\n  stopReason='stuck_cursor';\n  runContext.logs.push({ts:nowIso,level:'warn',event:'rules_cursor_stuck',page:pageNum,endCursor:String(endCursor)});\n}\nrunContext.lastRulesCursor=endCursor;\n\nconst MAX_PAGES=Math.max(1,Number(runContext.flags?.maxRulesPages || 50));\nif(pageNum>=MAX_PAGES && hasNextPage){\n  hasNextPage=false;\n  stopReason='max_pages_reached';\n  runContext.logs.push({ts:nowIso,level:'warn',event:'rules_page_cap_reached',maxPages:MAX_PAGES,page:pageNum});\n}\n\nrunContext.logs.push({\n  ts:nowIso,\n  level:'info',\n  event:'rules_page_fetched',\n  page:pageNum,\n  edgesCount:edges.length,\n  accumulatedRules:state.rules.length,\n  hasNextPage,\n  endCursor,\n  stopReason\n});\n\nreturn [{\n  json:{\n    hasNextPage,\n    endCursor,\n    after:(hasNextPage ? endCursor : null),\n    edgesCount:edges.length,\n    page:pageNum,\n    stopReason\n  }\n}];"
      },
      "id": "26f9ef36-2889-420f-a781-ae16a818be5d",
      "name": "Accumulate regras",
      "position": [
        -608,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "b1b4b2b2-2d05-4b35-bc4b-7a7f5e1a1d7b",
              "leftValue": "={{ $json.hasNextPage === true }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "fd82e3b9-2022-4a38-9d9b-47777fc3a772",
      "name": "Há próxima página?",
      "position": [
        -384,
        464
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "const sd=$getWorkflowStaticData('global');\nconst execId=String($execution.id ?? 'manual');\nconst state=sd.prepRuns?.[execId];\nif(!state){\n  throw new Error('Missing state for execution '+execId);\n}\n\nconst runContext=state.runContext;\nrunContext.metrics=runContext.metrics || {};\nrunContext.logs=Array.isArray(runContext.logs) ? runContext.logs : [];\nrunContext.errors=Array.isArray(runContext.errors) ? runContext.errors : [];\n\nconst rules=Array.isArray(state.rules) ? state.rules : [];\nrunContext.metrics.rulesTotal=rules.length;\n\nconst today=String(runContext.todayDay);\nconst existing=state.existingRuleIds || {};\nconst eligibleRules=[];\nconst ineligibleRules=[];\nconst log=(obj)=>runContext.logs.push({ts:new Date().toISOString(),...obj});\nconst isBlankToken=(value)=>{\n  const s=String(value ?? '').trim().toLowerCase();\n  return s==='' || s==='null' || s==='undefined' || s==='nan';\n};\n\nconst counters={\n  skippedDay:0,\n  skippedExisting:0,\n  invalidRuleId:0,\n  emptyItemTemplates:0\n};\nconst ineligibleByReason={};\nconst countIneligibleReason=(reason)=>{\n  const key=String(reason || 'unknown_reason');\n  ineligibleByReason[key]=Number(ineligibleByReason[key] || 0) + 1;\n};\n\nconst fieldMap=(fields)=>{\n  const m={};\n  for(const f of (fields || [])){\n    const fid=f&&f.field ? f.field.id : null;\n    if(fid) m[fid]=f;\n  }\n  return m;\n};\nconst pickScalar=(f)=>{\n  if(!f) return null;\n  const rv=f.report_value;\n  return (rv!==undefined && rv!==null && String(rv).trim()!=='') ? rv : f.value;\n};\nconst extractIds=(f)=>{\n  if(!f) return [];\n  const av=f.array_value;\n  const ids=[];\n  const push=(x)=>{\n    if(x===undefined || x===null) return;\n    if(typeof x==='object'){\n      if(x.id!=null) ids.push(String(x.id));\n      else if(x.value!=null) ids.push(String(x.value));\n      else if(x.label!=null) ids.push(String(x.label));\n      else ids.push(JSON.stringify(x));\n    }else{\n      ids.push(String(x));\n    }\n  };\n\n  if(Array.isArray(av)){\n    for(const x of av) push(x);\n  }else{\n    const v=pickScalar(f);\n    if(Array.isArray(v)){\n      for(const x of v) push(x);\n    }else if(typeof v==='string'){\n      const ms=v.match(/[0-9]+/g);\n      if(ms) for(const x of ms) ids.push(String(x));\n      else if(v.trim()!=='') ids.push(v.trim());\n    }else if(v!=null){\n      push(v);\n    }\n  }\n\n  return Array.from(new Set(ids.filter((s)=>s && String(s).trim()!==''))).map(String);\n};\n\nconst registerIneligible=(payload)=>{\n  const reason=String(payload?.reason || 'unknown_reason');\n  countIneligibleReason(reason);\n  ineligibleRules.push({\n    ...payload,\n    reason,\n    competenciaYMD:runContext.competenciaYMD,\n    compStart:runContext.compStart,\n    compEnd:runContext.compEnd\n  });\n};\n\nfor(const r of rules){\n  const ridRaw=String(r?.id ?? '').trim();\n  const ruleTitle=String(r?.title || '');\n\n  if(isBlankToken(ridRaw)){\n    counters.invalidRuleId += 1;\n    runContext.metrics.rulesInvalid=Number(runContext.metrics.rulesInvalid || 0) + 1;\n    runContext.errors.push({\n      event:'rule_invalid_id',\n      reason:'missing_rule_id',\n      details:{ruleTitle}\n    });\n    log({\n      level:'error',\n      event:'rule_skip_invalid_id',\n      reason:'missing_rule_id',\n      ruleTitle\n    });\n    registerIneligible({\n      ruleId:null,\n      ruleTitle,\n      diaGeracao:null,\n      reason:'missing_rule_id',\n      reasonDetail:{ruleIdRaw:ridRaw || null},\n      prefetchDecision:'invalid_rule'\n    });\n    continue;\n  }\n\n  const rid=String(ridRaw);\n  const fm=fieldMap(r.fields);\n  const dia=String(pickScalar(fm['dia_de_gera_o_da_fatura']) || '').trim();\n  if(dia!==today){\n    counters.skippedDay += 1;\n    runContext.metrics.rulesSkippedDay=Number(runContext.metrics.rulesSkippedDay || 0) + 1;\n    log({level:'info',event:'rule_skip_day',ruleId:rid,diaGeracao:dia,expectedDay:today,reason:'billing_day_mismatch'});\n    registerIneligible({\n      ruleId:rid,\n      ruleTitle,\n      diaGeracao:dia,\n      reason:'billing_day_mismatch',\n      reasonDetail:{expectedDay:today,actualDay:dia},\n      prefetchDecision:'billing_day_mismatch'\n    });\n    continue;\n  }\n\n  if(existing[rid]){\n    counters.skippedExisting += 1;\n    runContext.metrics.rulesSkippedExisting=Number(runContext.metrics.rulesSkippedExisting || 0) + 1;\n    log({level:'info',event:'rule_skip_existing_invoice',ruleId:rid,competenciaYMD:runContext.competenciaYMD,prefetchDecision:'already_has_invoice',reason:'prefetch_found_invoice'});\n    registerIneligible({\n      ruleId:rid,\n      ruleTitle,\n      diaGeracao:dia,\n      reason:'prefetch_found_invoice',\n      reasonDetail:{competenciaYMD:runContext.competenciaYMD},\n      prefetchDecision:'already_has_invoice'\n    });\n    continue;\n  }\n\n  const itemIds=extractIds(fm['itens_da_fatura']);\n  if(itemIds.length===0){\n    counters.emptyItemTemplates += 1;\n    log({level:'warn',event:'rule_no_item_templates',ruleId:rid,reason:'empty_item_template_list'});\n  }\n\n  eligibleRules.push({\n    ruleId:rid,\n    ruleTitle,\n    diaGeracao:dia,\n    itemTemplateIds:itemIds,\n    ruleFields:fm,\n    competenciaYMD:runContext.competenciaYMD,\n    compStart:runContext.compStart,\n    compEnd:runContext.compEnd,\n    prefetchDecision:'new_rule_candidate'\n  });\n}\n\nrunContext.metrics.rulesEligible=eligibleRules.length;\nrunContext.metrics.rulesIneligible=ineligibleRules.length;\nlog({\n  level:'info',\n  event:'rules_classified',\n  eligible:eligibleRules.length,\n  ineligible:ineligibleRules.length,\n  totalRules:rules.length,\n  counters,\n  ineligibleByReason\n});\n\nif(eligibleRules.length===0){\n  runContext.logs.push({\n    ts:new Date().toISOString(),\n    level:'info',\n    event:'prep_completed_no_eligible_rules',\n    reason:'no_rule_eligible_after_filters',\n    counters,\n    ineligibleByReason\n  });\n}\n\nreturn [{json:{\n  kind:'prep_classification',\n  eligibleRules,\n  ineligibleRules,\n  counters,\n  ineligibleByReason\n}}];"
      },
      "id": "88cbd874-de63-4ac7-b511-f4a74f5d4ef3",
      "name": "Build regras elegíveis",
      "position": [
        -160,
        464
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const sd=$getWorkflowStaticData('global');\nconst execId=String($execution.id ?? 'manual');\nconst state=sd.prepRuns?.[execId];\nif(!state){\n  throw new Error('Missing state for execution '+execId);\n}\n\nconst runContext=state.runContext || {};\nconst prepMeta=state.prepMeta || {};\nrunContext.logs=Array.isArray(runContext.logs) ? runContext.logs : [];\nrunContext.errors=Array.isArray(runContext.errors) ? runContext.errors : [];\n\nconst items=$input.all();\nconst payloadItem=items.find((it)=>it && it.json && typeof it.json==='object' && !Array.isArray(it.json));\nconst payload=(payloadItem && payloadItem.json && typeof payloadItem.json==='object' && !Array.isArray(payloadItem.json)) ? payloadItem.json : {};\nconst eligibleRules=Array.isArray(payload.eligibleRules) ? payload.eligibleRules : [];\nconst ineligibleRules=Array.isArray(payload.ineligibleRules) ? payload.ineligibleRules : [];\n\nconst derivedIneligibleByReason={};\nfor(const rule of ineligibleRules){\n  const reason=String(rule?.reason || 'unknown_reason');\n  derivedIneligibleByReason[reason]=Number(derivedIneligibleByReason[reason] || 0) + 1;\n}\nconst providedIneligibleByReason=(payload.ineligibleByReason && typeof payload.ineligibleByReason==='object' && !Array.isArray(payload.ineligibleByReason)) ? payload.ineligibleByReason : null;\nconst ineligibleByReason=providedIneligibleByReason || derivedIneligibleByReason;\n\nconst eligibleCount=Number(runContext.metrics?.rulesEligible || eligibleRules.length || 0);\nconst ineligibleCount=Number(runContext.metrics?.rulesIneligible || ineligibleRules.length || 0);\nconst rulesTotal=Number(runContext.metrics?.rulesTotal || (eligibleCount + ineligibleCount));\nconst errorCount=runContext.errors.length;\nconst logCount=runContext.logs.length;\n\nrunContext.logs.push({\n  ts:new Date().toISOString(),\n  level:'info',\n  event:'prep_completed',\n  eligible:eligibleCount,\n  ineligible:ineligibleCount,\n  rulesTotal,\n  errorCount,\n  logCount,\n  ineligibleByReason,\n  contractVersion:'fin_v2'\n});\n\nconst clone=(obj)=>JSON.parse(JSON.stringify(obj));\nconst runContextSnapshot=clone(runContext);\nconst prepMetaSnapshot=clone(prepMeta);\nconst prepContext={\n  eligibleCount,\n  ineligibleCount,\n  ineligibleByReason,\n  rulesTotal,\n  errorCount,\n  logCount:runContextSnapshot.logs?.length ?? logCount\n};\n\nconst baseTrace={\n  parentExecutionId:prepMetaSnapshot.callerExecutionId != null ? String(prepMetaSnapshot.callerExecutionId) : null,\n  workflowExecutionId:execId,\n  procKey:null\n};\n\nconst out=[];\nout.push({\n  json:{\n    contractVersion:'fin_v2',\n    itemType:'prep_summary',\n    trace:{...baseTrace},\n    runContext:runContextSnapshot,\n    ruleContext:null,\n    result:{\n      status:'processed',\n      reason:'prep_summary',\n      prepContext\n    },\n    prepMeta:prepMetaSnapshot\n  }\n});\n\nfor(const rule of eligibleRules){\n  const ruleContext={\n    ruleId:rule?.ruleId ?? null,\n    ruleTitle:rule?.ruleTitle ?? null,\n    diaGeracao:rule?.diaGeracao ?? null,\n    itemTemplateIds:Array.isArray(rule?.itemTemplateIds) ? rule.itemTemplateIds : [],\n    ruleFields:rule?.ruleFields ?? {},\n    competenciaYMD:rule?.competenciaYMD ?? runContextSnapshot.competenciaYMD ?? null,\n    compStart:rule?.compStart ?? runContextSnapshot.compStart ?? null,\n    compEnd:rule?.compEnd ?? runContextSnapshot.compEnd ?? null,\n    prefetchDecision:rule?.prefetchDecision ?? 'new_rule_candidate'\n  };\n\n  out.push({\n    json:{\n      contractVersion:'fin_v2',\n      itemType:'rule_candidate',\n      trace:{...baseTrace},\n      runContext:runContextSnapshot,\n      ruleContext,\n      result:{\n        status:'processed',\n        reason:'ready_for_processing',\n        prepContext\n      },\n      prepMeta:prepMetaSnapshot\n    }\n  });\n}\n\nfor(const rule of ineligibleRules){\n  const reason=String(rule?.reason || 'prep_ineligible');\n  const ruleContext={\n    ruleId:rule?.ruleId ?? null,\n    ruleTitle:rule?.ruleTitle ?? null,\n    diaGeracao:rule?.diaGeracao ?? null,\n    itemTemplateIds:Array.isArray(rule?.itemTemplateIds) ? rule.itemTemplateIds : [],\n    ruleFields:rule?.ruleFields ?? {},\n    competenciaYMD:rule?.competenciaYMD ?? runContextSnapshot.competenciaYMD ?? null,\n    compStart:rule?.compStart ?? runContextSnapshot.compStart ?? null,\n    compEnd:rule?.compEnd ?? runContextSnapshot.compEnd ?? null,\n    prefetchDecision:rule?.prefetchDecision ?? null\n  };\n\n  out.push({\n    json:{\n      contractVersion:'fin_v2',\n      itemType:'rule_result',\n      trace:{...baseTrace},\n      runContext:runContextSnapshot,\n      ruleContext,\n      result:{\n        status:'skipped',\n        reason,\n        invoiceId:null,\n        createdItemIds:[],\n        ineligibility:{\n          reason,\n          details:rule?.reasonDetail ?? null\n        },\n        prepContext\n      },\n      prepMeta:prepMetaSnapshot\n    }\n  });\n}\n\ndelete sd.prepRuns[execId];\nreturn out;"
      },
      "id": "2df2955a-9564-42f9-ab5c-bb126dafc6c9",
      "name": "Emit runContext + rule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        464
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query FindInvoicesByCompetencia($pipeId: ID!, $fieldId: String!, $competencia: String!, $first: Int!, $after: String) { findCards(pipeId: $pipeId, first: $first, after: $after, search: { fieldId: $fieldId, fieldValue: $competencia }) { edges { node { id title fields { field { id label type } value report_value array_value } } } pageInfo { hasNextPage endCursor } } }",
        "variables": "={{ { pipeId: $node['Init Run'].json.prepConfig.invoicesPipeId, fieldId: $node['Init Run'].json.prepConfig.competenciaFieldId, competencia: $node['Init Run'].json.runContext.competenciaYMD, first: Number($node['Init Run'].json.runContext.flags.prefetchPageSize || 200), after: (() => { const a = ($json.prefetchAfter ?? null); if (a === null) return null; const s = String(a).trim(); if (!s || s.toLowerCase() === 'null') return null; return s; })() } }}"
      },
      "id": "83c6ad30-bea7-41e4-a398-dbcbebafc968",
      "maxTries": 5,
      "name": "FIN-03: Prefetch faturas (competência)",
      "position": [
        -1504,
        464
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000,
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sd=$getWorkflowStaticData('global');\nconst execId=String($execution.id ?? 'manual');\nconst state=sd.prepRuns?.[execId];\nif(!state){\n  throw new Error('Missing state for execution '+execId);\n}\n\nconst runContext=state.runContext;\nrunContext.metrics=runContext.metrics || {};\nrunContext.logs=Array.isArray(runContext.logs) ? runContext.logs : [];\nrunContext.errors=Array.isArray(runContext.errors) ? runContext.errors : [];\nrunContext.metrics.invoicesPrefetchCalls=Number(runContext.metrics.invoicesPrefetchCalls || 0);\nrunContext.metrics.invoicesPrefetchCount=Number(runContext.metrics.invoicesPrefetchCount || 0);\n\nconst nowIso=new Date().toISOString();\nconst gqlErrors=Array.isArray($json.errors) ? $json.errors : [];\nif(gqlErrors.length>0){\n  runContext.errors.push({event:'prefetch_query_error',reason:'graphql_errors',errors:gqlErrors});\n  runContext.logs.push({ts:nowIso,level:'error',event:'prefetch_query_error',reason:'graphql_errors',errorsCount:gqlErrors.length});\n  throw new Error('Prefetch query returned GraphQL errors: '+JSON.stringify(gqlErrors));\n}\n\nconst find=$json.data?.findCards;\nif(!find || !Array.isArray(find.edges) || typeof find.pageInfo!=='object' || find.pageInfo===null){\n  runContext.errors.push({event:'prefetch_query_error',reason:'invalid_shape',details:$json.data ?? null});\n  runContext.logs.push({ts:nowIso,level:'error',event:'prefetch_query_invalid_shape',reason:'invalid_shape'});\n  throw new Error('Invalid GraphQL shape for invoice prefetch');\n}\n\nconst edges=find.edges;\nconst pageInfo=find.pageInfo;\nconst sanitizeCursor=(c)=>{\n  if(c===undefined || c===null) return null;\n  const s=String(c).trim();\n  if(!s || s.toLowerCase()==='null') return null;\n  return s;\n};\n\nconst existing=state.existingRuleIds || {};\nconst getField=(fields,id)=>{ for(const f of (fields || [])) if(f?.field?.id===id) return f; return null; };\nconst pick=(f)=>{ if(!f) return null; const rv=f.report_value; return (rv!==undefined && rv!==null && String(rv).trim()!=='') ? rv : f.value; };\nconst toId=(v)=>{ if(v==null) return null; const s=String(v); const m=s.match(/[0-9]+/); return m ? m[0] : s.trim(); };\n\nlet missingRuleLinks=0;\nconst ruleLinkFieldId=String(state.prepConfig?.ruleLinkFieldId || 'id_da_regra_de_faturamento');\nfor(const e of edges){\n  const node=e?.node ?? null;\n  if(!node){\n    missingRuleLinks += 1;\n    continue;\n  }\n  const f=getField(node.fields,ruleLinkFieldId);\n  const rid=toId(pick(f));\n  if(rid){\n    existing[rid]=true;\n  }else{\n    missingRuleLinks += 1;\n  }\n}\nstate.existingRuleIds=existing;\nif(missingRuleLinks>0){\n  runContext.metrics.prefetchInvoicesMissingRuleLink=Number(runContext.metrics.prefetchInvoicesMissingRuleLink || 0) + missingRuleLinks;\n  runContext.logs.push({\n    ts:nowIso,\n    level:'warn',\n    event:'prefetch_invoice_without_rule_link',\n    count:missingRuleLinks,\n    ruleLinkFieldId\n  });\n}\n\nlet hasNextPage=pageInfo.hasNextPage===true;\nlet endCursor=sanitizeCursor(pageInfo.endCursor);\nlet stopReason=null;\n\nconst MAX_PAGES=Math.max(1,Number(runContext.flags?.maxPrefetchPages || 50));\nconst callNum=runContext.metrics.invoicesPrefetchCalls + 1;\nrunContext.metrics.invoicesPrefetchCalls=callNum;\nrunContext.metrics.invoicesPrefetchCount += edges.length;\n\nif(edges.length===0){\n  hasNextPage=false;\n  stopReason='empty_page';\n}\n\nconst lastCursor=runContext.lastInvoicesPrefetchCursor ?? null;\nif(hasNextPage && endCursor===null){\n  hasNextPage=false;\n  stopReason='missing_end_cursor';\n  runContext.logs.push({ts:nowIso,level:'warn',event:'prefetch_cursor_missing',callNum});\n}else if(hasNextPage && lastCursor!==null && String(endCursor)===String(lastCursor)){\n  hasNextPage=false;\n  stopReason='stuck_cursor';\n  runContext.logs.push({ts:nowIso,level:'warn',event:'prefetch_cursor_stuck',callNum,endCursor:String(endCursor)});\n}\nrunContext.lastInvoicesPrefetchCursor=endCursor;\n\nif(callNum>=MAX_PAGES && hasNextPage){\n  hasNextPage=false;\n  stopReason='max_pages_reached';\n  runContext.logs.push({ts:nowIso,level:'warn',event:'prefetch_page_cap_reached',maxPages:MAX_PAGES,callNum});\n}\n\nrunContext.logs.push({\n  ts:nowIso,\n  level:'info',\n  event:'prefetch_invoices',\n  competenciaYMD: runContext.competenciaYMD,\n  count: edges.length,\n  uniqueRules: Object.keys(existing).length,\n  hasNextPage,\n  endCursor,\n  stopReason,\n  missingRuleLinks\n});\n\nreturn [{json:{\n  prefetchAfter:(hasNextPage ? endCursor : null),\n  prefetchHasNextPage:hasNextPage,\n  prefetchStopReason:stopReason\n}}];"
      },
      "id": "82800ae7-a4b4-49c7-86c0-ae8b24b201f1",
      "name": "Parse prefetch",
      "position": [
        -1280,
        384
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "11a2b3c4-d5e6-4f7a-8b9c-0d1e2f3a4b5c",
              "leftValue": "={{ $json.prefetchHasNextPage === true }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "55df8964-d4cc-4b93-af95-4e91b4467899",
      "name": "Prefetch: Há próxima página?",
      "position": [
        -1056,
        464
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Init Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Run": {
      "main": [
        [
          {
            "node": "FIN-03: Prefetch faturas (competência)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FIN-01: Listar regras Ativo (page)": {
      "main": [
        [
          {
            "node": "Accumulate regras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accumulate regras": {
      "main": [
        [
          {
            "node": "Há próxima página?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Há próxima página?": {
      "main": [
        [
          {
            "node": "FIN-01: Listar regras Ativo (page)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build regras elegíveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build regras elegíveis": {
      "main": [
        [
          {
            "node": "Emit runContext + rule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FIN-03: Prefetch faturas (competência)": {
      "main": [
        [
          {
            "node": "Parse prefetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse prefetch": {
      "main": [
        [
          {
            "node": "Prefetch: Há próxima página?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prefetch: Há próxima página?": {
      "main": [
        [
          {
            "node": "FIN-03: Prefetch faturas (competência)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FIN-01: Listar regras Ativo (page)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "mry7wCpuNRODMB5e"
  },
  "versionId": "27e513b2-41f6-43e5-b55e-4e15dbc4472e",
  "meta": {
    "instanceId": "3016816d496aebba57a69fdaf12429733e80c66b51f4f4969ff2808297f74ee9"
  },
  "id": "KRYkEmSTkuVD8Nsn",
  "tags": [
    {
      "createdAt": "2025-10-28T14:26:57.025Z",
      "updatedAt": "2025-10-28T14:26:57.025Z",
      "id": "jWQLHyRjnHUkdCL1",
      "name": "Pipefy"
    },
    {
      "createdAt": "2025-11-10T13:15:26.055Z",
      "updatedAt": "2025-11-10T13:15:58.540Z",
      "id": "XyK45Idu3SHOnbVr",
      "name": "Automação de pipe"
    }
  ]
}
