FIN - Gerar faturas mensais (FIN-01→FIN-03_FIN-04).json
{
  "name": "FIN - Gerar faturas mensais (FIN-01→FIN-03/FIN-04)",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 7 1-5 * *"
            }
          ]
        }
      },
      "id": "f09cbabe-bf72-48c1-80ef-30e8decb14ef",
      "name": "Cron (dias 1-5 07:00)",
      "position": [
        -2528,
        496
      ],
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "5509b079-c780-4c8f-aec5-1b4beb4891a8",
      "name": "Manual Trigger",
      "position": [
        -2528,
        688
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b8a7e57-4c07-4f11-83d7-1d903d5abc01",
              "name": "trigger",
              "type": "json",
              "value": "={{ { source: 'scheduled', enforceBillingDay: true } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c8d693c7-d0d0-4e72-87dd-7b5f9c5477f6",
      "name": "Run mode: scheduled",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2304,
        496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44ca4854-08a5-4e3e-9a11-e7dcf2eaf0d8",
              "name": "trigger",
              "type": "json",
              "value": "={{ { source: 'manual', enforceBillingDay: false } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e28aa5b9-0002-4596-b735-09d887141d69",
      "name": "Run mode: manual",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2304,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "const sd=$getWorkflowStaticData('global');\n\nconst executionId=String($execution.id ?? 'manual');\nconst input=($json && typeof $json==='object' && !Array.isArray($json)) ? $json : {};\nconst triggerInput=(input.trigger && typeof input.trigger==='object' && !Array.isArray(input.trigger)) ? input.trigger : {};\nconst executionSource=String(triggerInput.source || '').trim().toLowerCase()==='manual' ? 'manual' : 'scheduled';\nconst enforceBillingDay=typeof triggerInput.enforceBillingDay === 'boolean'\n  ? triggerInput.enforceBillingDay\n  : executionSource !== 'manual';\nconst TZ='America/Sao_Paulo';\nconst now=new Date();\nconst nowIso=now.toISOString();\nconst parts=new Intl.DateTimeFormat('en-CA',{\n  timeZone:TZ,\n  year:'numeric',\n  month:'2-digit',\n  day:'2-digit'\n}).formatToParts(now);\nconst m={};\nfor(const p of parts){\n  m[p.type]=p.value;\n}\n\nconst year=Number(m.year);\nconst month=Number(m.month);\nconst day=Number(m.day);\nlet compYear=year;\nlet compMonth=month-1;\nif(compMonth===0){\n  compMonth=12;\n  compYear=year-1;\n}\n\nconst mm=String(compMonth).padStart(2,'0');\nconst competenciaYMD=compYear+'-'+mm+'-01';\nconst daysInCompMonth=new Date(Date.UTC(compYear,compMonth,0)).getUTCDate();\nconst compStart=competenciaYMD;\nconst compEnd=compYear+'-'+mm+'-'+String(daysInCompMonth).padStart(2,'0');\n\nconst metrics={\"rulesPages\":0,\"rulesTotal\":0,\"rulesEligible\":0,\"rulesIneligible\":0,\"rulesInvalid\":0,\"rulesSkippedDay\":0,\"rulesSkippedExisting\":0,\"invoicesPrefetchCalls\":0,\"invoicesPrefetchCount\":0,\"prefetchInvoicesMissingRuleLink\":0,\"itemBatchQueries\":0,\"itemsFetched\":0,\"createInvoices\":0,\"createItems\":0,\"updateItemInvoiceLinks\":0,\"updateParcelasPagas\":0,\"unexpectedStateErrors\":0};\n\nconst runContext={\n  executionId,\n  startedAt:nowIso,\n  executionSource,\n  timezone:TZ,\n  todayDay:day,\n  competenciaYMD,\n  compStart,\n  compEnd,\n  flags:{\n    maxRulesPages:50,\n    maxPrefetchPages:50,\n    rulesPageSize:50,\n    prefetchPageSize:200,\n    enforceBillingDay\n  },\n  metrics,\n  logs:[],\n  errors:[]\n};\n\nsd.finV3Runs=(sd.finV3Runs && typeof sd.finV3Runs==='object' && !Array.isArray(sd.finV3Runs)) ? sd.finV3Runs : {};\nfor(const [key,state] of Object.entries(sd.finV3Runs)){\n  const startedAt=state?.runInit?.startedAt || null;\n  const ageMs=startedAt ? (Date.now()-Date.parse(startedAt)) : Number.POSITIVE_INFINITY;\n  if(!Number.isFinite(ageMs) || ageMs > 24*60*60*1000){\n    delete sd.finV3Runs[key];\n  }\n}\n\nsd.finV3Runs[executionId]={\n  runInit:{\n    executionId,\n    startedAt:runContext.startedAt,\n    competenciaYMD:runContext.competenciaYMD,\n    executionSource:runContext.executionSource,\n    enforceBillingDay:runContext.flags.enforceBillingDay,\n    metrics:{...runContext.metrics}\n  },\n  acc:{\n    contractVersion:'fin_v3',\n    metrics:{...runContext.metrics},\n    failures:[],\n    results:[],\n    statusCounts:{processed:0,skipped:0,failed:0},\n    skippedReasons:{},\n    prepSummarySeen:false,\n    prepSummaryCount:0,\n    ruleResultsReceived:0,\n    malformedResults:0\n  }\n};\n\nreturn [{json:{runContext}}];"
      },
      "id": "9e95c877-3966-4b00-95c1-3847c0a0ef54",
      "name": "Init Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2080,
        592
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KRYkEmSTkuVD8Nsn",
          "mode": "list",
          "cachedResultUrl": "/workflow/KRYkEmSTkuVD8Nsn",
          "cachedResultName": "FIN - Preparação regras elegíveis (faturamento mensal)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "runContext": "={{ $json.runContext }}",
            "caller": "={{ { workflowId: $workflow.id, workflowName: $workflow.name, executionId: String($execution.id) } }}",
            "prepConfig": "={{ { rulesPhaseId: 341313813, invoicesPipeId: 306859731, competenciaFieldId: \"data_de_compet_ncia\", ruleLinkFieldId: \"id_da_regra_de_faturamento\" } }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "runContext",
              "displayName": "runContext",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "caller",
              "displayName": "caller",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "prepConfig",
              "displayName": "prepConfig",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e9e58494-4c80-453a-bd85-e332eaab4822",
      "name": "Preparação: regras elegíveis",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1856,
        592
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2fdb5b40-f05e-4f1b-b1a2-5ff7103ecb7c",
      "name": "Loop regras",
      "position": [
        -1632,
        592
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0nUKP2OUpRLgMSxq",
          "mode": "list",
          "cachedResultUrl": "/workflow/0nUKP2OUpRLgMSxq",
          "cachedResultName": "FIN - Processar regra faturamento mensal (corrigido anti-loop)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "contractVersion": "={{ $json.contractVersion }}",
            "itemType": "={{ $json.itemType }}",
            "trace": "={{ $json.trace }}",
            "run": "={{ $json.run }}",
            "rule": "={{ $json.rule }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contractVersion",
              "displayName": "contractVersion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "itemType",
              "displayName": "itemType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "trace",
              "displayName": "trace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "run",
              "displayName": "run",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "rule",
              "displayName": "rule",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6c9fbe22-1549-472a-b23f-a95968d75bdc",
      "name": "Processar regra",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1184,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "const sd=$getWorkflowStaticData('global');\nconst executionId=String($execution.id ?? 'manual');\n\nsd.finV3Runs=(sd.finV3Runs && typeof sd.finV3Runs==='object' && !Array.isArray(sd.finV3Runs)) ? sd.finV3Runs : {};\nif(!sd.finV3Runs[executionId]){\n  sd.finV3Runs[executionId]={\n    runInit:{executionId,startedAt:new Date().toISOString(),competenciaYMD:null,metrics:{}},\n    acc:{\n      contractVersion:'fin_v3',\n      metrics:{},\n      failures:[],\n      results:[],\n      statusCounts:{processed:0,skipped:0,failed:0},\n      skippedReasons:{},\n      prepSummarySeen:false,\n      prepSummaryCount:0,\n      ruleResultsReceived:0,\n      malformedResults:0\n    }\n  };\n}\n\nconst state=sd.finV3Runs[executionId];\nconst acc=state.acc;\nconst allowedStatus=new Set(['processed','skipped','failed']);\nconst collectIds=(...values)=>{\n  const out=[];\n  const visit=(value)=>{\n    if(value===undefined || value===null) return;\n    if(Array.isArray(value)){\n      for(const item of value) visit(item);\n      return;\n    }\n    const s=String(value).trim();\n    if(s) out.push(s);\n  };\n  for(const value of values) visit(value);\n  return Array.from(new Set(out));\n};\nconst normalizeFailure=(failure,fallbackReason,...extraIds)=>({\n  node:String(failure?.node || 'Accumulate results'),\n  reason:String(failure?.reason || fallbackReason || 'unexpected_payload_shape'),\n  pipefyCardIds:collectIds(failure?.pipefyCardIds, extraIds)\n});\nconst pushSyntheticFailure=(reason,...ids)=>{\n  acc.failures.push({\n    node:'Accumulate results',\n    reason:String(reason || 'unexpected_payload_shape'),\n    pipefyCardIds:collectIds(...ids)\n  });\n};\n\nfor(const it of $input.all()){\n  const j=(it && it.json && typeof it.json==='object' && !Array.isArray(it.json)) ? it.json : {};\n  const rule=(j.rule && typeof j.rule==='object' && !Array.isArray(j.rule)) ? j.rule : {};\n  const res=(j.result && typeof j.result==='object' && !Array.isArray(j.result)) ? j.result : {};\n  const fallbackIds=collectIds(rule.ruleId ?? null, res.invoiceId ?? null, res.existingInvoiceId ?? null, res.createdItemIds ?? null);\n\n  if(String(j.contractVersion || '')!=='fin_v3'){\n    acc.malformedResults += 1;\n    pushSyntheticFailure('invalid_contract_version', fallbackIds);\n    continue;\n  }\n\n  const itemType=String(j.itemType || '');\n  if(itemType==='prep_summary'){\n    acc.prepSummarySeen=true;\n    acc.prepSummaryCount=Number(acc.prepSummaryCount || 0) + 1;\n    const prepMetrics=(res.metrics && typeof res.metrics==='object' && !Array.isArray(res.metrics))\n      ? res.metrics\n      : ((res.prepContext?.metrics && typeof res.prepContext.metrics==='object' && !Array.isArray(res.prepContext.metrics)) ? res.prepContext.metrics : {});\n    for(const [k,v] of Object.entries(prepMetrics)){\n      const n=Number(v);\n      if(Number.isFinite(n)){\n        acc.metrics[k]=n;\n      }\n    }\n    const prepFailures=Array.isArray(res.failures) ? res.failures : [];\n    for(const failure of prepFailures){\n      acc.failures.push(normalizeFailure(failure, 'unexpected_payload_shape', fallbackIds));\n    }\n    continue;\n  }\n\n  if(itemType!=='rule_result'){\n    acc.malformedResults += 1;\n    pushSyntheticFailure('unexpected_item_type', fallbackIds);\n    continue;\n  }\n\n  let status=String(res.status || 'failed');\n  let reason=String(res.reason || 'unexpected_payload_shape');\n  if(!allowedStatus.has(status)){\n    status='failed';\n    reason='unexpected_payload_shape';\n    acc.malformedResults += 1;\n  }\n\n  if(res.metricsDelta && typeof res.metricsDelta==='object' && !Array.isArray(res.metricsDelta)){\n    for(const [k,v] of Object.entries(res.metricsDelta)){\n      const n=Number(v);\n      if(Number.isFinite(n)){\n        acc.metrics[k]=(Number(acc.metrics[k]) || 0) + n;\n      }\n    }\n  }\n\n  const normalizedFailures=[];\n  const incomingFailures=Array.isArray(res.failures) ? res.failures : [];\n  for(const failure of incomingFailures){\n    normalizedFailures.push(normalizeFailure(failure, reason, fallbackIds));\n  }\n  if(status==='failed' && normalizedFailures.length===0){\n    normalizedFailures.push({\n      node:'Accumulate results',\n      reason,\n      pipefyCardIds:fallbackIds\n    });\n  }\n  if(normalizedFailures.length>0){\n    acc.failures.push(...normalizedFailures);\n  }\n\n  const createdCount=Array.isArray(res.createdItemIds) ? res.createdItemIds.length : 0;\n\n  acc.ruleResultsReceived += 1;\n  acc.statusCounts[status]=Number(acc.statusCounts[status] || 0) + 1;\n  if(status==='skipped'){\n    acc.skippedReasons[reason]=Number(acc.skippedReasons[reason] || 0) + 1;\n  }\n\n  acc.results.push({\n    ruleId:rule.ruleId ?? null,\n    status,\n    reason,\n    invoiceId:res.invoiceId ?? null,\n    existingInvoiceId:res.existingInvoiceId ?? null,\n    createdCount,\n    timings:res.timings ?? null,\n    prefetchDecision:rule.prefetchDecision ?? null,\n    failureCount:normalizedFailures.length\n  });\n}\n\nreturn $input.all();"
      },
      "id": "e3930edb-7672-4472-a213-9f783da7ef60",
      "name": "Accumulate results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "const sd=$getWorkflowStaticData('global');\nconst executionId=String($execution.id ?? 'manual');\n\nsd.finV3Runs=(sd.finV3Runs && typeof sd.finV3Runs==='object' && !Array.isArray(sd.finV3Runs)) ? sd.finV3Runs : {};\nconst state=sd.finV3Runs[executionId];\n\nconst defaults={\"rulesPages\":0,\"rulesTotal\":0,\"rulesEligible\":0,\"rulesIneligible\":0,\"rulesInvalid\":0,\"rulesSkippedDay\":0,\"rulesSkippedExisting\":0,\"invoicesPrefetchCalls\":0,\"invoicesPrefetchCount\":0,\"prefetchInvoicesMissingRuleLink\":0,\"itemBatchQueries\":0,\"itemsFetched\":0,\"createInvoices\":0,\"createItems\":0,\"updateItemInvoiceLinks\":0,\"updateParcelasPagas\":0,\"unexpectedStateErrors\":0};\n\nconst runInit=(state?.runInit && typeof state.runInit==='object' && !Array.isArray(state.runInit)) ? state.runInit : {executionId,startedAt:null,competenciaYMD:null,executionSource:null,enforceBillingDay:true,metrics:{...defaults}};\nconst acc=(state?.acc && typeof state.acc==='object' && !Array.isArray(state.acc)) ? state.acc : {\n  contractVersion:'fin_v3',\n  metrics:{...defaults},\n  failures:[],\n  results:[],\n  statusCounts:{processed:0,skipped:0,failed:0},\n  skippedReasons:{},\n  prepSummarySeen:false,\n  prepSummaryCount:0,\n  ruleResultsReceived:0,\n  malformedResults:0\n};\n\nconst metrics={...defaults};\nif(runInit.metrics && typeof runInit.metrics==='object' && !Array.isArray(runInit.metrics)){\n  for(const [k,v] of Object.entries(runInit.metrics)){\n    const n=Number(v);\n    if(Number.isFinite(n)) metrics[k]=n;\n  }\n}\nif(acc.metrics && typeof acc.metrics==='object' && !Array.isArray(acc.metrics)){\n  for(const [k,v] of Object.entries(acc.metrics)){\n    const n=Number(v);\n    if(Number.isFinite(n)) metrics[k]=n;\n  }\n}\n\nconst sc={processed:0,skipped:0,failed:0,...(acc.statusCounts || {})};\nconst processedRules=Number(sc.processed || 0);\nconst skippedRules=Number(sc.skipped || 0);\nconst failedRules=Number(sc.failed || 0);\nconst failures=Array.isArray(acc.failures) ? acc.failures : [];\nconst ruleResultsReceived=Number(acc.ruleResultsReceived || 0);\nconst malformedResults=Number(acc.malformedResults || 0);\nconst prepSummarySeen=Boolean(acc.prepSummarySeen);\nconst prepSummaryCount=Number(acc.prepSummaryCount || 0);\n\nconst failedNodes={};\nconst failedReasons={};\nconst pipefyCardIds=[];\nconst pipefyCardSet=new Set();\nfor(const failure of failures){\n  const node=String(failure?.node || 'Accumulate results');\n  const reason=String(failure?.reason || 'unexpected_payload_shape');\n  failedNodes[node]=Number(failedNodes[node] || 0) + 1;\n  failedReasons[reason]=Number(failedReasons[reason] || 0) + 1;\n  const ids=Array.isArray(failure?.pipefyCardIds) ? failure.pipefyCardIds : [];\n  for(const rawId of ids){\n    const id=String(rawId || '').trim();\n    if(!id || pipefyCardSet.has(id)) continue;\n    pipefyCardSet.add(id);\n    pipefyCardIds.push(id);\n  }\n}\n\nconst expectedRuleResults=Number(metrics.rulesTotal || 0);\nconst integrityErrors=[];\nif(!prepSummarySeen){\n  integrityErrors.push('prep_summary_missing');\n}\nif(expectedRuleResults>0 && ruleResultsReceived!==expectedRuleResults){\n  integrityErrors.push('rule_results_mismatch_expected');\n}\n\nconst startedAt=runInit.startedAt || null;\nconst finishedAt=new Date().toISOString();\nconst startedMs=Date.parse(startedAt || '');\nconst finishedMs=Date.parse(finishedAt);\nconst durationMs=(Number.isFinite(startedMs) && Number.isFinite(finishedMs)) ? Math.max(0,finishedMs-startedMs) : null;\nconst failureCount=failures.length;\n\nconst summary={\n  contractVersion:'fin_v3',\n  executionId,\n  executionSource:runInit.executionSource || null,\n  enforceBillingDay:runInit.enforceBillingDay !== false,\n  competenciaYMD:runInit.competenciaYMD || null,\n  startedAt,\n  finishedAt,\n  durationMs,\n  processedRules,\n  skippedRules,\n  failedRules,\n  totalRules:processedRules+skippedRules+failedRules,\n  ruleResultsReceived,\n  expectedRuleResults,\n  prepSummarySeen,\n  prepSummaryCount,\n  malformedResults,\n  errorsCount:failureCount,\n  failureCount,\n  skippedReasons:(acc.skippedReasons && typeof acc.skippedReasons==='object' && !Array.isArray(acc.skippedReasons)) ? acc.skippedReasons : {},\n  failedNodes,\n  failedReasons,\n  pipefyCardIds,\n  integrityErrors,\n  metrics\n};\n\nconst ok=(failedRules===0) && (summary.failureCount===0) && (summary.malformedResults===0) && integrityErrors.length===0;\n\nconst run={\n  contractVersion:'fin_v3',\n  metrics,\n  failures,\n  results:Array.isArray(acc.results) ? acc.results : [],\n  statusCounts:sc,\n  skippedReasons:summary.skippedReasons,\n  failedNodes,\n  failedReasons,\n  malformedResults,\n  prepSummarySeen,\n  prepSummaryCount,\n  ruleResultsReceived,\n  failureCount\n};\n\nif(sd.finV3Runs && sd.finV3Runs[executionId]){\n  delete sd.finV3Runs[executionId];\n}\n\nreturn [{json:{summary,run,ok}}];"
      },
      "id": "6406c89f-80f1-4d44-a4d5-f081a215ff76",
      "name": "Finalize summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        304
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "jBXqJ4hislRM8x31",
          "mode": "list",
          "cachedResultName": "Logs - Geração de faturas financeiras",
          "cachedResultUrl": "/projects/MxRYCPypQDED18DI/datatables/jBXqJ4hislRM8x31"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "runId": "={{ String($execution.id) }}",
            "startedAt": "={{ $json.summary.startedAt }}",
            "finishedAt": "={{ new Date().toISOString() }}",
            "status": "={{ $json.ok === true ? 'success' : 'error' }}",
            "competencia": "={{ $json.summary.competenciaYMD }}",
            "processed_rules": "={{ $json.summary.processedRules }}",
            "errors_count": "={{ $json.summary.failureCount }}",
            "rulesTotal": "={{ $json.summary.totalRules }}",
            "rulesEligible": "={{ $json.summary.metrics.rulesEligible }}",
            "skipped_rules": "={{ $json.summary.skippedRules }}",
            "failed_rules": "={{ $json.summary.failedRules }}",
            "failed_nodes": "={{ Object.keys($json.summary.failedNodes || {}).join('|') }}",
            "failed_reasons": "={{ Object.keys($json.summary.failedReasons || {}).join('|') }}",
            "pipefy_card_ids": "={{ Array.isArray($json.summary.pipefyCardIds) ? $json.summary.pipefyCardIds.join('|') : '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "runId",
              "displayName": "runId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "startedAt",
              "displayName": "startedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finishedAt",
              "displayName": "finishedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "competencia",
              "displayName": "competencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processed_rules",
              "displayName": "processed_rules",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "errors_count",
              "displayName": "errors_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "rulesTotal",
              "displayName": "rulesTotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "rulesEligible",
              "displayName": "rulesEligible",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "skipped_rules",
              "displayName": "skipped_rules",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "failed_rules",
              "displayName": "failed_rules",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "failed_nodes",
              "displayName": "failed_nodes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "failed_reasons",
              "displayName": "failed_reasons",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pipefy_card_ids",
              "displayName": "pipefy_card_ids",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1184,
        304
      ],
      "id": "b4a7238a-4479-4de7-97a8-a3dedbd70fbc",
      "name": "Persistir logs (Data Table)",
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd0c1026-670b-4dd1-ad2d-297543a4b910",
              "name": "summary",
              "type": "json",
              "value": "={{ $node['Finalize summary'].json.summary }}"
            },
            {
              "id": "1f1adb65-8918-48ed-b400-f7c64b0088dc",
              "name": "run",
              "type": "json",
              "value": "={{ $node['Finalize summary'].json.run }}"
            },
            {
              "id": "52424fe1-ab2c-4dd2-b4ed-6daeaa8101e1",
              "name": "ok",
              "type": "boolean",
              "value": "={{ $node['Finalize summary'].json.ok }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        304
      ],
      "id": "a3e475c8-85a0-4b1e-b245-6ffd93caf62f",
      "name": "Restaurar summary (pós-log)"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "c9d0e1f2-a3b4-4c5d-8e6f-7a8b9c0d1e2f",
              "leftValue": "={{ $json.ok !== true }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "d4f54f3c-9a33-4c52-8b1b-6c447bd776a1",
      "name": "Run: tem erros?",
      "position": [
        -736,
        304
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "errorMessage": "={{ 'FIN faturamento (fin_v3): execução com falhas. failureCount=' + String($json.summary?.failureCount || 0) + ', failedRules=' + String($json.summary?.failedRules || 0) + ', malformed=' + String($json.summary?.malformedResults || 0) + ', firstFailure=' + String($json.run?.failures?.[0]?.node || 'n/a') + ':' + String($json.run?.failures?.[0]?.reason || 'n/a') + ', integrity=' + String(Array.isArray($json.summary?.integrityErrors) ? $json.summary.integrityErrors.join('|') : '') + ', competencia=' + String($json.summary?.competenciaYMD || 'n/a') }}"
      },
      "id": "138a6923-9ea5-4ebb-ac28-3119772b2fe3",
      "name": "Run: Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -512,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa0e8aca-29e7-4675-9a81-b836e8ed20f9",
              "name": "ok",
              "type": "boolean",
              "value": true
            },
            {
              "id": "99739def-ac83-45a3-9682-c4394282f3ba",
              "name": "summary",
              "type": "json",
              "value": "={{ $json.summary }}"
            },
            {
              "id": "13b83df2-e39d-4c86-b09d-5d2cf31de028",
              "name": "run",
              "type": "json",
              "value": "={{ $json.run }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e230c703-ba54-4eb8-b890-124e85fb41c4",
      "name": "Run: Success output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        400
      ]
    },
    {
      "parameters": {
        "content": "[ALERTA – PAGINAÇÃO Pipefy GraphQL / n8n]\nEste trecho implementa paginação por cursor (findCards / hasNextPage / endCursor). Já houve incidente de “explosão” de chamadas quando o loop ficou conectado no ramo errado do IF e/ou quando o cursor não avançava (ex.: null virando \"null\").\n\nRegras obrigatórias:\n1) Loop de paginação SOMENTE no ramo TRUE do IF (prefetchHasNextPage === true). O ramo FALSE NÃO deve retornar ao node GraphQL.\n2) Não usar nó SET para “cursor” como string (risco de null -> \"null\"). Preferir propagar prefetchAfter diretamente.\n3) Sanitizar cursor antes de enviar como `after` (tratar \"\", null e \"null\" como null).\n4) Blindagens anti-loop no parse:\n   - Se edges.length === 0 => forçar hasNextPage = false\n   - Se endCursor não mudar entre iterações => parar (cursor travado)\n   - Limite máximo de páginas por execução (ex.: 50)\n\nSinais de problema:\n- Muitas chamadas mesmo com 0 cards\n- Mesmo endCursor repetindo\n- after enviado como \"null\"\n- Workflow rodando por longos períodos com retries\n\nSe ajustar/duplicar este fluxo, mantenha as regras acima.",
        "height": 560,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2416,
        896
      ],
      "id": "51e38112-7085-4784-b49f-a0138bdb5e26",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "d4a8f5d2-4d83-4f8c-bf58-a7f7ce1f9f7e",
              "leftValue": "={{ $json.itemType === 'rule_input' }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "32be4bbd-50dc-46c6-a298-115764f0ba5d",
      "name": "Loop: É rule_input?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1408,
        592
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Cron (dias 1-5 07:00)": {
      "main": [
        [
          {
            "node": "Run mode: scheduled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Run mode: manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Run": {
      "main": [
        [
          {
            "node": "Preparação: regras elegíveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparação: regras elegíveis": {
      "main": [
        [
          {
            "node": "Loop regras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop regras": {
      "main": [
        [
          {
            "node": "Finalize summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop: É rule_input?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar regra": {
      "main": [
        [
          {
            "node": "Accumulate results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accumulate results": {
      "main": [
        [
          {
            "node": "Loop regras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize summary": {
      "main": [
        [
          {
            "node": "Persistir logs (Data Table)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run: tem erros?": {
      "main": [
        [
          {
            "node": "Run: Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run: Success output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persistir logs (Data Table)": {
      "main": [
        [
          {
            "node": "Restaurar summary (pós-log)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurar summary (pós-log)": {
      "main": [
        [
          {
            "node": "Run: tem erros?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run mode: scheduled": {
      "main": [
        [
          {
            "node": "Init Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run mode: manual": {
      "main": [
        [
          {
            "node": "Init Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: É rule_input?": {
      "main": [
        [
          {
            "node": "Processar regra",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Accumulate results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "mry7wCpuNRODMB5e"
  },
  "versionId": "694593e4-5d5e-437a-a221-1465bb79e9e0",
  "meta": {
    "instanceId": "3016816d496aebba57a69fdaf12429733e80c66b51f4f4969ff2808297f74ee9"
  },
  "id": "sbjuPdz4ipegrKh2",
  "tags": []
}
