data/raw/n8n/workflows/Webhooks FIN-02 e 04.json
{
  "name": "Webhooks FIN-02 e 04",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ee5114c8-69a5-4220-939e-800d4751afb9",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "698f9ee6-05d8-413a-a874-3e062352b6b1",
      "name": "Webhook FIN-02",
      "position": [
        -1920,
        -528
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "17b99952-ca39-4b65-94d6-a7c02758fc3d",
      "credentials": {
        "httpHeaderAuth": {
          "id": "k0rDRzgBCkgdGEpt",
          "name": "Pipefy Webhook Header"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "84b1c677-8fbd-4281-aded-4ad25ac71a52",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "eaae3202-9db5-48cf-abf0-0a1db2752940",
      "name": "Webhook FIN-04",
      "position": [
        -1920,
        -336
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "84b1c677-8fbd-4281-aded-4ad25ac71a52",
      "credentials": {
        "httpHeaderAuth": {
          "id": "k0rDRzgBCkgdGEpt",
          "name": "Pipefy Webhook Header"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65a39fad-9b99-4a88-9101-b3c0593991ba",
              "name": "webhookAction",
              "type": "string",
              "value": "={{ $json.body.data.action }}"
            },
            {
              "id": "8528d31d-a643-410f-af57-7335367cd03c",
              "name": "cardId",
              "type": "string",
              "value": "={{ $json.body.data.card.id }}"
            },
            {
              "id": "de3e7e46-6400-439e-abcd-a20b2d447196",
              "name": "pipeSuid",
              "type": "string",
              "value": "={{ $json.body.data.card.pipe_id }}"
            },
            {
              "id": "2b8aa266-1157-4ee3-9e17-1dbf239d2608",
              "name": "phaseId",
              "type": "string",
              "value": "={{ $json.body.data.on_phase.id }}"
            },
            {
              "id": "f55be913-f7e2-453f-a78d-4093bbbe2a45",
              "name": "updatedField",
              "type": "string",
              "value": "={{ $json.body.data.field.id }}"
            },
            {
              "id": "06f1ee9c-49bd-4abe-b651-8efbc8769ccd",
              "name": "newFieldValue",
              "type": "string",
              "value": "={{ $json.body.data.new_value }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0896b52c-b328-4a5a-98d9-4598008df9e9",
      "name": "Fields webhook",
      "position": [
        -1696,
        -432
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "86c4ea64-c07b-4c67-b90b-c3eb8f3f7efb",
                    "leftValue": "={{ String($json.pipeSuid || '') === '306859915' && String($json.updatedField || '') === 'moeda_da_fatura' ? 'yes' : 'no' }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "yes"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "renameOutput": true,
              "outputKey": "Att moeda"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "a6d0490e-f585-45dc-bded-ab3715a57809",
                    "leftValue": "={{ String($json.webhookAction || '') === 'card.create' ? 'yes' : 'no' }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "yes"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "renameOutput": true,
              "outputKey": "Att título"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e23c4ac6-c0ee-4794-acef-569f3ac10967",
                    "leftValue": "={{ \n(() => {\n  const pipeId = String($json.pipeSuid || '');\n  const fieldId = String($json.updatedField || '');\n\n  const camposMonitorados = [\n    \"produto\",\n    \"tipo_de_item\",\n    \"modelo_de_cobran_a\",\n    \"h_algum_desconto_nesse_item\",\n    \"tipo_de_desconto_no_item\",\n    \"categorias_do_saas_isentas_ou_com_desconto\",\n    \"tipo_de_desconto_a_b_1\",\n    \"tipo_de_desconto_e_s\",\n    \"tipo_de_desconto_hospedagem\",\n    \"tipo_de_desconto_espa_os\",\n    \"tipo_de_desconto_outros\",\n    \"base_do_c_lculo_percentual\",\n    \"percentual_a_ser_aplicado_na_base\",\n    \"valor_de_base_brl\",\n    \"valor_de_base_usd\",\n    \"valor_base_saas_categoria_a_b_brl\",\n    \"valor_base_saas_categoria_a_b_usd\",\n    \"valor_base_saas_categoria_e_s_brl\",\n    \"valor_base_saas_categoria_e_s_usd\",\n    \"valor_base_saas_categoria_espa_os_brl\",\n    \"valor_base_saas_categoria_espa_os_usd\",\n    \"valor_base_saas_categoria_hospedagem_brl\",\n    \"valor_base_saas_categoria_hospedagem_usd\",\n    \"valor_base_saas_categoria_outros_brl\",\n    \"valor_base_saas_categoria_outros_usd\",\n    \"unidade_de_cobran_a\",\n    \"quantidade\",\n    \"valor_unit_rio_brl\",\n    \"valor_unit_rio_usd\",\n    \"valor_total_do_item_brl\",\n    \"valor_total_do_item_usd\",\n    \"valor_nominal_a_ser_descontado_brl\",\n    \"valor_nominal_a_ser_descontado_usd\",\n    \"percentual_de_desconto_a_ser_aplicado\",\n    \"desconto_no_valor_vari_vel_do_saas_para_a_b\",\n    \"desconto_no_valor_vari_vel_do_saas_para_e_s\",\n    \"desconto_no_valor_vari_vel_do_saas_para_hospedagem\",\n    \"desconto_no_valor_vari_vel_do_saas_para_espa_os\",\n    \"desconto_no_valor_vari_vel_do_saas_para_outros\",\n    \"valor_do_imposto_a_ser_isento_a_b\",\n    \"valor_do_imposto_a_ser_isento_e_s\",\n    \"valor_do_imposto_a_ser_isento_hospedagem\",\n    \"valor_do_imposto_a_ser_isento_espa_os\",\n    \"valor_do_imposto_a_ser_isento_outros\",\n    \"valor_total_do_item_com_descontos_brl\",\n    \"valor_total_do_item_com_descontos_usd\"\n  ];\n\n  if (pipeId === '306859915' && camposMonitorados.includes(fieldId)) {\n    return 'yes';\n  }\n\n  return 'no';\n})()\n}}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "yes"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Calcular valores"
            }
          ]
        },
        "options": {}
      },
      "id": "4ef52b8b-56f8-4914-991c-e4466a20fd01",
      "name": "Ação",
      "position": [
        -1472,
        -448
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "55175fb8-e0bd-4da6-974f-7b09f5e5ba54",
                    "leftValue": "={{ String($json.newFieldValue || '') === 'BRL - R$' ? 'yes' : 'no' }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "yes"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "renameOutput": true,
              "outputKey": "BRL - R$"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "dc8434a0-3ec7-4e17-a7ff-2e64a47e7a49",
                    "leftValue": "={{ String($json.newFieldValue || '') === 'USD - $' ? 'yes' : 'no' }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "yes"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "renameOutput": true,
              "outputKey": "USD - $"
            }
          ]
        },
        "options": {}
      },
      "id": "1e662143-8dfe-4010-8e3f-47d3ea886e49",
      "name": "Moeda selecionada",
      "position": [
        -1248,
        -720
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "58b281f1-ba02-4d7e-adad-f6c8c3275ebe",
              "name": "body",
              "type": "string",
              "value": "mutation UpdateFieldsValues($nodeId: ID!, $values: [NodeFieldValueInput!]!) { updateFieldsValues(input: { nodeId: $nodeId, values: $values }) { success userErrors { message } } }"
            },
            {
              "id": "e74ab898-61eb-4fa7-9298-194c49e07182",
              "name": "variables",
              "type": "json",
              "value": "={{ ({ nodeId: String($json.cardId || ''), values: [\"valor_base_saas_categoria_a_b_usd\", \"valor_base_saas_categoria_e_s_usd\", \"valor_base_saas_categoria_espa_os_usd\", \"valor_base_saas_categoria_hospedagem_usd\", \"valor_base_saas_categoria_outros_usd\", \"valor_de_base_usd\", \"valor_nominal_a_ser_descontado_usd\", \"valor_total_do_item_usd\", \"valor_total_do_item_com_descontos_usd\", \"valor_unit_rio_usd\"].map((fieldId) => ({ fieldId, value: [0] })) }) }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "d5cbc660-842e-4175-9e9e-1987fc2c7286",
      "name": "Preparar limpeza BRL",
      "position": [
        -1024,
        -816
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7382a59f-6e2b-4ddf-a9df-88f7ebe78aa9",
              "name": "body",
              "type": "string",
              "value": "mutation UpdateFieldsValues($nodeId: ID!, $values: [NodeFieldValueInput!]!) { updateFieldsValues(input: { nodeId: $nodeId, values: $values }) { success userErrors { message } } }"
            },
            {
              "id": "4f036596-943c-4f3b-a980-f6da43ccdf3b",
              "name": "variables",
              "type": "json",
              "value": "={{ ({ nodeId: String($json.cardId || ''), values: [\"valor_base_saas_categoria_a_b_brl\", \"valor_base_saas_categoria_e_s_brl\", \"valor_base_saas_categoria_espa_os_brl\", \"valor_base_saas_categoria_hospedagem_brl\", \"valor_base_saas_categoria_outros_brl\", \"valor_de_base_brl\", \"valor_nominal_a_ser_descontado_brl\", \"valor_total_do_item_brl\", \"valor_total_do_item_com_descontos_brl\", \"valor_unit_rio_brl\"].map((fieldId) => ({ fieldId, value: [0] })) }) }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "6777ac65-7ef2-4157-bc35-f828190536a4",
      "name": "Preparar limpeza USD",
      "position": [
        -1024,
        -624
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "={{ $json.body }}",
        "variables": "={{ $json.variables }}"
      },
      "id": "62b15b59-87e6-4309-9264-a3d5737671d8",
      "maxTries": 3,
      "name": "Atualizar moeda no card",
      "position": [
        -800,
        -720
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000,
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query GetCardFields($cardId: ID!) {\n  card(id: $cardId) {\n    id\n    createdAt\n    title\n    pipe {\n      id\n    }\n    current_phase {\n      id\n      name\n    }\n    fields {\n      field {\n        id\n        label\n        type\n      }\n      value\n      report_value\n      native_value\n      array_value\n\n      connectedRepoItems {\n        __typename\n        ... on PublicTableRecord {\n          id\n          title\n          uuid\n          url\n        }\n      }\n    }\n  }\n}",
        "variables": "={\n  \"cardId\": \"{{ $json.cardId }}\"\n}",
        "operationName": "="
      },
      "id": "3e7bda54-6452-4793-9c74-a30e96c66df4",
      "maxTries": 5,
      "name": "Consultar card",
      "position": [
        -1248,
        -432
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000,
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f288d3f-8bc3-41df-98a1-2319786b4534",
              "name": "=novoTituloCard",
              "type": "string",
              "value": "={{ (() => {\n  const fields = $json.data?.card?.fields ?? [];\n\n  const getFieldValue = (fieldId) => {\n    const field = fields.find(f => f.field?.id === fieldId);\n    return field?.value ?? field?.report_value ?? field?.native_value ?? '';\n  };\n\n  const repoItem = fields\n    .flatMap(f => f.connectedRepoItems ?? [])\n    .find(item => item?.url === 'https://app.pipefy.com/apollo_databases/306808931/records/1268859019');\n\n  const nomeProduto = repoItem?.title ?? getFieldValue('tipo_de_item');\n  const modeloCobranca = getFieldValue('modelo_de_cobran_a');\n  const nomeCliente = getFieldValue('clientes_na_fatura');\n\n  const createdAt = $json.data?.card?.createdAt;\n  let dataFatura = '';\n  if (createdAt) {\n    const date = new Date(createdAt);\n    const mes = date.toLocaleDateString('pt-BR', { month: 'long', timeZone: 'UTC' });\n    const ano = date.toLocaleDateString('pt-BR', { year: 'numeric', timeZone: 'UTC' });\n    dataFatura = `${mes}/${ano}`;\n  }\n\n  const pipeID = String($json.data?.card?.pipe?.id ?? '').trim();\n\n  if (pipeID === '306662125') {\n    return nomeCliente || $json.data?.card?.title || '';\n  }\n\n  if (pipeID === '306852209' || pipeID === '306859915') {\n    return [nomeProduto, modeloCobranca].filter(Boolean).join(' - ');\n  }\n\n  if (pipeID === '306859731') {\n    return [nomeCliente, dataFatura].filter(Boolean).join(' - ');\n  }\n\n  return `PIPE_NAO_MAPEADO: ${pipeID}`;\n})() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1de2ddee-ae9e-4389-ad08-cd2144c55265",
      "name": "Definir novo título",
      "position": [
        -1024,
        -432
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation UpdateCardTitle($id: ID!, $title: String!) { updateCard(input: { id: $id, title: $title }) { card { id title updated_at } } }",
        "variables": "={{ { id: $node[\"Fields webhook\"].json.cardId, title: $node[\"Definir novo título\"].json.novoTituloCard } }}"
      },
      "id": "6cf0f39d-52ae-491b-892d-cd93b5e9b9e8",
      "maxTries": 3,
      "name": "Atualizar título do card",
      "position": [
        -800,
        -432
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000,
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query GetCardFields($cardId: ID!) {\n  card(id: $cardId) {\n    id\n    createdAt\n    title\n    pipe {\n      id\n    }\n    current_phase {\n      id\n      name\n    }\n    fields {\n      field {\n        id\n        label\n        type\n      }\n      value\n      report_value\n      native_value\n      array_value\n\n      connectedRepoItems {\n        __typename\n        ... on PublicTableRecord {\n          id\n          title\n          uuid\n          url\n        }\n      }\n    }\n  }\n}",
        "variables": "={{ { cardId: $node[\"Fields webhook\"].json.cardId } }}"
      },
      "id": "54870518-f905-42b4-a57b-7d8a277f8c77",
      "maxTries": 5,
      "name": "Consultar card cálculo",
      "position": [
        -1248,
        -120
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000,
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16614047-ae6e-4836-9381-92ad61d52f3b",
              "name": "calcContext",
              "type": "json",
              "value": "={{ (() => {\n  const fields = $json.data?.card?.fields ?? [];\n  const byId = Object.fromEntries(fields.map((field) => [field?.field?.id, field]));\n  const clean = (value) => String(value ?? '').trim();\n  const hasValue = (value) => value !== undefined && value !== null && clean(value) !== '';\n  const scalarFromField = (field) => {\n    if (!field) return '';\n    const candidates = [field.report_value, field.value, field.native_value];\n    for (const candidate of candidates) {\n      if (Array.isArray(candidate)) {\n        if (candidate.length > 0) return candidate[0];\n        continue;\n      }\n      if (hasValue(candidate)) return candidate;\n    }\n    if (Array.isArray(field.array_value) && field.array_value.length === 1) return field.array_value[0];\n    return '';\n  };\n  const parseNum = (value) => {\n    if (value === undefined || value === null) return 0;\n    if (typeof value === 'number' && Number.isFinite(value)) return value;\n    let source = clean(value);\n    if (!source) return 0;\n    source = source.replace(/[^0-9,.-]/g, '');\n    if (!source) return 0;\n    if (source.includes(',') && source.includes('.')) {\n      if (source.lastIndexOf(',') > source.lastIndexOf('.')) {\n        source = source.replace(/\\./g, '').replace(',', '.');\n      } else {\n        source = source.replace(/,/g, '');\n      }\n    } else if (source.includes(',')) {\n      source = source.replace(',', '.');\n    }\n    const parsed = Number(source);\n    return Number.isFinite(parsed) ? parsed : 0;\n  };\n  const pushId = (bucket, value) => {\n    if (value === undefined || value === null) return;\n    if (Array.isArray(value)) {\n      for (const item of value) pushId(bucket, item);\n      return;\n    }\n    if (typeof value === 'object') {\n      if (value.id != null) bucket.push(String(value.id));\n      else if (value.value != null) bucket.push(String(value.value));\n      else if (value.label != null) bucket.push(String(value.label));\n      return;\n    }\n    const source = clean(value);\n    if (!source) return;\n    const matches = source.match(/[0-9]+/g);\n    if (matches) {\n      for (const match of matches) bucket.push(String(match));\n      return;\n    }\n    bucket.push(source);\n  };\n  const extractIds = (fieldId) => {\n    const field = byId[fieldId];\n    const out = [];\n    if (!field) return out;\n    if (Array.isArray(field.array_value)) {\n      for (const value of field.array_value) pushId(out, value);\n    }\n    if (Array.isArray(field.connectedRepoItems)) {\n      for (const item of field.connectedRepoItems) pushId(out, item?.id ?? item?.title);\n    }\n    pushId(out, scalarFromField(field));\n    return Array.from(new Set(out.filter(Boolean)));\n  };\n  const extractList = (fieldId) => {\n    const field = byId[fieldId];\n    const out = [];\n    const push = (value) => {\n      if (value === undefined || value === null) return;\n      if (Array.isArray(value)) {\n        for (const item of value) push(item);\n        return;\n      }\n      if (typeof value === 'object') {\n        if (value.title != null) out.push(clean(value.title));\n        else if (value.label != null) out.push(clean(value.label));\n        else if (value.value != null) out.push(clean(value.value));\n        return;\n      }\n      const source = clean(value);\n      if (!source) return;\n      if (source.startsWith('[')) {\n        try {\n          const parsed = JSON.parse(source);\n          push(parsed);\n          return;\n        } catch (_error) {}\n      }\n      if (source.includes(',')) {\n        for (const part of source.split(',')) push(part);\n        return;\n      }\n      out.push(source);\n    };\n    if (!field) return out;\n    if (Array.isArray(field.array_value)) {\n      for (const value of field.array_value) push(value);\n    }\n    if (Array.isArray(field.connectedRepoItems)) {\n      for (const item of field.connectedRepoItems) push(item?.title ?? item?.id);\n    }\n    push(scalarFromField(field));\n    return Array.from(new Set(out.map(clean).filter(Boolean)));\n  };\n  const text = (fieldId) => clean(scalarFromField(byId[fieldId]));\n  const number = (fieldId) => Number(parseNum(scalarFromField(byId[fieldId])));\n  const firstId = (fieldId) => extractIds(fieldId)[0] || '';\n  const currency = text('moeda_da_fatura');\n  const activeSuffix = currency === 'USD - $' ? 'usd' : 'brl';\n  const activeBaseField = activeSuffix === 'usd' ? 'valor_de_base_usd' : 'valor_de_base_brl';\n  const activeSubtotalField = activeSuffix === 'usd' ? 'valor_total_do_item_usd' : 'valor_total_do_item_brl';\n  const activeFinalField = activeSuffix === 'usd' ? 'valor_total_do_item_com_descontos_usd' : 'valor_total_do_item_com_descontos_brl';\n  const activeUnitField = activeSuffix === 'usd' ? 'valor_unit_rio_usd' : 'valor_unit_rio_brl';\n  const activeNominalField = activeSuffix === 'usd' ? 'valor_nominal_a_ser_descontado_usd' : 'valor_nominal_a_ser_descontado_brl';\n  const category = extractList('categorias_do_saas_isentas_ou_com_desconto')[0] || '';\n  const categorySuffixMap = {\n    'A&B': 'a_b',\n    'E&S': 'e_s',\n    'Hospedagem': 'hospedagem',\n    'Espaços': 'espa_os',\n    'Outros': 'outros',\n  };\n  const categoryTypeFieldMap = {\n    'A&B': 'tipo_de_desconto_a_b_1',\n    'E&S': 'tipo_de_desconto_e_s',\n    'Hospedagem': 'tipo_de_desconto_hospedagem',\n    'Espaços': 'tipo_de_desconto_espa_os',\n    'Outros': 'tipo_de_desconto_outros',\n  };\n  const categorySuffix = categorySuffixMap[category] || '';\n  const categorySubtype = category ? firstId(categoryTypeFieldMap[category]) : '';\n  const categoryBaseField = categorySuffix ? `valor_base_saas_categoria_${categorySuffix}_${activeSuffix}` : '';\n  const categoryPercentField = categorySuffix ? `desconto_no_valor_vari_vel_do_saas_para_${categorySuffix}` : '';\n  const categoryTaxField = categorySuffix ? `valor_do_imposto_a_ser_isento_${categorySuffix}` : '';\n  const baseCalcIds = extractIds('base_do_c_lculo_percentual');\n  const model = text('modelo_de_cobran_a');\n  const validModels = ['Percentual sobre base', 'Por unidade', 'Fixo'];\n  const modelValidationErrorMessage = validModels.includes(model)\n    ? ''\n    : `Modelo de cobrança inválido para cálculo FIN-04: \"${model || '[vazio]'}\". Esperado: Percentual sobre base, Por unidade ou Fixo.`;\n  const isPercentualBaseSaas = model === 'Percentual sobre base' && baseCalcIds.includes('1268890278');\n  const percentualBaseValidationErrorMessage = model === 'Percentual sobre base' && !isPercentualBaseSaas\n    ? `Base percentual não suportada para cálculo FIN-04: \"${baseCalcIds.length > 0 ? baseCalcIds.join(', ') : '[vazio]'}\". Esperado: 1268890278 (SaaS).`\n    : '';\n  const saasBaseSum = Number(\n    number(`valor_base_saas_categoria_a_b_${activeSuffix}`) +\n    number(`valor_base_saas_categoria_e_s_${activeSuffix}`) +\n    number(`valor_base_saas_categoria_espa_os_${activeSuffix}`) +\n    number(`valor_base_saas_categoria_hospedagem_${activeSuffix}`) +\n    number(`valor_base_saas_categoria_outros_${activeSuffix}`)\n  );\n  const discountFlag = text('h_algum_desconto_nesse_item') === 'Sim';\n  const requestedDiscountTypes = extractList('tipo_de_desconto_no_item');\n  const hasDiscount = discountFlag || requestedDiscountTypes.length > 0;\n  const validDiscountTypes = ['Nominal', 'Percentual', 'Categorias de propostas'];\n  const invalidDiscountTypes = requestedDiscountTypes.filter((value) => !validDiscountTypes.includes(value));\n  const hasCategoryDiscount = requestedDiscountTypes.includes('Categorias de propostas');\n  const hasNominalDiscount = requestedDiscountTypes.includes('Nominal');\n  const hasPercentualDiscount = requestedDiscountTypes.includes('Percentual');\n  const isCategoryDiscountEligible = model === 'Percentual sobre base' && isPercentualBaseSaas;\n  const categoryEligibilityErrorMessage = hasCategoryDiscount && !isCategoryDiscountEligible\n    ? 'Categorias de propostas só é suportado para Percentual sobre base com base SaaS (1268890278) no FIN-04.'\n    : '';\n  let discountValidationErrorMessage = '';\n  if (hasDiscount) {\n    if (requestedDiscountTypes.length === 0) {\n      discountValidationErrorMessage = 'Tipo de desconto ausente para item com desconto marcado em FIN-04.';\n    } else if (invalidDiscountTypes.length > 0) {\n      discountValidationErrorMessage = `Tipo de desconto inválido para cálculo FIN-04: \"${invalidDiscountTypes.join(', ')}\". Esperado: Nominal, Percentual ou Categorias de propostas.`;\n    } else if (categoryEligibilityErrorMessage) {\n      discountValidationErrorMessage = categoryEligibilityErrorMessage;\n    }\n  }\n  let categoryDiscountValidationErrorMessage = '';\n  if (hasCategoryDiscount && !categoryEligibilityErrorMessage) {\n    if (!category) {\n      categoryDiscountValidationErrorMessage = 'Categoria SaaS ausente para desconto por categorias no FIN-04.';\n    } else if (!categorySubtype) {\n      categoryDiscountValidationErrorMessage = `Subtipo de desconto por categoria ausente para \"${category}\" no FIN-04.`;\n    } else if (!['1260337139', '1260337296'].includes(categorySubtype)) {\n      categoryDiscountValidationErrorMessage = `Subtipo de desconto por categoria inválido para \"${category}\" no FIN-04: \"${categorySubtype}\". Esperado: 1260337139 ou 1260337296.`;\n    }\n  }\n  return {\n    cardId: String($json.data?.card?.id ?? ''),\n    pipeId: String($json.data?.card?.pipe?.id ?? ''),\n    type: text('tipo_de_item'),\n    model,\n    modelValidationErrorMessage,\n    currency,\n    activeSuffix,\n    activeBaseField,\n    activeSubtotalField,\n    activeFinalField,\n    activeUnitField,\n    activeNominalField,\n    currentBaseValue: number(activeBaseField),\n    currentSubtotalValue: number(activeSubtotalField),\n    currentFinalValue: number(activeFinalField),\n    currentUnitValue: number(activeUnitField),\n    quantity: number('quantidade'),\n    percentualBase: number('percentual_a_ser_aplicado_na_base'),\n    percentualDesconto: number('percentual_de_desconto_a_ser_aplicado'),\n    nominalDiscount: number(activeNominalField),\n    baseCalcIds,\n    isPercentualBaseSaas,\n    percentualBaseValidationErrorMessage,\n    saasBaseSum,\n    discountFlag,\n    hasDiscount,\n    requestedDiscountTypes,\n    invalidDiscountTypes,\n    hasCategoryDiscount,\n    hasNominalDiscount,\n    hasPercentualDiscount,\n    isCategoryDiscountEligible,\n    categoryEligibilityErrorMessage,\n    discountValidationErrorMessage,\n    categoryDiscountValidationErrorMessage,\n    selectedCategory: category,\n    selectedCategorySubtype: categorySubtype,\n    selectedCategoryBaseField: categoryBaseField,\n    selectedCategoryBaseValue: categoryBaseField ? number(categoryBaseField) : 0,\n    selectedCategoryDiscountPercent: categoryPercentField ? number(categoryPercentField) : 0,\n    selectedCategoryTaxPercent: categoryTaxField ? number(categoryTaxField) : 0,\n  };\n})() }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ac04ff75-4d58-4e82-b584-468cb938b365",
      "name": "Contexto cálculo",
      "position": [
        -1024,
        -120
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "232cd57b-c4d7-456d-8034-83a17ab3072d",
                    "leftValue": "={{ String($json.calcContext?.type || '') === 'Produto' ? 'yes' : 'no' }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "yes"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "renameOutput": true,
              "outputKey": "Produto"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "6395ad9b-32ac-4658-a03e-fdf963574b2b",
                    "leftValue": "={{ String($json.calcContext?.type || '') === 'Ajustes de fatura' ? 'yes' : 'no' }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "yes"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "renameOutput": true,
              "outputKey": "Ajustes de fatura"
            }
          ]
        },
        "options": {}
      },
      "id": "02755486-7bba-4075-9edb-03d37cf35239",
      "name": "Tipo de item cálculo",
      "position": [
        -800,
        -120
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ String($json.calcContext?.modelValidationErrorMessage || '') === '' }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "4b128c5d-8d35-4c50-af96-4ab5ef4cd8b3",
      "name": "Modelo de cobrança permitido?",
      "position": [
        -672,
        -320
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "errorMessage": "={{ String($json.calcContext?.modelValidationErrorMessage || 'Modelo de cobrança inválido para cálculo FIN-04.') }}"
      },
      "id": "b7ff40d6-e259-4703-ae77-9738ea6433d4",
      "name": "Erro modelo de cobrança cálculo",
      "position": [
        -448,
        -144
      ],
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "d299f028-7ee8-4e64-ae48-aa652d7801e1",
                    "leftValue": "={{ String($json.calcContext?.model || '') === 'Percentual sobre base' ? 'yes' : 'no' }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "yes"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "renameOutput": true,
              "outputKey": "Percentual sobre base"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "a8ea77e0-db01-45ce-b8ec-44f98a17f757",
                    "leftValue": "={{ String($json.calcContext?.model || '') === 'Por unidade' ? 'yes' : 'no' }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "yes"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "renameOutput": true,
              "outputKey": "Por unidade"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "db0a0c78-802e-4d54-973a-b793721f236f",
                    "leftValue": "={{ String($json.calcContext?.model || '') === 'Fixo' ? 'yes' : 'no' }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "yes"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "renameOutput": true,
              "outputKey": "Fixo"
            }
          ]
        },
        "options": {}
      },
      "id": "f647a7fd-00e7-41bc-8e99-114d61c4f25e",
      "name": "Modelo de cobrança cálculo",
      "position": [
        -544,
        -320
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.calcContext?.isPercentualBaseSaas === true }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "47db3d94-1cfd-4a1e-ad00-51e3e704c557",
      "name": "Base percentual é SaaS?",
      "position": [
        -352,
        -720
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "errorMessage": "={{ String($json.calcContext?.percentualBaseValidationErrorMessage || 'Base percentual não suportada para cálculo FIN-04.') }}"
      },
      "id": "58b2ac88-1c46-4f04-8870-0e9403067bd1",
      "name": "Erro base percentual cálculo",
      "position": [
        -96,
        -640
      ],
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "316c21d7-5599-4d48-8a22-aacdd6d00b48",
              "name": "calcSubtotal",
              "type": "number",
              "value": "={{ Number($json.calcBaseValue || 0) * Number($json.calcContext?.percentualBase || 0) / 100 }}"
            },
            {
              "id": "c5579fd4-39ba-4a1d-bbde-ad21b3d00799",
              "name": "shouldUpdateSubtotalField",
              "type": "boolean",
              "value": "={{ true }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "c8d46f61-b606-4ec1-8827-3a0f208abf25",
      "name": "Calcular subtotal percentual SaaS",
      "position": [
        1248,
        -832
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a674334-f361-482c-8a71-dc1ec2f05cb5",
              "name": "calcBaseValue",
              "type": "number",
              "value": "={{ Number($json.calcContext?.currentBaseValue || 0) }}"
            },
            {
              "id": "b3a3b82e-d553-4863-95e1-26a379969449",
              "name": "calcSubtotal",
              "type": "number",
              "value": "={{ Number($json.calcContext?.quantity || 0) * Number($json.calcContext?.currentUnitValue || 0) }}"
            },
            {
              "id": "63aa9cd7-ee29-473a-88fe-c2f510fffcab",
              "name": "shouldUpdateBaseField",
              "type": "boolean",
              "value": "={{ false }}"
            },
            {
              "id": "967ec031-9c10-461e-9a71-e033b06c904e",
              "name": "shouldUpdateSubtotalField",
              "type": "boolean",
              "value": "={{ true }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "f7f6d7d9-533f-4d57-919a-64b2aaf7e3b0",
      "name": "Resultado subtotal por unidade",
      "position": [
        -128,
        -296
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a5a42ca-7c24-4a06-8763-365e1eae9ed7",
              "name": "calcBaseValue",
              "type": "number",
              "value": "={{ Number($json.calcContext?.currentBaseValue || 0) }}"
            },
            {
              "id": "e1329931-a60f-4cd7-9edd-1ad13e7b369e",
              "name": "calcSubtotal",
              "type": "number",
              "value": "={{ Number($json.calcContext?.currentSubtotalValue || 0) }}"
            },
            {
              "id": "278dbfb9-f263-418b-9f1d-795bfca4266b",
              "name": "shouldUpdateBaseField",
              "type": "boolean",
              "value": "={{ false }}"
            },
            {
              "id": "81a21af5-f3e4-48c7-863d-9826b56ebb29",
              "name": "shouldUpdateSubtotalField",
              "type": "boolean",
              "value": "={{ false }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "c70241e2-bfb8-4f0a-b706-57a3caa7daa6",
      "name": "Resultado subtotal fixo",
      "position": [
        -128,
        -104
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ String($json.calcContext?.discountValidationErrorMessage || '') === '' }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "d3dce86d-99c1-49d1-9b25-443305db6b43",
      "name": "Configuração de descontos é válida?",
      "position": [
        -128,
        -464
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "errorMessage": "={{ String($json.calcContext?.discountValidationErrorMessage || 'Configuração de descontos inválida para cálculo FIN-04.') }}"
      },
      "id": "a4584d61-f4f5-4a45-a8f3-3c204e919ae3",
      "name": "Erro configuração de descontos",
      "position": [
        96,
        -208
      ],
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a18c9ed-7473-450b-a581-5b653285868c",
              "name": "calcBaseValue",
              "type": "number",
              "value": "={{ Number($json.calcContext?.currentBaseValue || 0) }}"
            },
            {
              "id": "b9167997-5fc2-4066-966c-e3a24570d0ed",
              "name": "calcSubtotal",
              "type": "number",
              "value": "={{ Number($json.calcContext?.currentSubtotalValue || 0) }}"
            },
            {
              "id": "f35c5736-3d9c-4b98-9657-04896f4e8340",
              "name": "calcFinalTotal",
              "type": "number",
              "value": "={{ Number($json.calcContext?.currentFinalValue || 0) }}"
            },
            {
              "id": "39846e3e-a212-46d0-b339-95c048a9c36a",
              "name": "shouldUpdateBaseField",
              "type": "boolean",
              "value": "={{ false }}"
            },
            {
              "id": "bd0b76ad-1982-490c-acb4-898cbcba11e4",
              "name": "shouldUpdateSubtotalField",
              "type": "boolean",
              "value": "={{ false }}"
            },
            {
              "id": "51789e27-81a7-47d0-b4fa-c5c411b556b6",
              "name": "shouldUpdateFinalField",
              "type": "boolean",
              "value": "={{ false }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "3f8eb543-79c1-4a65-9982-5784131fe387",
      "name": "Resultado tipo ajuste",
      "position": [
        768,
        48
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d15ec799-0dd9-4967-b19a-a1b3d2d49819",
              "name": "calcFinalTotal",
              "type": "number",
              "value": "={{ Number($json.calcFinalTotal || 0) - Number($json.calcContext?.nominalDiscount || 0) }}"
            },
            {
              "id": "b1237435-e166-436c-8ca2-8b4c90efc14d",
              "name": "shouldUpdateFinalField",
              "type": "boolean",
              "value": "={{ true }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "a4aa6891-88f3-4915-b1db-c0a3f8f2d09d",
      "name": "Aplicar desconto nominal pós-subtotal",
      "position": [
        544,
        -624
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5a5141f-ad30-4c09-a3be-8465359afb4a",
              "name": "calcFinalTotal",
              "type": "number",
              "value": "={{ Number($json.calcFinalTotal || 0) - (Number($json.calcFinalTotal || 0) * Number($json.calcContext?.percentualDesconto || 0) / 100) }}"
            },
            {
              "id": "f8dfb3e5-1672-4674-af8e-7ed33291d48b",
              "name": "shouldUpdateFinalField",
              "type": "boolean",
              "value": "={{ true }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "1b32b132-c5fd-4e6c-bde6-e2c34dc62c60",
      "name": "Aplicar desconto percentual pós-subtotal",
      "position": [
        992,
        -432
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0154b136-3f37-451a-9da4-ce01b1bcf1b1",
              "name": "categoryBaseValue",
              "type": "number",
              "value": "={{ Number($json.calcContext?.selectedCategoryBaseValue || 0) }}"
            },
            {
              "id": "f238fbf3-73c7-40b6-aed2-34dd8f476af0",
              "name": "categoryDiscountPercent",
              "type": "number",
              "value": "={{ Number($json.calcContext?.selectedCategoryDiscountPercent || 0) }}"
            },
            {
              "id": "8613f237-fc3d-42f0-b87c-30282839c41c",
              "name": "categoryTaxPercent",
              "type": "number",
              "value": "={{ Number($json.calcContext?.selectedCategoryTaxPercent || 0) }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "10901b26-3721-44fd-9404-fc4b8c6ea17b",
      "name": "Contexto do desconto por categoria",
      "position": [
        544,
        -816
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ String($json.calcContext?.categoryDiscountValidationErrorMessage || '') === '' }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "8fa85f06-7fa4-450c-9845-cec6cb6f75c7",
      "name": "Subtipo do desconto por categoria é válido?",
      "position": [
        768,
        -816
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "errorMessage": "={{ String($json.calcContext?.categoryDiscountValidationErrorMessage || 'Subtipo de desconto por categoria inválido para cálculo FIN-04.') }}"
      },
      "id": "d33640e2-d7e1-4b88-acde-a1562c1e9a31",
      "name": "Erro subtipo do desconto por categoria",
      "position": [
        992,
        -656
      ],
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "21888a62-437a-42dc-bb7f-c08aaaa849ef",
                    "leftValue": "={{ String($json.calcContext?.selectedCategorySubtype || '') === '1260337139' ? 'yes' : 'no' }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "yes"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "renameOutput": true,
              "outputKey": "Valor percentual"
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "ae7ff76b-e377-4e39-9cb9-1df83c290029",
                    "leftValue": "={{ String($json.calcContext?.selectedCategorySubtype || '') === '1260337296' ? 'yes' : 'no' }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "yes"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "renameOutput": true,
              "outputKey": "Impostos locais"
            }
          ]
        },
        "options": {}
      },
      "id": "5bb11962-f667-4371-a060-2de9f0f55723",
      "name": "Tipo de ajuste da categoria",
      "position": [
        992,
        -816
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cbd5122a-24f1-44d9-b00f-e728b55a55d0",
              "name": "calcBaseValue",
              "type": "number",
              "value": "={{ Number($json.calcBaseValue || 0) - (Number($json.categoryBaseValue || 0) * Number($json.categoryDiscountPercent || 0) / 100) }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "5dcec888-283d-497f-abe5-2ff05205dbe7",
      "name": "Aplicar desconto percentual na base da categoria",
      "position": [
        1216,
        -912
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a230da6-c89d-4fe4-944e-7c17f929dd19",
              "name": "calcBaseValue",
              "type": "number",
              "value": "={{ Number($json.calcBaseValue || 0) - (Number($json.categoryBaseValue || 0) * Number($json.categoryTaxPercent || 0) / 100) }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "cdd0dab1-8893-4dcd-9e82-bc47f5027eff",
      "name": "Aplicar isenção de imposto na base da categoria",
      "position": [
        1216,
        -736
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e25fc29-b51d-41e6-b398-f1e415862749",
              "name": "valuesToUpdate",
              "type": "json",
              "value": "={{ (() => {\n  const ctx = ($json.calcContext && typeof $json.calcContext === 'object') ? $json.calcContext : {};\n  const values = [];\n  const pushNumber = (fieldId, nextValue, currentValue, shouldUpdate) => {\n    if (!shouldUpdate || !fieldId) return;\n    const nextNumber = Number(nextValue);\n    const currentNumber = Number(currentValue);\n    if (!Number.isFinite(nextNumber)) return;\n    const safeCurrent = Number.isFinite(currentNumber) ? currentNumber : 0;\n    if (Math.abs(nextNumber - safeCurrent) <= 1e-9) return;\n    values.push({ fieldId, value: [nextNumber] });\n  };\n  pushNumber(ctx.activeBaseField, $json.calcBaseValue, ctx.currentBaseValue, $json.shouldUpdateBaseField === true);\n  pushNumber(ctx.activeSubtotalField, $json.calcSubtotal, ctx.currentSubtotalValue, $json.shouldUpdateSubtotalField === true);\n  pushNumber(ctx.activeFinalField, $json.calcFinalTotal, ctx.currentFinalValue, $json.shouldUpdateFinalField === true);\n  return values;\n})() }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "7ae4f01b-9b99-4463-8d0f-22533d3e69e8",
      "name": "Preparar diff campos calculados",
      "position": [
        992,
        -320
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ Array.isArray($json.valuesToUpdate) && $json.valuesToUpdate.length > 0 }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "35568406-b153-4a59-aa5c-83286170233f",
      "name": "Tem campos calculados para atualizar?",
      "position": [
        1216,
        -320
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "87475004-7cd2-46d6-b609-0b5ab61c13dc",
              "name": "body",
              "type": "string",
              "value": "mutation UpdateFieldsValues($nodeId: ID!, $values: [NodeFieldValueInput!]!) { updateFieldsValues(input: { nodeId: $nodeId, values: $values }) { success userErrors { message } } }"
            },
            {
              "id": "3e289af5-42dd-4f22-a2a4-5124c944ca5b",
              "name": "variables",
              "type": "json",
              "value": "={{ ({ nodeId: String($json.calcContext?.cardId || \"\"), values: $json.valuesToUpdate }) }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "58a1d8f8-a6b6-4740-9b2b-c61829d4cd4d",
      "name": "Montar mutation cálculo",
      "position": [
        1440,
        -320
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "={{ $json.body }}",
        "variables": "={{ $json.variables }}"
      },
      "id": "0a6ceae9-9d80-44bf-8adc-8fa6a2b8c867",
      "maxTries": 3,
      "name": "Atualizar valores calculados",
      "position": [
        1664,
        -320
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000,
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "Revisar: campos que são trigger para o recálculo"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1632,
        -224
      ],
      "id": "479560b8-8f0b-4dca-9c9f-7ec4d798cfa8",
      "name": "Sticky Note"
    },
    {
      "name": "Preparar base percentual SaaS",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        -864
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9524f13-5f1b-4e86-9b13-633c9a519b3d",
              "name": "calcBaseValue",
              "type": "number",
              "value": "={{ Number($json.calcContext?.saasBaseSum || 0) }}"
            },
            {
              "id": "ffe366d7-7c85-4f6c-9bf3-dede3a511b4d",
              "name": "shouldUpdateBaseField",
              "type": "boolean",
              "value": "={{ true }}"
            },
            {
              "id": "bf1fe35a-1a1e-4dec-9293-ba1088fca577",
              "name": "shouldUpdateSubtotalField",
              "type": "boolean",
              "value": "={{ false }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "d2c5958e-50e8-4cc3-81d2-e7d5edc93eff"
    },
    {
      "name": "Desconto por categoria foi solicitado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        -864
      ],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.calcContext?.hasCategoryDiscount === true }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "31ad5d23-277c-4148-bb7f-baaf314ef116"
    },
    {
      "name": "Desconto por categoria é elegível neste cálculo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        -864
      ],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.calcContext?.isCategoryDiscountEligible === true }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "54b59376-622e-4c15-9b18-ea3da31fd3c0"
    },
    {
      "name": "Erro desconto por categoria inelegível",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        544,
        -992
      ],
      "parameters": {
        "errorMessage": "={{ String($json.calcContext?.categoryEligibilityErrorMessage || 'Desconto por categoria inelegível para cálculo FIN-04.') }}"
      },
      "id": "5f3679b8-1080-42e6-9d00-c379a0305246"
    },
    {
      "name": "Inicializar total final pelo subtotal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        -464
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db07192b-70bd-4c5c-aad4-7180474c0fdf",
              "name": "calcFinalTotal",
              "type": "number",
              "value": "={{ Number($json.calcSubtotal || 0) }}"
            },
            {
              "id": "7b615dd1-4ef2-4e88-a90d-488ad6860cbc",
              "name": "shouldUpdateFinalField",
              "type": "boolean",
              "value": "={{ true }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "a2ab50cd-04c3-414e-a3dd-7bbbb69c0ca9"
    },
    {
      "name": "Tem desconto nominal pós-subtotal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        -576
      ],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.calcContext?.hasNominalDiscount === true }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "5a3ab1e3-6439-4252-b8d7-f3efec7d93e0"
    },
    {
      "name": "Tem desconto percentual pós-subtotal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        -432
      ],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.calcContext?.hasPercentualDiscount === true }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "0d031357-eaf0-4096-acef-77187bf99ae2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook FIN-02": {
      "main": [
        [
          {
            "node": "Fields webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook FIN-04": {
      "main": [
        [
          {
            "node": "Fields webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fields webhook": {
      "main": [
        [
          {
            "node": "Ação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ação": {
      "main": [
        [
          {
            "node": "Moeda selecionada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consultar card",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consultar card cálculo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Moeda selecionada": {
      "main": [
        [
          {
            "node": "Preparar limpeza BRL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar limpeza USD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar limpeza BRL": {
      "main": [
        [
          {
            "node": "Atualizar moeda no card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar limpeza USD": {
      "main": [
        [
          {
            "node": "Atualizar moeda no card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar card": {
      "main": [
        [
          {
            "node": "Definir novo título",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir novo título": {
      "main": [
        [
          {
            "node": "Atualizar título do card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar card cálculo": {
      "main": [
        [
          {
            "node": "Contexto cálculo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contexto cálculo": {
      "main": [
        [
          {
            "node": "Tipo de item cálculo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de item cálculo": {
      "main": [
        [
          {
            "node": "Modelo de cobrança permitido?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resultado tipo ajuste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo de cobrança cálculo": {
      "main": [
        [
          {
            "node": "Base percentual é SaaS?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resultado subtotal por unidade",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resultado subtotal fixo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base percentual é SaaS?": {
      "main": [
        [
          {
            "node": "Preparar base percentual SaaS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro base percentual cálculo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resultado subtotal por unidade": {
      "main": [
        [
          {
            "node": "Configuração de descontos é válida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resultado tipo ajuste": {
      "main": [
        [
          {
            "node": "Preparar diff campos calculados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar diff campos calculados": {
      "main": [
        [
          {
            "node": "Tem campos calculados para atualizar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem campos calculados para atualizar?": {
      "main": [
        [
          {
            "node": "Montar mutation cálculo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar mutation cálculo": {
      "main": [
        [
          {
            "node": "Atualizar valores calculados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resultado subtotal fixo": {
      "main": [
        [
          {
            "node": "Configuração de descontos é válida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo de cobrança permitido?": {
      "main": [
        [
          {
            "node": "Modelo de cobrança cálculo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro modelo de cobrança cálculo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuração de descontos é válida?": {
      "main": [
        [
          {
            "node": "Inicializar total final pelo subtotal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro configuração de descontos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular subtotal percentual SaaS": {
      "main": [
        [
          {
            "node": "Configuração de descontos é válida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contexto do desconto por categoria": {
      "main": [
        [
          {
            "node": "Subtipo do desconto por categoria é válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subtipo do desconto por categoria é válido?": {
      "main": [
        [
          {
            "node": "Tipo de ajuste da categoria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro subtipo do desconto por categoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de ajuste da categoria": {
      "main": [
        [
          {
            "node": "Aplicar desconto percentual na base da categoria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aplicar isenção de imposto na base da categoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aplicar desconto percentual na base da categoria": {
      "main": [
        [
          {
            "node": "Calcular subtotal percentual SaaS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aplicar isenção de imposto na base da categoria": {
      "main": [
        [
          {
            "node": "Calcular subtotal percentual SaaS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aplicar desconto nominal pós-subtotal": {
      "main": [
        [
          {
            "node": "Tem desconto percentual pós-subtotal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aplicar desconto percentual pós-subtotal": {
      "main": [
        [
          {
            "node": "Preparar diff campos calculados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar base percentual SaaS": {
      "main": [
        [
          {
            "node": "Desconto por categoria foi solicitado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desconto por categoria foi solicitado?": {
      "main": [
        [
          {
            "node": "Desconto por categoria é elegível neste cálculo?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calcular subtotal percentual SaaS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desconto por categoria é elegível neste cálculo?": {
      "main": [
        [
          {
            "node": "Contexto do desconto por categoria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro desconto por categoria inelegível",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inicializar total final pelo subtotal": {
      "main": [
        [
          {
            "node": "Tem desconto nominal pós-subtotal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem desconto nominal pós-subtotal?": {
      "main": [
        [
          {
            "node": "Aplicar desconto nominal pós-subtotal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tem desconto percentual pós-subtotal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem desconto percentual pós-subtotal?": {
      "main": [
        [
          {
            "node": "Aplicar desconto percentual pós-subtotal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar diff campos calculados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "mry7wCpuNRODMB5e"
  },
  "versionId": "3be6e73c-afd6-4d60-a7e9-63d9c8237909",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3016816d496aebba57a69fdaf12429733e80c66b51f4f4969ff2808297f74ee9"
  },
  "id": "hdN3L9fLauhvk6K8",
  "tags": [
    {
      "updatedAt": "2025-10-28T14:26:57.025Z",
      "createdAt": "2025-10-28T14:26:57.025Z",
      "id": "jWQLHyRjnHUkdCL1",
      "name": "Pipefy"
    },
    {
      "updatedAt": "2025-11-10T13:15:58.540Z",
      "createdAt": "2025-11-10T13:15:26.055Z",
      "id": "XyK45Idu3SHOnbVr",
      "name": "Automação de pipe"
    }
  ]
}
