raw/n8n/workflows/0nUKP2OUpRLgMSxq.json
{
  "active": false,
  "connections": {
    "01.1 | Trigger entrada": {
      "main": [
        [
          {
            "index": 0,
            "node": "01.2 | Init contexto fin_v3",
            "type": "main"
          }
        ]
      ]
    },
    "01.2 | Init contexto fin_v3": {
      "main": [
        [
          {
            "index": 0,
            "node": "01.3 | Encerrar na entrada?",
            "type": "main"
          }
        ]
      ]
    },
    "01.3 | Encerrar na entrada?": {
      "main": [
        [
          {
            "index": 0,
            "node": "08.1 | Finalizar rule_result",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "02.1 | Set pares template IDs",
            "type": "main"
          }
        ]
      ]
    },
    "02.1 | Set pares template IDs": {
      "main": [
        [
          {
            "index": 0,
            "node": "02.2 | Split Out template IDs",
            "type": "main"
          }
        ]
      ]
    },
    "02.2 | Split Out template IDs": {
      "main": [
        [
          {
            "index": 0,
            "node": "02.3 | FIN-02 Buscar item template",
            "type": "main"
          },
          {
            "index": 0,
            "node": "02.4 | Merge retorno template",
            "type": "main"
          }
        ]
      ]
    },
    "02.3 | FIN-02 Buscar item template": {
      "main": [
        [
          {
            "index": 1,
            "node": "02.4 | Merge retorno template",
            "type": "main"
          }
        ]
      ]
    },
    "02.4 | Merge retorno template": {
      "main": [
        [
          {
            "index": 0,
            "node": "02.5 | Consolidar templates e elegibilidade",
            "type": "main"
          }
        ]
      ]
    },
    "02.5 | Consolidar templates e elegibilidade": {
      "main": [
        [
          {
            "index": 0,
            "node": "02.6 | Encerrar após templates?",
            "type": "main"
          }
        ]
      ]
    },
    "02.6 | Encerrar após templates?": {
      "main": [
        [
          {
            "index": 0,
            "node": "08.1 | Finalizar rule_result",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "03.1 | Set pares create requests",
            "type": "main"
          }
        ]
      ]
    },
    "03.1 | Set pares create requests": {
      "main": [
        [
          {
            "index": 0,
            "node": "03.2 | Split Out create requests",
            "type": "main"
          }
        ]
      ]
    },
    "03.2 | Split Out create requests": {
      "main": [
        [
          {
            "index": 0,
            "node": "03.3 | FIN-04 Criar item",
            "type": "main"
          },
          {
            "index": 0,
            "node": "03.4 | Merge criação item",
            "type": "main"
          }
        ]
      ]
    },
    "03.3 | FIN-04 Criar item": {
      "main": [
        [
          {
            "index": 1,
            "node": "03.4 | Merge criação item",
            "type": "main"
          }
        ]
      ]
    },
    "03.4 | Merge criação item": {
      "main": [
        [
          {
            "index": 0,
            "node": "03.5 | Consolidar criação de itens",
            "type": "main"
          }
        ]
      ]
    },
    "03.5 | Consolidar criação de itens": {
      "main": [
        [
          {
            "index": 0,
            "node": "04.1 | Há parcelas para atualizar?",
            "type": "main"
          }
        ]
      ]
    },
    "04.1 | Há parcelas para atualizar?": {
      "main": [
        [
          {
            "index": 0,
            "node": "04.2 | Set pares parcela updates",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "05.1 | FIN-03 Recheck fatura existente",
            "type": "main"
          },
          {
            "index": 0,
            "node": "05.2 | Merge recheck",
            "type": "main"
          }
        ]
      ]
    },
    "04.2 | Set pares parcela updates": {
      "main": [
        [
          {
            "index": 0,
            "node": "04.3 | Split Out parcela updates",
            "type": "main"
          }
        ]
      ]
    },
    "04.3 | Split Out parcela updates": {
      "main": [
        [
          {
            "index": 0,
            "node": "04.4 | FIN-02 Atualizar parcelas_pagas",
            "type": "main"
          },
          {
            "index": 0,
            "node": "04.5 | Merge update parcelas",
            "type": "main"
          }
        ]
      ]
    },
    "04.4 | FIN-02 Atualizar parcelas_pagas": {
      "main": [
        [
          {
            "index": 1,
            "node": "04.5 | Merge update parcelas",
            "type": "main"
          }
        ]
      ]
    },
    "04.5 | Merge update parcelas": {
      "main": [
        [
          {
            "index": 0,
            "node": "04.6 | Consolidar update parcelas",
            "type": "main"
          }
        ]
      ]
    },
    "04.6 | Consolidar update parcelas": {
      "main": [
        [
          {
            "index": 0,
            "node": "05.1 | FIN-03 Recheck fatura existente",
            "type": "main"
          },
          {
            "index": 0,
            "node": "05.2 | Merge recheck",
            "type": "main"
          }
        ]
      ]
    },
    "05.1 | FIN-03 Recheck fatura existente": {
      "main": [
        [
          {
            "index": 1,
            "node": "05.2 | Merge recheck",
            "type": "main"
          }
        ]
      ]
    },
    "05.2 | Merge recheck": {
      "main": [
        [
          {
            "index": 0,
            "node": "05.3 | Parse recheck anti-loop",
            "type": "main"
          }
        ]
      ]
    },
    "05.3 | Parse recheck anti-loop": {
      "main": [
        [
          {
            "index": 0,
            "node": "06.1 | Criar fatura?",
            "type": "main"
          }
        ]
      ]
    },
    "06.1 | Criar fatura?": {
      "main": [
        [
          {
            "index": 0,
            "node": "06.2 | FIN-03 Criar fatura",
            "type": "main"
          },
          {
            "index": 0,
            "node": "06.3 | Merge criação fatura",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "08.1 | Finalizar rule_result",
            "type": "main"
          }
        ]
      ]
    },
    "06.2 | FIN-03 Criar fatura": {
      "main": [
        [
          {
            "index": 1,
            "node": "06.3 | Merge criação fatura",
            "type": "main"
          }
        ]
      ]
    },
    "06.3 | Merge criação fatura": {
      "main": [
        [
          {
            "index": 0,
            "node": "06.4 | Parse criação fatura",
            "type": "main"
          }
        ]
      ]
    },
    "06.4 | Parse criação fatura": {
      "main": [
        [
          {
            "index": 0,
            "node": "07.1 | Precisa vincular invoice?",
            "type": "main"
          }
        ]
      ]
    },
    "07.1 | Precisa vincular invoice?": {
      "main": [
        [
          {
            "index": 0,
            "node": "07.2 | Set pares link updates",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "08.1 | Finalizar rule_result",
            "type": "main"
          }
        ]
      ]
    },
    "07.2 | Set pares link updates": {
      "main": [
        [
          {
            "index": 0,
            "node": "07.3 | Split Out link updates",
            "type": "main"
          }
        ]
      ]
    },
    "07.3 | Split Out link updates": {
      "main": [
        [
          {
            "index": 0,
            "node": "07.4 | FIN-04 Vincular id_da_fatura",
            "type": "main"
          },
          {
            "index": 0,
            "node": "07.5 | Merge vínculo fatura",
            "type": "main"
          }
        ]
      ]
    },
    "07.4 | FIN-04 Vincular id_da_fatura": {
      "main": [
        [
          {
            "index": 1,
            "node": "07.5 | Merge vínculo fatura",
            "type": "main"
          }
        ]
      ]
    },
    "07.5 | Merge vínculo fatura": {
      "main": [
        [
          {
            "index": 0,
            "node": "07.6 | Consolidar vínculos",
            "type": "main"
          }
        ]
      ]
    },
    "07.6 | Consolidar vínculos": {
      "main": [
        [
          {
            "index": 0,
            "node": "08.1 | Finalizar rule_result",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-27T19:58:24.826Z",
  "id": "0nUKP2OUpRLgMSxq",
  "isArchived": false,
  "meta": null,
  "name": "FIN - Processar regra faturamento mensal (corrigido anti-loop)",
  "nodes": [
    {
      "id": "8e171abc-9c07-4ecc-bff8-20095f35df45",
      "name": "01.1 | Trigger entrada",
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"contractVersion\": \"fin_v3\",\n  \"itemType\": \"rule_input\",\n  \"trace\": {\n    \"parentExecutionId\": \"123456\",\n    \"workflowExecutionId\": \"manual\",\n    \"ruleExecutionKey\": \"manual:123:456\"\n  },\n  \"run\": {\n    \"executionId\": \"123456\",\n    \"competenciaYMD\": \"2026-02-01\",\n    \"compStart\": \"2026-02-01\",\n    \"compEnd\": \"2026-02-28\",\n    \"todayDay\": 5\n  },\n  \"rule\": {\n    \"ruleId\": \"999999\",\n    \"ruleTitle\": \"Regra Exemplo\",\n    \"prefetchDecision\": \"new_rule_candidate\",\n    \"ruleFields\": {},\n    \"itemTemplateIds\": [\n      \"111\",\n      \"222\"\n    ]\n  }\n}"
      },
      "position": [
        -1344,
        376
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "id": "c96a5090-282e-4404-9cac-380d0849c670",
      "name": "01.2 | Init contexto fin_v3",
      "parameters": {
        "jsCode": "const input = ($json && typeof $json === 'object' && !Array.isArray($json)) ? $json : {};\nconst nowIso = new Date().toISOString();\nconst NODE_NAME = '01.2 | Init contexto fin_v3';\n\nconst clean = (v) => String(v ?? '').trim();\nconst isBlank = (v) => {\n  const s = clean(v).toLowerCase();\n  return s === '' || s === 'null' || s === 'undefined' || s === 'nan';\n};\nconst isIsoDate = (v) => /^\\d{4}-\\d{2}-\\d{2}$/.test(clean(v));\nconst collectIds = (...values) => {\n  const out = [];\n  const visit = (value) => {\n    if (value === undefined || value === null) return;\n    if (Array.isArray(value)) {\n      for (const item of value) visit(item);\n      return;\n    }\n    const s = String(value).trim();\n    if (s) out.push(s);\n  };\n  for (const value of values) visit(value);\n  return Array.from(new Set(out));\n};\nconst failureEntry = (node, reason, ...ids) => ({\n  node,\n  reason: String(reason || 'unexpected_payload_shape'),\n  pipefyCardIds: collectIds(...ids),\n});\n\nconst ruleSrc = (input.rule && typeof input.rule === 'object' && !Array.isArray(input.rule))\n  ? input.rule\n  : ((input.ruleContext && typeof input.ruleContext === 'object' && !Array.isArray(input.ruleContext)) ? input.ruleContext : {});\n\nconst runSrc = (input.run && typeof input.run === 'object' && !Array.isArray(input.run))\n  ? input.run\n  : ((input.runContext && typeof input.runContext === 'object' && !Array.isArray(input.runContext)) ? input.runContext : {});\n\nconst traceSrc = (input.trace && typeof input.trace === 'object' && !Array.isArray(input.trace)) ? input.trace : {};\nconst ruleExecutionKey = [String($execution.id ?? 'manual'), String(Date.now()), String(Math.floor(Math.random() * 1e9))].join(':');\nconst trace = {\n  parentExecutionId: traceSrc.parentExecutionId != null ? String(traceSrc.parentExecutionId) : (runSrc.executionId != null ? String(runSrc.executionId) : null),\n  workflowExecutionId: String($execution.id ?? 'manual'),\n  ruleExecutionKey,\n};\n\nconst cfg = {\n  invoicePipeId: 306859731,\n  invoicePhaseId: 341350484,\n  itemPipeId: 306859915,\n  itemPhaseId: 341351580,\n  activeItemPhaseId: '341306826',\n  ruleLinkFieldId: 'id_da_regra_de_faturamento',\n  competenciaFieldId: 'data_de_compet_ncia',\n};\n\nconst ruleId = clean(ruleSrc.ruleId || ruleSrc.id || '');\nconst competenciaYMD = clean(ruleSrc.competenciaYMD || runSrc.competenciaYMD || '');\nconst compStart = clean(ruleSrc.compStart || runSrc.compStart || '');\nconst compEnd = clean(ruleSrc.compEnd || runSrc.compEnd || '');\nconst itemTemplateIds = Array.isArray(ruleSrc.itemTemplateIds)\n  ? Array.from(new Set(ruleSrc.itemTemplateIds.map((x) => clean(x)).filter(Boolean)))\n  : [];\n\nconst ctx = {\n  contractVersion: 'fin_v3',\n  trace,\n  run: {\n    executionId: runSrc.executionId != null ? String(runSrc.executionId) : String($execution.id ?? 'manual'),\n    competenciaYMD,\n    compStart,\n    compEnd,\n    todayDay: Number(runSrc.todayDay || 0),\n  },\n  rule: {\n    ruleId: ruleId || null,\n    ruleTitle: clean(ruleSrc.ruleTitle || ruleSrc.title || ''),\n    prefetchDecision: clean(ruleSrc.prefetchDecision || 'new_rule_candidate') || 'new_rule_candidate',\n    ruleFields: (ruleSrc.ruleFields && typeof ruleSrc.ruleFields === 'object' && !Array.isArray(ruleSrc.ruleFields)) ? ruleSrc.ruleFields : {},\n    itemTemplateIds,\n  },\n  config: cfg,\n  metricsDelta: {\n    itemBatchQueries: 0,\n    itemsFetched: 0,\n    createInvoices: 0,\n    createItems: 0,\n    updateItemInvoiceLinks: 0,\n    updateParcelasPagas: 0,\n  },\n  failures: [],\n  createItemRequests: [],\n  createdItemIds: [],\n  parcelaUpdates: [],\n  linkUpdates: [],\n  eligibleItems: [],\n  invoiceInputBase: null,\n  invoiceId: null,\n  existingInvoiceId: null,\n  totals: { brl: 0, usd: 0 },\n  hasParcelaErrors: false,\n  terminal: { done: false, status: null, reason: null },\n  startedAt: nowIso,\n};\n\nif (String(input.contractVersion || '') !== 'fin_v3' || String(input.itemType || '') !== 'rule_input') {\n  ctx.terminal = { done: true, status: 'failed', reason: 'unexpected_payload_shape' };\n  ctx.failures.push(failureEntry(NODE_NAME, 'unexpected_payload_shape', ruleId || null));\n}\n\nconst validationErrors = [];\nif (isBlank(ruleId)) validationErrors.push('missing_rule_id');\nif (!isIsoDate(competenciaYMD)) validationErrors.push('invalid_competencia_ymd');\nif (!isIsoDate(compStart)) validationErrors.push('invalid_comp_start');\nif (!isIsoDate(compEnd)) validationErrors.push('invalid_comp_end');\nif (isIsoDate(compStart) && isIsoDate(compEnd) && compStart > compEnd) validationErrors.push('comp_start_after_comp_end');\n\nif (!ctx.terminal.done && validationErrors.length > 0) {\n  ctx.terminal = { done: true, status: 'failed', reason: 'invalid_rule_input' };\n  ctx.failures.push(failureEntry(NODE_NAME, 'invalid_rule_input', ruleId || null));\n}\n\nif (!ctx.terminal.done && itemTemplateIds.length === 0) {\n  ctx.terminal = { done: true, status: 'skipped', reason: 'rule_has_no_item_templates' };\n}\n\nreturn [{ json: ctx }];"
      },
      "position": [
        -1120,
        376
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "0d7c2002-2e19-480b-9a18-2740625707b8",
      "name": "01.3 | Encerrar na entrada?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.terminal?.done === true }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -896,
        376
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "707f3cd2-a62a-4f05-af8f-203260dc5725",
      "maxTries": 5,
      "name": "02.3 | FIN-02 Buscar item template",
      "onError": "continueErrorOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query GetTemplateItem($id: ID!) { card(id: $id) { id title current_phase { id name } fields { field { id label type } value report_value array_value } } }",
        "variables": "={{ { id: String($json.templateItemId) } }}"
      },
      "position": [
        -224,
        616
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "94c14c56-d215-4107-b36c-21c4264668aa",
      "name": "02.4 | Merge retorno template",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        0,
        160
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "854235d8-8664-4a71-9ca3-e5774ff77969",
      "name": "02.5 | Consolidar templates e elegibilidade",
      "parameters": {
        "jsCode": "const inItems = $input.all().map((i) =>\n  (i && i.json && typeof i.json === 'object' && !Array.isArray(i.json)) ? i.json : {}\n);\n\nif (inItems.length === 0) {\n  throw new Error('No template items received to consolidate');\n}\n\nconst baseCtx =\n  (inItems[0].ctx && typeof inItems[0].ctx === 'object' && !Array.isArray(inItems[0].ctx))\n    ? inItems[0].ctx\n    : null;\n\nif (!baseCtx) {\n  throw new Error('Missing ctx on consolidate templates');\n}\n\nconst ctx = JSON.parse(JSON.stringify(baseCtx));\nctx.failures = Array.isArray(ctx.failures) ? ctx.failures : [];\nconst collectIds = (...values) => {\n  const out = [];\n  const visit = (value) => {\n    if (value === undefined || value === null) return;\n    if (Array.isArray(value)) {\n      for (const item of value) visit(item);\n      return;\n    }\n    const s = String(value).trim();\n    if (s) out.push(s);\n  };\n  for (const value of values) visit(value);\n  return Array.from(new Set(out));\n};\nconst pushFailure = (node, reason, ...ids) => {\n  ctx.failures.push({\n    node,\n    reason: String(reason || 'unexpected_payload_shape'),\n    pipefyCardIds: collectIds(...ids),\n  });\n};\n\nconst fieldMap = (fields) => {\n  const out = {};\n  for (const f of (fields || [])) {\n    const fid = f && f.field ? f.field.id : null;\n    if (fid) out[fid] = f;\n  }\n  return out;\n};\n\nconst pickScalar = (f) => {\n  if (!f) return null;\n  const rv = f.report_value;\n  return (rv !== undefined && rv !== null && String(rv).trim() !== '') ? rv : f.value;\n};\n\nconst parseNum = (v) => {\n  if (v === undefined || v === null) return 0;\n  if (typeof v === 'number' && Number.isFinite(v)) return v;\n  let s = String(v).trim();\n  if (!s) return 0;\n  s = s.replace(/[^0-9,.-]/g, '');\n  if (!s) return 0;\n\n  if (s.includes(',') && s.includes('.')) {\n    if (s.lastIndexOf(',') > s.lastIndexOf('.')) {\n      s = s.replace(/\\./g, '').replace(',', '.');\n    } else {\n      s = s.replace(/,/g, '');\n    }\n  } else if (s.includes(',')) {\n    s = s.replace(',', '.');\n  }\n\n  const n = Number(s);\n  return Number.isFinite(n) ? n : 0;\n};\n\nconst intFrom = (v) => {\n  const m = String(v ?? '').match(/[0-9]+/);\n  return m ? parseInt(m[0], 10) : 0;\n};\n\nconst extractIds = (f) => {\n  if (!f) return [];\n  const av = f.array_value;\n  const ids = [];\n\n  const push = (x) => {\n    if (x === undefined || x === null) return;\n    if (typeof x === 'object') {\n      if (x.id != null) ids.push(String(x.id));\n      else if (x.value != null) ids.push(String(x.value));\n      else if (x.label != null) ids.push(String(x.label));\n      else ids.push(JSON.stringify(x));\n    } else {\n      ids.push(String(x));\n    }\n  };\n\n  if (Array.isArray(av)) {\n    for (const x of av) push(x);\n  } else {\n    const v = pickScalar(f);\n    if (Array.isArray(v)) {\n      for (const x of v) push(x);\n    } else if (typeof v === 'string') {\n      const ms = v.match(/[0-9]+/g);\n      if (ms) for (const x of ms) ids.push(String(x));\n      else if (v.trim() !== '') ids.push(v.trim());\n    } else if (v != null) {\n      push(v);\n    }\n  }\n\n  return Array.from(new Set(ids.filter((s) => s && String(s).trim() !== ''))).map(String);\n};\n\nconst extractList = (f) => {\n  if (!f) return [];\n  const av = f.array_value;\n  let out = [];\n\n  if (Array.isArray(av)) {\n    out = av.map((x) => String(x));\n  } else {\n    const v = pickScalar(f);\n    if (Array.isArray(v)) out = v.map((x) => String(x));\n    else if (typeof v === 'string') {\n      const s = v.trim();\n      if (!s) out = [];\n      else if (s.startsWith('[')) {\n        try {\n          const p = JSON.parse(s);\n          if (Array.isArray(p)) out = p.map((x) => String(x));\n          else out = [String(p)];\n        } catch (_err) {\n          out = s.split(',').map((x) => x.trim()).filter(Boolean);\n        }\n      } else {\n        out = s.split(',').map((x) => x.trim()).filter(Boolean);\n      }\n    } else if (v != null) {\n      out = [String(v)];\n    }\n  }\n\n  return Array.from(new Set(out.filter(Boolean)));\n};\n\nconst allowed = new Set([\n  'afiliados_que_comp_em_a_cobran_a',\n  'base_do_c_lculo_percentual',\n  'categorias_do_saas_isentas_ou_com_desconto',\n  'data_de_compet_ncia',\n  'desconto_no_valor_vari_vel_do_saas_para_a_b',\n  'desconto_no_valor_vari_vel_do_saas_para_e_s',\n  'desconto_no_valor_vari_vel_do_saas_para_espa_os',\n  'desconto_no_valor_vari_vel_do_saas_para_hospedagem',\n  'desconto_no_valor_vari_vel_do_saas_para_outros',\n  'h_algum_desconto_nesse_item',\n  'id_backoffice_do_afiliado',\n  'id_da_fatura',\n  'id_do_item_usado_como_template_fin_02',\n  'modelo_de_cobran_a',\n  'moeda_da_fatura',\n  'observa_es_sobre_descontos_e_isen_es',\n  'percentual_a_ser_aplicado_na_base',\n  'percentual_de_desconto_a_ser_aplicado',\n  'produto',\n  'quantidade',\n  'status',\n  'tipo_de_desconto_a_b_1',\n  'tipo_de_desconto_e_s',\n  'tipo_de_desconto_espa_os',\n  'tipo_de_desconto_hospedagem',\n  'tipo_de_desconto_no_item',\n  'tipo_de_desconto_outros',\n  'tipo_de_item',\n  'unidade_de_cobran_a',\n  'valor_base_saas_categoria_a_b_brl',\n  'valor_base_saas_categoria_a_b_usd',\n  'valor_base_saas_categoria_e_s_brl',\n  'valor_base_saas_categoria_e_s_usd',\n  'valor_base_saas_categoria_espa_os_brl',\n  'valor_base_saas_categoria_espa_os_usd',\n  'valor_base_saas_categoria_hospedagem_brl',\n  'valor_base_saas_categoria_hospedagem_usd',\n  'valor_base_saas_categoria_outros_brl',\n  'valor_base_saas_categoria_outros_usd',\n  'valor_de_base_brl',\n  'valor_de_base_usd',\n  'valor_do_imposto_a_ser_isento_a_b',\n  'valor_do_imposto_a_ser_isento_e_s',\n  'valor_do_imposto_a_ser_isento_espa_os',\n  'valor_do_imposto_a_ser_isento_hospedagem',\n  'valor_do_imposto_a_ser_isento_outros',\n  'valor_nominal_a_ser_descontado_brl',\n  'valor_nominal_a_ser_descontado_usd',\n  'valor_total_do_item_brl',\n  'valor_total_do_item_com_descontos_brl',\n  'valor_total_do_item_com_descontos_usd',\n  'valor_total_do_item_usd',\n  'valor_unit_rio_brl',\n  'valor_unit_rio_usd',\n  'statement_2c441aae_a317_42eb_81c2_c3a06c8daae7',\n  'statement_4a274d3d_6286_453b_9e74_46b058076519',\n  'statement_4f0c1eda_5fed_4d79_8cdd_ac05c377995d',\n  'statement_7140fc81_0523_47c6_a23b_c31ede660ea4',\n]);\n\nconst special = {\n  tipo_de_desconto_no_item_1: 'tipo_de_desconto_no_item',\n  subtotal_do_item_brl: 'valor_total_do_item_brl',\n  subtotal_do_item_usd: 'valor_total_do_item_usd',\n};\n\nconst compStart = String(ctx.run.compStart || '');\nconst compEnd = String(ctx.run.compEnd || '');\nconst activePhase = String(ctx.config.activeItemPhaseId || '');\nconst ruleId = ctx.rule?.ruleId ?? null;\nconst failureCountBefore = ctx.failures.length;\n\nlet totalBrl = 0;\nlet totalUsd = 0;\nconst eligibleItems = [];\nconst createItemRequests = [];\n\nfor (const it of inItems) {\n  const templateItemId = String(it.templateItemId || '').trim();\n  const gqlErrors = Array.isArray(it.errors) ? it.errors : [];\n\n  if (it.error) {\n    pushFailure('02.3 | FIN-02 Buscar item template', 'fetch_template_item_error', ruleId, templateItemId || null);\n    continue;\n  }\n\n  if (gqlErrors.length > 0) {\n    pushFailure('02.3 | FIN-02 Buscar item template', 'fetch_template_item_error', ruleId, templateItemId || null);\n    continue;\n  }\n\n  const card = it.data?.card;\n  if (!card || !card.id) {\n    pushFailure('02.3 | FIN-02 Buscar item template', 'fetch_template_item_error', ruleId, templateItemId || null);\n    continue;\n  }\n\n  const phaseId = card.current_phase && card.current_phase.id ? String(card.current_phase.id) : '';\n  if (phaseId !== activePhase) {\n    continue;\n  }\n\n  const fm = fieldMap(card.fields || []);\n  const start = String(pickScalar(fm['data_de_in_cio_do_faturamento']) || '').slice(0, 10);\n  const end = String(pickScalar(fm['data_de_fim_do_faturamento']) || '').slice(0, 10);\n\n  if (start && start > compEnd) {\n    continue;\n  }\n  if (end && end < compStart) {\n    continue;\n  }\n\n  const periodicidade = String(pickScalar(fm['periodicidade']) || '').trim();\n  let parcelado = null;\n\n  if (periodicidade === 'Parcelado') {\n    const pagas = intFrom(pickScalar(fm['parcelas_pagas']));\n    const total = intFrom(pickScalar(fm['quantidade_de_parcelas_totais']));\n\n    if (!(total > 0)) {\n      pushFailure('02.5 | Consolidar templates e elegibilidade', 'invalid_total_parcelas', ruleId, String(card.id));\n      continue;\n    }\n\n    if (pagas >= total) {\n      continue;\n    }\n\n    parcelado = { newParcelasPagas: pagas + 1 };\n  }\n\n  const currency = String(pickScalar(fm['moeda_da_fatura']) || '').trim();\n  let brl = 0;\n  let usd = 0;\n\n  if (currency.startsWith('USD')) {\n    usd = parseNum(pickScalar(fm['valor_total_do_item_com_descontos_usd']) ?? pickScalar(fm['subtotal_do_item_usd']));\n  } else if (currency.startsWith('BRL')) {\n    brl = parseNum(pickScalar(fm['valor_total_do_item_com_descontos_brl']) ?? pickScalar(fm['subtotal_do_item_brl']));\n  } else {\n    brl = parseNum(pickScalar(fm['valor_total_do_item_com_descontos_brl']) ?? pickScalar(fm['subtotal_do_item_brl']));\n    usd = parseNum(pickScalar(fm['valor_total_do_item_com_descontos_usd']) ?? pickScalar(fm['subtotal_do_item_usd']));\n  }\n\n  totalBrl += brl;\n  totalUsd += usd;\n\n  const fa = [];\n  fa.push({ field_id: 'data_de_compet_ncia', field_value: String(ctx.run.competenciaYMD || '') });\n  fa.push({ field_id: 'id_do_item_usado_como_template_fin_02', field_value: String(card.id) });\n  fa.push({ field_id: 'status', field_value: 'Ativo' });\n\n  for (const f of (card.fields || [])) {\n    const fid = f && f.field ? f.field.id : null;\n    if (!fid) continue;\n\n    const target = special[fid] || fid;\n    if (!allowed.has(target)) continue;\n    if (target === 'data_de_compet_ncia' || target === 'id_do_item_usado_como_template_fin_02' || target === 'status' || target === 'id_da_fatura') continue;\n\n    const type = f && f.field ? String(f.field.type || '') : '';\n    let val = null;\n\n    if (type === 'connector' || type === 'checklist_horizontal' || type === 'checklist_vertical') {\n      val = extractIds(f);\n    } else {\n      val = pickScalar(f);\n    }\n\n    if (val === undefined || val === null) continue;\n    if (Array.isArray(val) && val.length === 0) continue;\n    if (typeof val === 'string' && val.trim() === '') continue;\n\n    fa.push({ field_id: target, field_value: val });\n  }\n\n  const createReq = {\n    templateItemId: String(card.id),\n    shouldUpdateParcelas: Boolean(parcelado),\n    newParcelasPagas: parcelado ? parcelado.newParcelasPagas : null,\n    input: {\n      pipe_id: Number(ctx.config.itemPipeId),\n      phase_id: Number(ctx.config.itemPhaseId),\n      parent_ids: [String(card.id)],\n      title: `Item ${String(ctx.run.competenciaYMD || '').slice(0, 7)} - ${String(card.id)}`,\n      fields_attributes: fa,\n    },\n  };\n\n  eligibleItems.push({ templateItemId: String(card.id), periodicidade, totalBrl: brl, totalUsd: usd });\n  createItemRequests.push(createReq);\n}\n\nctx.metricsDelta.itemBatchQueries = inItems.length;\nctx.metricsDelta.itemsFetched = eligibleItems.length;\nctx.eligibleItems = eligibleItems;\nctx.createItemRequests = createItemRequests;\nctx.totals = { brl: totalBrl, usd: totalUsd };\n\nconst rf =\n  (ctx.rule.ruleFields && typeof ctx.rule.ruleFields === 'object' && !Array.isArray(ctx.rule.ruleFields))\n    ? ctx.rule.ruleFields\n    : {};\n\nconst invoiceFields = [];\n\nconst pushField = (fid, val) => {\n  if (val === undefined || val === null) return;\n  if (Array.isArray(val) && val.length === 0) return;\n  if (typeof val === 'string' && val.trim() === '') return;\n  invoiceFields.push({ field_id: fid, field_value: val });\n};\n\npushField('clientes_na_fatura', extractIds(rf['clientes_na_fatura']));\npushField('rede_na_fatura', extractIds(rf['rede_na_fatura']));\npushField('contatos_que_receber_o_a_fatura', extractIds(rf['contatos_que_receber_o_a_fatura']));\npushField('forma_de_pagamento', extractList(rf['forma_de_pagamento']));\npushField('identificador_fiscal_na_fatura', String(pickScalar(rf['identificador_fiscal_na_fatura']) || ''));\npushField('tipo_de_cliente_final', String(pickScalar(rf['tipo_de_cliente_final']) || ''));\npushField('moeda_do_teto_de_faturamento', extractList(rf['moeda_do_teto_de_faturamento']));\n\nconst tetoBrl = parseNum(pickScalar(rf['teto_de_faturamento_brl']));\nconst tetoUsd = parseNum(pickScalar(rf['teto_de_faturamento_usd']));\nif (tetoBrl) pushField('teto_de_faturamento_brl', tetoBrl);\nif (tetoUsd) pushField('teto_de_faturamento_usd', tetoUsd);\n\npushField('etiquetas', extractList(rf['etiquetas']));\npushField('id_da_regra_de_faturamento', ctx.rule.ruleId);\npushField('data_de_compet_ncia', String(ctx.run.competenciaYMD || ''));\npushField('valor_total_da_fatura_brl', totalBrl);\npushField('valor_total_da_fatura_usd', totalUsd);\n\nctx.invoiceInputBase = {\n  pipe_id: Number(ctx.config.invoicePipeId),\n  phase_id: Number(ctx.config.invoicePhaseId),\n  title: `Fatura ${String(ctx.run.competenciaYMD || '').slice(0, 7)} - Regra ${String(ctx.rule.ruleId || '')}`,\n  fields_attributes: invoiceFields,\n};\n\nif (eligibleItems.length === 0) {\n  const newFailures = ctx.failures.slice(failureCountBefore);\n  if (newFailures.length > 0) {\n    ctx.terminal = { done: true, status: 'failed', reason: String(newFailures[0].reason || 'fetch_template_item_error') };\n  } else {\n    ctx.terminal = { done: true, status: 'skipped', reason: 'no_eligible_items_after_filters' };\n  }\n}\n\nreturn [{ json: ctx }];"
      },
      "position": [
        224,
        160
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "f7468411-e08e-4c4c-8572-9249bd421650",
      "name": "02.6 | Encerrar após templates?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.terminal?.done === true }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        448,
        160
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "bf920761-9e94-42fa-a9bc-1847b121ff47",
      "maxTries": 5,
      "name": "03.3 | FIN-04 Criar item",
      "onError": "continueErrorOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation CreateItem($input: CreateCardInput!) { createCard(input: $input) { card { id url } } }",
        "variables": "={{ { input: $json.createReq.input } }}"
      },
      "position": [
        1120,
        616
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "77cc1de6-aa24-422f-a48f-bcb7761f01db",
      "name": "03.4 | Merge criação item",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        1344,
        352
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "ddbd2cfb-ae54-4916-9cfc-aafc9a8c7b37",
      "name": "03.5 | Consolidar criação de itens",
      "parameters": {
        "jsCode": "const inItems = $input.all().map((i) => (i && i.json && typeof i.json === 'object' && !Array.isArray(i.json)) ? i.json : {});\nif (inItems.length === 0) {\n  throw new Error('No items to consolidate create item stage');\n}\n\nconst baseCtx = (inItems[0].ctx && typeof inItems[0].ctx === 'object' && !Array.isArray(inItems[0].ctx)) ? inItems[0].ctx : null;\nif (!baseCtx) {\n  throw new Error('Missing ctx on consolidate create item stage');\n}\n\nconst ctx = JSON.parse(JSON.stringify(baseCtx));\nctx.failures = Array.isArray(ctx.failures) ? ctx.failures : [];\nconst SOURCE_NODE = '03.3 | FIN-04 Criar item';\nconst collectIds = (...values) => {\n  const out = [];\n  const visit = (value) => {\n    if (value === undefined || value === null) return;\n    if (Array.isArray(value)) {\n      for (const item of value) visit(item);\n      return;\n    }\n    const s = String(value).trim();\n    if (s) out.push(s);\n  };\n  for (const value of values) visit(value);\n  return Array.from(new Set(out));\n};\nconst pushFailure = (reason, ...ids) => {\n  ctx.failures.push({\n    node: SOURCE_NODE,\n    reason: String(reason || 'no_created_items_for_invoice'),\n    pipefyCardIds: collectIds(...ids),\n  });\n};\n\nconst failureCountBefore = ctx.failures.length;\nconst created = [];\nconst parcelaUpdates = [];\n\nfor (const it of inItems) {\n  const req = (it.createReq && typeof it.createReq === 'object' && !Array.isArray(it.createReq)) ? it.createReq : {};\n  if (it.error) {\n    pushFailure('create_item_transport_error', ctx.rule?.ruleId ?? null, req.templateItemId ?? null);\n    continue;\n  }\n\n  const gqlErrors = Array.isArray(it.errors) ? it.errors : [];\n  if (gqlErrors.length > 0) {\n    pushFailure('create_item_logical_error', ctx.rule?.ruleId ?? null, req.templateItemId ?? null);\n    continue;\n  }\n\n  const create = it.data?.createCard;\n  const userErrors = Array.isArray(create?.userErrors) ? create.userErrors : (Array.isArray(create?.user_errors) ? create.user_errors : []);\n  const createdId = create?.card?.id != null ? String(create.card.id) : null;\n  if (userErrors.length > 0 || !createdId) {\n    pushFailure('create_item_logical_error', ctx.rule?.ruleId ?? null, req.templateItemId ?? null);\n    continue;\n  }\n\n  created.push(createdId);\n  if (req.shouldUpdateParcelas === true && req.newParcelasPagas != null && req.templateItemId != null) {\n    parcelaUpdates.push({\n      templateItemId: String(req.templateItemId),\n      newParcelasPagas: Number(req.newParcelasPagas),\n    });\n  }\n}\n\nctx.createdItemIds = Array.from(new Set(created));\nctx.parcelaUpdates = parcelaUpdates;\nctx.metricsDelta.createItems = ctx.createdItemIds.length;\n\nif (ctx.createdItemIds.length === 0) {\n  const newFailures = ctx.failures.slice(failureCountBefore);\n  const reason = newFailures.length > 0\n    ? String(newFailures[0].reason || 'no_created_items_for_invoice')\n    : 'no_created_items_for_invoice';\n  ctx.terminal = { done: true, status: 'failed', reason };\n}\n\nreturn [{ json: ctx }];"
      },
      "position": [
        1568,
        352
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "ea239d5e-f80b-47b7-b5db-fe60ae5942af",
      "name": "04.1 | Há parcelas para atualizar?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ Array.isArray($json.parcelaUpdates) && $json.parcelaUpdates.length > 0 }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        1792,
        352
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "01e7c235-fa5b-4f9c-b6a9-76ba4c6d608d",
      "maxTries": 5,
      "name": "04.4 | FIN-02 Atualizar parcelas_pagas",
      "onError": "continueErrorOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation UpdateParcelas($cardId: ID!, $value: [UndefinedInput!]!) { updateFieldsValues(input: { nodeId: $cardId, values: [{ fieldId: \"parcelas_pagas\", value: $value }] }) { success } }",
        "variables": "={{ { cardId: String($json.updateReq.templateItemId), value: [Number($json.updateReq.newParcelasPagas)] } }}"
      },
      "position": [
        2464,
        496
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "a68e31b4-25a2-4809-9b0a-07b010b39f61",
      "name": "04.5 | Merge update parcelas",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        2688,
        352
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "6cf2c8c6-322b-4706-864a-1919ee457654",
      "name": "04.6 | Consolidar update parcelas",
      "parameters": {
        "jsCode": "const inItems = $input.all().map((i) => (i && i.json && typeof i.json === 'object' && !Array.isArray(i.json)) ? i.json : {});\nif (inItems.length === 0) {\n  throw new Error('No items to consolidate parcelas stage');\n}\n\nconst baseCtx = (inItems[0].ctx && typeof inItems[0].ctx === 'object' && !Array.isArray(inItems[0].ctx)) ? inItems[0].ctx : null;\nif (!baseCtx) {\n  throw new Error('Missing ctx on consolidate parcelas stage');\n}\n\nconst ctx = JSON.parse(JSON.stringify(baseCtx));\nctx.failures = Array.isArray(ctx.failures) ? ctx.failures : [];\nconst SOURCE_NODE = '04.4 | FIN-02 Atualizar parcelas_pagas';\nconst collectIds = (...values) => {\n  const out = [];\n  const visit = (value) => {\n    if (value === undefined || value === null) return;\n    if (Array.isArray(value)) {\n      for (const item of value) visit(item);\n      return;\n    }\n    const s = String(value).trim();\n    if (s) out.push(s);\n  };\n  for (const value of values) visit(value);\n  return Array.from(new Set(out));\n};\nconst pushFailure = (...ids) => {\n  ctx.failures.push({\n    node: SOURCE_NODE,\n    reason: 'update_parcelas_error',\n    pipefyCardIds: collectIds(...ids),\n  });\n};\n\nfor (const it of inItems) {\n  const req = (it.updateReq && typeof it.updateReq === 'object' && !Array.isArray(it.updateReq)) ? it.updateReq : {};\n  if (it.error) {\n    ctx.hasParcelaErrors = true;\n    pushFailure(ctx.rule?.ruleId ?? null, req.templateItemId ?? null);\n    continue;\n  }\n\n  const gqlErrors = Array.isArray(it.errors) ? it.errors : [];\n  const upd = it.data?.updateFieldsValues;\n  const userErrors = Array.isArray(upd?.userErrors) ? upd.userErrors : [];\n  const success = upd?.success === true && gqlErrors.length === 0 && userErrors.length === 0;\n\n  if (success) {\n    ctx.metricsDelta.updateParcelasPagas = Number(ctx.metricsDelta.updateParcelasPagas || 0) + 1;\n  } else {\n    ctx.hasParcelaErrors = true;\n    pushFailure(ctx.rule?.ruleId ?? null, req.templateItemId ?? null);\n  }\n}\n\nreturn [{ json: ctx }];"
      },
      "position": [
        2912,
        352
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "5b2fa257-b124-44bd-b901-308a6b45cfdb",
      "maxTries": 5,
      "name": "05.1 | FIN-03 Recheck fatura existente",
      "onError": "continueErrorOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query FindInvoicesForRuleRecheck($pipeId: ID!, $fieldId: String!, $competencia: String!, $first: Int!) { findCards(pipeId: $pipeId, first: $first, search: { fieldId: $fieldId, fieldValue: $competencia }) { edges { node { id title fields { field { id label type } value report_value array_value } } } pageInfo { hasNextPage endCursor } } }",
        "variables": "={{ { pipeId: Number($json.config.invoicePipeId), fieldId: String($json.config.competenciaFieldId), competencia: String($json.run.competenciaYMD), first: 200 } }}"
      },
      "position": [
        3136,
        592
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "f06abdbe-31e3-4199-a03d-39dacb53c4cf",
      "name": "05.2 | Merge recheck",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        3360,
        328
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "f8f56c62-427e-4db9-88ef-00ad267e6063",
      "name": "05.3 | Parse recheck anti-loop",
      "parameters": {
        "jsCode": "const input = ($json && typeof $json === 'object' && !Array.isArray($json)) ? $json : {};\nconst nowIso = new Date().toISOString();\nconst NODE_NAME = '05.3 | Parse recheck anti-loop';\nconst SOURCE_NODE = '05.1 | FIN-03 Recheck fatura existente';\nconst toObj = (v) => (v && typeof v === 'object' && !Array.isArray(v)) ? v : null;\nconst collectIds = (...values) => {\n  const out = [];\n  const visit = (value) => {\n    if (value === undefined || value === null) return;\n    if (Array.isArray(value)) {\n      for (const item of value) visit(item);\n      return;\n    }\n    const s = String(value).trim();\n    if (s) out.push(s);\n  };\n  for (const value of values) visit(value);\n  return Array.from(new Set(out));\n};\nconst failureEntry = (node, reason, ...ids) => ({\n  node,\n  reason: String(reason || 'unexpected_payload_shape'),\n  pipefyCardIds: collectIds(...ids),\n});\n\nconst defaultConfig = {\n  invoicePipeId: 306859731,\n  invoicePhaseId: 341350484,\n  itemPipeId: 306859915,\n  itemPhaseId: 341351580,\n  activeItemPhaseId: '341306826',\n  ruleLinkFieldId: 'id_da_regra_de_faturamento',\n  competenciaFieldId: 'data_de_compet_ncia',\n};\n\nconst defaultMetricsDelta = {\n  itemBatchQueries: 0,\n  itemsFetched: 0,\n  createInvoices: 0,\n  createItems: 0,\n  updateItemInvoiceLinks: 0,\n  updateParcelasPagas: 0,\n};\n\nlet baseCtx = toObj(input.ctx) || toObj(input);\nconst baseCtxLooksValid = baseCtx && toObj(baseCtx.config) && toObj(baseCtx.rule) && toObj(baseCtx.run);\n\nif (!baseCtxLooksValid) {\n  const trace = toObj(input.trace) || {\n    parentExecutionId: null,\n    workflowExecutionId: String($execution.id ?? 'manual'),\n    ruleExecutionKey: null,\n  };\n  const rule = toObj(input.rule) || {\n    ruleId: null,\n    ruleTitle: null,\n    prefetchDecision: null,\n    ruleFields: {},\n    itemTemplateIds: [],\n  };\n  const run = toObj(input.run) || {\n    executionId: String(trace.parentExecutionId ?? $execution.id ?? 'manual'),\n    competenciaYMD: null,\n    compStart: null,\n    compEnd: null,\n    todayDay: null,\n  };\n\n  return [{ json: {\n    contractVersion: 'fin_v3',\n    trace,\n    run,\n    rule,\n    config: defaultConfig,\n    metricsDelta: { ...defaultMetricsDelta },\n    failures: [failureEntry(NODE_NAME, 'unexpected_payload_shape', rule.ruleId ?? null)],\n    createItemRequests: [],\n    createdItemIds: [],\n    parcelaUpdates: [],\n    linkUpdates: [],\n    eligibleItems: [],\n    invoiceInputBase: null,\n    invoiceId: null,\n    existingInvoiceId: null,\n    totals: { brl: 0, usd: 0 },\n    hasParcelaErrors: false,\n    terminal: { done: true, status: 'failed', reason: 'unexpected_payload_shape' },\n    startedAt: nowIso,\n  }}];\n}\n\nconst ctx = JSON.parse(JSON.stringify(baseCtx));\nctx.failures = Array.isArray(ctx.failures) ? ctx.failures : [];\n\nif (ctx.terminal?.done === true) {\n  return [{ json: ctx }];\n}\n\nconst ruleId = ctx.rule?.ruleId ?? null;\nconst pushFailure = (node, reason, ...ids) => ctx.failures.push(failureEntry(node, reason, ...ids));\n\nif (input.error) {\n  pushFailure(SOURCE_NODE, 'recheck_invoice_transport_error', ruleId, ctx.createdItemIds);\n  ctx.terminal = { done: true, status: 'failed', reason: 'recheck_invoice_transport_error' };\n  return [{ json: ctx }];\n}\n\nconst gqlErrors = Array.isArray(input.errors) ? input.errors : [];\nif (gqlErrors.length > 0) {\n  pushFailure(SOURCE_NODE, 'recheck_invoice_logical_error', ruleId, ctx.createdItemIds);\n  ctx.terminal = { done: true, status: 'failed', reason: 'recheck_invoice_logical_error' };\n  return [{ json: ctx }];\n}\n\nconst edges = input.data?.findCards?.edges;\nif (!Array.isArray(edges)) {\n  pushFailure(NODE_NAME, 'unexpected_payload_shape', ruleId, ctx.createdItemIds);\n  ctx.terminal = { done: true, status: 'failed', reason: 'unexpected_payload_shape' };\n  return [{ json: ctx }];\n}\n\nconst invoiceInputBase = toObj(ctx.invoiceInputBase);\nif (!invoiceInputBase) {\n  pushFailure(NODE_NAME, 'missing_invoice_input_context', ruleId, ctx.createdItemIds);\n  ctx.terminal = { done: true, status: 'failed', reason: 'missing_invoice_input_context' };\n  return [{ json: ctx }];\n}\n\nconst pickField = (fields, id) => {\n  for (const f of (fields || [])) if (f?.field?.id === id) return f;\n  return null;\n};\nconst pickValue = (f) => {\n  if (!f) return null;\n  const rv = f.report_value;\n  return (rv !== undefined && rv !== null && String(rv).trim() !== '') ? rv : f.value;\n};\nconst toId = (v) => {\n  if (v == null) return null;\n  const s = String(v);\n  const m = s.match(/[0-9]+/);\n  return m ? m[0] : s.trim();\n};\n\nlet existingInvoiceId = null;\nfor (const e of edges) {\n  const node = e?.node;\n  if (!node) continue;\n  const rid = toId(pickValue(pickField(node.fields, ctx.config.ruleLinkFieldId)));\n  const comp = String(pickValue(pickField(node.fields, ctx.config.competenciaFieldId)) || '').slice(0, 10);\n  if (rid === String(ctx.rule.ruleId || '') && comp === String(ctx.run.competenciaYMD || '')) {\n    existingInvoiceId = String(node.id);\n    break;\n  }\n}\n\nif (existingInvoiceId) {\n  ctx.existingInvoiceId = existingInvoiceId;\n  ctx.invoiceId = existingInvoiceId;\n  if (ctx.failures.length > 0) {\n    const firstFailure = ctx.failures[0];\n    ctx.terminal = { done: true, status: 'failed', reason: String(firstFailure?.reason || 'existing_invoice_found') };\n  } else {\n    ctx.terminal = { done: true, status: 'skipped', reason: 'existing_invoice_found' };\n  }\n  return [{ json: ctx }];\n}\n\nconst baseFields = Array.isArray(invoiceInputBase.fields_attributes)\n  ? invoiceInputBase.fields_attributes.filter((x) => x && x.field_id !== 'itens_da_fatura')\n  : [];\nbaseFields.push({ field_id: 'itens_da_fatura', field_value: Array.isArray(ctx.createdItemIds) ? ctx.createdItemIds : [] });\nctx.invoiceInput = {\n  ...invoiceInputBase,\n  fields_attributes: baseFields,\n};\nctx.shouldCreateInvoice = true;\n\nreturn [{ json: ctx }];"
      },
      "position": [
        3584,
        328
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "ef098656-9327-474d-96ff-6af1777a7ae6",
      "name": "06.1 | Criar fatura?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.shouldCreateInvoice === true && $json.terminal?.done !== true }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        3808,
        328
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "24d354f4-d065-4c55-b935-d51965c06ff5",
      "maxTries": 5,
      "name": "06.2 | FIN-03 Criar fatura",
      "onError": "continueErrorOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation CreateInvoice($input: CreateCardInput!) { createCard(input: $input) { card { id title url } } }",
        "variables": "={{ { input: $json.invoiceInput } }}"
      },
      "position": [
        4032,
        616
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "58f9d16a-b586-4f2e-9319-665ccf949d72",
      "name": "06.3 | Merge criação fatura",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        4256,
        400
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "09579ab6-d5e2-4cf9-8080-c08a1ab5fcf7",
      "name": "06.4 | Parse criação fatura",
      "parameters": {
        "jsCode": "const input = ($json && typeof $json === 'object' && !Array.isArray($json)) ? $json : {};\nconst nowIso = new Date().toISOString();\nconst NODE_NAME = '06.4 | Parse criação fatura';\nconst SOURCE_NODE = '06.2 | FIN-03 Criar fatura';\nconst toObj = (v) => (v && typeof v === 'object' && !Array.isArray(v)) ? v : null;\nconst collectIds = (...values) => {\n  const out = [];\n  const visit = (value) => {\n    if (value === undefined || value === null) return;\n    if (Array.isArray(value)) {\n      for (const item of value) visit(item);\n      return;\n    }\n    const s = String(value).trim();\n    if (s) out.push(s);\n  };\n  for (const value of values) visit(value);\n  return Array.from(new Set(out));\n};\nconst failureEntry = (node, reason, ...ids) => ({\n  node,\n  reason: String(reason || 'unexpected_payload_shape'),\n  pipefyCardIds: collectIds(...ids),\n});\n\nconst defaultConfig = {\n  invoicePipeId: 306859731,\n  invoicePhaseId: 341350484,\n  itemPipeId: 306859915,\n  itemPhaseId: 341351580,\n  activeItemPhaseId: '341306826',\n  ruleLinkFieldId: 'id_da_regra_de_faturamento',\n  competenciaFieldId: 'data_de_compet_ncia',\n};\n\nconst defaultMetricsDelta = {\n  itemBatchQueries: 0,\n  itemsFetched: 0,\n  createInvoices: 0,\n  createItems: 0,\n  updateItemInvoiceLinks: 0,\n  updateParcelasPagas: 0,\n};\n\nlet baseCtx = toObj(input.ctx) || toObj(input);\nconst baseCtxLooksValid = baseCtx && toObj(baseCtx.config) && toObj(baseCtx.rule) && toObj(baseCtx.run);\n\nif (!baseCtxLooksValid) {\n  const trace = toObj(input.trace) || {\n    parentExecutionId: null,\n    workflowExecutionId: String($execution.id ?? 'manual'),\n    ruleExecutionKey: null,\n  };\n  const rule = toObj(input.rule) || {\n    ruleId: null,\n    ruleTitle: null,\n    prefetchDecision: null,\n    ruleFields: {},\n    itemTemplateIds: [],\n  };\n  const run = toObj(input.run) || {\n    executionId: String(trace.parentExecutionId ?? $execution.id ?? 'manual'),\n    competenciaYMD: null,\n    compStart: null,\n    compEnd: null,\n    todayDay: null,\n  };\n\n  return [{ json: {\n    contractVersion: 'fin_v3',\n    trace,\n    run,\n    rule,\n    config: defaultConfig,\n    metricsDelta: { ...defaultMetricsDelta },\n    failures: [failureEntry(NODE_NAME, 'unexpected_payload_shape', rule.ruleId ?? null)],\n    createItemRequests: [],\n    createdItemIds: [],\n    parcelaUpdates: [],\n    linkUpdates: [],\n    eligibleItems: [],\n    invoiceInputBase: null,\n    invoiceId: null,\n    existingInvoiceId: null,\n    totals: { brl: 0, usd: 0 },\n    hasParcelaErrors: false,\n    terminal: { done: true, status: 'failed', reason: 'unexpected_payload_shape' },\n    startedAt: nowIso,\n  }}];\n}\n\nconst ctx = JSON.parse(JSON.stringify(baseCtx));\nctx.failures = Array.isArray(ctx.failures) ? ctx.failures : [];\n\nif (ctx.terminal?.done === true) {\n  return [{ json: ctx }];\n}\n\nconst ruleId = ctx.rule?.ruleId ?? null;\nconst pushFailure = (node, reason, ...ids) => ctx.failures.push(failureEntry(node, reason, ...ids));\n\nif (input.error) {\n  pushFailure(SOURCE_NODE, 'create_invoice_transport_error', ruleId, ctx.createdItemIds);\n  ctx.terminal = { done: true, status: 'failed', reason: 'create_invoice_transport_error' };\n  return [{ json: ctx }];\n}\n\nconst gqlErrors = Array.isArray(input.errors) ? input.errors : [];\nconst create = input.data?.createCard;\nconst userErrors = Array.isArray(create?.userErrors) ? create.userErrors : (Array.isArray(create?.user_errors) ? create.user_errors : []);\nconst invoiceId = create?.card?.id != null ? String(create.card.id) : null;\n\nif (gqlErrors.length > 0 || userErrors.length > 0 || !invoiceId) {\n  pushFailure(SOURCE_NODE, 'create_invoice_logical_error', ruleId, ctx.createdItemIds);\n  ctx.terminal = { done: true, status: 'failed', reason: 'create_invoice_logical_error' };\n  return [{ json: ctx }];\n}\n\nctx.invoiceId = invoiceId;\nctx.metricsDelta.createInvoices = 1;\nctx.linkUpdates = (Array.isArray(ctx.createdItemIds) ? ctx.createdItemIds : []).map((itemId) => ({ itemId: String(itemId), invoiceId }));\n\nreturn [{ json: ctx }];"
      },
      "position": [
        4480,
        400
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "19621b0d-5d64-45f5-89a5-fecec4871d09",
      "name": "07.1 | Precisa vincular invoice?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.terminal?.done !== true && Array.isArray($json.linkUpdates) && $json.linkUpdates.length > 0 }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        4704,
        400
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "80942794-4c40-49f1-94b4-45c0d9d04745",
      "maxTries": 5,
      "name": "07.4 | FIN-04 Vincular id_da_fatura",
      "onError": "continueErrorOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation LinkInvoiceOnItem($itemId: ID!, $value: [UndefinedInput!]!) { updateFieldsValues(input: { nodeId: $itemId, values: [{ fieldId: \"id_da_fatura\", value: $value }] }) { success } }",
        "variables": "={{ { itemId: String($json.linkReq.itemId), value: [String($json.linkReq.invoiceId)] } }}"
      },
      "position": [
        5376,
        424
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "e2b2b464-d49a-4b91-8d73-50d256d2d5b1",
      "name": "07.5 | Merge vínculo fatura",
      "parameters": {
        "combineBy": "combineByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        5600,
        280
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2
    },
    {
      "id": "e990932a-10f2-47c3-99ab-a422fed33c26",
      "name": "07.6 | Consolidar vínculos",
      "parameters": {
        "jsCode": "const inItems = $input.all().map((i) => (i && i.json && typeof i.json === 'object' && !Array.isArray(i.json)) ? i.json : {});\nif (inItems.length === 0) {\n  throw new Error('No items to consolidate links stage');\n}\n\nconst baseCtx = (inItems[0].ctx && typeof inItems[0].ctx === 'object' && !Array.isArray(inItems[0].ctx)) ? inItems[0].ctx : null;\nif (!baseCtx) {\n  throw new Error('Missing ctx on consolidate links stage');\n}\n\nconst ctx = JSON.parse(JSON.stringify(baseCtx));\nctx.failures = Array.isArray(ctx.failures) ? ctx.failures : [];\nconst SOURCE_NODE = '07.4 | FIN-04 Vincular id_da_fatura';\nconst collectIds = (...values) => {\n  const out = [];\n  const visit = (value) => {\n    if (value === undefined || value === null) return;\n    if (Array.isArray(value)) {\n      for (const item of value) visit(item);\n      return;\n    }\n    const s = String(value).trim();\n    if (s) out.push(s);\n  };\n  for (const value of values) visit(value);\n  return Array.from(new Set(out));\n};\nconst pushFailure = (...ids) => {\n  ctx.failures.push({\n    node: SOURCE_NODE,\n    reason: 'link_invoice_error',\n    pipefyCardIds: collectIds(...ids),\n  });\n};\n\nlet hasLinkError = false;\nlet successCount = 0;\n\nfor (const it of inItems) {\n  const req = (it.linkReq && typeof it.linkReq === 'object' && !Array.isArray(it.linkReq)) ? it.linkReq : {};\n  if (it.error) {\n    hasLinkError = true;\n    pushFailure(ctx.rule?.ruleId ?? null, req.itemId ?? null, req.invoiceId ?? ctx.invoiceId ?? null);\n    continue;\n  }\n\n  const gqlErrors = Array.isArray(it.errors) ? it.errors : [];\n  const upd = it.data?.updateFieldsValues;\n  const userErrors = Array.isArray(upd?.userErrors) ? upd.userErrors : [];\n  const success = upd?.success === true && gqlErrors.length === 0 && userErrors.length === 0;\n\n  if (success) {\n    successCount += 1;\n  } else {\n    hasLinkError = true;\n    pushFailure(ctx.rule?.ruleId ?? null, req.itemId ?? null, req.invoiceId ?? ctx.invoiceId ?? null);\n  }\n}\n\nctx.metricsDelta.updateItemInvoiceLinks = successCount;\nif (hasLinkError) {\n  ctx.terminal = { done: true, status: 'failed', reason: 'link_invoice_error' };\n} else if (!ctx.terminal?.done) {\n  if (ctx.hasParcelaErrors || ctx.failures.length > 0) {\n    const firstFailure = ctx.failures[0];\n    ctx.terminal = { done: true, status: 'failed', reason: String(firstFailure?.reason || 'link_invoice_error') };\n  } else {\n    ctx.terminal = { done: true, status: 'processed', reason: 'invoice_created_and_items_linked' };\n  }\n}\n\nreturn [{ json: ctx }];"
      },
      "position": [
        5824,
        280
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "a9adf0c1-a4b7-4ff9-b858-8a59f46e40c3",
      "name": "08.1 | Finalizar rule_result",
      "parameters": {
        "jsCode": "const ctx = ($json && typeof $json === 'object' && !Array.isArray($json)) ? $json : {};\nconst finishedAt = new Date().toISOString();\nconst terminal = (ctx.terminal && ctx.terminal.done === true)\n  ? ctx.terminal\n  : { done: true, status: 'failed', reason: 'unexpected_payload_shape' };\n\nconst startedMs = Date.parse(ctx.startedAt || '');\nconst finishedMs = Date.parse(finishedAt);\nconst durationMs = (Number.isFinite(startedMs) && Number.isFinite(finishedMs)) ? Math.max(0, finishedMs - startedMs) : null;\n\nconst out = {\n  contractVersion: 'fin_v3',\n  itemType: 'rule_result',\n  trace: (ctx.trace && typeof ctx.trace === 'object' && !Array.isArray(ctx.trace)) ? ctx.trace : { parentExecutionId: null, workflowExecutionId: String($execution.id ?? 'manual'), ruleExecutionKey: null },\n  rule: {\n    ruleId: ctx.rule?.ruleId ?? null,\n    ruleTitle: ctx.rule?.ruleTitle ?? null,\n    prefetchDecision: ctx.rule?.prefetchDecision ?? null,\n  },\n  result: {\n    status: String(terminal.status || 'failed'),\n    reason: String(terminal.reason || 'unexpected_payload_shape'),\n    invoiceId: ctx.invoiceId || null,\n    existingInvoiceId: ctx.existingInvoiceId || null,\n    createdItemIds: Array.isArray(ctx.createdItemIds) ? ctx.createdItemIds : [],\n    totals: (ctx.totals && typeof ctx.totals === 'object' && !Array.isArray(ctx.totals)) ? ctx.totals : { brl: 0, usd: 0 },\n    metricsDelta: (ctx.metricsDelta && typeof ctx.metricsDelta === 'object' && !Array.isArray(ctx.metricsDelta)) ? ctx.metricsDelta : {},\n    timings: {\n      startedAt: ctx.startedAt || null,\n      finishedAt,\n      durationMs,\n    },\n    failures: Array.isArray(ctx.failures) ? ctx.failures : [],\n  },\n  status: String(terminal.status || 'failed'),\n  reason: String(terminal.reason || 'unexpected_payload_shape'),\n};\n\nreturn [{ json: out }];"
      },
      "position": [
        6048,
        328
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "147da759-c701-4e8d-b466-678d2bcc8c29",
      "name": "Nota Fase 01",
      "parameters": {
        "content": "## Fase 01 — Entrada\nEntrada: `rule_input`\nSaída: `ctx` inicial ou terminal antecipado.",
        "height": 140,
        "width": 360
      },
      "position": [
        -1392,
        -48
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "0ba492bd-fdc7-46e8-b906-90f7aea2a7ff",
      "name": "Nota Fase 02",
      "parameters": {
        "content": "## Fase 02 — Templates\nEntrada: templates da regra\nSaída: elegibilidade + requests de item + base da fatura.",
        "width": 540
      },
      "position": [
        -736,
        -144
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "c44ef242-b472-44e3-8d0a-ec01dddded4e",
      "name": "Nota Fase 03",
      "parameters": {
        "content": "## Fase 03 — Criação de Itens\nEntrada: `createItemRequests`\nSaída: `createdItemIds` + `parcelaUpdates`.",
        "height": 150,
        "width": 500
      },
      "position": [
        560,
        -80
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "b2ad9873-ee88-42e8-904c-89272262255c",
      "name": "Nota Fase 04",
      "parameters": {
        "content": "## Fase 04 — Parcelas\nEntrada: `parcelaUpdates`\nSaída: atualização de parcelas antes do recheck.",
        "height": 150,
        "width": 500
      },
      "position": [
        1632,
        -48
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "d79afce2-5c64-43e6-8a46-e303d388e765",
      "name": "Nota Fase 05",
      "parameters": {
        "content": "## Fase 05 — Recheck / Anti-loop\nEntrada: itens criados + competência\nSaída: encerra com fatura existente ou prepara criação.",
        "height": 150,
        "width": 520
      },
      "position": [
        2880,
        864
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "e9521992-28f1-4092-a05a-0cf32392c4b2",
      "name": "Nota Fase 06",
      "parameters": {
        "content": "## Fase 06 — Criação de Fatura\nEntrada: `invoiceInput`\nSaída: `invoiceId` e lista para vínculo.",
        "height": 150,
        "width": 500
      },
      "position": [
        3792,
        864
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "0a49c566-6be2-457a-b62b-6a1e6de4b640",
      "name": "Nota Fase 07",
      "parameters": {
        "content": "## Fase 07 — Vínculo\nEntrada: `linkUpdates`\nSaída: itens vinculados via `id_da_fatura`.",
        "height": 150,
        "width": 520
      },
      "position": [
        4624,
        -64
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "91648ee1-57f0-4dff-b3e3-1a8bceb59f4d",
      "name": "Nota Fase 08",
      "parameters": {
        "content": "## Fase 08 — Finalização\nSaída final: `rule_result` com status/reason/métricas/logs/erros.",
        "height": 140,
        "width": 360
      },
      "position": [
        5920,
        -64
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "0c999180-8386-4615-b55d-36381f509d79",
      "name": "02.1 | Set pares template IDs",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "516e08e1-3390-4f2a-a45d-1289ff89464a",
              "name": "emitTemplatePairs",
              "type": "json",
              "value": "={{ (Array.isArray($json.rule?.itemTemplateIds) ? $json.rule.itemTemplateIds : []).map((templateItemId) => ({ ctx: $json, templateItemId: String(templateItemId) })) }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -672,
        160
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "8ea3f293-55ca-450d-ae98-d1165a7e4722",
      "name": "02.2 | Split Out template IDs",
      "parameters": {
        "fieldToSplitOut": "emitTemplatePairs",
        "options": {}
      },
      "position": [
        -448,
        160
      ],
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1
    },
    {
      "id": "4c2cb97e-3b56-439a-93d7-41885aaf4c60",
      "name": "03.1 | Set pares create requests",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f22af6ae-8ce3-404a-acde-a55c96503fd3",
              "name": "emitCreatePairs",
              "type": "json",
              "value": "={{ (Array.isArray($json.createItemRequests) ? $json.createItemRequests : []).map((createReq) => ({ ctx: $json, createReq })) }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        672,
        352
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "29889a17-407d-45e0-8df0-d2ed2e5d78ce",
      "name": "03.2 | Split Out create requests",
      "parameters": {
        "fieldToSplitOut": "emitCreatePairs",
        "options": {}
      },
      "position": [
        896,
        352
      ],
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1
    },
    {
      "id": "0be247cf-b3e8-4790-b6fb-790255baa13e",
      "name": "04.2 | Set pares parcela updates",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "edc12f71-9d17-4dd5-ab19-c22db5fc433c",
              "name": "emitParcelaPairs",
              "type": "json",
              "value": "={{ (Array.isArray($json.parcelaUpdates) ? $json.parcelaUpdates : []).map((updateReq) => ({ ctx: $json, updateReq })) }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        2016,
        352
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "37a84b5f-d423-4960-8421-90aa05b0e37d",
      "name": "04.3 | Split Out parcela updates",
      "parameters": {
        "fieldToSplitOut": "emitParcelaPairs",
        "options": {}
      },
      "position": [
        2240,
        352
      ],
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1
    },
    {
      "id": "18338948-2d5f-44d4-8acc-6f5c17530cff",
      "name": "07.2 | Set pares link updates",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "989f1ba1-07e1-41ae-af52-3f6c40f1519f",
              "name": "emitLinkPairs",
              "type": "json",
              "value": "={{ (Array.isArray($json.linkUpdates) ? $json.linkUpdates : []).map((linkReq) => ({ ctx: $json, linkReq })) }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        4928,
        280
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "3b416e45-a537-413f-afa0-c1010c4f1c18",
      "name": "07.3 | Split Out link updates",
      "parameters": {
        "fieldToSplitOut": "emitLinkPairs",
        "options": {}
      },
      "position": [
        5152,
        280
      ],
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "mry7wCpuNRODMB5e",
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-02-27T19:58:24.826Z",
      "project": {
        "createdAt": "2025-10-27T18:38:08.229Z",
        "description": null,
        "icon": null,
        "id": "MxRYCPypQDED18DI",
        "name": "João Tarrega <jtarrega@evnt.com.br>",
        "projectRelations": [
          {
            "createdAt": "2025-10-27T18:38:08.229Z",
            "projectId": "MxRYCPypQDED18DI",
            "updatedAt": "2025-10-27T18:38:08.229Z",
            "user": {
              "createdAt": "2025-10-27T18:38:08.229Z",
              "disabled": false,
              "email": "jtarrega@evnt.com.br",
              "firstName": "João",
              "id": "5d6fdffe-4782-42b7-934d-8573fbfd859e",
              "isPending": false,
              "lastActiveAt": "2026-03-09",
              "lastName": "Tarrega",
              "mfaEnabled": true,
              "personalizationAnswers": {
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companyType": "other",
                "personalization_survey_n8n_version": "1.116.2",
                "personalization_survey_submitted_at": "2025-10-27T18:41:49.819Z",
                "version": "v4"
              },
              "settings": {
                "firstSuccessfulWorkflowId": "DimCvyUk7mhpRK7O",
                "npsSurvey": {
                  "lastShownAt": 1762550473483,
                  "responded": true
                },
                "userActivated": true,
                "userActivatedAt": 1762272334672
              },
              "updatedAt": "2026-03-09T11:15:52.534Z"
            },
            "userId": "5d6fdffe-4782-42b7-934d-8573fbfd859e"
          }
        ],
        "type": "personal",
        "updatedAt": "2025-10-27T18:41:32.999Z"
      },
      "projectId": "MxRYCPypQDED18DI",
      "role": "workflow:owner",
      "updatedAt": "2026-02-27T19:58:24.826Z",
      "workflowId": "0nUKP2OUpRLgMSxq"
    }
  ],
  "staticData": {
    "global": {
      "procRuns": {
        "7136:1300499186:1772640101867:741568919": {
          "createdAt": "2026-03-04T16:01:41.866Z",
          "ruleTmp": {
            "baseErrors": [],
            "baseLogs": [
              {
                "compEnd": "2026-02-28",
                "compStart": "2026-02-01",
                "competenciaYMD": "2026-02-01",
                "event": "run_init",
                "executionId": "7134",
                "level": "info",
                "todayDay": 4,
                "ts": "2026-03-04T16:01:40.605Z"
              },
              {
                "callerExecutionId": "7134",
                "competenciaYMD": "2026-02-01",
                "event": "prep_init",
                "level": "info",
                "source": "caller",
                "ts": "2026-03-04T16:01:40.663Z"
              },
              {
                "competenciaYMD": "2026-02-01",
                "count": 0,
                "endCursor": null,
                "event": "prefetch_invoices",
                "hasNextPage": false,
                "level": "info",
                "missingRuleLinks": 0,
                "stopReason": "empty_page",
                "ts": "2026-03-04T16:01:41.369Z",
                "uniqueRules": 0
              },
              {
                "accumulatedRules": 2,
                "edgesCount": 2,
                "endCursor": "WzEzMDE2NDUzMTBd",
                "event": "rules_page_fetched",
                "hasNextPage": false,
                "level": "info",
                "page": 1,
                "stopReason": null,
                "ts": "2026-03-04T16:01:41.671Z"
              },
              {
                "counters": {
                  "emptyItemTemplates": 0,
                  "invalidRuleId": 0,
                  "skippedDay": 0,
                  "skippedExisting": 0
                },
                "eligible": 2,
                "event": "rules_classified",
                "ineligible": 0,
                "ineligibleByReason": {},
                "level": "info",
                "totalRules": 2,
                "ts": "2026-03-04T16:01:41.700Z"
              },
              {
                "contractVersion": "fin_v2",
                "eligible": 2,
                "errorCount": 0,
                "event": "prep_completed",
                "ineligible": 0,
                "ineligibleByReason": {},
                "level": "info",
                "logCount": 5,
                "rulesTotal": 2,
                "ts": "2026-03-04T16:01:41.712Z"
              }
            ],
            "baseMetrics": {
              "createInvoices": 0,
              "createItems": 0,
              "invoicesPrefetchCalls": 1,
              "invoicesPrefetchCount": 0,
              "itemBatchQueries": 0,
              "itemsFetched": 0,
              "rulesEligible": 2,
              "rulesIneligible": 0,
              "rulesPages": 1,
              "rulesSkippedDay": 0,
              "rulesSkippedExisting": 0,
              "rulesTotal": 2,
              "unexpectedStateErrors": 0,
              "updateInvoiceConnectors": 0,
              "updateParcelasPagas": 0
            },
            "compEnd": "2026-02-28",
            "compStart": "2026-02-01",
            "competenciaYMD": "2026-02-01",
            "config": {
              "activeItemPhaseId": "341306826",
              "competenciaFieldId": "data_de_compet_ncia",
              "invoicePhaseId": 341350484,
              "invoicePipeId": 306859731,
              "itemPhaseId": 341351580,
              "itemPipeId": 306859915,
              "ruleLinkFieldId": "id_da_regra_de_faturamento"
            },
            "createContext": {
              "competenciaYMD": "2026-02-01",
              "invoiceInput": {
                "fields_attributes": [
                  {
                    "field_id": "clientes_na_fatura",
                    "field_value": [
                      "1259910277"
                    ]
                  },
                  {
                    "field_id": "contatos_que_receber_o_a_fatura",
                    "field_value": [
                      "1259912347"
                    ]
                  },
                  {
                    "field_id": "forma_de_pagamento",
                    "field_value": [
                      "PIX"
                    ]
                  },
                  {
                    "field_id": "identificador_fiscal_na_fatura",
                    "field_value": "85.939.685/0001-99"
                  },
                  {
                    "field_id": "tipo_de_cliente_final",
                    "field_value": "Afiliados e independentes"
                  },
                  {
                    "field_id": "moeda_do_teto_de_faturamento",
                    "field_value": [
                      "BRL"
                    ]
                  },
                  {
                    "field_id": "teto_de_faturamento_brl",
                    "field_value": 5000
                  },
                  {
                    "field_id": "id_da_regra_de_faturamento",
                    "field_value": "1300499186"
                  },
                  {
                    "field_id": "data_de_compet_ncia",
                    "field_value": "2026-02-01"
                  },
                  {
                    "field_id": "valor_total_da_fatura_brl",
                    "field_value": 900
                  },
                  {
                    "field_id": "valor_total_da_fatura_usd",
                    "field_value": 0
                  }
                ],
                "phase_id": 341350484,
                "pipe_id": 306859731,
                "title": "Fatura 2026-02 - Regra 1300499186"
              },
              "procKey": "7136",
              "recheckLookup": {
                "competenciaFieldId": "data_de_compet_ncia",
                "competenciaYMD": "2026-02-01",
                "pipeId": 306859731,
                "ruleId": "1300499186",
                "ruleLinkFieldId": "id_da_regra_de_faturamento"
              },
              "ruleId": "1300499186"
            },
            "createdItemIds": [],
            "diaGeracao": "4",
            "eligibleItems": [
              {
                "currency": "BRL - R$",
                "fields": [
                  {
                    "array_value": null,
                    "field": {
                      "id": "id_da_regra",
                      "label": "ID da regra",
                      "type": "short_text"
                    },
                    "report_value": "",
                    "value": ""
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "status",
                      "label": "Status",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Ativo",
                    "value": "Ativo"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "tipo_de_item",
                      "label": "Tipo de item",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Ajustes de fatura",
                    "value": "Ajustes de fatura"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "moeda_da_fatura",
                      "label": "Moeda",
                      "type": "radio_horizontal"
                    },
                    "report_value": "BRL - R$",
                    "value": "BRL - R$"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "periodicidade",
                      "label": "Periodicidade",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Mensal",
                    "value": "Mensal"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "valor_total_do_item_com_descontos_brl",
                      "label": "Valor total do item com descontos (BRL)",
                      "type": "currency"
                    },
                    "report_value": "900.00",
                    "value": "900.00"
                  }
                ],
                "parcelado": null,
                "periodicidade": "Mensal",
                "templateItemId": "1300499159",
                "title": "Ajustes de fatura",
                "totalBrl": 900,
                "totalUsd": 0
              }
            ],
            "errorStartIndex": 0,
            "existingInvoiceId": null,
            "finalStatus": "failed",
            "hasCriticalItemErrors": false,
            "hasInvoiceError": true,
            "hasItemErrors": false,
            "inputTrace": {
              "parentExecutionId": "7134",
              "procKey": "7136:1300499186:1772640101867:741568919",
              "workflowExecutionId": "7136"
            },
            "invoiceCreationCounted": false,
            "invoiceId": null,
            "invoiceInput": {
              "fields_attributes": [
                {
                  "field_id": "clientes_na_fatura",
                  "field_value": [
                    "1259910277"
                  ]
                },
                {
                  "field_id": "contatos_que_receber_o_a_fatura",
                  "field_value": [
                    "1259912347"
                  ]
                },
                {
                  "field_id": "forma_de_pagamento",
                  "field_value": [
                    "PIX"
                  ]
                },
                {
                  "field_id": "identificador_fiscal_na_fatura",
                  "field_value": "85.939.685/0001-99"
                },
                {
                  "field_id": "tipo_de_cliente_final",
                  "field_value": "Afiliados e independentes"
                },
                {
                  "field_id": "moeda_do_teto_de_faturamento",
                  "field_value": [
                    "BRL"
                  ]
                },
                {
                  "field_id": "teto_de_faturamento_brl",
                  "field_value": 5000
                },
                {
                  "field_id": "id_da_regra_de_faturamento",
                  "field_value": "1300499186"
                },
                {
                  "field_id": "data_de_compet_ncia",
                  "field_value": "2026-02-01"
                },
                {
                  "field_id": "valor_total_da_fatura_brl",
                  "field_value": 900
                },
                {
                  "field_id": "valor_total_da_fatura_usd",
                  "field_value": 0
                }
              ],
              "phase_id": 341350484,
              "pipe_id": 306859731,
              "title": "Fatura 2026-02 - Regra 1300499186"
            },
            "isPrepSummary": false,
            "itemTemplateIds": [
              "1300499159"
            ],
            "items": [
              {
                "current_phase": {
                  "id": "341306826",
                  "name": "Ativo"
                },
                "fields": [
                  {
                    "array_value": null,
                    "field": {
                      "id": "id_da_regra",
                      "label": "ID da regra",
                      "type": "short_text"
                    },
                    "report_value": "",
                    "value": ""
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "status",
                      "label": "Status",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Ativo",
                    "value": "Ativo"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "tipo_de_item",
                      "label": "Tipo de item",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Ajustes de fatura",
                    "value": "Ajustes de fatura"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "moeda_da_fatura",
                      "label": "Moeda",
                      "type": "radio_horizontal"
                    },
                    "report_value": "BRL - R$",
                    "value": "BRL - R$"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "periodicidade",
                      "label": "Periodicidade",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Mensal",
                    "value": "Mensal"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "valor_total_do_item_com_descontos_brl",
                      "label": "Valor total do item com descontos (BRL)",
                      "type": "currency"
                    },
                    "report_value": "900.00",
                    "value": "900.00"
                  }
                ],
                "id": "1300499159",
                "title": "Ajustes de fatura"
              }
            ],
            "kind": "rule_result",
            "logStartIndex": 6,
            "prefetchDecision": "new_rule_candidate",
            "prepContext": {
              "eligibleCount": 2,
              "errorCount": 0,
              "ineligibleByReason": {},
              "ineligibleCount": 0,
              "logCount": 6,
              "rulesTotal": 2
            },
            "procKey": "7136:1300499186:1772640101867:741568919",
            "ruleFields": {
              "auto_historico_de_clientes": {
                "array_value": null,
                "field": {
                  "id": "auto_historico_de_clientes",
                  "label": "[Auto] Historico de clientes",
                  "type": "long_text"
                },
                "report_value": "1259910277",
                "value": "1259910277"
              },
              "clientes_na_fatura": {
                "array_value": [
                  "1259910277"
                ],
                "field": {
                  "id": "clientes_na_fatura",
                  "label": "Clientes na fatura",
                  "type": "connector"
                },
                "report_value": "teste",
                "value": "[\"teste\"]"
              },
              "contatos_que_receber_o_a_fatura": {
                "array_value": [
                  "1259912347"
                ],
                "field": {
                  "id": "contatos_que_receber_o_a_fatura",
                  "label": "Contato",
                  "type": "connector"
                },
                "report_value": "teste",
                "value": "[\"teste\"]"
              },
              "dia_de_gera_o_da_fatura": {
                "array_value": null,
                "field": {
                  "id": "dia_de_gera_o_da_fatura",
                  "label": "Dia de geração da fatura",
                  "type": "radio_horizontal"
                },
                "report_value": "4",
                "value": "4"
              },
              "forma_de_pagamento": {
                "array_value": [
                  "PIX"
                ],
                "field": {
                  "id": "forma_de_pagamento",
                  "label": "Condições de pagamento",
                  "type": "checklist_horizontal"
                },
                "report_value": "PIX",
                "value": "[\"PIX\"]"
              },
              "identificador_fiscal_na_fatura": {
                "array_value": null,
                "field": {
                  "id": "identificador_fiscal_na_fatura",
                  "label": "Identificador fiscal na fatura",
                  "type": "short_text"
                },
                "report_value": "85.939.685/0001-99",
                "value": "85.939.685/0001-99"
              },
              "itens_da_fatura": {
                "array_value": [
                  "1300499159"
                ],
                "field": {
                  "id": "itens_da_fatura",
                  "label": "Itens da fatura",
                  "type": "connector"
                },
                "report_value": "Ajustes de fatura",
                "value": "[\"Ajustes de fatura\"]"
              },
              "moeda_do_teto_de_faturamento": {
                "array_value": [
                  "BRL"
                ],
                "field": {
                  "id": "moeda_do_teto_de_faturamento",
                  "label": "Moeda do teto de faturamento",
                  "type": "checklist_horizontal"
                },
                "report_value": "BRL",
                "value": "[\"BRL\"]"
              },
              "teto_de_faturamento_brl": {
                "array_value": null,
                "field": {
                  "id": "teto_de_faturamento_brl",
                  "label": "Teto de faturamento (BRL)",
                  "type": "currency"
                },
                "report_value": "5,000.00",
                "value": "5,000.00"
              },
              "tipo_de_cliente_final": {
                "array_value": null,
                "field": {
                  "id": "tipo_de_cliente_final",
                  "label": "Tipo de cliente faturado",
                  "type": "radio_horizontal"
                },
                "report_value": "Afiliados e independentes",
                "value": "Afiliados e independentes"
              }
            },
            "ruleId": "1300499186",
            "ruleTitle": "85.939.685/0001-99",
            "skipItemCreation": true,
            "startedAt": "2026-03-04T16:01:41.866Z",
            "statusReason": "create_invoice_logical_error",
            "totals": {
              "brl": 900,
              "usd": 0
            },
            "validationErrors": []
          },
          "run": {
            "compEnd": "2026-02-28",
            "compStart": "2026-02-01",
            "competenciaYMD": "2026-02-01",
            "errors": [
              {
                "details": [
                  {
                    "extensions": {
                      "code": "MULTIPLE_INVALID_INPUT",
                      "correlation_id": "9d7219e0aa76cb90-PDX"
                    },
                    "locations": [
                      {
                        "column": 52,
                        "line": 1
                      }
                    ],
                    "message": "Invalid inputs: Field \"Itens da fatura\" is required! Please fill it and you'll be ready to go!",
                    "path": [
                      "createCard"
                    ]
                  }
                ],
                "reason": "create_invoice_logical_error",
                "ruleId": "1300499186",
                "stage": "create_invoice",
                "trace": {
                  "parentExecutionId": "7134",
                  "procKey": "7136:1300499186:1772640101867:741568919",
                  "workflowExecutionId": "7136"
                },
                "ts": "2026-03-04T16:01:43.442Z"
              }
            ],
            "executionId": "7134",
            "flags": {
              "maxPrefetchPages": 50,
              "maxRulesPages": 50,
              "prefetchPageSize": 200,
              "rulesPageSize": 50
            },
            "lastInvoicesPrefetchCursor": null,
            "lastRulesCursor": "WzEzMDE2NDUzMTBd",
            "logs": [
              {
                "compEnd": "2026-02-28",
                "compStart": "2026-02-01",
                "competenciaYMD": "2026-02-01",
                "event": "run_init",
                "executionId": "7134",
                "level": "info",
                "todayDay": 4,
                "ts": "2026-03-04T16:01:40.605Z"
              },
              {
                "callerExecutionId": "7134",
                "competenciaYMD": "2026-02-01",
                "event": "prep_init",
                "level": "info",
                "source": "caller",
                "ts": "2026-03-04T16:01:40.663Z"
              },
              {
                "competenciaYMD": "2026-02-01",
                "count": 0,
                "endCursor": null,
                "event": "prefetch_invoices",
                "hasNextPage": false,
                "level": "info",
                "missingRuleLinks": 0,
                "stopReason": "empty_page",
                "ts": "2026-03-04T16:01:41.369Z",
                "uniqueRules": 0
              },
              {
                "accumulatedRules": 2,
                "edgesCount": 2,
                "endCursor": "WzEzMDE2NDUzMTBd",
                "event": "rules_page_fetched",
                "hasNextPage": false,
                "level": "info",
                "page": 1,
                "stopReason": null,
                "ts": "2026-03-04T16:01:41.671Z"
              },
              {
                "counters": {
                  "emptyItemTemplates": 0,
                  "invalidRuleId": 0,
                  "skippedDay": 0,
                  "skippedExisting": 0
                },
                "eligible": 2,
                "event": "rules_classified",
                "ineligible": 0,
                "ineligibleByReason": {},
                "level": "info",
                "totalRules": 2,
                "ts": "2026-03-04T16:01:41.700Z"
              },
              {
                "contractVersion": "fin_v2",
                "eligible": 2,
                "errorCount": 0,
                "event": "prep_completed",
                "ineligible": 0,
                "ineligibleByReason": {},
                "level": "info",
                "logCount": 5,
                "rulesTotal": 2,
                "ts": "2026-03-04T16:01:41.712Z"
              },
              {
                "contractVersion": "fin_v2",
                "event": "rule_start",
                "hasValidationErrors": false,
                "itemsPlanned": 1,
                "kind": "rule_result",
                "level": "info",
                "prefetchDecision": "new_rule_candidate",
                "ruleId": "1300499186",
                "ts": "2026-03-04T16:01:41.866Z"
              },
              {
                "chunkSize": 20,
                "chunks": 1,
                "event": "rule_chunkify",
                "level": "info",
                "ruleId": "1300499186",
                "ts": "2026-03-04T16:01:41.882Z"
              },
              {
                "count": 1,
                "event": "rule_items_batch_fetched",
                "level": "info",
                "ruleId": "1300499186",
                "ts": "2026-03-04T16:01:42.131Z"
              },
              {
                "eligible": 1,
                "event": "rule_items_filtered",
                "fetched": 1,
                "level": "info",
                "ruleId": "1300499186",
                "skipCounters": {
                  "ended": 0,
                  "inactivePhase": 0,
                  "invalidItem": 0,
                  "notStarted": 0,
                  "parceladoDone": 0,
                  "parceladoInvalidTotal": 0
                },
                "ts": "2026-03-04T16:01:42.169Z"
              },
              {
                "eligible": 1,
                "event": "rule_ready",
                "level": "info",
                "prefetchDecision": "new_rule_candidate",
                "ruleId": "1300499186",
                "skipCounters": {
                  "ended": 0,
                  "inactivePhase": 0,
                  "invalidItem": 0,
                  "notStarted": 0,
                  "parceladoDone": 0,
                  "parceladoInvalidTotal": 0
                },
                "totalBrl": 900,
                "totalUsd": 0,
                "ts": "2026-03-04T16:01:42.171Z"
              },
              {
                "event": "rule_precheck_no_existing_invoice",
                "level": "info",
                "reason": "not_found",
                "ruleId": "1300499186",
                "trace": {
                  "parentExecutionId": "7134",
                  "procKey": "7136:1300499186:1772640101867:741568919",
                  "workflowExecutionId": "7136"
                },
                "ts": "2026-03-04T16:01:42.454Z"
              },
              {
                "event": "rule_create_invoice_logical_error",
                "gqlErrorsCount": 1,
                "level": "error",
                "reason": "create_invoice_logical_error",
                "ruleId": "1300499186",
                "trace": {
                  "parentExecutionId": "7134",
                  "procKey": "7136:1300499186:1772640101867:741568919",
                  "workflowExecutionId": "7136"
                },
                "ts": "2026-03-04T16:01:43.442Z",
                "userErrors": []
              },
              {
                "created": 0,
                "eligible": 1,
                "event": "rule_end_v2",
                "invoiceId": null,
                "level": "error",
                "reason": "create_invoice_logical_error",
                "ruleId": "1300499186",
                "status": "failed",
                "totals": {
                  "brl": 900,
                  "usd": 0
                },
                "ts": "2026-03-04T16:01:43.454Z"
              }
            ],
            "metrics": {
              "createInvoices": 0,
              "createItems": 0,
              "invoicesPrefetchCalls": 1,
              "invoicesPrefetchCount": 0,
              "itemBatchQueries": 1,
              "itemsFetched": 1,
              "rulesEligible": 2,
              "rulesIneligible": 0,
              "rulesPages": 1,
              "rulesSkippedDay": 0,
              "rulesSkippedExisting": 0,
              "rulesTotal": 2,
              "unexpectedStateErrors": 0,
              "updateInvoiceConnectors": 0,
              "updateParcelasPagas": 0
            },
            "startedAt": "2026-03-04T16:01:40.605Z",
            "timezone": "America/Sao_Paulo",
            "todayDay": 4
          }
        },
        "7137:1301645310:1772640103667:120468301": {
          "createdAt": "2026-03-04T16:01:43.666Z",
          "ruleTmp": {
            "baseErrors": [],
            "baseLogs": [
              {
                "compEnd": "2026-02-28",
                "compStart": "2026-02-01",
                "competenciaYMD": "2026-02-01",
                "event": "run_init",
                "executionId": "7134",
                "level": "info",
                "todayDay": 4,
                "ts": "2026-03-04T16:01:40.605Z"
              },
              {
                "callerExecutionId": "7134",
                "competenciaYMD": "2026-02-01",
                "event": "prep_init",
                "level": "info",
                "source": "caller",
                "ts": "2026-03-04T16:01:40.663Z"
              },
              {
                "competenciaYMD": "2026-02-01",
                "count": 0,
                "endCursor": null,
                "event": "prefetch_invoices",
                "hasNextPage": false,
                "level": "info",
                "missingRuleLinks": 0,
                "stopReason": "empty_page",
                "ts": "2026-03-04T16:01:41.369Z",
                "uniqueRules": 0
              },
              {
                "accumulatedRules": 2,
                "edgesCount": 2,
                "endCursor": "WzEzMDE2NDUzMTBd",
                "event": "rules_page_fetched",
                "hasNextPage": false,
                "level": "info",
                "page": 1,
                "stopReason": null,
                "ts": "2026-03-04T16:01:41.671Z"
              },
              {
                "counters": {
                  "emptyItemTemplates": 0,
                  "invalidRuleId": 0,
                  "skippedDay": 0,
                  "skippedExisting": 0
                },
                "eligible": 2,
                "event": "rules_classified",
                "ineligible": 0,
                "ineligibleByReason": {},
                "level": "info",
                "totalRules": 2,
                "ts": "2026-03-04T16:01:41.700Z"
              },
              {
                "contractVersion": "fin_v2",
                "eligible": 2,
                "errorCount": 0,
                "event": "prep_completed",
                "ineligible": 0,
                "ineligibleByReason": {},
                "level": "info",
                "logCount": 5,
                "rulesTotal": 2,
                "ts": "2026-03-04T16:01:41.712Z"
              }
            ],
            "baseMetrics": {
              "createInvoices": 0,
              "createItems": 0,
              "invoicesPrefetchCalls": 1,
              "invoicesPrefetchCount": 0,
              "itemBatchQueries": 0,
              "itemsFetched": 0,
              "rulesEligible": 2,
              "rulesIneligible": 0,
              "rulesPages": 1,
              "rulesSkippedDay": 0,
              "rulesSkippedExisting": 0,
              "rulesTotal": 2,
              "unexpectedStateErrors": 0,
              "updateInvoiceConnectors": 0,
              "updateParcelasPagas": 0
            },
            "compEnd": "2026-02-28",
            "compStart": "2026-02-01",
            "competenciaYMD": "2026-02-01",
            "config": {
              "activeItemPhaseId": "341306826",
              "competenciaFieldId": "data_de_compet_ncia",
              "invoicePhaseId": 341350484,
              "invoicePipeId": 306859731,
              "itemPhaseId": 341351580,
              "itemPipeId": 306859915,
              "ruleLinkFieldId": "id_da_regra_de_faturamento"
            },
            "createContext": {
              "competenciaYMD": "2026-02-01",
              "invoiceInput": {
                "fields_attributes": [
                  {
                    "field_id": "clientes_na_fatura",
                    "field_value": [
                      "1165155968"
                    ]
                  },
                  {
                    "field_id": "contatos_que_receber_o_a_fatura",
                    "field_value": [
                      "1223592611"
                    ]
                  },
                  {
                    "field_id": "forma_de_pagamento",
                    "field_value": [
                      "PIX"
                    ]
                  },
                  {
                    "field_id": "identificador_fiscal_na_fatura",
                    "field_value": "02.286.568/0001-46"
                  },
                  {
                    "field_id": "tipo_de_cliente_final",
                    "field_value": "Afiliados e independentes"
                  },
                  {
                    "field_id": "moeda_do_teto_de_faturamento",
                    "field_value": [
                      "BRL"
                    ]
                  },
                  {
                    "field_id": "teto_de_faturamento_brl",
                    "field_value": 1400
                  },
                  {
                    "field_id": "id_da_regra_de_faturamento",
                    "field_value": "1301645310"
                  },
                  {
                    "field_id": "data_de_compet_ncia",
                    "field_value": "2026-02-01"
                  },
                  {
                    "field_id": "valor_total_da_fatura_brl",
                    "field_value": 1400
                  },
                  {
                    "field_id": "valor_total_da_fatura_usd",
                    "field_value": 0
                  }
                ],
                "phase_id": 341350484,
                "pipe_id": 306859731,
                "title": "Fatura 2026-02 - Regra 1301645310"
              },
              "procKey": "7137",
              "recheckLookup": {
                "competenciaFieldId": "data_de_compet_ncia",
                "competenciaYMD": "2026-02-01",
                "pipeId": 306859731,
                "ruleId": "1301645310",
                "ruleLinkFieldId": "id_da_regra_de_faturamento"
              },
              "ruleId": "1301645310"
            },
            "createdItemIds": [],
            "diaGeracao": "4",
            "eligibleItems": [
              {
                "currency": "BRL - R$",
                "fields": [
                  {
                    "array_value": null,
                    "field": {
                      "id": "id_da_regra",
                      "label": "ID da regra",
                      "type": "short_text"
                    },
                    "report_value": "",
                    "value": ""
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "status",
                      "label": "Status",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Ativo",
                    "value": "Ativo"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "tipo_de_item",
                      "label": "Tipo de item",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Produto",
                    "value": "Produto"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "moeda_da_fatura",
                      "label": "Moeda",
                      "type": "radio_horizontal"
                    },
                    "report_value": "BRL - R$",
                    "value": "BRL - R$"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "periodicidade",
                      "label": "Periodicidade",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Mensal",
                    "value": "Mensal"
                  },
                  {
                    "array_value": [
                      "1268859019"
                    ],
                    "field": {
                      "id": "produto",
                      "label": "Produto",
                      "type": "connector"
                    },
                    "report_value": "SaaS Spaces",
                    "value": "[\"SaaS Spaces\"]"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "modelo_de_cobran_a",
                      "label": "Modelo de cobrança",
                      "type": "radio_vertical"
                    },
                    "report_value": "Fixo",
                    "value": "Fixo"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "subtotal_do_item_brl",
                      "label": "Subtotal do item (BRL)",
                      "type": "currency"
                    },
                    "report_value": "1,400.00",
                    "value": "1,400.00"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "h_algum_desconto_nesse_item",
                      "label": "Há algum desconto nesse item?",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Não",
                    "value": "Não"
                  }
                ],
                "parcelado": null,
                "periodicidade": "Mensal",
                "templateItemId": "1301644943",
                "title": "Produto",
                "totalBrl": 1400,
                "totalUsd": 0
              }
            ],
            "errorStartIndex": 0,
            "existingInvoiceId": null,
            "finalStatus": "failed",
            "hasCriticalItemErrors": false,
            "hasInvoiceError": true,
            "hasItemErrors": false,
            "inputTrace": {
              "parentExecutionId": "7134",
              "procKey": "7137:1301645310:1772640103667:120468301",
              "workflowExecutionId": "7137"
            },
            "invoiceCreationCounted": false,
            "invoiceId": null,
            "invoiceInput": {
              "fields_attributes": [
                {
                  "field_id": "clientes_na_fatura",
                  "field_value": [
                    "1165155968"
                  ]
                },
                {
                  "field_id": "contatos_que_receber_o_a_fatura",
                  "field_value": [
                    "1223592611"
                  ]
                },
                {
                  "field_id": "forma_de_pagamento",
                  "field_value": [
                    "PIX"
                  ]
                },
                {
                  "field_id": "identificador_fiscal_na_fatura",
                  "field_value": "02.286.568/0001-46"
                },
                {
                  "field_id": "tipo_de_cliente_final",
                  "field_value": "Afiliados e independentes"
                },
                {
                  "field_id": "moeda_do_teto_de_faturamento",
                  "field_value": [
                    "BRL"
                  ]
                },
                {
                  "field_id": "teto_de_faturamento_brl",
                  "field_value": 1400
                },
                {
                  "field_id": "id_da_regra_de_faturamento",
                  "field_value": "1301645310"
                },
                {
                  "field_id": "data_de_compet_ncia",
                  "field_value": "2026-02-01"
                },
                {
                  "field_id": "valor_total_da_fatura_brl",
                  "field_value": 1400
                },
                {
                  "field_id": "valor_total_da_fatura_usd",
                  "field_value": 0
                }
              ],
              "phase_id": 341350484,
              "pipe_id": 306859731,
              "title": "Fatura 2026-02 - Regra 1301645310"
            },
            "isPrepSummary": false,
            "itemTemplateIds": [
              "1301644943"
            ],
            "items": [
              {
                "current_phase": {
                  "id": "341306826",
                  "name": "Ativo"
                },
                "fields": [
                  {
                    "array_value": null,
                    "field": {
                      "id": "id_da_regra",
                      "label": "ID da regra",
                      "type": "short_text"
                    },
                    "report_value": "",
                    "value": ""
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "status",
                      "label": "Status",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Ativo",
                    "value": "Ativo"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "tipo_de_item",
                      "label": "Tipo de item",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Produto",
                    "value": "Produto"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "moeda_da_fatura",
                      "label": "Moeda",
                      "type": "radio_horizontal"
                    },
                    "report_value": "BRL - R$",
                    "value": "BRL - R$"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "periodicidade",
                      "label": "Periodicidade",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Mensal",
                    "value": "Mensal"
                  },
                  {
                    "array_value": [
                      "1268859019"
                    ],
                    "field": {
                      "id": "produto",
                      "label": "Produto",
                      "type": "connector"
                    },
                    "report_value": "SaaS Spaces",
                    "value": "[\"SaaS Spaces\"]"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "modelo_de_cobran_a",
                      "label": "Modelo de cobrança",
                      "type": "radio_vertical"
                    },
                    "report_value": "Fixo",
                    "value": "Fixo"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "subtotal_do_item_brl",
                      "label": "Subtotal do item (BRL)",
                      "type": "currency"
                    },
                    "report_value": "1,400.00",
                    "value": "1,400.00"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "h_algum_desconto_nesse_item",
                      "label": "Há algum desconto nesse item?",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Não",
                    "value": "Não"
                  }
                ],
                "id": "1301644943",
                "title": "Produto"
              }
            ],
            "kind": "rule_result",
            "logStartIndex": 6,
            "prefetchDecision": "new_rule_candidate",
            "prepContext": {
              "eligibleCount": 2,
              "errorCount": 0,
              "ineligibleByReason": {},
              "ineligibleCount": 0,
              "logCount": 6,
              "rulesTotal": 2
            },
            "procKey": "7137:1301645310:1772640103667:120468301",
            "ruleFields": {
              "auto_historico_de_clientes": {
                "array_value": null,
                "field": {
                  "id": "auto_historico_de_clientes",
                  "label": "[Auto] Historico de clientes",
                  "type": "long_text"
                },
                "report_value": "1165155968",
                "value": "1165155968"
              },
              "clientes_na_fatura": {
                "array_value": [
                  "1165155968"
                ],
                "field": {
                  "id": "clientes_na_fatura",
                  "label": "Clientes na fatura",
                  "type": "connector"
                },
                "report_value": "Unique Garden",
                "value": "[\"Unique Garden\"]"
              },
              "contatos_que_receber_o_a_fatura": {
                "array_value": [
                  "1223592611"
                ],
                "field": {
                  "id": "contatos_que_receber_o_a_fatura",
                  "label": "Contato",
                  "type": "connector"
                },
                "report_value": "João Bezerra",
                "value": "[\"João Bezerra\"]"
              },
              "dia_de_gera_o_da_fatura": {
                "array_value": null,
                "field": {
                  "id": "dia_de_gera_o_da_fatura",
                  "label": "Dia de geração da fatura",
                  "type": "radio_horizontal"
                },
                "report_value": "4",
                "value": "4"
              },
              "forma_de_pagamento": {
                "array_value": [
                  "PIX"
                ],
                "field": {
                  "id": "forma_de_pagamento",
                  "label": "Condições de pagamento",
                  "type": "checklist_horizontal"
                },
                "report_value": "PIX",
                "value": "[\"PIX\"]"
              },
              "identificador_fiscal_na_fatura": {
                "array_value": null,
                "field": {
                  "id": "identificador_fiscal_na_fatura",
                  "label": "Identificador fiscal na fatura",
                  "type": "short_text"
                },
                "report_value": "02.286.568/0001-46",
                "value": "02.286.568/0001-46"
              },
              "itens_da_fatura": {
                "array_value": [
                  "1301644943"
                ],
                "field": {
                  "id": "itens_da_fatura",
                  "label": "Itens da fatura",
                  "type": "connector"
                },
                "report_value": "Produto",
                "value": "[\"Produto\"]"
              },
              "moeda_do_teto_de_faturamento": {
                "array_value": [
                  "BRL"
                ],
                "field": {
                  "id": "moeda_do_teto_de_faturamento",
                  "label": "Moeda do teto de faturamento",
                  "type": "checklist_horizontal"
                },
                "report_value": "BRL",
                "value": "[\"BRL\"]"
              },
              "teto_de_faturamento_brl": {
                "array_value": null,
                "field": {
                  "id": "teto_de_faturamento_brl",
                  "label": "Teto de faturamento (BRL)",
                  "type": "currency"
                },
                "report_value": "1,400.00",
                "value": "1,400.00"
              },
              "tipo_de_cliente_final": {
                "array_value": null,
                "field": {
                  "id": "tipo_de_cliente_final",
                  "label": "Tipo de cliente faturado",
                  "type": "radio_horizontal"
                },
                "report_value": "Afiliados e independentes",
                "value": "Afiliados e independentes"
              }
            },
            "ruleId": "1301645310",
            "ruleTitle": "02.286.568/0001-46",
            "skipItemCreation": true,
            "startedAt": "2026-03-04T16:01:43.666Z",
            "statusReason": "create_invoice_logical_error",
            "totals": {
              "brl": 1400,
              "usd": 0
            },
            "validationErrors": []
          },
          "run": {
            "compEnd": "2026-02-28",
            "compStart": "2026-02-01",
            "competenciaYMD": "2026-02-01",
            "errors": [
              {
                "details": [
                  {
                    "extensions": {
                      "code": "MULTIPLE_INVALID_INPUT",
                      "correlation_id": "9d7219eb9df58ce4-PDX"
                    },
                    "locations": [
                      {
                        "column": 52,
                        "line": 1
                      }
                    ],
                    "message": "Invalid inputs: Field \"Itens da fatura\" is required! Please fill it and you'll be ready to go!",
                    "path": [
                      "createCard"
                    ]
                  }
                ],
                "reason": "create_invoice_logical_error",
                "ruleId": "1301645310",
                "stage": "create_invoice",
                "trace": {
                  "parentExecutionId": "7134",
                  "procKey": "7137:1301645310:1772640103667:120468301",
                  "workflowExecutionId": "7137"
                },
                "ts": "2026-03-04T16:01:45.091Z"
              }
            ],
            "executionId": "7134",
            "flags": {
              "maxPrefetchPages": 50,
              "maxRulesPages": 50,
              "prefetchPageSize": 200,
              "rulesPageSize": 50
            },
            "lastInvoicesPrefetchCursor": null,
            "lastRulesCursor": "WzEzMDE2NDUzMTBd",
            "logs": [
              {
                "compEnd": "2026-02-28",
                "compStart": "2026-02-01",
                "competenciaYMD": "2026-02-01",
                "event": "run_init",
                "executionId": "7134",
                "level": "info",
                "todayDay": 4,
                "ts": "2026-03-04T16:01:40.605Z"
              },
              {
                "callerExecutionId": "7134",
                "competenciaYMD": "2026-02-01",
                "event": "prep_init",
                "level": "info",
                "source": "caller",
                "ts": "2026-03-04T16:01:40.663Z"
              },
              {
                "competenciaYMD": "2026-02-01",
                "count": 0,
                "endCursor": null,
                "event": "prefetch_invoices",
                "hasNextPage": false,
                "level": "info",
                "missingRuleLinks": 0,
                "stopReason": "empty_page",
                "ts": "2026-03-04T16:01:41.369Z",
                "uniqueRules": 0
              },
              {
                "accumulatedRules": 2,
                "edgesCount": 2,
                "endCursor": "WzEzMDE2NDUzMTBd",
                "event": "rules_page_fetched",
                "hasNextPage": false,
                "level": "info",
                "page": 1,
                "stopReason": null,
                "ts": "2026-03-04T16:01:41.671Z"
              },
              {
                "counters": {
                  "emptyItemTemplates": 0,
                  "invalidRuleId": 0,
                  "skippedDay": 0,
                  "skippedExisting": 0
                },
                "eligible": 2,
                "event": "rules_classified",
                "ineligible": 0,
                "ineligibleByReason": {},
                "level": "info",
                "totalRules": 2,
                "ts": "2026-03-04T16:01:41.700Z"
              },
              {
                "contractVersion": "fin_v2",
                "eligible": 2,
                "errorCount": 0,
                "event": "prep_completed",
                "ineligible": 0,
                "ineligibleByReason": {},
                "level": "info",
                "logCount": 5,
                "rulesTotal": 2,
                "ts": "2026-03-04T16:01:41.712Z"
              },
              {
                "contractVersion": "fin_v2",
                "event": "rule_start",
                "hasValidationErrors": false,
                "itemsPlanned": 1,
                "kind": "rule_result",
                "level": "info",
                "prefetchDecision": "new_rule_candidate",
                "ruleId": "1301645310",
                "ts": "2026-03-04T16:01:43.666Z"
              },
              {
                "chunkSize": 20,
                "chunks": 1,
                "event": "rule_chunkify",
                "level": "info",
                "ruleId": "1301645310",
                "ts": "2026-03-04T16:01:43.678Z"
              },
              {
                "count": 1,
                "event": "rule_items_batch_fetched",
                "level": "info",
                "ruleId": "1301645310",
                "ts": "2026-03-04T16:01:43.974Z"
              },
              {
                "eligible": 1,
                "event": "rule_items_filtered",
                "fetched": 1,
                "level": "info",
                "ruleId": "1301645310",
                "skipCounters": {
                  "ended": 0,
                  "inactivePhase": 0,
                  "invalidItem": 0,
                  "notStarted": 0,
                  "parceladoDone": 0,
                  "parceladoInvalidTotal": 0
                },
                "ts": "2026-03-04T16:01:43.997Z"
              },
              {
                "eligible": 1,
                "event": "rule_ready",
                "level": "info",
                "prefetchDecision": "new_rule_candidate",
                "ruleId": "1301645310",
                "skipCounters": {
                  "ended": 0,
                  "inactivePhase": 0,
                  "invalidItem": 0,
                  "notStarted": 0,
                  "parceladoDone": 0,
                  "parceladoInvalidTotal": 0
                },
                "totalBrl": 1400,
                "totalUsd": 0,
                "ts": "2026-03-04T16:01:43.999Z"
              },
              {
                "event": "rule_precheck_no_existing_invoice",
                "level": "info",
                "reason": "not_found",
                "ruleId": "1301645310",
                "trace": {
                  "parentExecutionId": "7134",
                  "procKey": "7137:1301645310:1772640103667:120468301",
                  "workflowExecutionId": "7137"
                },
                "ts": "2026-03-04T16:01:44.205Z"
              },
              {
                "event": "rule_create_invoice_logical_error",
                "gqlErrorsCount": 1,
                "level": "error",
                "reason": "create_invoice_logical_error",
                "ruleId": "1301645310",
                "trace": {
                  "parentExecutionId": "7134",
                  "procKey": "7137:1301645310:1772640103667:120468301",
                  "workflowExecutionId": "7137"
                },
                "ts": "2026-03-04T16:01:45.091Z",
                "userErrors": []
              },
              {
                "created": 0,
                "eligible": 1,
                "event": "rule_end_v2",
                "invoiceId": null,
                "level": "error",
                "reason": "create_invoice_logical_error",
                "ruleId": "1301645310",
                "status": "failed",
                "totals": {
                  "brl": 1400,
                  "usd": 0
                },
                "ts": "2026-03-04T16:01:45.105Z"
              }
            ],
            "metrics": {
              "createInvoices": 0,
              "createItems": 0,
              "invoicesPrefetchCalls": 1,
              "invoicesPrefetchCount": 0,
              "itemBatchQueries": 1,
              "itemsFetched": 1,
              "rulesEligible": 2,
              "rulesIneligible": 0,
              "rulesPages": 1,
              "rulesSkippedDay": 0,
              "rulesSkippedExisting": 0,
              "rulesTotal": 2,
              "unexpectedStateErrors": 0,
              "updateInvoiceConnectors": 0,
              "updateParcelasPagas": 0
            },
            "startedAt": "2026-03-04T16:01:40.605Z",
            "timezone": "America/Sao_Paulo",
            "todayDay": 4
          }
        },
        "7442": {
          "createdAt": "2026-03-05T14:10:56.930Z",
          "ruleTmp": {
            "baseErrors": [],
            "baseLogs": [
              {
                "compEnd": "2026-02-28",
                "compStart": "2026-02-01",
                "competenciaYMD": "2026-02-01",
                "event": "run_init",
                "executionId": "7440",
                "level": "info",
                "todayDay": 5,
                "ts": "2026-03-05T14:10:55.502Z"
              },
              {
                "callerExecutionId": "7440",
                "competenciaYMD": "2026-02-01",
                "event": "prep_init",
                "level": "info",
                "source": "caller",
                "ts": "2026-03-05T14:10:55.559Z"
              },
              {
                "competenciaYMD": "2026-02-01",
                "count": 0,
                "endCursor": null,
                "event": "prefetch_invoices",
                "hasNextPage": false,
                "level": "info",
                "missingRuleLinks": 0,
                "stopReason": "empty_page",
                "ts": "2026-03-05T14:10:56.460Z",
                "uniqueRules": 0
              },
              {
                "accumulatedRules": 2,
                "edgesCount": 2,
                "endCursor": "WzEzMDE2NDUzMTBd",
                "event": "rules_page_fetched",
                "hasNextPage": false,
                "level": "info",
                "page": 1,
                "stopReason": null,
                "ts": "2026-03-05T14:10:56.725Z"
              },
              {
                "counters": {
                  "emptyItemTemplates": 0,
                  "invalidRuleId": 0,
                  "skippedDay": 0,
                  "skippedExisting": 0
                },
                "eligible": 2,
                "event": "rules_classified",
                "ineligible": 0,
                "ineligibleByReason": {},
                "level": "info",
                "totalRules": 2,
                "ts": "2026-03-05T14:10:56.741Z"
              },
              {
                "contractVersion": "fin_v2",
                "eligible": 2,
                "errorCount": 0,
                "event": "prep_completed",
                "ineligible": 0,
                "ineligibleByReason": {},
                "level": "info",
                "logCount": 5,
                "rulesTotal": 2,
                "ts": "2026-03-05T14:10:56.759Z"
              }
            ],
            "baseMetrics": {
              "createInvoices": 0,
              "createItems": 0,
              "invoicesPrefetchCalls": 1,
              "invoicesPrefetchCount": 0,
              "itemBatchQueries": 0,
              "itemsFetched": 0,
              "rulesEligible": 2,
              "rulesIneligible": 0,
              "rulesPages": 1,
              "rulesSkippedDay": 0,
              "rulesSkippedExisting": 0,
              "rulesTotal": 2,
              "unexpectedStateErrors": 0,
              "updateItemInvoiceLinks": 0,
              "updateParcelasPagas": 0
            },
            "compEnd": "2026-02-28",
            "compStart": "2026-02-01",
            "competenciaYMD": "2026-02-01",
            "config": {
              "activeItemPhaseId": "341306826",
              "competenciaFieldId": "data_de_compet_ncia",
              "invoicePhaseId": 341350484,
              "invoicePipeId": 306859731,
              "itemPhaseId": 341351580,
              "itemPipeId": 306859915,
              "ruleLinkFieldId": "id_da_regra_de_faturamento"
            },
            "createContext": {
              "competenciaYMD": "2026-02-01",
              "invoiceInput": {
                "fields_attributes": [
                  {
                    "field_id": "clientes_na_fatura",
                    "field_value": [
                      "1259910277"
                    ]
                  },
                  {
                    "field_id": "contatos_que_receber_o_a_fatura",
                    "field_value": [
                      "1259912347"
                    ]
                  },
                  {
                    "field_id": "forma_de_pagamento",
                    "field_value": [
                      "PIX"
                    ]
                  },
                  {
                    "field_id": "identificador_fiscal_na_fatura",
                    "field_value": "85.939.685/0001-99"
                  },
                  {
                    "field_id": "tipo_de_cliente_final",
                    "field_value": "Afiliados e independentes"
                  },
                  {
                    "field_id": "moeda_do_teto_de_faturamento",
                    "field_value": [
                      "BRL"
                    ]
                  },
                  {
                    "field_id": "teto_de_faturamento_brl",
                    "field_value": 5000
                  },
                  {
                    "field_id": "id_da_regra_de_faturamento",
                    "field_value": "1300499186"
                  },
                  {
                    "field_id": "data_de_compet_ncia",
                    "field_value": "2026-02-01"
                  },
                  {
                    "field_id": "valor_total_da_fatura_brl",
                    "field_value": 900
                  },
                  {
                    "field_id": "valor_total_da_fatura_usd",
                    "field_value": 0
                  },
                  {
                    "field_id": "itens_da_fatura",
                    "field_value": [
                      "1309802928"
                    ]
                  }
                ],
                "phase_id": 341350484,
                "pipe_id": 306859731,
                "title": "Fatura 2026-02 - Regra 1300499186"
              },
              "procKey": "7442",
              "recheckLookup": {
                "competenciaFieldId": "data_de_compet_ncia",
                "competenciaYMD": "2026-02-01",
                "pipeId": 306859731,
                "ruleId": "1300499186",
                "ruleLinkFieldId": "id_da_regra_de_faturamento"
              },
              "ruleId": "1300499186"
            },
            "createdItemIds": [
              "1309802928"
            ],
            "diaGeracao": "5",
            "eligibleItems": [
              {
                "currency": "BRL - R$",
                "fields": [
                  {
                    "array_value": null,
                    "field": {
                      "id": "id_da_regra",
                      "label": "ID da regra",
                      "type": "short_text"
                    },
                    "report_value": "",
                    "value": ""
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "status",
                      "label": "Status",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Ativo",
                    "value": "Ativo"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "tipo_de_item",
                      "label": "Tipo de item",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Ajustes de fatura",
                    "value": "Ajustes de fatura"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "moeda_da_fatura",
                      "label": "Moeda",
                      "type": "radio_horizontal"
                    },
                    "report_value": "BRL - R$",
                    "value": "BRL - R$"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "periodicidade",
                      "label": "Periodicidade",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Mensal",
                    "value": "Mensal"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "valor_total_do_item_com_descontos_brl",
                      "label": "Valor total do item com descontos (BRL)",
                      "type": "currency"
                    },
                    "report_value": "900.00",
                    "value": "900.00"
                  }
                ],
                "parcelado": null,
                "periodicidade": "Mensal",
                "templateItemId": "1300499159",
                "title": "Ajustes de fatura",
                "totalBrl": 900,
                "totalUsd": 0
              }
            ],
            "errorStartIndex": 0,
            "existingInvoiceId": null,
            "finalStatus": "invoice_error",
            "hasCriticalItemErrors": false,
            "hasInvoiceError": true,
            "hasItemErrors": false,
            "inputTrace": {
              "parentExecutionId": "7440",
              "procKey": "7442:1300499186:1772719856931:397057269",
              "workflowExecutionId": "7442"
            },
            "invoiceCreationCounted": false,
            "invoiceId": null,
            "invoiceInput": {
              "fields_attributes": [
                {
                  "field_id": "clientes_na_fatura",
                  "field_value": [
                    "1259910277"
                  ]
                },
                {
                  "field_id": "contatos_que_receber_o_a_fatura",
                  "field_value": [
                    "1259912347"
                  ]
                },
                {
                  "field_id": "forma_de_pagamento",
                  "field_value": [
                    "PIX"
                  ]
                },
                {
                  "field_id": "identificador_fiscal_na_fatura",
                  "field_value": "85.939.685/0001-99"
                },
                {
                  "field_id": "tipo_de_cliente_final",
                  "field_value": "Afiliados e independentes"
                },
                {
                  "field_id": "moeda_do_teto_de_faturamento",
                  "field_value": [
                    "BRL"
                  ]
                },
                {
                  "field_id": "teto_de_faturamento_brl",
                  "field_value": 5000
                },
                {
                  "field_id": "id_da_regra_de_faturamento",
                  "field_value": "1300499186"
                },
                {
                  "field_id": "data_de_compet_ncia",
                  "field_value": "2026-02-01"
                },
                {
                  "field_id": "valor_total_da_fatura_brl",
                  "field_value": 900
                },
                {
                  "field_id": "valor_total_da_fatura_usd",
                  "field_value": 0
                },
                {
                  "field_id": "itens_da_fatura",
                  "field_value": [
                    "1309802928"
                  ]
                }
              ],
              "phase_id": 341350484,
              "pipe_id": 306859731,
              "title": "Fatura 2026-02 - Regra 1300499186"
            },
            "isPrepSummary": false,
            "itemTemplateIds": [
              "1300499159"
            ],
            "items": [
              {
                "current_phase": {
                  "id": "341306826",
                  "name": "Ativo"
                },
                "fields": [
                  {
                    "array_value": null,
                    "field": {
                      "id": "id_da_regra",
                      "label": "ID da regra",
                      "type": "short_text"
                    },
                    "report_value": "",
                    "value": ""
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "status",
                      "label": "Status",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Ativo",
                    "value": "Ativo"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "tipo_de_item",
                      "label": "Tipo de item",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Ajustes de fatura",
                    "value": "Ajustes de fatura"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "moeda_da_fatura",
                      "label": "Moeda",
                      "type": "radio_horizontal"
                    },
                    "report_value": "BRL - R$",
                    "value": "BRL - R$"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "periodicidade",
                      "label": "Periodicidade",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Mensal",
                    "value": "Mensal"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "valor_total_do_item_com_descontos_brl",
                      "label": "Valor total do item com descontos (BRL)",
                      "type": "currency"
                    },
                    "report_value": "900.00",
                    "value": "900.00"
                  }
                ],
                "id": "1300499159",
                "title": "Ajustes de fatura"
              }
            ],
            "kind": "rule_result",
            "logStartIndex": 6,
            "prefetchDecision": "new_rule_candidate",
            "prepContext": {
              "eligibleCount": 2,
              "errorCount": 0,
              "ineligibleByReason": {},
              "ineligibleCount": 0,
              "logCount": 6,
              "rulesTotal": 2
            },
            "procKey": "7442:1300499186:1772719856931:397057269",
            "ruleFields": {
              "auto_historico_de_clientes": {
                "array_value": null,
                "field": {
                  "id": "auto_historico_de_clientes",
                  "label": "[Auto] Historico de clientes",
                  "type": "long_text"
                },
                "report_value": "1259910277",
                "value": "1259910277"
              },
              "clientes_na_fatura": {
                "array_value": [
                  "1259910277"
                ],
                "field": {
                  "id": "clientes_na_fatura",
                  "label": "Clientes na fatura",
                  "type": "connector"
                },
                "report_value": "teste",
                "value": "[\"teste\"]"
              },
              "contatos_que_receber_o_a_fatura": {
                "array_value": [
                  "1259912347"
                ],
                "field": {
                  "id": "contatos_que_receber_o_a_fatura",
                  "label": "Contato",
                  "type": "connector"
                },
                "report_value": "teste",
                "value": "[\"teste\"]"
              },
              "dia_de_gera_o_da_fatura": {
                "array_value": null,
                "field": {
                  "id": "dia_de_gera_o_da_fatura",
                  "label": "Dia de geração da fatura",
                  "type": "radio_horizontal"
                },
                "report_value": "5",
                "value": "5"
              },
              "forma_de_pagamento": {
                "array_value": [
                  "PIX"
                ],
                "field": {
                  "id": "forma_de_pagamento",
                  "label": "Condições de pagamento",
                  "type": "checklist_horizontal"
                },
                "report_value": "PIX",
                "value": "[\"PIX\"]"
              },
              "identificador_fiscal_na_fatura": {
                "array_value": null,
                "field": {
                  "id": "identificador_fiscal_na_fatura",
                  "label": "Identificador fiscal na fatura",
                  "type": "short_text"
                },
                "report_value": "85.939.685/0001-99",
                "value": "85.939.685/0001-99"
              },
              "itens_da_fatura": {
                "array_value": [
                  "1300499159"
                ],
                "field": {
                  "id": "itens_da_fatura",
                  "label": "Itens da fatura",
                  "type": "connector"
                },
                "report_value": "Ajustes de fatura",
                "value": "[\"Ajustes de fatura\"]"
              },
              "moeda_do_teto_de_faturamento": {
                "array_value": [
                  "BRL"
                ],
                "field": {
                  "id": "moeda_do_teto_de_faturamento",
                  "label": "Moeda do teto de faturamento",
                  "type": "checklist_horizontal"
                },
                "report_value": "BRL",
                "value": "[\"BRL\"]"
              },
              "teto_de_faturamento_brl": {
                "array_value": null,
                "field": {
                  "id": "teto_de_faturamento_brl",
                  "label": "Teto de faturamento (BRL)",
                  "type": "currency"
                },
                "report_value": "5,000.00",
                "value": "5,000.00"
              },
              "tipo_de_cliente_final": {
                "array_value": null,
                "field": {
                  "id": "tipo_de_cliente_final",
                  "label": "Tipo de cliente faturado",
                  "type": "radio_horizontal"
                },
                "report_value": "Afiliados e independentes",
                "value": "Afiliados e independentes"
              }
            },
            "ruleId": "1300499186",
            "ruleTitle": "85.939.685/0001-99",
            "skipItemCreation": false,
            "startedAt": "2026-03-05T14:10:56.930Z",
            "statusReason": "missing_invoice_id_after_create",
            "totals": {
              "brl": 900,
              "usd": 0
            },
            "validationErrors": []
          },
          "run": {
            "compEnd": "2026-02-28",
            "compStart": "2026-02-01",
            "competenciaYMD": "2026-02-01",
            "errors": [
              {
                "reason": "missing_invoice_id_after_create",
                "ruleId": "1300499186",
                "stage": "emit_item_invoice_links",
                "ts": "2026-03-05T14:10:59.916Z"
              }
            ],
            "executionId": "7440",
            "flags": {
              "maxPrefetchPages": 50,
              "maxRulesPages": 50,
              "prefetchPageSize": 200,
              "rulesPageSize": 50
            },
            "lastInvoicesPrefetchCursor": null,
            "lastRulesCursor": "WzEzMDE2NDUzMTBd",
            "logs": [
              {
                "compEnd": "2026-02-28",
                "compStart": "2026-02-01",
                "competenciaYMD": "2026-02-01",
                "event": "run_init",
                "executionId": "7440",
                "level": "info",
                "todayDay": 5,
                "ts": "2026-03-05T14:10:55.502Z"
              },
              {
                "callerExecutionId": "7440",
                "competenciaYMD": "2026-02-01",
                "event": "prep_init",
                "level": "info",
                "source": "caller",
                "ts": "2026-03-05T14:10:55.559Z"
              },
              {
                "competenciaYMD": "2026-02-01",
                "count": 0,
                "endCursor": null,
                "event": "prefetch_invoices",
                "hasNextPage": false,
                "level": "info",
                "missingRuleLinks": 0,
                "stopReason": "empty_page",
                "ts": "2026-03-05T14:10:56.460Z",
                "uniqueRules": 0
              },
              {
                "accumulatedRules": 2,
                "edgesCount": 2,
                "endCursor": "WzEzMDE2NDUzMTBd",
                "event": "rules_page_fetched",
                "hasNextPage": false,
                "level": "info",
                "page": 1,
                "stopReason": null,
                "ts": "2026-03-05T14:10:56.725Z"
              },
              {
                "counters": {
                  "emptyItemTemplates": 0,
                  "invalidRuleId": 0,
                  "skippedDay": 0,
                  "skippedExisting": 0
                },
                "eligible": 2,
                "event": "rules_classified",
                "ineligible": 0,
                "ineligibleByReason": {},
                "level": "info",
                "totalRules": 2,
                "ts": "2026-03-05T14:10:56.741Z"
              },
              {
                "contractVersion": "fin_v2",
                "eligible": 2,
                "errorCount": 0,
                "event": "prep_completed",
                "ineligible": 0,
                "ineligibleByReason": {},
                "level": "info",
                "logCount": 5,
                "rulesTotal": 2,
                "ts": "2026-03-05T14:10:56.759Z"
              },
              {
                "contractVersion": "fin_v2",
                "event": "rule_start",
                "hasValidationErrors": false,
                "itemsPlanned": 1,
                "kind": "rule_result",
                "level": "info",
                "prefetchDecision": "new_rule_candidate",
                "ruleId": "1300499186",
                "ts": "2026-03-05T14:10:56.930Z"
              },
              {
                "chunkSize": 20,
                "chunks": 1,
                "event": "rule_chunkify",
                "level": "info",
                "ruleId": "1300499186",
                "ts": "2026-03-05T14:10:56.954Z"
              },
              {
                "count": 1,
                "event": "rule_items_batch_fetched",
                "level": "info",
                "ruleId": "1300499186",
                "ts": "2026-03-05T14:10:57.218Z"
              },
              {
                "eligible": 1,
                "event": "rule_items_filtered",
                "fetched": 1,
                "level": "info",
                "ruleId": "1300499186",
                "skipCounters": {
                  "ended": 0,
                  "inactivePhase": 0,
                  "invalidItem": 0,
                  "notStarted": 0,
                  "parceladoDone": 0,
                  "parceladoInvalidTotal": 0
                },
                "ts": "2026-03-05T14:10:57.243Z"
              },
              {
                "eligible": 1,
                "event": "rule_ready",
                "level": "info",
                "prefetchDecision": "new_rule_candidate",
                "ruleId": "1300499186",
                "skipCounters": {
                  "ended": 0,
                  "inactivePhase": 0,
                  "invalidItem": 0,
                  "notStarted": 0,
                  "parceladoDone": 0,
                  "parceladoInvalidTotal": 0
                },
                "totalBrl": 900,
                "totalUsd": 0,
                "ts": "2026-03-05T14:10:57.244Z"
              },
              {
                "event": "rule_precheck_no_existing_invoice",
                "level": "info",
                "reason": "not_found",
                "ruleId": "1300499186",
                "trace": {
                  "parentExecutionId": "7440",
                  "procKey": "7442:1300499186:1772719856931:397057269",
                  "workflowExecutionId": "7442"
                },
                "ts": "2026-03-05T14:10:57.467Z"
              },
              {
                "count": 1,
                "droppedCount": 0,
                "event": "rule_items_emit",
                "expectedCount": 1,
                "level": "info",
                "ruleId": "1300499186",
                "ts": "2026-03-05T14:10:57.485Z"
              },
              {
                "event": "item_created",
                "itemId": "1309802928",
                "level": "info",
                "ruleId": "1300499186",
                "ts": "2026-03-05T14:10:58.633Z"
              },
              {
                "createdCount": 1,
                "eligibleCount": 1,
                "event": "rule_invoice_input_ready_with_items",
                "level": "info",
                "ruleId": "1300499186",
                "ts": "2026-03-05T14:10:58.641Z"
              },
              {
                "event": "rule_emit_item_invoice_links_missing_invoice",
                "level": "error",
                "ruleId": "1300499186",
                "ts": "2026-03-05T14:10:59.916Z"
              }
            ],
            "metrics": {
              "createInvoices": 0,
              "createItems": 1,
              "invoicesPrefetchCalls": 1,
              "invoicesPrefetchCount": 0,
              "itemBatchQueries": 1,
              "itemsFetched": 1,
              "rulesEligible": 2,
              "rulesIneligible": 0,
              "rulesPages": 1,
              "rulesSkippedDay": 0,
              "rulesSkippedExisting": 0,
              "rulesTotal": 2,
              "unexpectedStateErrors": 0,
              "updateItemInvoiceLinks": 0,
              "updateParcelasPagas": 0
            },
            "startedAt": "2026-03-05T14:10:55.502Z",
            "timezone": "America/Sao_Paulo",
            "todayDay": 5
          }
        },
        "7442:1300499186:1772719856931:397057269": {
          "createdAt": "2026-03-05T14:10:56.930Z",
          "ruleTmp": {
            "baseErrors": [],
            "baseLogs": [
              {
                "compEnd": "2026-02-28",
                "compStart": "2026-02-01",
                "competenciaYMD": "2026-02-01",
                "event": "run_init",
                "executionId": "7440",
                "level": "info",
                "todayDay": 5,
                "ts": "2026-03-05T14:10:55.502Z"
              },
              {
                "callerExecutionId": "7440",
                "competenciaYMD": "2026-02-01",
                "event": "prep_init",
                "level": "info",
                "source": "caller",
                "ts": "2026-03-05T14:10:55.559Z"
              },
              {
                "competenciaYMD": "2026-02-01",
                "count": 0,
                "endCursor": null,
                "event": "prefetch_invoices",
                "hasNextPage": false,
                "level": "info",
                "missingRuleLinks": 0,
                "stopReason": "empty_page",
                "ts": "2026-03-05T14:10:56.460Z",
                "uniqueRules": 0
              },
              {
                "accumulatedRules": 2,
                "edgesCount": 2,
                "endCursor": "WzEzMDE2NDUzMTBd",
                "event": "rules_page_fetched",
                "hasNextPage": false,
                "level": "info",
                "page": 1,
                "stopReason": null,
                "ts": "2026-03-05T14:10:56.725Z"
              },
              {
                "counters": {
                  "emptyItemTemplates": 0,
                  "invalidRuleId": 0,
                  "skippedDay": 0,
                  "skippedExisting": 0
                },
                "eligible": 2,
                "event": "rules_classified",
                "ineligible": 0,
                "ineligibleByReason": {},
                "level": "info",
                "totalRules": 2,
                "ts": "2026-03-05T14:10:56.741Z"
              },
              {
                "contractVersion": "fin_v2",
                "eligible": 2,
                "errorCount": 0,
                "event": "prep_completed",
                "ineligible": 0,
                "ineligibleByReason": {},
                "level": "info",
                "logCount": 5,
                "rulesTotal": 2,
                "ts": "2026-03-05T14:10:56.759Z"
              }
            ],
            "baseMetrics": {
              "createInvoices": 0,
              "createItems": 0,
              "invoicesPrefetchCalls": 1,
              "invoicesPrefetchCount": 0,
              "itemBatchQueries": 0,
              "itemsFetched": 0,
              "rulesEligible": 2,
              "rulesIneligible": 0,
              "rulesPages": 1,
              "rulesSkippedDay": 0,
              "rulesSkippedExisting": 0,
              "rulesTotal": 2,
              "unexpectedStateErrors": 0,
              "updateItemInvoiceLinks": 0,
              "updateParcelasPagas": 0
            },
            "compEnd": "2026-02-28",
            "compStart": "2026-02-01",
            "competenciaYMD": "2026-02-01",
            "config": {
              "activeItemPhaseId": "341306826",
              "competenciaFieldId": "data_de_compet_ncia",
              "invoicePhaseId": 341350484,
              "invoicePipeId": 306859731,
              "itemPhaseId": 341351580,
              "itemPipeId": 306859915,
              "ruleLinkFieldId": "id_da_regra_de_faturamento"
            },
            "createContext": {
              "competenciaYMD": "2026-02-01",
              "invoiceInput": {
                "fields_attributes": [
                  {
                    "field_id": "clientes_na_fatura",
                    "field_value": [
                      "1259910277"
                    ]
                  },
                  {
                    "field_id": "contatos_que_receber_o_a_fatura",
                    "field_value": [
                      "1259912347"
                    ]
                  },
                  {
                    "field_id": "forma_de_pagamento",
                    "field_value": [
                      "PIX"
                    ]
                  },
                  {
                    "field_id": "identificador_fiscal_na_fatura",
                    "field_value": "85.939.685/0001-99"
                  },
                  {
                    "field_id": "tipo_de_cliente_final",
                    "field_value": "Afiliados e independentes"
                  },
                  {
                    "field_id": "moeda_do_teto_de_faturamento",
                    "field_value": [
                      "BRL"
                    ]
                  },
                  {
                    "field_id": "teto_de_faturamento_brl",
                    "field_value": 5000
                  },
                  {
                    "field_id": "id_da_regra_de_faturamento",
                    "field_value": "1300499186"
                  },
                  {
                    "field_id": "data_de_compet_ncia",
                    "field_value": "2026-02-01"
                  },
                  {
                    "field_id": "valor_total_da_fatura_brl",
                    "field_value": 900
                  },
                  {
                    "field_id": "valor_total_da_fatura_usd",
                    "field_value": 0
                  },
                  {
                    "field_id": "itens_da_fatura",
                    "field_value": [
                      "1309802928"
                    ]
                  }
                ],
                "phase_id": 341350484,
                "pipe_id": 306859731,
                "title": "Fatura 2026-02 - Regra 1300499186"
              },
              "procKey": "7442",
              "recheckLookup": {
                "competenciaFieldId": "data_de_compet_ncia",
                "competenciaYMD": "2026-02-01",
                "pipeId": 306859731,
                "ruleId": "1300499186",
                "ruleLinkFieldId": "id_da_regra_de_faturamento"
              },
              "ruleId": "1300499186"
            },
            "createdItemIds": [
              "1309802928"
            ],
            "diaGeracao": "5",
            "eligibleItems": [
              {
                "currency": "BRL - R$",
                "fields": [
                  {
                    "array_value": null,
                    "field": {
                      "id": "id_da_regra",
                      "label": "ID da regra",
                      "type": "short_text"
                    },
                    "report_value": "",
                    "value": ""
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "status",
                      "label": "Status",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Ativo",
                    "value": "Ativo"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "tipo_de_item",
                      "label": "Tipo de item",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Ajustes de fatura",
                    "value": "Ajustes de fatura"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "moeda_da_fatura",
                      "label": "Moeda",
                      "type": "radio_horizontal"
                    },
                    "report_value": "BRL - R$",
                    "value": "BRL - R$"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "periodicidade",
                      "label": "Periodicidade",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Mensal",
                    "value": "Mensal"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "valor_total_do_item_com_descontos_brl",
                      "label": "Valor total do item com descontos (BRL)",
                      "type": "currency"
                    },
                    "report_value": "900.00",
                    "value": "900.00"
                  }
                ],
                "parcelado": null,
                "periodicidade": "Mensal",
                "templateItemId": "1300499159",
                "title": "Ajustes de fatura",
                "totalBrl": 900,
                "totalUsd": 0
              }
            ],
            "errorStartIndex": 0,
            "existingInvoiceId": null,
            "finalStatus": "invoice_error",
            "hasCriticalItemErrors": false,
            "hasInvoiceError": true,
            "hasItemErrors": false,
            "inputTrace": {
              "parentExecutionId": "7440",
              "procKey": "7442:1300499186:1772719856931:397057269",
              "workflowExecutionId": "7442"
            },
            "invoiceCreationCounted": false,
            "invoiceId": null,
            "invoiceInput": {
              "fields_attributes": [
                {
                  "field_id": "clientes_na_fatura",
                  "field_value": [
                    "1259910277"
                  ]
                },
                {
                  "field_id": "contatos_que_receber_o_a_fatura",
                  "field_value": [
                    "1259912347"
                  ]
                },
                {
                  "field_id": "forma_de_pagamento",
                  "field_value": [
                    "PIX"
                  ]
                },
                {
                  "field_id": "identificador_fiscal_na_fatura",
                  "field_value": "85.939.685/0001-99"
                },
                {
                  "field_id": "tipo_de_cliente_final",
                  "field_value": "Afiliados e independentes"
                },
                {
                  "field_id": "moeda_do_teto_de_faturamento",
                  "field_value": [
                    "BRL"
                  ]
                },
                {
                  "field_id": "teto_de_faturamento_brl",
                  "field_value": 5000
                },
                {
                  "field_id": "id_da_regra_de_faturamento",
                  "field_value": "1300499186"
                },
                {
                  "field_id": "data_de_compet_ncia",
                  "field_value": "2026-02-01"
                },
                {
                  "field_id": "valor_total_da_fatura_brl",
                  "field_value": 900
                },
                {
                  "field_id": "valor_total_da_fatura_usd",
                  "field_value": 0
                },
                {
                  "field_id": "itens_da_fatura",
                  "field_value": [
                    "1309802928"
                  ]
                }
              ],
              "phase_id": 341350484,
              "pipe_id": 306859731,
              "title": "Fatura 2026-02 - Regra 1300499186"
            },
            "isPrepSummary": false,
            "itemTemplateIds": [
              "1300499159"
            ],
            "items": [
              {
                "current_phase": {
                  "id": "341306826",
                  "name": "Ativo"
                },
                "fields": [
                  {
                    "array_value": null,
                    "field": {
                      "id": "id_da_regra",
                      "label": "ID da regra",
                      "type": "short_text"
                    },
                    "report_value": "",
                    "value": ""
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "status",
                      "label": "Status",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Ativo",
                    "value": "Ativo"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "tipo_de_item",
                      "label": "Tipo de item",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Ajustes de fatura",
                    "value": "Ajustes de fatura"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "moeda_da_fatura",
                      "label": "Moeda",
                      "type": "radio_horizontal"
                    },
                    "report_value": "BRL - R$",
                    "value": "BRL - R$"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "periodicidade",
                      "label": "Periodicidade",
                      "type": "radio_horizontal"
                    },
                    "report_value": "Mensal",
                    "value": "Mensal"
                  },
                  {
                    "array_value": null,
                    "field": {
                      "id": "valor_total_do_item_com_descontos_brl",
                      "label": "Valor total do item com descontos (BRL)",
                      "type": "currency"
                    },
                    "report_value": "900.00",
                    "value": "900.00"
                  }
                ],
                "id": "1300499159",
                "title": "Ajustes de fatura"
              }
            ],
            "kind": "rule_result",
            "logStartIndex": 6,
            "prefetchDecision": "new_rule_candidate",
            "prepContext": {
              "eligibleCount": 2,
              "errorCount": 0,
              "ineligibleByReason": {},
              "ineligibleCount": 0,
              "logCount": 6,
              "rulesTotal": 2
            },
            "procKey": "7442:1300499186:1772719856931:397057269",
            "ruleFields": {
              "auto_historico_de_clientes": {
                "array_value": null,
                "field": {
                  "id": "auto_historico_de_clientes",
                  "label": "[Auto] Historico de clientes",
                  "type": "long_text"
                },
                "report_value": "1259910277",
                "value": "1259910277"
              },
              "clientes_na_fatura": {
                "array_value": [
                  "1259910277"
                ],
                "field": {
                  "id": "clientes_na_fatura",
                  "label": "Clientes na fatura",
                  "type": "connector"
                },
                "report_value": "teste",
                "value": "[\"teste\"]"
              },
              "contatos_que_receber_o_a_fatura": {
                "array_value": [
                  "1259912347"
                ],
                "field": {
                  "id": "contatos_que_receber_o_a_fatura",
                  "label": "Contato",
                  "type": "connector"
                },
                "report_value": "teste",
                "value": "[\"teste\"]"
              },
              "dia_de_gera_o_da_fatura": {
                "array_value": null,
                "field": {
                  "id": "dia_de_gera_o_da_fatura",
                  "label": "Dia de geração da fatura",
                  "type": "radio_horizontal"
                },
                "report_value": "5",
                "value": "5"
              },
              "forma_de_pagamento": {
                "array_value": [
                  "PIX"
                ],
                "field": {
                  "id": "forma_de_pagamento",
                  "label": "Condições de pagamento",
                  "type": "checklist_horizontal"
                },
                "report_value": "PIX",
                "value": "[\"PIX\"]"
              },
              "identificador_fiscal_na_fatura": {
                "array_value": null,
                "field": {
                  "id": "identificador_fiscal_na_fatura",
                  "label": "Identificador fiscal na fatura",
                  "type": "short_text"
                },
                "report_value": "85.939.685/0001-99",
                "value": "85.939.685/0001-99"
              },
              "itens_da_fatura": {
                "array_value": [
                  "1300499159"
                ],
                "field": {
                  "id": "itens_da_fatura",
                  "label": "Itens da fatura",
                  "type": "connector"
                },
                "report_value": "Ajustes de fatura",
                "value": "[\"Ajustes de fatura\"]"
              },
              "moeda_do_teto_de_faturamento": {
                "array_value": [
                  "BRL"
                ],
                "field": {
                  "id": "moeda_do_teto_de_faturamento",
                  "label": "Moeda do teto de faturamento",
                  "type": "checklist_horizontal"
                },
                "report_value": "BRL",
                "value": "[\"BRL\"]"
              },
              "teto_de_faturamento_brl": {
                "array_value": null,
                "field": {
                  "id": "teto_de_faturamento_brl",
                  "label": "Teto de faturamento (BRL)",
                  "type": "currency"
                },
                "report_value": "5,000.00",
                "value": "5,000.00"
              },
              "tipo_de_cliente_final": {
                "array_value": null,
                "field": {
                  "id": "tipo_de_cliente_final",
                  "label": "Tipo de cliente faturado",
                  "type": "radio_horizontal"
                },
                "report_value": "Afiliados e independentes",
                "value": "Afiliados e independentes"
              }
            },
            "ruleId": "1300499186",
            "ruleTitle": "85.939.685/0001-99",
            "skipItemCreation": false,
            "startedAt": "2026-03-05T14:10:56.930Z",
            "statusReason": "missing_invoice_id_after_create",
            "totals": {
              "brl": 900,
              "usd": 0
            },
            "validationErrors": []
          },
          "run": {
            "compEnd": "2026-02-28",
            "compStart": "2026-02-01",
            "competenciaYMD": "2026-02-01",
            "errors": [
              {
                "reason": "missing_invoice_id_after_create",
                "ruleId": "1300499186",
                "stage": "emit_item_invoice_links",
                "ts": "2026-03-05T14:10:59.916Z"
              }
            ],
            "executionId": "7440",
            "flags": {
              "maxPrefetchPages": 50,
              "maxRulesPages": 50,
              "prefetchPageSize": 200,
              "rulesPageSize": 50
            },
            "lastInvoicesPrefetchCursor": null,
            "lastRulesCursor": "WzEzMDE2NDUzMTBd",
            "logs": [
              {
                "compEnd": "2026-02-28",
                "compStart": "2026-02-01",
                "competenciaYMD": "2026-02-01",
                "event": "run_init",
                "executionId": "7440",
                "level": "info",
                "todayDay": 5,
                "ts": "2026-03-05T14:10:55.502Z"
              },
              {
                "callerExecutionId": "7440",
                "competenciaYMD": "2026-02-01",
                "event": "prep_init",
                "level": "info",
                "source": "caller",
                "ts": "2026-03-05T14:10:55.559Z"
              },
              {
                "competenciaYMD": "2026-02-01",
                "count": 0,
                "endCursor": null,
                "event": "prefetch_invoices",
                "hasNextPage": false,
                "level": "info",
                "missingRuleLinks": 0,
                "stopReason": "empty_page",
                "ts": "2026-03-05T14:10:56.460Z",
                "uniqueRules": 0
              },
              {
                "accumulatedRules": 2,
                "edgesCount": 2,
                "endCursor": "WzEzMDE2NDUzMTBd",
                "event": "rules_page_fetched",
                "hasNextPage": false,
                "level": "info",
                "page": 1,
                "stopReason": null,
                "ts": "2026-03-05T14:10:56.725Z"
              },
              {
                "counters": {
                  "emptyItemTemplates": 0,
                  "invalidRuleId": 0,
                  "skippedDay": 0,
                  "skippedExisting": 0
                },
                "eligible": 2,
                "event": "rules_classified",
                "ineligible": 0,
                "ineligibleByReason": {},
                "level": "info",
                "totalRules": 2,
                "ts": "2026-03-05T14:10:56.741Z"
              },
              {
                "contractVersion": "fin_v2",
                "eligible": 2,
                "errorCount": 0,
                "event": "prep_completed",
                "ineligible": 0,
                "ineligibleByReason": {},
                "level": "info",
                "logCount": 5,
                "rulesTotal": 2,
                "ts": "2026-03-05T14:10:56.759Z"
              },
              {
                "contractVersion": "fin_v2",
                "event": "rule_start",
                "hasValidationErrors": false,
                "itemsPlanned": 1,
                "kind": "rule_result",
                "level": "info",
                "prefetchDecision": "new_rule_candidate",
                "ruleId": "1300499186",
                "ts": "2026-03-05T14:10:56.930Z"
              },
              {
                "chunkSize": 20,
                "chunks": 1,
                "event": "rule_chunkify",
                "level": "info",
                "ruleId": "1300499186",
                "ts": "2026-03-05T14:10:56.954Z"
              },
              {
                "count": 1,
                "event": "rule_items_batch_fetched",
                "level": "info",
                "ruleId": "1300499186",
                "ts": "2026-03-05T14:10:57.218Z"
              },
              {
                "eligible": 1,
                "event": "rule_items_filtered",
                "fetched": 1,
                "level": "info",
                "ruleId": "1300499186",
                "skipCounters": {
                  "ended": 0,
                  "inactivePhase": 0,
                  "invalidItem": 0,
                  "notStarted": 0,
                  "parceladoDone": 0,
                  "parceladoInvalidTotal": 0
                },
                "ts": "2026-03-05T14:10:57.243Z"
              },
              {
                "eligible": 1,
                "event": "rule_ready",
                "level": "info",
                "prefetchDecision": "new_rule_candidate",
                "ruleId": "1300499186",
                "skipCounters": {
                  "ended": 0,
                  "inactivePhase": 0,
                  "invalidItem": 0,
                  "notStarted": 0,
                  "parceladoDone": 0,
                  "parceladoInvalidTotal": 0
                },
                "totalBrl": 900,
                "totalUsd": 0,
                "ts": "2026-03-05T14:10:57.244Z"
              },
              {
                "event": "rule_precheck_no_existing_invoice",
                "level": "info",
                "reason": "not_found",
                "ruleId": "1300499186",
                "trace": {
                  "parentExecutionId": "7440",
                  "procKey": "7442:1300499186:1772719856931:397057269",
                  "workflowExecutionId": "7442"
                },
                "ts": "2026-03-05T14:10:57.467Z"
              },
              {
                "count": 1,
                "droppedCount": 0,
                "event": "rule_items_emit",
                "expectedCount": 1,
                "level": "info",
                "ruleId": "1300499186",
                "ts": "2026-03-05T14:10:57.485Z"
              },
              {
                "event": "item_created",
                "itemId": "1309802928",
                "level": "info",
                "ruleId": "1300499186",
                "ts": "2026-03-05T14:10:58.633Z"
              },
              {
                "createdCount": 1,
                "eligibleCount": 1,
                "event": "rule_invoice_input_ready_with_items",
                "level": "info",
                "ruleId": "1300499186",
                "ts": "2026-03-05T14:10:58.641Z"
              },
              {
                "event": "rule_emit_item_invoice_links_missing_invoice",
                "level": "error",
                "ruleId": "1300499186",
                "ts": "2026-03-05T14:10:59.916Z"
              }
            ],
            "metrics": {
              "createInvoices": 0,
              "createItems": 1,
              "invoicesPrefetchCalls": 1,
              "invoicesPrefetchCount": 0,
              "itemBatchQueries": 1,
              "itemsFetched": 1,
              "rulesEligible": 2,
              "rulesIneligible": 0,
              "rulesPages": 1,
              "rulesSkippedDay": 0,
              "rulesSkippedExisting": 0,
              "rulesTotal": 2,
              "unexpectedStateErrors": 0,
              "updateItemInvoiceLinks": 0,
              "updateParcelasPagas": 0
            },
            "startedAt": "2026-03-05T14:10:55.502Z",
            "timezone": "America/Sao_Paulo",
            "todayDay": 5
          }
        },
        "7451:1301645310:1772723669834:451313090": {
          "createdAt": "2026-03-05T15:14:29.833Z",
          "ruleTmp": {
            "baseErrors": [],
            "baseLogs": [
              {
                "compEnd": "2026-02-28",
                "compStart": "2026-02-01",
                "competenciaYMD": "2026-02-01",
                "event": "run_init",
                "executionId": "7449",
                "level": "info",
                "todayDay": 5,
                "ts": "2026-03-05T15:14:28.287Z"
              },
              {
                "callerExecutionId": "7449",
                "competenciaYMD": "2026-02-01",
                "event": "prep_init",
                "level": "info",
                "source": "caller",
                "ts": "2026-03-05T15:14:28.340Z"
              },
              {
                "competenciaYMD": "2026-02-01",
                "count": 1,
                "endCursor": "WyIxLjAiLDEzMDk4MDI5NDNd",
                "event": "prefetch_invoices",
                "hasNextPage": false,
                "level": "info",
                "missingRuleLinks": 0,
                "stopReason": null,
                "ts": "2026-03-05T15:14:29.344Z",
                "uniqueRules": 1
              },
              {
                "accumulatedRules": 2,
                "edgesCount": 2,
                "endCursor": "WzEzMDE2NDUzMTBd",
                "event": "rules_page_fetched",
                "hasNextPage": false,
                "level": "info",
                "page": 1,
                "stopReason": null,
                "ts": "2026-03-05T15:14:29.691Z"
              },
              {
                "competenciaYMD": "2026-02-01",
                "event": "rule_skip_existing_invoice",
                "level": "info",
                "prefetchDecision": "already_has_invoice",
                "reason": "prefetch_found_invoice",
                "ruleId": "1300499186",
                "ts": "2026-03-05T15:14:29.705Z"
              },
              {
                "counters": {
                  "emptyItemTemplates": 0,
                  "invalidRuleId": 0,
                  "skippedDay": 0,
                  "skippedExisting": 1
                },
                "eligible": 1,
                "event": "rules_classified",
                "ineligible": 1,
                "ineligibleByReason": {
                  "prefetch_found_invoice": 1
                },
                "level": "info",
                "totalRules": 2,
                "ts": "2026-03-05T15:14:29.706Z"
              },
              {
                "contractVersion": "fin_v2",
                "eligible": 1,
                "errorCount": 0,
                "event": "prep_completed",
                "ineligible": 1,
                "ineligibleByReason": {
                  "prefetch_found_invoice": 1
                },
                "level": "info",
                "logCount": 6,
                "rulesTotal": 2,
                "ts": "2026-03-05T15:14:29.715Z"
              }
            ],
            "baseMetrics": {
              "createInvoices": 0,
              "createItems": 0,
              "invoicesPrefetchCalls": 1,
              "invoicesPrefetchCount": 1,
              "itemBatchQueries": 0,
              "itemsFetched": 0,
              "rulesEligible": 1,
              "rulesIneligible": 1,
              "rulesPages": 1,
              "rulesSkippedDay": 0,
              "rulesSkippedExisting": 1,
              "rulesTotal": 2,
              "unexpectedStateErrors": 0,
              "updateItemInvoiceLinks": 0,
              "updateParcelasPagas": 0
            },
            "compEnd": "2026-02-28",
            "compStart": "2026-02-01",
            "competenciaYMD": "2026-02-01",
            "config": {
              "activeItemPhaseId": "341306826",
              "competenciaFieldId": "data_de_compet_ncia",
              "invoicePhaseId": 341350484,
              "invoicePipeId": 306859731,
              "itemPhaseId": 341351580,
              "itemPipeId": 306859915,
              "ruleLinkFieldId": "id_da_regra_de_faturamento"
            },
            "createContext": null,
            "createdItemIds": [],
            "diaGeracao": "5",
            "eligibleItems": [],
            "errorStartIndex": 0,
            "existingInvoiceId": null,
            "finalStatus": null,
            "hasCriticalItemErrors": false,
            "hasInvoiceError": false,
            "hasItemErrors": false,
            "inputTrace": {
              "parentExecutionId": "7449",
              "procKey": "7451:1301645310:1772723669834:451313090",
              "workflowExecutionId": "7451"
            },
            "invoiceCreationCounted": false,
            "invoiceId": null,
            "isPrepSummary": false,
            "itemTemplateIds": [
              "1301644943"
            ],
            "items": [],
            "kind": "rule_result",
            "logStartIndex": 7,
            "prefetchDecision": "new_rule_candidate",
            "prepContext": {
              "eligibleCount": 1,
              "errorCount": 0,
              "ineligibleByReason": {
                "prefetch_found_invoice": 1
              },
              "ineligibleCount": 1,
              "logCount": 7,
              "rulesTotal": 2
            },
            "procKey": "7451:1301645310:1772723669834:451313090",
            "ruleFields": {
              "auto_historico_de_clientes": {
                "array_value": null,
                "field": {
                  "id": "auto_historico_de_clientes",
                  "label": "[Auto] Historico de clientes",
                  "type": "long_text"
                },
                "report_value": "1165155968",
                "value": "1165155968"
              },
              "clientes_na_fatura": {
                "array_value": [
                  "1165155968"
                ],
                "field": {
                  "id": "clientes_na_fatura",
                  "label": "Clientes na fatura",
                  "type": "connector"
                },
                "report_value": "Unique Garden",
                "value": "[\"Unique Garden\"]"
              },
              "contatos_que_receber_o_a_fatura": {
                "array_value": [
                  "1223592611"
                ],
                "field": {
                  "id": "contatos_que_receber_o_a_fatura",
                  "label": "Contato",
                  "type": "connector"
                },
                "report_value": "João Bezerra",
                "value": "[\"João Bezerra\"]"
              },
              "dia_de_gera_o_da_fatura": {
                "array_value": null,
                "field": {
                  "id": "dia_de_gera_o_da_fatura",
                  "label": "Dia de geração da fatura",
                  "type": "radio_horizontal"
                },
                "report_value": "5",
                "value": "5"
              },
              "forma_de_pagamento": {
                "array_value": [
                  "PIX"
                ],
                "field": {
                  "id": "forma_de_pagamento",
                  "label": "Condições de pagamento",
                  "type": "checklist_horizontal"
                },
                "report_value": "PIX",
                "value": "[\"PIX\"]"
              },
              "identificador_fiscal_na_fatura": {
                "array_value": null,
                "field": {
                  "id": "identificador_fiscal_na_fatura",
                  "label": "Identificador fiscal na fatura",
                  "type": "short_text"
                },
                "report_value": "02.286.568/0001-46",
                "value": "02.286.568/0001-46"
              },
              "itens_da_fatura": {
                "array_value": [
                  "1301644943"
                ],
                "field": {
                  "id": "itens_da_fatura",
                  "label": "Itens da fatura",
                  "type": "connector"
                },
                "report_value": "Produto",
                "value": "[\"Produto\"]"
              },
              "moeda_do_teto_de_faturamento": {
                "array_value": [
                  "BRL"
                ],
                "field": {
                  "id": "moeda_do_teto_de_faturamento",
                  "label": "Moeda do teto de faturamento",
                  "type": "checklist_horizontal"
                },
                "report_value": "BRL",
                "value": "[\"BRL\"]"
              },
              "teto_de_faturamento_brl": {
                "array_value": null,
                "field": {
                  "id": "teto_de_faturamento_brl",
                  "label": "Teto de faturamento (BRL)",
                  "type": "currency"
                },
                "report_value": "1,400.00",
                "value": "1,400.00"
              },
              "tipo_de_cliente_final": {
                "array_value": null,
                "field": {
                  "id": "tipo_de_cliente_final",
                  "label": "Tipo de cliente faturado",
                  "type": "radio_horizontal"
                },
                "report_value": "Afiliados e independentes",
                "value": "Afiliados e independentes"
              }
            },
            "ruleId": "1301645310",
            "ruleTitle": "02.286.568/0001-46",
            "skipItemCreation": false,
            "startedAt": "2026-03-05T15:14:29.833Z",
            "statusReason": null,
            "totals": {
              "brl": 0,
              "usd": 0
            },
            "validationErrors": []
          },
          "run": {
            "compEnd": "2026-02-28",
            "compStart": "2026-02-01",
            "competenciaYMD": "2026-02-01",
            "errors": [],
            "executionId": "7449",
            "flags": {
              "maxPrefetchPages": 50,
              "maxRulesPages": 50,
              "prefetchPageSize": 200,
              "rulesPageSize": 50
            },
            "lastInvoicesPrefetchCursor": "WyIxLjAiLDEzMDk4MDI5NDNd",
            "lastRulesCursor": "WzEzMDE2NDUzMTBd",
            "logs": [
              {
                "compEnd": "2026-02-28",
                "compStart": "2026-02-01",
                "competenciaYMD": "2026-02-01",
                "event": "run_init",
                "executionId": "7449",
                "level": "info",
                "todayDay": 5,
                "ts": "2026-03-05T15:14:28.287Z"
              },
              {
                "callerExecutionId": "7449",
                "competenciaYMD": "2026-02-01",
                "event": "prep_init",
                "level": "info",
                "source": "caller",
                "ts": "2026-03-05T15:14:28.340Z"
              },
              {
                "competenciaYMD": "2026-02-01",
                "count": 1,
                "endCursor": "WyIxLjAiLDEzMDk4MDI5NDNd",
                "event": "prefetch_invoices",
                "hasNextPage": false,
                "level": "info",
                "missingRuleLinks": 0,
                "stopReason": null,
                "ts": "2026-03-05T15:14:29.344Z",
                "uniqueRules": 1
              },
              {
                "accumulatedRules": 2,
                "edgesCount": 2,
                "endCursor": "WzEzMDE2NDUzMTBd",
                "event": "rules_page_fetched",
                "hasNextPage": false,
                "level": "info",
                "page": 1,
                "stopReason": null,
                "ts": "2026-03-05T15:14:29.691Z"
              },
              {
                "competenciaYMD": "2026-02-01",
                "event": "rule_skip_existing_invoice",
                "level": "info",
                "prefetchDecision": "already_has_invoice",
                "reason": "prefetch_found_invoice",
                "ruleId": "1300499186",
                "ts": "2026-03-05T15:14:29.705Z"
              },
              {
                "counters": {
                  "emptyItemTemplates": 0,
                  "invalidRuleId": 0,
                  "skippedDay": 0,
                  "skippedExisting": 1
                },
                "eligible": 1,
                "event": "rules_classified",
                "ineligible": 1,
                "ineligibleByReason": {
                  "prefetch_found_invoice": 1
                },
                "level": "info",
                "totalRules": 2,
                "ts": "2026-03-05T15:14:29.706Z"
              },
              {
                "contractVersion": "fin_v2",
                "eligible": 1,
                "errorCount": 0,
                "event": "prep_completed",
                "ineligible": 1,
                "ineligibleByReason": {
                  "prefetch_found_invoice": 1
                },
                "level": "info",
                "logCount": 6,
                "rulesTotal": 2,
                "ts": "2026-03-05T15:14:29.715Z"
              },
              {
                "contractVersion": "fin_v2",
                "event": "rule_start",
                "hasValidationErrors": false,
                "itemsPlanned": 1,
                "kind": "rule_result",
                "level": "info",
                "prefetchDecision": "new_rule_candidate",
                "ruleId": "1301645310",
                "ts": "2026-03-05T15:14:29.833Z"
              },
              {
                "chunkSize": 20,
                "chunks": 1,
                "event": "rule_chunkify",
                "level": "info",
                "ruleId": "1301645310",
                "ts": "2026-03-05T15:14:29.846Z"
              }
            ],
            "metrics": {
              "createInvoices": 0,
              "createItems": 0,
              "invoicesPrefetchCalls": 1,
              "invoicesPrefetchCount": 1,
              "itemBatchQueries": 0,
              "itemsFetched": 0,
              "rulesEligible": 1,
              "rulesIneligible": 1,
              "rulesPages": 1,
              "rulesSkippedDay": 0,
              "rulesSkippedExisting": 1,
              "rulesTotal": 2,
              "unexpectedStateErrors": 0,
              "updateItemInvoiceLinks": 0,
              "updateParcelasPagas": 0
            },
            "startedAt": "2026-03-05T15:14:28.287Z",
            "timezone": "America/Sao_Paulo",
            "todayDay": 5
          }
        }
      },
      "ruleTmp": null,
      "run": {
        "compEnd": "2026-02-28",
        "compStart": "2026-02-01",
        "competenciaYMD": "2026-02-01",
        "errors": [],
        "flags": {
          "maxPrefetchPages": 50,
          "maxRulesPages": 50,
          "prefetchPageSize": 200,
          "rulesPageSize": 50
        },
        "lastInvoicesPrefetchCursor": null,
        "lastRulesCursor": "WzEzMDE2NDUzMTBd",
        "logs": [
          {
            "compEnd": "2026-02-28",
            "compStart": "2026-02-01",
            "competenciaYMD": "2026-02-01",
            "event": "run_init",
            "level": "info",
            "todayDay": 2,
            "ts": "2026-03-02T15:55:47.898Z"
          },
          {
            "callerExecutionId": "7013",
            "competenciaYMD": "2026-02-01",
            "event": "prep_init",
            "level": "info",
            "source": "caller",
            "ts": "2026-03-02T15:55:47.958Z"
          },
          {
            "competenciaYMD": "2026-02-01",
            "count": 0,
            "endCursor": null,
            "event": "prefetch_invoices",
            "hasNextPage": false,
            "level": "info",
            "ts": "2026-03-02T15:55:48.294Z",
            "uniqueRules": 0
          },
          {
            "eligible": 2,
            "event": "rules_eligible_built",
            "level": "info",
            "ts": "2026-03-02T15:55:48.636Z"
          },
          {
            "eligible": 2,
            "event": "prep_completed",
            "level": "info",
            "ts": "2026-03-02T15:55:48.647Z"
          },
          {
            "event": "rule_start",
            "itemsPlanned": 1,
            "level": "info",
            "ruleId": "1300499186",
            "ts": "2026-03-02T15:56:00.433Z"
          },
          {
            "chunkSize": 20,
            "chunks": 1,
            "event": "rule_chunkify",
            "level": "info",
            "ruleId": "1300499186",
            "ts": "2026-03-02T15:56:00.440Z"
          },
          {
            "event": "rule_skip_no_eligible_items",
            "level": "info",
            "ruleId": "1300499186",
            "ts": "2026-03-02T15:56:00.451Z"
          },
          {
            "event": "rule_skip_after_filter",
            "level": "info",
            "reason": "no_eligible_items",
            "ruleId": "1300499186",
            "ts": "2026-03-02T15:56:00.460Z"
          }
        ],
        "metrics": {
          "createInvoices": 0,
          "createItems": 0,
          "invoicesPrefetchCalls": 1,
          "invoicesPrefetchCount": 0,
          "itemBatchQueries": 0,
          "itemsFetched": 0,
          "rulesEligible": 2,
          "rulesPages": 1,
          "rulesSkippedDay": 0,
          "rulesSkippedExisting": 0,
          "rulesTotal": 2,
          "updateInvoiceConnectors": 0,
          "updateParcelasPagas": 0
        },
        "startedAt": "2026-03-02T15:55:47.899Z",
        "timezone": "America/Sao_Paulo",
        "todayDay": 2
      }
    }
  },
  "tags": [
    {
      "createdAt": "2025-10-28T14:26:57.025Z",
      "id": "jWQLHyRjnHUkdCL1",
      "name": "Pipefy",
      "updatedAt": "2025-10-28T14:26:57.025Z"
    },
    {
      "createdAt": "2025-11-10T13:15:26.055Z",
      "id": "XyK45Idu3SHOnbVr",
      "name": "Automação de pipe",
      "updatedAt": "2025-11-10T13:15:58.540Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-09T12:23:15.249Z",
  "versionId": "4bc32656-68b8-4114-9b18-cfb2da8bd21e"
}