raw/n8n/workflows/[FIN] 1.2 Preparar itens elegiveis da regra.json
{
  "name": "[FIN] 1.2 Preparar itens elegiveis da regra",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"contractVersion\": \"fin_v3\",\n  \"itemType\": \"rule_input\",\n  \"trace\": {\n    \"workflowExecutionId\": \"123\"\n  },\n  \"run\": {\n    \"runId\": \"fin-billing:123:2026-02-01\",\n    \"todayDay\": 2,\n    \"competenceYMD\": \"2026-02-01\"\n  },\n  \"rule\": {\n    \"ruleId\": \"456\",\n    \"itemTemplateIds\": [\n      \"789\"\n    ]\n  }\n}"
      },
      "id": "cec5080d-0c74-4b3f-af9d-d711655b7cea",
      "name": "Execute Workflow Trigger",
      "position": [
        -960,
        336
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "const nowIso = new Date().toISOString();\nconst asObj = (v) => (v && typeof v === 'object' && !Array.isArray(v)) ? v : {};\nconst clone = (v) => JSON.parse(JSON.stringify(v));\nconst clean = (v) => String(v ?? '').trim();\nconst isBlank = (v) => {\n  const s = clean(v).toLowerCase();\n  return s === '' || s === 'null' || s === 'undefined' || s === 'nan';\n};\nconst isIsoDate = (v) => /^\\d{4}-\\d{2}-\\d{2}$/.test(clean(v).slice(0, 10));\nconst collectIds = (...values) => {\n  const out = [];\n  const visit = (value) => {\n    if (value === undefined || value === null) return;\n    if (Array.isArray(value)) {\n      for (const item of value) visit(item);\n      return;\n    }\n    const s = String(value).trim();\n    if (s) out.push(s);\n  };\n  for (const value of values) visit(value);\n  return Array.from(new Set(out));\n};\nconst pickScalar = (f) => {\n  if (!f) return null;\n  const rv = f.report_value;\n  return (rv !== undefined && rv !== null && String(rv).trim() !== '') ? rv : f.value;\n};\nconst fieldMap = (fields) => {\n  const out = {};\n  for (const f of (fields || [])) {\n    const fid = f && f.field ? f.field.id : null;\n    if (fid) out[fid] = f;\n  }\n  return out;\n};\nconst parseNum = (v) => {\n  if (v === undefined || v === null) return 0;\n  if (typeof v === 'number' && Number.isFinite(v)) return v;\n  let s = String(v).trim();\n  if (!s) return 0;\n  s = s.replace(/[^0-9,.-]/g, '');\n  if (!s) return 0;\n  if (s.includes(',') && s.includes('.')) {\n    if (s.lastIndexOf(',') > s.lastIndexOf('.')) {\n      s = s.replace(/\\./g, '').replace(',', '.');\n    } else {\n      s = s.replace(/,/g, '');\n    }\n  } else if (s.includes(',')) {\n    s = s.replace(',', '.');\n  }\n  const n = Number(s);\n  return Number.isFinite(n) ? n : 0;\n};\nconst extractIds = (f) => {\n  if (!f) return [];\n  const out = [];\n  const push = (x) => {\n    if (x === undefined || x === null) return;\n    if (typeof x === 'object') {\n      if (x.id != null) out.push(String(x.id));\n      else if (x.value != null) out.push(String(x.value));\n      else if (x.label != null) out.push(String(x.label));\n    } else {\n      out.push(String(x));\n    }\n  };\n  if (Array.isArray(f.array_value)) {\n    for (const x of f.array_value) push(x);\n  } else {\n    const v = pickScalar(f);\n    if (Array.isArray(v)) {\n      for (const x of v) push(x);\n    } else if (typeof v === 'string') {\n      const matches = v.match(/[0-9]+/g);\n      if (matches) {\n        for (const x of matches) out.push(String(x));\n      } else if (v.trim()) {\n        out.push(v.trim());\n      }\n    } else if (v != null) {\n      push(v);\n    }\n  }\n  return Array.from(new Set(out.filter(Boolean)));\n};\nconst extractList = (f) => {\n  if (!f) return [];\n  const out = [];\n  const push = (x) => {\n    if (x === undefined || x === null) return;\n    const s = String(x).trim();\n    if (s) out.push(s);\n  };\n  if (Array.isArray(f.array_value)) {\n    for (const x of f.array_value) push(x);\n  } else {\n    const v = pickScalar(f);\n    if (Array.isArray(v)) {\n      for (const x of v) push(x);\n    } else if (typeof v === 'string') {\n      const s = v.trim();\n      if (s.startsWith('[')) {\n        try {\n          const parsed = JSON.parse(s);\n          if (Array.isArray(parsed)) {\n            for (const x of parsed) push(x);\n          } else {\n            push(parsed);\n          }\n        } catch (_err) {\n          for (const x of s.split(',')) push(x);\n        }\n      } else {\n        for (const x of s.split(',')) push(x);\n      }\n    } else if (v != null) {\n      push(v);\n    }\n  }\n  return Array.from(new Set(out));\n};\nconst toId = (v) => {\n  if (v == null) return null;\n  const s = String(v).trim();\n  const match = s.match(/[0-9]+/);\n  return match ? match[0] : (s || null);\n};\nconst jsonString = (v) => {\n  try { return JSON.stringify(v ?? null); } catch (_err) { return 'null'; }\n};\nconst timeWithOffset = (ymd) => clean(ymd) ? `${clean(ymd)}T00:00:00-03:00` : null;\nconst ensureLogState = (ctx) => {\n  ctx.failures = Array.isArray(ctx.failures) ? ctx.failures : [];\n  ctx.entityLogs = Array.isArray(ctx.entityLogs) ? ctx.entityLogs : [];\n  ctx.graphqlLogs = Array.isArray(ctx.graphqlLogs) ? ctx.graphqlLogs : [];\n  ctx.workflowLogs = Array.isArray(ctx.workflowLogs) ? ctx.workflowLogs : [];\n  ctx.metrics = asObj(ctx.metrics);\n  ctx.metrics.graphqlCallsTotal = Number(ctx.metrics.graphqlCallsTotal || 0);\n  ctx.metrics.graphqlErrorsTotal = Number(ctx.metrics.graphqlErrorsTotal || 0);\n  return ctx;\n};\nconst addFailure = (ctx, node, reason, ...ids) => {\n  ctx.failures.push({\n    node: String(node || 'unknown'),\n    reason: String(reason || 'unexpected_payload_shape'),\n    pipefyCardIds: collectIds(...ids),\n  });\n};\nconst nextGraphqlIndex = (ctx) => {\n  ctx.metrics.graphqlCallsTotal = Number(ctx.metrics.graphqlCallsTotal || 0) + 1;\n  return ctx.metrics.graphqlCallsTotal;\n};\nconst addGraphqlErrorLog = (ctx, payload) => {\n  ctx.metrics.graphqlErrorsTotal = Number(ctx.metrics.graphqlErrorsTotal || 0) + 1;\n  ctx.graphqlLogs.push({\n    run_id: ctx.run?.runId ?? null,\n    workflow_execution_id: ctx.trace?.workflowExecutionId ?? String($execution.id ?? 'manual'),\n    parent_execution_id: ctx.trace?.parentExecutionId ?? null,\n    workflow_name: ctx.trace?.workflowName ?? null,\n    node_name: payload.node_name,\n    operation_name: payload.operation_name,\n    pipe_id: payload.pipe_id ?? null,\n    phase_id: payload.phase_id ?? null,\n    card_id: payload.card_id ?? null,\n    entity_type: payload.entity_type ?? null,\n    entity_id: payload.entity_id ?? null,\n    request_fingerprint: payload.request_fingerprint ?? null,\n    graphql_call_index: payload.graphql_call_index ?? null,\n    requested_at: payload.requested_at ?? nowIso,\n    responded_at: nowIso,\n    duration_ms: payload.duration_ms ?? null,\n    status: payload.status ?? 'error',\n    error_code: payload.error_code ?? null,\n    error_message: payload.error_message ?? null,\n    query_excerpt: payload.query_excerpt ?? null,\n    variables_json: payload.variables_json ?? 'null',\n    response_json: payload.response_json ?? 'null',\n  });\n};\nconst addEntityLog = (ctx, payload) => {\n  ctx.entityLogs.push({\n    run_id: ctx.run?.runId ?? null,\n    workflow_execution_id: ctx.trace?.workflowExecutionId ?? String($execution.id ?? 'manual'),\n    parent_execution_id: ctx.trace?.parentExecutionId ?? null,\n    workflow_name: ctx.trace?.workflowName ?? null,\n    node_name: payload.node_name,\n    entity_type: payload.entity_type,\n    entity_id: payload.entity_id ?? null,\n    rule_id: payload.rule_id ?? ctx.rule?.ruleId ?? null,\n    template_item_id: payload.template_item_id ?? null,\n    fin02_parent_item_id: payload.fin02_parent_item_id ?? null,\n    invoice_id: payload.invoice_id ?? null,\n    fin04_item_id: payload.fin04_item_id ?? null,\n    competence_date: timeWithOffset(ctx.run?.competenceYMD),\n    action: payload.action,\n    status: payload.status,\n    failure_reason: payload.failure_reason ?? null,\n    dedupe_key: payload.dedupe_key ?? null,\n    graphql_calls_delta: Number(payload.graphql_calls_delta || 0),\n    started_at: payload.started_at ?? ctx.startedAt ?? nowIso,\n    finished_at: payload.finished_at ?? nowIso,\n    details_json: payload.details_json ?? 'null',\n  });\n};\nconst addWorkflowLog = (ctx, payload) => {\n  ctx.workflowLogs.push({\n    run_id: ctx.run?.runId ?? null,\n    workflow_execution_id: ctx.trace?.workflowExecutionId ?? String($execution.id ?? 'manual'),\n    parent_execution_id: ctx.trace?.parentExecutionId ?? null,\n    workflow_name: ctx.trace?.workflowName ?? null,\n    trigger_type: ctx.run?.triggerType ?? null,\n    competence_date: timeWithOffset(ctx.run?.competenceYMD),\n    started_at: payload.started_at ?? ctx.startedAt ?? nowIso,\n    finished_at: payload.finished_at ?? nowIso,\n    status: payload.status,\n    failure_reason: payload.failure_reason ?? null,\n    graphql_calls_total: Number(ctx.metrics?.graphqlCallsTotal || 0),\n    rules_found: Number(payload.rules_found || 0),\n    rules_eligible: Number(payload.rules_eligible || 0),\n    rules_processed: Number(payload.rules_processed || 0),\n    rules_failed: Number(payload.rules_failed || 0),\n    items_created: Number(payload.items_created || 0),\n    items_updated: Number(payload.items_updated || 0),\n    duplicate_items_blocked: Number(payload.duplicate_items_blocked || 0),\n    invoices_created: Number(payload.invoices_created || 0),\n    duplicate_invoices_blocked: Number(payload.duplicate_invoices_blocked || 0),\n    installments_incremented: Number(payload.installments_incremented || 0),\n    parent_items_inactivated: Number(payload.parent_items_inactivated || 0),\n    summary_json: payload.summary_json ?? 'null',\n  });\n};\n\n    const input = asObj($json);\n    const asStructuredObject = (value) => {\n      if (value && typeof value === 'object' && !Array.isArray(value)) return value;\n      if (typeof value !== 'string') return {};\n      const s = value.trim();\n      if (!s) return {};\n      try {\n        const parsed = JSON.parse(s);\n        return (parsed && typeof parsed === 'object' && !Array.isArray(parsed)) ? parsed : {};\n      } catch (_err) {\n        return {};\n      }\n    };\n    const run = clone(asStructuredObject(input.run));\n    const traceIn = clone(asStructuredObject(input.trace));\n    const rule = clone(asStructuredObject(input.rule));\n    const ctx = ensureLogState({\n      startedAt: nowIso,\n      trace: {\n        parentExecutionId: traceIn.workflowExecutionId ?? traceIn.parentExecutionId ?? null,\n        workflowExecutionId: String($execution.id ?? 'manual'),\n        workflowName: '[FIN] 1.2 Preparar itens elegiveis da regra',\n      },\n      run,\n      rule,\n      metrics: {},\n      config: {\n        fin02ActivePhaseId: '341306826',\n        fin04PipeId: '306859915',\n        fin04PhaseId: '341351580',\n        rulePhaseId: '341313813',\n      },\n      plannedItems: [],\n      invoiceInputBase: null,\n      terminal: { done: false, status: null, reason: null },\n    });\n    if (String(input.contractVersion || '') !== 'fin_v3' || String(input.itemType || '') !== 'rule_input') {\n      addFailure(ctx, 'Init contexto item_plan', 'unexpected_payload_shape', rule.ruleId ?? null);\n      ctx.terminal = { done: true, status: 'failed', reason: 'unexpected_payload_shape' };\n    }\n    if (!ctx.terminal.done && (!rule.ruleId || !Array.isArray(rule.itemTemplateIds))) {\n      addFailure(ctx, 'Init contexto item_plan', 'invalid_rule_input', rule.ruleId ?? null);\n      ctx.terminal = { done: true, status: 'failed', reason: 'invalid_rule_input' };\n    }\n    if (!ctx.terminal.done && rule.itemTemplateIds.length === 0) {\n      addFailure(ctx, 'Init contexto item_plan', 'no_items_ready_for_invoice', rule.ruleId ?? null);\n      ctx.terminal = { done: true, status: 'failed', reason: 'no_items_ready_for_invoice' };\n    }\n    return [{ json: ctx }];"
      },
      "id": "fd36b6c5-3572-4a6e-856e-ade42323fb95",
      "name": "Init contexto item_plan",
      "position": [
        -736,
        336
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.terminal?.done !== true && Array.isArray($json.rule?.itemTemplateIds) && $json.rule.itemTemplateIds.length > 0 }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "ed852fc5-46cf-4259-a82a-22822a3b0cf0",
      "name": "Pode preparar itens?",
      "position": [
        -512,
        336
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "const nowIso = new Date().toISOString();\nconst asObj = (v) => (v && typeof v === 'object' && !Array.isArray(v)) ? v : {};\nconst clone = (v) => JSON.parse(JSON.stringify(v));\nconst clean = (v) => String(v ?? '').trim();\nconst isBlank = (v) => {\n  const s = clean(v).toLowerCase();\n  return s === '' || s === 'null' || s === 'undefined' || s === 'nan';\n};\nconst isIsoDate = (v) => /^\\d{4}-\\d{2}-\\d{2}$/.test(clean(v).slice(0, 10));\nconst collectIds = (...values) => {\n  const out = [];\n  const visit = (value) => {\n    if (value === undefined || value === null) return;\n    if (Array.isArray(value)) {\n      for (const item of value) visit(item);\n      return;\n    }\n    const s = String(value).trim();\n    if (s) out.push(s);\n  };\n  for (const value of values) visit(value);\n  return Array.from(new Set(out));\n};\nconst pickScalar = (f) => {\n  if (!f) return null;\n  const rv = f.report_value;\n  return (rv !== undefined && rv !== null && String(rv).trim() !== '') ? rv : f.value;\n};\nconst fieldMap = (fields) => {\n  const out = {};\n  for (const f of (fields || [])) {\n    const fid = f && f.field ? f.field.id : null;\n    if (fid) out[fid] = f;\n  }\n  return out;\n};\nconst parseNum = (v) => {\n  if (v === undefined || v === null) return 0;\n  if (typeof v === 'number' && Number.isFinite(v)) return v;\n  let s = String(v).trim();\n  if (!s) return 0;\n  s = s.replace(/[^0-9,.-]/g, '');\n  if (!s) return 0;\n  if (s.includes(',') && s.includes('.')) {\n    if (s.lastIndexOf(',') > s.lastIndexOf('.')) {\n      s = s.replace(/\\./g, '').replace(',', '.');\n    } else {\n      s = s.replace(/,/g, '');\n    }\n  } else if (s.includes(',')) {\n    s = s.replace(',', '.');\n  }\n  const n = Number(s);\n  return Number.isFinite(n) ? n : 0;\n};\nconst extractIds = (f) => {\n  if (!f) return [];\n  const out = [];\n  const push = (x) => {\n    if (x === undefined || x === null) return;\n    if (typeof x === 'object') {\n      if (x.id != null) out.push(String(x.id));\n      else if (x.value != null) out.push(String(x.value));\n      else if (x.label != null) out.push(String(x.label));\n    } else {\n      out.push(String(x));\n    }\n  };\n  if (Array.isArray(f.array_value)) {\n    for (const x of f.array_value) push(x);\n  } else {\n    const v = pickScalar(f);\n    if (Array.isArray(v)) {\n      for (const x of v) push(x);\n    } else if (typeof v === 'string') {\n      const matches = v.match(/[0-9]+/g);\n      if (matches) {\n        for (const x of matches) out.push(String(x));\n      } else if (v.trim()) {\n        out.push(v.trim());\n      }\n    } else if (v != null) {\n      push(v);\n    }\n  }\n  return Array.from(new Set(out.filter(Boolean)));\n};\nconst extractList = (f) => {\n  if (!f) return [];\n  const out = [];\n  const push = (x) => {\n    if (x === undefined || x === null) return;\n    const s = String(x).trim();\n    if (s) out.push(s);\n  };\n  if (Array.isArray(f.array_value)) {\n    for (const x of f.array_value) push(x);\n  } else {\n    const v = pickScalar(f);\n    if (Array.isArray(v)) {\n      for (const x of v) push(x);\n    } else if (typeof v === 'string') {\n      const s = v.trim();\n      if (s.startsWith('[')) {\n        try {\n          const parsed = JSON.parse(s);\n          if (Array.isArray(parsed)) {\n            for (const x of parsed) push(x);\n          } else {\n            push(parsed);\n          }\n        } catch (_err) {\n          for (const x of s.split(',')) push(x);\n        }\n      } else {\n        for (const x of s.split(',')) push(x);\n      }\n    } else if (v != null) {\n      push(v);\n    }\n  }\n  return Array.from(new Set(out));\n};\nconst toId = (v) => {\n  if (v == null) return null;\n  const s = String(v).trim();\n  const match = s.match(/[0-9]+/);\n  return match ? match[0] : (s || null);\n};\nconst jsonString = (v) => {\n  try { return JSON.stringify(v ?? null); } catch (_err) { return 'null'; }\n};\nconst timeWithOffset = (ymd) => clean(ymd) ? `${clean(ymd)}T00:00:00-03:00` : null;\nconst ensureLogState = (ctx) => {\n  ctx.failures = Array.isArray(ctx.failures) ? ctx.failures : [];\n  ctx.entityLogs = Array.isArray(ctx.entityLogs) ? ctx.entityLogs : [];\n  ctx.graphqlLogs = Array.isArray(ctx.graphqlLogs) ? ctx.graphqlLogs : [];\n  ctx.workflowLogs = Array.isArray(ctx.workflowLogs) ? ctx.workflowLogs : [];\n  ctx.metrics = asObj(ctx.metrics);\n  ctx.metrics.graphqlCallsTotal = Number(ctx.metrics.graphqlCallsTotal || 0);\n  ctx.metrics.graphqlErrorsTotal = Number(ctx.metrics.graphqlErrorsTotal || 0);\n  return ctx;\n};\nconst addFailure = (ctx, node, reason, ...ids) => {\n  ctx.failures.push({\n    node: String(node || 'unknown'),\n    reason: String(reason || 'unexpected_payload_shape'),\n    pipefyCardIds: collectIds(...ids),\n  });\n};\nconst nextGraphqlIndex = (ctx) => {\n  ctx.metrics.graphqlCallsTotal = Number(ctx.metrics.graphqlCallsTotal || 0) + 1;\n  return ctx.metrics.graphqlCallsTotal;\n};\nconst addGraphqlErrorLog = (ctx, payload) => {\n  ctx.metrics.graphqlErrorsTotal = Number(ctx.metrics.graphqlErrorsTotal || 0) + 1;\n  ctx.graphqlLogs.push({\n    run_id: ctx.run?.runId ?? null,\n    workflow_execution_id: ctx.trace?.workflowExecutionId ?? String($execution.id ?? 'manual'),\n    parent_execution_id: ctx.trace?.parentExecutionId ?? null,\n    workflow_name: ctx.trace?.workflowName ?? null,\n    node_name: payload.node_name,\n    operation_name: payload.operation_name,\n    pipe_id: payload.pipe_id ?? null,\n    phase_id: payload.phase_id ?? null,\n    card_id: payload.card_id ?? null,\n    entity_type: payload.entity_type ?? null,\n    entity_id: payload.entity_id ?? null,\n    request_fingerprint: payload.request_fingerprint ?? null,\n    graphql_call_index: payload.graphql_call_index ?? null,\n    requested_at: payload.requested_at ?? nowIso,\n    responded_at: nowIso,\n    duration_ms: payload.duration_ms ?? null,\n    status: payload.status ?? 'error',\n    error_code: payload.error_code ?? null,\n    error_message: payload.error_message ?? null,\n    query_excerpt: payload.query_excerpt ?? null,\n    variables_json: payload.variables_json ?? 'null',\n    response_json: payload.response_json ?? 'null',\n  });\n};\nconst addEntityLog = (ctx, payload) => {\n  ctx.entityLogs.push({\n    run_id: ctx.run?.runId ?? null,\n    workflow_execution_id: ctx.trace?.workflowExecutionId ?? String($execution.id ?? 'manual'),\n    parent_execution_id: ctx.trace?.parentExecutionId ?? null,\n    workflow_name: ctx.trace?.workflowName ?? null,\n    node_name: payload.node_name,\n    entity_type: payload.entity_type,\n    entity_id: payload.entity_id ?? null,\n    rule_id: payload.rule_id ?? ctx.rule?.ruleId ?? null,\n    template_item_id: payload.template_item_id ?? null,\n    fin02_parent_item_id: payload.fin02_parent_item_id ?? null,\n    invoice_id: payload.invoice_id ?? null,\n    fin04_item_id: payload.fin04_item_id ?? null,\n    competence_date: timeWithOffset(ctx.run?.competenceYMD),\n    action: payload.action,\n    status: payload.status,\n    failure_reason: payload.failure_reason ?? null,\n    dedupe_key: payload.dedupe_key ?? null,\n    graphql_calls_delta: Number(payload.graphql_calls_delta || 0),\n    started_at: payload.started_at ?? ctx.startedAt ?? nowIso,\n    finished_at: payload.finished_at ?? nowIso,\n    details_json: payload.details_json ?? 'null',\n  });\n};\nconst addWorkflowLog = (ctx, payload) => {\n  ctx.workflowLogs.push({\n    run_id: ctx.run?.runId ?? null,\n    workflow_execution_id: ctx.trace?.workflowExecutionId ?? String($execution.id ?? 'manual'),\n    parent_execution_id: ctx.trace?.parentExecutionId ?? null,\n    workflow_name: ctx.trace?.workflowName ?? null,\n    trigger_type: ctx.run?.triggerType ?? null,\n    competence_date: timeWithOffset(ctx.run?.competenceYMD),\n    started_at: payload.started_at ?? ctx.startedAt ?? nowIso,\n    finished_at: payload.finished_at ?? nowIso,\n    status: payload.status,\n    failure_reason: payload.failure_reason ?? null,\n    graphql_calls_total: Number(ctx.metrics?.graphqlCallsTotal || 0),\n    rules_found: Number(payload.rules_found || 0),\n    rules_eligible: Number(payload.rules_eligible || 0),\n    rules_processed: Number(payload.rules_processed || 0),\n    rules_failed: Number(payload.rules_failed || 0),\n    items_created: Number(payload.items_created || 0),\n    items_updated: Number(payload.items_updated || 0),\n    duplicate_items_blocked: Number(payload.duplicate_items_blocked || 0),\n    invoices_created: Number(payload.invoices_created || 0),\n    duplicate_invoices_blocked: Number(payload.duplicate_invoices_blocked || 0),\n    installments_incremented: Number(payload.installments_incremented || 0),\n    parent_items_inactivated: Number(payload.parent_items_inactivated || 0),\n    summary_json: payload.summary_json ?? 'null',\n  });\n};\n\n    const ctx = ensureLogState(clone(asObj($json)));\n    const reason = ctx.terminal?.reason || (ctx.failures[0]?.reason || 'no_items_ready_for_invoice');\n    addWorkflowLog(ctx, {\n      status: 'failed',\n      failure_reason: reason,\n      rules_processed: 1,\n      rules_failed: 1,\n      summary_json: jsonString({ directResult: true, reason }),\n    });\n    return [{\n      json: {\n        contractVersion: 'fin_v3',\n        itemType: 'rule_result',\n        trace: ctx.trace,\n        run: ctx.run,\n        rule: { ruleId: ctx.rule.ruleId, ruleTitle: ctx.rule.ruleTitle, prefetchDecision: ctx.rule.prefetchDecision ?? null },\n        result: {\n          status: 'failed',\n          reason,\n          invoiceId: null,\n          existingInvoiceId: null,\n          createdItemIds: [],\n          totals: { brl: 0, usd: 0 },\n          metricsDelta: {},\n          failures: ctx.failures,\n        },\n        logs: { workflowLogs: ctx.workflowLogs, entityLogs: ctx.entityLogs, graphqlLogs: ctx.graphqlLogs },\n        failures: ctx.failures,\n      }\n    }];"
      },
      "id": "c410d5d4-7d75-4b0e-aabe-f1436e1ebb84",
      "name": "Emitir rule_result direto",
      "position": [
        -288,
        432
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b7f3bc3-6dba-4f78-b01d-fa3f48b2c02b",
              "name": "emitTemplatePairs",
              "type": "json",
              "value": "={{ (Array.isArray($json.rule?.itemTemplateIds) ? $json.rule.itemTemplateIds : []).map((templateItemId) => ({ ctx: $json, templateItemId: String(templateItemId) })) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "35b5cfca-7e89-455c-81af-21aa30a49513",
      "name": "Set pares template IDs",
      "position": [
        -288,
        240
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "emitTemplatePairs",
        "options": {}
      },
      "id": "52e3fb75-db74-4de0-80ea-f7bf900d3929",
      "name": "Split Out template IDs",
      "position": [
        -64,
        240
      ],
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query GetTemplateItem($id: ID!) { card(id: $id) { id title current_phase { id name } fields { field { id label type } value report_value array_value } } }",
        "variables": "={{ { id: String($json.templateItemId) } }}"
      },
      "id": "d5b4f226-62b7-4ab6-bf27-f288ab7bfcd3",
      "maxTries": 5,
      "name": "FIN-02 Buscar item template",
      "position": [
        160,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000,
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query FindFin04ByTemplate($pipeId: ID!, $fieldId: String!, $templateId: String!, $first: Int!) { findCards(pipeId: $pipeId, first: $first, search: { fieldId: $fieldId, fieldValue: $templateId }) { edges { node { id fields { field { id label type } value report_value array_value } } } pageInfo { hasNextPage endCursor } } }",
        "variables": "={{ { pipeId: '306859915', fieldId: 'id_do_item_usado_como_template_fin_02', templateId: String($json.templateItemId), first: 100 } }}"
      },
      "id": "dc3b1673-f275-416c-849f-bd5d8929d1ad",
      "maxTries": 5,
      "name": "FIN-04 Verificar conflitos por competencia",
      "position": [
        608,
        240
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000,
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const nowIso = new Date().toISOString();\nconst asObj = (v) => (v && typeof v === 'object' && !Array.isArray(v)) ? v : {};\nconst clone = (v) => JSON.parse(JSON.stringify(v));\nconst clean = (v) => String(v ?? '').trim();\nconst isBlank = (v) => {\n  const s = clean(v).toLowerCase();\n  return s === '' || s === 'null' || s === 'undefined' || s === 'nan';\n};\nconst isIsoDate = (v) => /^\\d{4}-\\d{2}-\\d{2}$/.test(clean(v).slice(0, 10));\nconst collectIds = (...values) => {\n  const out = [];\n  const visit = (value) => {\n    if (value === undefined || value === null) return;\n    if (Array.isArray(value)) {\n      for (const item of value) visit(item);\n      return;\n    }\n    const s = String(value).trim();\n    if (s) out.push(s);\n  };\n  for (const value of values) visit(value);\n  return Array.from(new Set(out));\n};\nconst pickScalar = (f) => {\n  if (!f) return null;\n  const rv = f.report_value;\n  return (rv !== undefined && rv !== null && String(rv).trim() !== '') ? rv : f.value;\n};\nconst fieldMap = (fields) => {\n  const out = {};\n  for (const f of (fields || [])) {\n    const fid = f && f.field ? f.field.id : null;\n    if (fid) out[fid] = f;\n  }\n  return out;\n};\nconst parseNum = (v) => {\n  if (v === undefined || v === null) return 0;\n  if (typeof v === 'number' && Number.isFinite(v)) return v;\n  let s = String(v).trim();\n  if (!s) return 0;\n  s = s.replace(/[^0-9,.-]/g, '');\n  if (!s) return 0;\n  if (s.includes(',') && s.includes('.')) {\n    if (s.lastIndexOf(',') > s.lastIndexOf('.')) {\n      s = s.replace(/\\./g, '').replace(',', '.');\n    } else {\n      s = s.replace(/,/g, '');\n    }\n  } else if (s.includes(',')) {\n    s = s.replace(',', '.');\n  }\n  const n = Number(s);\n  return Number.isFinite(n) ? n : 0;\n};\nconst extractIds = (f) => {\n  if (!f) return [];\n  const out = [];\n  const push = (x) => {\n    if (x === undefined || x === null) return;\n    if (typeof x === 'object') {\n      if (x.id != null) out.push(String(x.id));\n      else if (x.value != null) out.push(String(x.value));\n      else if (x.label != null) out.push(String(x.label));\n    } else {\n      out.push(String(x));\n    }\n  };\n  if (Array.isArray(f.array_value)) {\n    for (const x of f.array_value) push(x);\n  } else {\n    const v = pickScalar(f);\n    if (Array.isArray(v)) {\n      for (const x of v) push(x);\n    } else if (typeof v === 'string') {\n      const matches = v.match(/[0-9]+/g);\n      if (matches) {\n        for (const x of matches) out.push(String(x));\n      } else if (v.trim()) {\n        out.push(v.trim());\n      }\n    } else if (v != null) {\n      push(v);\n    }\n  }\n  return Array.from(new Set(out.filter(Boolean)));\n};\nconst extractList = (f) => {\n  if (!f) return [];\n  const out = [];\n  const push = (x) => {\n    if (x === undefined || x === null) return;\n    const s = String(x).trim();\n    if (s) out.push(s);\n  };\n  if (Array.isArray(f.array_value)) {\n    for (const x of f.array_value) push(x);\n  } else {\n    const v = pickScalar(f);\n    if (Array.isArray(v)) {\n      for (const x of v) push(x);\n    } else if (typeof v === 'string') {\n      const s = v.trim();\n      if (s.startsWith('[')) {\n        try {\n          const parsed = JSON.parse(s);\n          if (Array.isArray(parsed)) {\n            for (const x of parsed) push(x);\n          } else {\n            push(parsed);\n          }\n        } catch (_err) {\n          for (const x of s.split(',')) push(x);\n        }\n      } else {\n        for (const x of s.split(',')) push(x);\n      }\n    } else if (v != null) {\n      push(v);\n    }\n  }\n  return Array.from(new Set(out));\n};\nconst toId = (v) => {\n  if (v == null) return null;\n  const s = String(v).trim();\n  const match = s.match(/[0-9]+/);\n  return match ? match[0] : (s || null);\n};\nconst jsonString = (v) => {\n  try { return JSON.stringify(v ?? null); } catch (_err) { return 'null'; }\n};\nconst timeWithOffset = (ymd) => clean(ymd) ? `${clean(ymd)}T00:00:00-03:00` : null;\nconst STATUS_PRIORITY = {\n  success: 0,\n  skipped: 1,\n  blocked: 2,\n  failed: 3,\n};\nconst parseDetailsObject = (value) => {\n  if (value && typeof value === 'object' && !Array.isArray(value)) return clone(value);\n  const s = clean(value);\n  if (!s || s === 'null') return {};\n  try {\n    const parsed = JSON.parse(s);\n    return (parsed && typeof parsed === 'object' && !Array.isArray(parsed)) ? parsed : {};\n  } catch (_err) {\n    return {};\n  }\n};\nconst uniqueStrings = (values) => {\n  const out = [];\n  const seen = new Set();\n  for (const value of (values || [])) {\n    const s = clean(value);\n    if (!s || seen.has(s)) continue;\n    seen.add(s);\n    out.push(s);\n  }\n  return out;\n};\nconst uniqueObjects = (values) => {\n  const out = [];\n  const seen = new Set();\n  for (const value of (values || [])) {\n    const fingerprint = jsonString(value ?? null);\n    if (seen.has(fingerprint)) continue;\n    seen.add(fingerprint);\n    out.push(value);\n  }\n  return out;\n};\nconst minTime = (current, incoming) => {\n  const a = clean(current);\n  const b = clean(incoming);\n  if (!a) return b || null;\n  if (!b) return a || null;\n  return a <= b ? a : b;\n};\nconst maxTime = (current, incoming) => {\n  const a = clean(current);\n  const b = clean(incoming);\n  if (!a) return b || null;\n  if (!b) return a || null;\n  return a >= b ? a : b;\n};\nconst rawEntityType = (payload) => clean(payload.entity_type);\nconst resolveRuleId = (ctx, payload) => clean(payload.rule_id ?? ctx.rule?.ruleId ?? (rawEntityType(payload) === 'rule' ? payload.entity_id : '')) || null;\nconst resolveTemplateItemId = (payload) => clean(payload.template_item_id ?? payload.fin02_parent_item_id ?? (rawEntityType(payload) === 'template_item' ? payload.entity_id : '')) || null;\nconst resolveFin04ItemId = (payload) => clean(payload.fin04_item_id ?? (rawEntityType(payload) === 'fin04_item' ? payload.entity_id : '')) || null;\nconst ensureEntityLifecycleState = (ctx) => {\n  ctx.entityLifecycle = asObj(ctx.entityLifecycle);\n  ctx.entityLifecycle.items = asObj(ctx.entityLifecycle.items);\n  ctx.entityLifecycle.invoices = asObj(ctx.entityLifecycle.invoices);\n  ctx.entityLifecycle.aliasByFin04 = asObj(ctx.entityLifecycle.aliasByFin04);\n  ctx.entityLifecycle.syntheticInvoiceCounter = Number(ctx.entityLifecycle.syntheticInvoiceCounter || 0);\n  ctx.entityLifecycle.syntheticItemCounter = Number(ctx.entityLifecycle.syntheticItemCounter || 0);\n  return ctx.entityLifecycle;\n};\nconst syncEntityLogs = (ctx) => {\n  const state = ensureEntityLifecycleState(ctx);\n  const sortRows = (rows) => rows.sort((left, right) => {\n    const leftKey = clean(left.dedupe_key) || clean(left.entity_id) || clean(left.rule_id);\n    const rightKey = clean(right.dedupe_key) || clean(right.entity_id) || clean(right.rule_id);\n    return leftKey.localeCompare(rightKey);\n  });\n  ctx.entityLogs = [\n    ...sortRows(Object.values(state.invoices)),\n    ...sortRows(Object.values(state.items)),\n  ];\n  return ctx.entityLogs;\n};\nconst lifecycleKind = (payload) => {\n  const type = rawEntityType(payload);\n  if (type === 'rule' || type === 'invoice') return 'invoice';\n  return 'item';\n};\nconst invoiceLifecycleKey = (ctx, payload, state) => {\n  const ruleId = resolveRuleId(ctx, payload);\n  const dedupeKey = clean(payload.dedupe_key);\n  if (!ruleId && dedupeKey.startsWith('missing_rule:')) return dedupeKey;\n  const competence = clean(payload.competence_date).slice(0, 10) || clean(ctx.run?.competenceYMD);\n  if (ruleId) return `${ruleId}|${competence}`;\n  state.syntheticInvoiceCounter = Number(state.syntheticInvoiceCounter || 0) + 1;\n  return `missing_rule:${state.syntheticInvoiceCounter}|${competence}`;\n};\nconst itemLifecycleKey = (ctx, payload, state) => {\n  const competence = clean(payload.competence_date).slice(0, 10) || clean(ctx.run?.competenceYMD);\n  const ruleId = resolveRuleId(ctx, payload) || 'missing_rule';\n  const templateItemId = resolveTemplateItemId(payload);\n  const fin04ItemId = resolveFin04ItemId(payload);\n  if (templateItemId) {\n    if (fin04ItemId && clean(state.aliasByFin04[fin04ItemId])) return clean(state.aliasByFin04[fin04ItemId]);\n    const key = `${ruleId}|${templateItemId}|${competence}`;\n    if (fin04ItemId) state.aliasByFin04[fin04ItemId] = key;\n    return key;\n  }\n  if (fin04ItemId && clean(state.aliasByFin04[fin04ItemId])) return clean(state.aliasByFin04[fin04ItemId]);\n  if (fin04ItemId) {\n    const key = `${ruleId}|fin04:${fin04ItemId}|${competence}`;\n    state.aliasByFin04[fin04ItemId] = key;\n    return key;\n  }\n  const dedupeKey = clean(payload.dedupe_key);\n  if (dedupeKey) return `${ruleId}|dedupe:${dedupeKey}|${competence}`;\n  state.syntheticItemCounter = Number(state.syntheticItemCounter || 0) + 1;\n  return `${ruleId}|missing_item:${state.syntheticItemCounter}|${competence}`;\n};\nconst lifecycleIdentity = (ctx, payload, state) => {\n  const kind = lifecycleKind(payload);\n  return {\n    kind,\n    key: kind === 'invoice' ? invoiceLifecycleKey(ctx, payload, state) : itemLifecycleKey(ctx, payload, state),\n  };\n};\nconst lifecycleBaseRow = (ctx, payload, kind, key) => {\n  const ruleId = resolveRuleId(ctx, payload);\n  const templateItemId = resolveTemplateItemId(payload);\n  const fin04ItemId = resolveFin04ItemId(payload);\n  const invoiceId = clean(payload.invoice_id) || null;\n  const competenceDate = payload.competence_date ?? timeWithOffset(ctx.run?.competenceYMD);\n  return {\n    run_id: ctx.run?.runId ?? null,\n    workflow_execution_id: ctx.trace?.workflowExecutionId ?? String($execution.id ?? 'manual'),\n    parent_execution_id: ctx.trace?.parentExecutionId ?? null,\n    workflow_name: ctx.trace?.workflowName ?? null,\n    node_name: payload.node_name ?? null,\n    entity_type: kind,\n    entity_id: kind === 'invoice' ? (invoiceId || ruleId) : (fin04ItemId || templateItemId),\n    rule_id: ruleId,\n    template_item_id: templateItemId,\n    fin02_parent_item_id: clean(payload.fin02_parent_item_id) || templateItemId || null,\n    invoice_id: invoiceId,\n    fin04_item_id: fin04ItemId,\n    competence_date: competenceDate,\n    action: kind === 'invoice' ? 'invoice_lifecycle' : 'item_lifecycle',\n    status: null,\n    failure_reason: null,\n    dedupe_key: key,\n    graphql_calls_delta: 0,\n    started_at: null,\n    finished_at: null,\n    details_json: 'null',\n  };\n};\nconst mergeLifecycleDetails = (row, payload) => {\n  const details = parseDetailsObject(row.details_json);\n  const stageDetails = parseDetailsObject(payload.details_json);\n  const stage = {\n    node_name: payload.node_name ?? null,\n    action: clean(payload.action) || null,\n    status: clean(payload.status) || null,\n    failure_reason: clean(payload.failure_reason) || null,\n  };\n  details.stages = uniqueObjects([\n    ...(Array.isArray(details.stages) ? details.stages : []),\n    stage,\n  ].filter((value) => value.node_name || value.action || value.status || value.failure_reason));\n  details.raw_actions = uniqueStrings([\n    ...(Array.isArray(details.raw_actions) ? details.raw_actions : []),\n    payload.action,\n  ]);\n  details.failure_reasons = uniqueStrings([\n    ...(Array.isArray(details.failure_reasons) ? details.failure_reasons : []),\n    payload.failure_reason,\n  ]);\n  details.stage_details = uniqueObjects([\n    ...(Array.isArray(details.stage_details) ? details.stage_details : []),\n    ...(Object.keys(stageDetails).length > 0 ? [stageDetails] : []),\n  ]);\n  if (clean(payload.action) === 'create_item' && clean(payload.status) === 'success') details.created_item = true;\n  if (clean(payload.action) === 'update_item_invoice_id' && clean(payload.status) === 'success') details.invoice_linked = true;\n  if (clean(payload.action) === 'increment_installment_counter' && clean(payload.status) === 'success') details.parcelas_incremented = true;\n  if (clean(payload.action) === 'inactivate_parent_item' && clean(payload.status) === 'success') details.parent_inactivated = true;\n  if (clean(payload.action) === 'create_invoice' && clean(payload.status) === 'success') details.invoice_created = true;\n  if (clean(payload.failure_reason) === 'invoice_already_exists') details.invoice_preexisting = true;\n  row.details_json = jsonString(details);\n};\nconst mergeLifecycleRow = (ctx, current, payload, kind, key) => {\n  const row = current ? clone(current) : lifecycleBaseRow(ctx, payload, kind, key);\n  const incomingStatus = clean(payload.status) || 'success';\n  const incomingRank = STATUS_PRIORITY[incomingStatus] ?? -1;\n  const currentRank = STATUS_PRIORITY[clean(row.status)] ?? -1;\n  row.run_id = row.run_id ?? ctx.run?.runId ?? null;\n  row.workflow_execution_id = row.workflow_execution_id ?? ctx.trace?.workflowExecutionId ?? String($execution.id ?? 'manual');\n  row.parent_execution_id = row.parent_execution_id ?? ctx.trace?.parentExecutionId ?? null;\n  row.workflow_name = row.workflow_name ?? ctx.trace?.workflowName ?? null;\n  row.rule_id = row.rule_id || resolveRuleId(ctx, payload);\n  row.template_item_id = row.template_item_id || resolveTemplateItemId(payload);\n  row.fin02_parent_item_id = row.fin02_parent_item_id || clean(payload.fin02_parent_item_id) || row.template_item_id || null;\n  row.invoice_id = row.invoice_id || clean(payload.invoice_id) || null;\n  row.fin04_item_id = row.fin04_item_id || resolveFin04ItemId(payload);\n  row.entity_type = kind;\n  row.action = kind === 'invoice' ? 'invoice_lifecycle' : 'item_lifecycle';\n  row.dedupe_key = key;\n  row.graphql_calls_delta = Number(row.graphql_calls_delta || 0) + Number(payload.graphql_calls_delta || 0);\n  row.started_at = minTime(row.started_at, payload.started_at ?? ctx.startedAt ?? nowIso);\n  row.finished_at = maxTime(row.finished_at, payload.finished_at ?? nowIso);\n  if (incomingRank >= currentRank) {\n    row.status = incomingStatus;\n    row.node_name = payload.node_name ?? row.node_name;\n    if (clean(payload.failure_reason)) row.failure_reason = clean(payload.failure_reason);\n  }\n  if (!clean(row.failure_reason) && clean(payload.failure_reason)) row.failure_reason = clean(payload.failure_reason);\n  row.entity_id = kind === 'invoice' ? (row.invoice_id || row.rule_id || row.entity_id || null) : (row.fin04_item_id || row.template_item_id || row.entity_id || null);\n  mergeLifecycleDetails(row, payload);\n  return row;\n};\nconst rehydrateEntityLifecycle = (ctx) => {\n  const state = ensureEntityLifecycleState(ctx);\n  if (!Array.isArray(ctx.entityLogs) || ctx.entityLogs.length === 0) return;\n  if (Object.keys(state.items).length > 0 || Object.keys(state.invoices).length > 0) return;\n  const existingRows = ctx.entityLogs.slice();\n  ctx.entityLogs = [];\n  for (const row of existingRows) {\n    const identity = lifecycleIdentity(ctx, row, state);\n    const bucket = identity.kind === 'invoice' ? state.invoices : state.items;\n    const current = bucket[identity.key] ? asObj(bucket[identity.key]) : null;\n    const merged = mergeLifecycleRow(ctx, current, row, identity.kind, identity.key);\n    bucket[identity.key] = merged;\n    if (clean(merged.fin04_item_id)) state.aliasByFin04[clean(merged.fin04_item_id)] = identity.key;\n  }\n  syncEntityLogs(ctx);\n};\nconst ensureLogState = (ctx) => {\n  ctx.failures = Array.isArray(ctx.failures) ? ctx.failures : [];\n  ctx.entityLogs = Array.isArray(ctx.entityLogs) ? ctx.entityLogs : [];\n  ctx.graphqlLogs = Array.isArray(ctx.graphqlLogs) ? ctx.graphqlLogs : [];\n  ctx.workflowLogs = Array.isArray(ctx.workflowLogs) ? ctx.workflowLogs : [];\n  ctx.metrics = asObj(ctx.metrics);\n  ctx.metrics.graphqlCallsTotal = Number(ctx.metrics.graphqlCallsTotal || 0);\n  ctx.metrics.graphqlErrorsTotal = Number(ctx.metrics.graphqlErrorsTotal || 0);\n  ensureEntityLifecycleState(ctx);\n  rehydrateEntityLifecycle(ctx);\n  return ctx;\n};\nconst addFailure = (ctx, node, reason, ...ids) => {\n  ctx.failures.push({\n    node: String(node || 'unknown'),\n    reason: String(reason || 'unexpected_payload_shape'),\n    pipefyCardIds: collectIds(...ids),\n  });\n};\nconst nextGraphqlIndex = (ctx) => {\n  ctx.metrics.graphqlCallsTotal = Number(ctx.metrics.graphqlCallsTotal || 0) + 1;\n  return ctx.metrics.graphqlCallsTotal;\n};\nconst addGraphqlErrorLog = (ctx, payload) => {\n  ctx.metrics.graphqlErrorsTotal = Number(ctx.metrics.graphqlErrorsTotal || 0) + 1;\n  ctx.graphqlLogs.push({\n    run_id: ctx.run?.runId ?? null,\n    workflow_execution_id: ctx.trace?.workflowExecutionId ?? String($execution.id ?? 'manual'),\n    parent_execution_id: ctx.trace?.parentExecutionId ?? null,\n    workflow_name: ctx.trace?.workflowName ?? null,\n    node_name: payload.node_name,\n    operation_name: payload.operation_name,\n    pipe_id: payload.pipe_id ?? null,\n    phase_id: payload.phase_id ?? null,\n    card_id: payload.card_id ?? null,\n    entity_type: payload.entity_type ?? null,\n    entity_id: payload.entity_id ?? null,\n    request_fingerprint: payload.request_fingerprint ?? null,\n    graphql_call_index: payload.graphql_call_index ?? null,\n    requested_at: payload.requested_at ?? nowIso,\n    responded_at: nowIso,\n    duration_ms: payload.duration_ms ?? null,\n    status: payload.status ?? 'error',\n    error_code: payload.error_code ?? null,\n    error_message: payload.error_message ?? null,\n    query_excerpt: payload.query_excerpt ?? null,\n    variables_json: payload.variables_json ?? 'null',\n    response_json: payload.response_json ?? 'null',\n  });\n};\nconst addEntityLog = (ctx, payload) => {\n  const state = ensureEntityLifecycleState(ctx);\n  const identity = lifecycleIdentity(ctx, payload, state);\n  const bucket = identity.kind === 'invoice' ? state.invoices : state.items;\n  const current = bucket[identity.key] ? asObj(bucket[identity.key]) : null;\n  const merged = mergeLifecycleRow(ctx, current, payload, identity.kind, identity.key);\n  bucket[identity.key] = merged;\n  if (clean(merged.fin04_item_id)) state.aliasByFin04[clean(merged.fin04_item_id)] = identity.key;\n  syncEntityLogs(ctx);\n};\nconst addWorkflowLog = (ctx, payload) => {\n  ctx.workflowLogs.push({\n    run_id: ctx.run?.runId ?? null,\n    workflow_execution_id: ctx.trace?.workflowExecutionId ?? String($execution.id ?? 'manual'),\n    parent_execution_id: ctx.trace?.parentExecutionId ?? null,\n    workflow_name: ctx.trace?.workflowName ?? null,\n    trigger_type: ctx.run?.triggerType ?? null,\n    competence_date: timeWithOffset(ctx.run?.competenceYMD),\n    started_at: payload.started_at ?? ctx.startedAt ?? nowIso,\n    finished_at: payload.finished_at ?? nowIso,\n    status: payload.status,\n    failure_reason: payload.failure_reason ?? null,\n    graphql_calls_total: Number(ctx.metrics?.graphqlCallsTotal || 0),\n    rules_found: Number(payload.rules_found || 0),\n    rules_eligible: Number(payload.rules_eligible || 0),\n    rules_processed: Number(payload.rules_processed || 0),\n    rules_failed: Number(payload.rules_failed || 0),\n    items_created: Number(payload.items_created || 0),\n    items_updated: Number(payload.items_updated || 0),\n    duplicate_items_blocked: Number(payload.duplicate_items_blocked || 0),\n    invoices_created: Number(payload.invoices_created || 0),\n    duplicate_invoices_blocked: Number(payload.duplicate_invoices_blocked || 0),\n    installments_incremented: Number(payload.installments_incremented || 0),\n    parent_items_inactivated: Number(payload.parent_items_inactivated || 0),\n    summary_json: payload.summary_json ?? 'null',\n  });\n};\n\n    const merged = $input.all().map((item) => asObj(item.json));\n    if (merged.length === 0) {\n      throw new Error('No merged template items to consolidate');\n    }\n    const baseCtx = ensureLogState(clone(asObj(merged[0].ctx || merged[0])));\n    const ctx = baseCtx;\n    const ZERO_WHITELIST = new Set([\n      'valor_de_base_brl',\n      'valor_de_base_usd',\n      'valor_base_saas_categoria_a_b_brl',\n      'valor_base_saas_categoria_a_b_usd',\n      'valor_base_saas_categoria_e_s_brl',\n      'valor_base_saas_categoria_e_s_usd',\n      'valor_base_saas_categoria_espa_os_brl',\n      'valor_base_saas_categoria_espa_os_usd',\n      'valor_base_saas_categoria_hospedagem_brl',\n      'valor_base_saas_categoria_hospedagem_usd',\n      'valor_base_saas_categoria_outros_brl',\n      'valor_base_saas_categoria_outros_usd',\n    ]);\n    const DISCOUNT_TYPE_PERCENT = '1260337139';\n    const DISCOUNT_TYPE_LOCAL_TAX = '1260337296';\n    const BASE_PERCENTUAL_SAAS = '1268890278';\n    const COND_ONBOARDING = '1258585767';\n    const COND_SPECIFIC_DATE = '1258585802';\n    const COND_SETUP = '1258585836';\n    const targetMap = {\n      produto: 'produto',\n      tipo_de_item: 'tipo_de_item',\n      modelo_de_cobran_a: 'modelo_de_cobran_a',\n      moeda_da_fatura: 'moeda_da_fatura',\n      base_do_c_lculo_percentual: 'base_do_c_lculo_percentual',\n      percentual_a_ser_aplicado_na_base: 'percentual_a_ser_aplicado_na_base',\n      unidade_de_cobran_a: 'unidade_de_cobran_a',\n      quantidade: 'quantidade',\n      afiliados_que_comp_em_a_cobran_a: 'afiliados_que_comp_em_a_cobran_a',\n      id_backoffice_do_afiliado: 'id_backoffice_do_afiliado',\n      h_algum_desconto_nesse_item: 'h_algum_desconto_nesse_item',\n      tipo_de_desconto_no_item_1: 'tipo_de_desconto_no_item',\n      percentual_de_desconto_a_ser_aplicado: 'percentual_de_desconto_a_ser_aplicado',\n      valor_nominal_a_ser_descontado_brl: 'valor_nominal_a_ser_descontado_brl',\n      valor_nominal_a_ser_descontado_usd: 'valor_nominal_a_ser_descontado_usd',\n      categorias_do_saas_isentas_ou_com_desconto: 'categorias_do_saas_isentas_ou_com_desconto',\n      observa_es_sobre_descontos_e_isen_es: 'observa_es_sobre_descontos_e_isen_es',\n      tipo_de_desconto_a_b_1: 'tipo_de_desconto_a_b_1',\n      tipo_de_desconto_e_s: 'tipo_de_desconto_e_s',\n      tipo_de_desconto_hospedagem: 'tipo_de_desconto_hospedagem',\n      tipo_de_desconto_espa_os: 'tipo_de_desconto_espa_os',\n      tipo_de_desconto_outros: 'tipo_de_desconto_outros',\n      desconto_no_valor_vari_vel_do_saas_para_a_b: 'desconto_no_valor_vari_vel_do_saas_para_a_b',\n      valor_do_imposto_a_ser_isento_a_b: 'valor_do_imposto_a_ser_isento_a_b',\n      desconto_no_valor_vari_vel_do_saas_para_e_s: 'desconto_no_valor_vari_vel_do_saas_para_e_s',\n      valor_do_imposto_a_ser_isento_e_s: 'valor_do_imposto_a_ser_isento_e_s',\n      desconto_no_valor_vari_vel_do_saas_para_hospedagem: 'desconto_no_valor_vari_vel_do_saas_para_hospedagem',\n      valor_do_imposto_a_ser_isento_hospedagem: 'valor_do_imposto_a_ser_isento_hospedagem',\n      desconto_no_valor_vari_vel_do_saas_para_espa_os: 'desconto_no_valor_vari_vel_do_saas_para_espa_os',\n      valor_do_imposto_a_ser_isento_espa_os: 'valor_do_imposto_a_ser_isento_espa_os',\n      desconto_no_valor_vari_vel_do_saas_para_outros: 'desconto_no_valor_vari_vel_do_saas_para_outros',\n      valor_do_imposto_a_ser_isento_outros: 'valor_do_imposto_a_ser_isento_outros',\n      valor_unit_rio_brl: 'valor_unit_rio_brl',\n      valor_unit_rio_usd: 'valor_unit_rio_usd',\n      subtotal_do_item_brl: 'valor_total_do_item_brl',\n      subtotal_do_item_usd: 'valor_total_do_item_usd',\n      valor_total_do_item_com_descontos_brl: 'valor_total_do_item_com_descontos_brl',\n      valor_total_do_item_com_descontos_usd: 'valor_total_do_item_com_descontos_usd',\n    };\n    const addMappedValue = (fieldAttrs, target, value) => {\n      if (value === undefined || value === null) return;\n      if (Array.isArray(value) && value.length === 0) return;\n      if (typeof value === 'string' && !value.trim()) return;\n      fieldAttrs.push({ field_id: target, field_value: value });\n    };\n    let duplicateItemsBlocked = 0;\n    let totalBrl = 0;\n    let totalUsd = 0;\n    for (const item of merged) {\n      const templateId = clean(item.templateItemId || item.templateItem?.templateItemId || item.ctx?.templateItemId || '');\n      const fetchCallIndex = nextGraphqlIndex(ctx);\n      const conflictCallIndex = nextGraphqlIndex(ctx);\n      const fetchResp = asObj(item.templateResponse || item);\n      const conflictResp = asObj(item.conflictResponse || item);\n      const fetchErrors = Array.isArray(fetchResp.errors) ? fetchResp.errors : [];\n      const conflictErrors = Array.isArray(conflictResp.fin04ConflictErrors) ? conflictResp.fin04ConflictErrors : (Array.isArray(conflictResp.errors) ? conflictResp.errors : []);\n      if (fetchResp.templateFetchError || fetchErrors.length > 0 || !fetchResp.data?.card?.id) {\n        addGraphqlErrorLog(ctx, {\n          node_name: 'FIN-02 Buscar item template',\n          operation_name: 'fetch_fin02_template_item',\n          pipe_id: '306852209',\n          phase_id: '341306826',\n          entity_type: 'template_item',\n          entity_id: templateId || null,\n          card_id: templateId || null,\n          graphql_call_index: fetchCallIndex,\n          error_message: clean(fetchResp.error?.message || fetchErrors[0]?.message || 'template_not_found_or_transport_error'),\n          query_excerpt: 'query GetTemplateItem',\n          response_json: jsonString(fetchResp),\n        });\n        addFailure(ctx, 'FIN-02 Buscar item template', 'fetch_template_item_error', ctx.rule.ruleId, templateId || null);\n        addEntityLog(ctx, {\n          node_name: 'Consolidar elegibilidade e planos',\n          entity_type: 'template_item',\n          entity_id: templateId || null,\n          template_item_id: templateId || null,\n          action: 'prepare_template_item',\n          status: 'failed',\n          failure_reason: 'fetch_template_item_error',\n          dedupe_key: `${templateId}|${ctx.run.competenceYMD}`,\n        });\n        continue;\n      }\n      if (item.fin04ConflictError || conflictErrors.length > 0) {\n        addGraphqlErrorLog(ctx, {\n          node_name: 'FIN-04 Verificar conflitos por competencia',\n          operation_name: 'recheck_fin04_conflict_by_template',\n          pipe_id: '306859915',\n          phase_id: '341351580',\n          entity_type: 'fin04_item',\n          entity_id: templateId || null,\n          card_id: templateId || null,\n          graphql_call_index: conflictCallIndex,\n          error_message: clean(conflictResp.error?.message || conflictErrors[0]?.message || 'graphql_error'),\n          query_excerpt: 'findCards(pipeId, search: template_fin02_id)',\n          response_json: jsonString(conflictResp),\n        });\n        addFailure(ctx, 'FIN-04 Verificar conflitos por competencia', 'conflict_fin04_query_error', ctx.rule.ruleId, templateId || null);\n        addEntityLog(ctx, {\n          node_name: 'Consolidar elegibilidade e planos',\n          entity_type: 'template_item',\n          entity_id: templateId || null,\n          template_item_id: templateId || null,\n          action: 'check_fin04_conflict',\n          status: 'failed',\n          failure_reason: 'conflict_fin04_query_error',\n          dedupe_key: `${templateId}|${ctx.run.competenceYMD}`,\n        });\n        continue;\n      }\n      if (conflictResp.data?.findCards?.pageInfo?.hasNextPage === true) {\n        addFailure(ctx, 'FIN-04 Verificar conflitos por competencia', 'conflict_fin04_query_requires_pagination', ctx.rule.ruleId, templateId || null);\n        addEntityLog(ctx, {\n          node_name: 'Consolidar elegibilidade e planos',\n          entity_type: 'template_item',\n          entity_id: templateId || null,\n          template_item_id: templateId || null,\n          action: 'check_fin04_conflict',\n          status: 'failed',\n          failure_reason: 'conflict_fin04_query_requires_pagination',\n          dedupe_key: `${templateId}|${ctx.run.competenceYMD}`,\n        });\n        continue;\n      }\n      const card = fetchResp.data.card;\n      const phaseId = clean(card.current_phase?.id);\n      const fm = fieldMap(card.fields || []);\n      if (phaseId !== clean(ctx.config.fin02ActivePhaseId)) {\n        addEntityLog(ctx, {\n          node_name: 'Consolidar elegibilidade e planos',\n          entity_type: 'template_item',\n          entity_id: templateId,\n          template_item_id: templateId,\n          action: 'evaluate_template_item',\n          status: 'skipped',\n          failure_reason: 'inactive_template_phase',\n          dedupe_key: `${templateId}|${ctx.run.competenceYMD}`,\n        });\n        continue;\n      }\n      const conflictEdges = Array.isArray(conflictResp.data?.findCards?.edges) ? conflictResp.data.findCards.edges : [];\n      let conflict = null;\n      for (const edge of conflictEdges) {\n        const node = edge?.node;\n        if (!node) continue;\n        const fields = fieldMap(node.fields || []);\n        const sameTemplate = clean(pickScalar(fields['id_do_item_usado_como_template_fin_02'])) === templateId;\n        const sameCompetence = clean(pickScalar(fields['data_de_compet_ncia'])).slice(0, 10) === clean(ctx.run.competenceYMD);\n        if (sameTemplate && sameCompetence) {\n          conflict = {\n            id: clean(node.id),\n            invoiceId: clean(pickScalar(fields['id_da_fatura']) || ''),\n          };\n          break;\n        }\n      }\n      if (conflict) {\n        duplicateItemsBlocked += 1;\n        const conflictReason = conflict.invoiceId ? 'existing_fin04_conflict' : 'orphan_fin04_exists_for_rule_competence';\n        addFailure(ctx, 'Consolidar elegibilidade e planos', conflictReason, ctx.rule.ruleId, templateId, conflict.id);\n        addEntityLog(ctx, {\n          node_name: 'Consolidar elegibilidade e planos',\n          entity_type: 'template_item',\n          entity_id: templateId,\n          template_item_id: templateId,\n          fin04_item_id: conflict.id,\n          invoice_id: conflict.invoiceId || null,\n          action: 'check_fin04_conflict',\n          status: 'blocked',\n          failure_reason: conflictReason,\n          dedupe_key: `${templateId}|${ctx.run.competenceYMD}`,\n          graphql_calls_delta: 1,\n        });\n        continue;\n      }\n      const conditions = extractIds(fm['condi_es_exigidas_para_iniciar_o_faturamento_do_item']);\n      const specificStart = clean(pickScalar(fm['data_de_in_cio_do_faturamento'])).slice(0, 10);\n      const specificEnd = clean(pickScalar(fm['data_de_fim_do_faturamento'])).slice(0, 10);\n      const blockingReasons = [];\n      if (conditions.includes(COND_SPECIFIC_DATE)) {\n        if (!specificStart || specificStart > clean(ctx.run.competenceEnd)) {\n          blockingReasons.push('specific_date_not_ready');\n        }\n        if (specificEnd && specificEnd < clean(ctx.run.competenceYMD)) {\n          blockingReasons.push('specific_date_finished');\n        }\n      }\n      if (conditions.includes(COND_ONBOARDING)) {\n        blockingReasons.push('blocked_missing_external_signal_onboarding_training');\n      }\n      if (conditions.includes(COND_SETUP)) {\n        blockingReasons.push('blocked_missing_external_signal_setup_payment');\n      }\n      if (blockingReasons.length > 0) {\n        addFailure(ctx, 'Consolidar elegibilidade e planos', blockingReasons[0], ctx.rule.ruleId, templateId);\n        addEntityLog(ctx, {\n          node_name: 'Consolidar elegibilidade e planos',\n          entity_type: 'template_item',\n          entity_id: templateId,\n          template_item_id: templateId,\n          action: 'evaluate_start_conditions',\n          status: 'blocked',\n          failure_reason: blockingReasons[0],\n          dedupe_key: `${templateId}|${ctx.run.competenceYMD}`,\n          details_json: jsonString({ conditions, specificStart, specificEnd, blockingReasons }),\n        });\n        continue;\n      }\n      const currency = clean(pickScalar(fm['moeda_da_fatura']));\n      const model = clean(pickScalar(fm['modelo_de_cobran_a']));\n      const type = clean(pickScalar(fm['tipo_de_item']));\n      const hasDiscount = clean(pickScalar(fm['h_algum_desconto_nesse_item']));\n      const baseCalc = extractIds(fm['base_do_c_lculo_percentual']);\n      const selectedDiscountTypes = extractIds(fm['tipo_de_desconto_no_item_1']);\n      const selectedCategories = extractList(fm['categorias_do_saas_isentas_ou_com_desconto']);\n      const discountTypeByCategory = {\n        'A&B': extractIds(fm['tipo_de_desconto_a_b_1']),\n        'E&S': extractIds(fm['tipo_de_desconto_e_s']),\n        'Hospedagem': extractIds(fm['tipo_de_desconto_hospedagem']),\n        'Espaços': extractIds(fm['tipo_de_desconto_espa_os']),\n        'Outros': extractIds(fm['tipo_de_desconto_outros']),\n      };\n      const visibleRequired = new Set(['tipo_de_item', 'moeda_da_fatura', 'modelo_de_cobran_a', 'h_algum_desconto_nesse_item']);\n      if (type === 'Produto') visibleRequired.add('produto');\n      if (model === 'Percentual sobre base') {\n        visibleRequired.add('base_do_c_lculo_percentual');\n        visibleRequired.add('percentual_a_ser_aplicado_na_base');\n        if (currency === 'BRL - R$') visibleRequired.add('valor_de_base_brl');\n        if (currency === 'USD - $') visibleRequired.add('valor_de_base_usd');\n        if (baseCalc.includes(BASE_PERCENTUAL_SAAS)) {\n          if (currency === 'BRL - R$') {\n            visibleRequired.add('valor_base_saas_categoria_a_b_brl');\n            visibleRequired.add('valor_base_saas_categoria_e_s_brl');\n            visibleRequired.add('valor_base_saas_categoria_espa_os_brl');\n            visibleRequired.add('valor_base_saas_categoria_hospedagem_brl');\n            visibleRequired.add('valor_base_saas_categoria_outros_brl');\n          }\n          if (currency === 'USD - $') {\n            visibleRequired.add('valor_base_saas_categoria_a_b_usd');\n            visibleRequired.add('valor_base_saas_categoria_e_s_usd');\n            visibleRequired.add('valor_base_saas_categoria_espa_os_usd');\n            visibleRequired.add('valor_base_saas_categoria_hospedagem_usd');\n            visibleRequired.add('valor_base_saas_categoria_outros_usd');\n          }\n        }\n      }\n      if (model === 'Por unidade') {\n        visibleRequired.add('unidade_de_cobran_a');\n        visibleRequired.add('quantidade');\n        if (currency === 'BRL - R$') visibleRequired.add('valor_unit_rio_brl');\n        if (currency === 'USD - $') visibleRequired.add('valor_unit_rio_usd');\n        if (clean(pickScalar(fm['unidade_de_cobran_a'])) === 'Afiliados') visibleRequired.add('afiliados_que_comp_em_a_cobran_a');\n      }\n      if (model === 'Fixo' || model === 'Por unidade') {\n        if (currency === 'BRL - R$') visibleRequired.add('subtotal_do_item_brl');\n        if (currency === 'USD - $') visibleRequired.add('subtotal_do_item_usd');\n      }\n      if (type === 'Ajustes de fatura') {\n        if (currency === 'BRL - R$') visibleRequired.add('valor_total_do_item_com_descontos_brl');\n        if (currency === 'USD - $') visibleRequired.add('valor_total_do_item_com_descontos_usd');\n      }\n      if (hasDiscount === 'Sim') {\n        visibleRequired.add('tipo_de_desconto_no_item_1');\n        if (selectedDiscountTypes.includes('Nominal')) {\n          if (currency === 'BRL - R$') visibleRequired.add('valor_nominal_a_ser_descontado_brl');\n          if (currency === 'USD - $') visibleRequired.add('valor_nominal_a_ser_descontado_usd');\n        }\n        if (selectedDiscountTypes.includes('Percentual')) {\n          visibleRequired.add('percentual_de_desconto_a_ser_aplicado');\n        }\n        if (selectedDiscountTypes.includes('Categorias de propostas') && model === 'Percentual sobre base' && baseCalc.includes(BASE_PERCENTUAL_SAAS)) {\n          visibleRequired.add('categorias_do_saas_isentas_ou_com_desconto');\n          for (const category of selectedCategories) {\n            if (category === 'A&B') visibleRequired.add('tipo_de_desconto_a_b_1');\n            if (category === 'E&S') visibleRequired.add('tipo_de_desconto_e_s');\n            if (category === 'Hospedagem') visibleRequired.add('tipo_de_desconto_hospedagem');\n            if (category === 'Espaços') visibleRequired.add('tipo_de_desconto_espa_os');\n            if (category === 'Outros') visibleRequired.add('tipo_de_desconto_outros');\n            const chosen = discountTypeByCategory[category] || [];\n            const targetSuffix = category === 'A&B' ? 'a_b' : category === 'E&S' ? 'e_s' : category === 'Hospedagem' ? 'hospedagem' : category === 'Espaços' ? 'espa_os' : 'outros';\n            if (chosen.includes(DISCOUNT_TYPE_PERCENT)) visibleRequired.add(`desconto_no_valor_vari_vel_do_saas_para_${targetSuffix}`);\n            if (chosen.includes(DISCOUNT_TYPE_LOCAL_TAX)) visibleRequired.add(`valor_do_imposto_a_ser_isento_${targetSuffix}`);\n          }\n        }\n      }\n      const fieldAttrs = [\n        { field_id: 'data_de_compet_ncia', field_value: clean(ctx.run.competenceYMD) },\n        { field_id: 'id_do_item_usado_como_template_fin_02', field_value: templateId },\n      ];\n      const validationErrors = [];\n      for (const [source, target] of Object.entries(targetMap)) {\n        const sourceField = fm[source];\n        let value = null;\n        if (sourceField?.field?.type === 'connector' || sourceField?.field?.type?.includes('checklist')) {\n          value = sourceField?.field?.type === 'connector' ? extractIds(sourceField) : extractList(sourceField);\n        } else {\n          value = pickScalar(sourceField);\n        }\n        if ((value === null || value === undefined || (typeof value === 'string' && !value.trim()) || (Array.isArray(value) && value.length === 0)) && visibleRequired.has(source)) {\n          if (ZERO_WHITELIST.has(target)) {\n            value = 0;\n          } else {\n            validationErrors.push({ field_id: target, source_field_id: source });\n          }\n        }\n        addMappedValue(fieldAttrs, target, value);\n      }\n      if (validationErrors.length > 0) {\n        addFailure(ctx, 'Consolidar elegibilidade e planos', 'missing_required_nonzero_field', ctx.rule.ruleId, templateId);\n        addEntityLog(ctx, {\n          node_name: 'Consolidar elegibilidade e planos',\n          entity_type: 'template_item',\n          entity_id: templateId,\n          template_item_id: templateId,\n          action: 'validate_fin04_payload',\n          status: 'failed',\n          failure_reason: 'missing_required_nonzero_field',\n          dedupe_key: `${templateId}|${ctx.run.competenceYMD}`,\n          details_json: jsonString({ validationErrors, visibleRequired: Array.from(visibleRequired).sort() }),\n        });\n        continue;\n      }\n      const totalItemBrl = parseNum(pickScalar(fm['valor_total_do_item_com_descontos_brl']) ?? pickScalar(fm['subtotal_do_item_brl']));\n      const totalItemUsd = parseNum(pickScalar(fm['valor_total_do_item_com_descontos_usd']) ?? pickScalar(fm['subtotal_do_item_usd']));\n      totalBrl += totalItemBrl;\n      totalUsd += totalItemUsd;\n      const periodicidade = clean(pickScalar(fm['periodicidade']));\n      const parcelasPagas = Number(parseNum(pickScalar(fm['parcelas_pagas'])));\n      const parcelasTotais = Number(parseNum(pickScalar(fm['quantidade_de_parcelas_totais'])));\n      const planned = {\n        templateItemId: templateId,\n        dedupeKey: `${templateId}|${ctx.run.competenceYMD}`,\n        totalItemBrl,\n        totalItemUsd,\n        periodicidade,\n        parcelasPagas,\n        parcelasTotais,\n        shouldUpdateParcelas: periodicidade === 'Parcelado',\n        newParcelasPagas: periodicidade === 'Parcelado' ? parcelasPagas + 1 : null,\n        shouldInactivateParent: periodicidade === 'Parcelado' && parcelasTotais > 0 && (parcelasPagas + 1) >= parcelasTotais,\n        createInput: {\n          pipe_id: Number(ctx.config.fin04PipeId),\n          phase_id: Number(ctx.config.fin04PhaseId),\n          title: `FIN-04 ${clean(ctx.run.competenceYMD).slice(0, 7)} - ${templateId}`,\n          fields_attributes: fieldAttrs,\n        },\n      };\n      ctx.plannedItems.push(planned);\n      addEntityLog(ctx, {\n        node_name: 'Consolidar elegibilidade e planos',\n        entity_type: 'template_item',\n        entity_id: templateId,\n        template_item_id: templateId,\n        action: 'prepare_template_item',\n        status: 'success',\n        dedupe_key: planned.dedupeKey,\n        details_json: jsonString({ periodicidade, model, currency }),\n      });\n    }\n    const rf = fieldMap(Object.values(asObj(ctx.rule.ruleFields)));\n    const invoiceFields = [];\n    const pushInvoiceField = (field_id, value) => {\n      if (value === undefined || value === null) return;\n      if (Array.isArray(value) && value.length === 0) return;\n      if (typeof value === 'string' && !value.trim()) return;\n      invoiceFields.push({ field_id, field_value: value });\n    };\n    pushInvoiceField('clientes_na_fatura', extractIds(rf['clientes_na_fatura']));\n    pushInvoiceField('contatos_que_receber_o_a_fatura', extractIds(rf['contatos_que_receber_o_a_fatura']));\n    pushInvoiceField('identificador_fiscal_na_fatura', clean(pickScalar(rf['identificador_fiscal_na_fatura'])));\n    pushInvoiceField('tipo_de_cliente_final', clean(pickScalar(rf['tipo_de_cliente_final'])));\n    pushInvoiceField('rede_na_fatura', extractIds(rf['rede_na_fatura']));\n    pushInvoiceField('forma_de_pagamento', extractList(rf['forma_de_pagamento']));\n    pushInvoiceField('moeda_do_teto_de_faturamento', extractList(rf['moeda_do_teto_de_faturamento']));\n    pushInvoiceField('teto_de_faturamento_brl', parseNum(pickScalar(rf['teto_de_faturamento_brl'])));\n    pushInvoiceField('teto_de_faturamento_usd', parseNum(pickScalar(rf['teto_de_faturamento_usd'])));\n    pushInvoiceField('id_da_regra_de_faturamento', clean(ctx.rule.ruleId));\n    pushInvoiceField('data_de_compet_ncia', clean(ctx.run.competenceYMD));\n    pushInvoiceField('valor_total_da_fatura_brl', totalBrl);\n    pushInvoiceField('valor_total_da_fatura_usd', totalUsd);\n    ctx.invoiceInputBase = {\n      pipe_id: 306859731,\n      title: `FIN-03 ${clean(ctx.run.competenceYMD).slice(0, 7)} - Regra ${clean(ctx.rule.ruleId)}`,\n      fields_attributes: invoiceFields,\n    };\n    ctx.metrics.duplicateItemsBlocked = duplicateItemsBlocked;\n    if (ctx.plannedItems.length === 0) {\n      const reason = ctx.failures[0]?.reason || 'no_items_ready_for_invoice';\n      ctx.terminal = { done: true, status: 'failed', reason };\n    }\n    addWorkflowLog(ctx, {\n      status: ctx.terminal.done ? 'failed' : 'success',\n      failure_reason: ctx.terminal.done ? ctx.terminal.reason : null,\n      rules_processed: 1,\n      rules_failed: ctx.terminal.done ? 1 : 0,\n      duplicate_items_blocked: duplicateItemsBlocked,\n      summary_json: jsonString({ plannedItems: ctx.plannedItems.length }),\n    });\n    const payload = ctx.terminal.done\n      ? {\n          contractVersion: 'fin_v3',\n          itemType: 'rule_result',\n          trace: ctx.trace,\n          run: ctx.run,\n          rule: { ruleId: ctx.rule.ruleId, ruleTitle: ctx.rule.ruleTitle, prefetchDecision: ctx.rule.prefetchDecision ?? null },\n          result: {\n            status: 'failed',\n            reason: ctx.terminal.reason,\n            invoiceId: null,\n            existingInvoiceId: null,\n            createdItemIds: [],\n            totals: { brl: totalBrl, usd: totalUsd },\n            metricsDelta: { duplicateItemsBlocked },\n            failures: ctx.failures,\n          },\n          logs: { workflowLogs: ctx.workflowLogs, entityLogs: ctx.entityLogs, graphqlLogs: ctx.graphqlLogs },\n          failures: ctx.failures,\n        }\n      : {\n          contractVersion: 'fin_v3',\n          itemType: 'item_plan',\n          trace: ctx.trace,\n          run: ctx.run,\n          rule: ctx.rule,\n          itemPlan: {\n            plannedItems: ctx.plannedItems,\n            totals: { brl: totalBrl, usd: totalUsd },\n            invoiceInputBase: ctx.invoiceInputBase,\n          },\n          logs: { workflowLogs: ctx.workflowLogs, entityLogs: ctx.entityLogs, graphqlLogs: ctx.graphqlLogs },\n          failures: ctx.failures,\n        };\n    return [{ json: payload }];"
      },
      "id": "d3204e31-e034-44ba-8839-1934b5e1e12c",
      "name": "Consolidar elegibilidade e planos",
      "position": [
        1056,
        240
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const asObj = (v) => (v && typeof v === 'object' && !Array.isArray(v)) ? v : {};\nconst clone = (v) => JSON.parse(JSON.stringify(v ?? null));\nconst clean = (v) => String(v ?? '').trim();\nconst linkedJson = (nodeName) => {\n  try {\n    return asObj($(nodeName).item.json);\n  } catch (_err) {\n    return {};\n  }\n};\nconst current = asObj($json);\nconst pair = linkedJson('Split Out template IDs');\nconst response = clone(current);\nconst errorObj = asObj(response.error);\nconst errorMessage = clean(errorObj.message || response.message || response.description || (typeof response.error === 'string' ? response.error : ''));\nif (errorMessage && Object.keys(errorObj).length === 0) {\n  response.error = { message: errorMessage };\n}\nreturn [{\n  json: {\n    ctx: clone(asObj(pair.ctx || current.ctx)),\n    templateItemId: clean(pair.templateItemId || current.templateItemId || pair.ctx?.templateItemId || ''),\n    templateRequestMeta: {\n      request_node: 'FIN-02 Buscar item template',\n      template_item_id: clean(pair.templateItemId || current.templateItemId || pair.ctx?.templateItemId || ''),\n    },\n    templateResponse: response,\n    templateFetchError: Object.keys(response).length === 0 || Boolean(errorMessage),\n  }\n}];"
      },
      "id": "6946f777-bdd1-4e95-8815-f7f238661f66",
      "name": "Normalizar retorno template",
      "position": [
        384,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const asObj = (v) => (v && typeof v === 'object' && !Array.isArray(v)) ? v : {};\nconst clone = (v) => JSON.parse(JSON.stringify(v ?? null));\nconst clean = (v) => String(v ?? '').trim();\nconst linkedJson = (nodeName) => {\n  try {\n    return asObj($(nodeName).item.json);\n  } catch (_err) {\n    return {};\n  }\n};\nconst current = asObj($json);\nconst base = linkedJson('Normalizar retorno template');\nconst response = clone(current);\nconst errorObj = asObj(response.error);\nconst errorMessage = clean(errorObj.message || response.message || response.description || (typeof response.error === 'string' ? response.error : ''));\nif (errorMessage && Object.keys(errorObj).length === 0) {\n  response.error = { message: errorMessage };\n}\nreturn [{\n  json: {\n    ctx: clone(asObj(base.ctx || current.ctx)),\n    templateItemId: clean(base.templateItemId || current.templateItemId || ''),\n    templateRequestMeta: clone(asObj(base.templateRequestMeta)),\n    templateResponse: clone(asObj(base.templateResponse)),\n    conflictRequestMeta: {\n      request_node: 'FIN-04 Verificar conflitos por competencia',\n      template_item_id: clean(base.templateItemId || current.templateItemId || ''),\n      pipe_id: '306859915',\n      search_field_id: 'id_do_item_usado_como_template_fin_02',\n    },\n    conflictResponse: response,\n    fin04ConflictError: Object.keys(response).length === 0 || Boolean(errorMessage),\n  }\n}];"
      },
      "id": "ffda5ef2-9c97-4aa5-a0c5-c532f86a5146",
      "name": "Normalizar retorno conflitos",
      "position": [
        832,
        240
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Init contexto item_plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init contexto item_plan": {
      "main": [
        [
          {
            "node": "Pode preparar itens?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pode preparar itens?": {
      "main": [
        [
          {
            "node": "Set pares template IDs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Emitir rule_result direto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set pares template IDs": {
      "main": [
        [
          {
            "node": "Split Out template IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out template IDs": {
      "main": [
        [
          {
            "node": "FIN-02 Buscar item template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FIN-02 Buscar item template": {
      "main": [
        [
          {
            "node": "Normalizar retorno template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FIN-04 Verificar conflitos por competencia": {
      "main": [
        [
          {
            "node": "Normalizar retorno conflitos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar retorno template": {
      "main": [
        [
          {
            "node": "FIN-04 Verificar conflitos por competencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar retorno conflitos": {
      "main": [
        [
          {
            "node": "Consolidar elegibilidade e planos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2f0121ff-d3a9-4506-a1e9-4024fbfac37e",
  "meta": {
    "instanceId": "3016816d496aebba57a69fdaf12429733e80c66b51f4f4969ff2808297f74ee9"
  },
  "id": "e8exEEDF5NQXhhm1",
  "tags": []
}
