raw/n8n/workflows/[FIN] 1 Orquestrar faturamento mensal.json
{
  "name": "[FIN] 1 Orquestrar faturamento mensal",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 7 1-5 * *"
            }
          ]
        }
      },
      "id": "4ebf1dea-fe7b-4673-98c4-839c03b58fb3",
      "name": "Cron (dias 1-5 07:00)",
      "position": [
        -4784,
        544
      ],
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "eacbf85d-0c40-4413-88a1-f7d559749ed8",
      "name": "Manual Trigger",
      "position": [
        -4784,
        736
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const nowIso = new Date().toISOString();\nconst asObj = (v) => (v && typeof v === 'object' && !Array.isArray(v)) ? v : {};\nconst clone = (v) => JSON.parse(JSON.stringify(v));\nconst clean = (v) => String(v ?? '').trim();\nconst isBlank = (v) => {\n  const s = clean(v).toLowerCase();\n  return s === '' || s === 'null' || s === 'undefined' || s === 'nan';\n};\nconst isIsoDate = (v) => /^\\d{4}-\\d{2}-\\d{2}$/.test(clean(v).slice(0, 10));\nconst collectIds = (...values) => {\n  const out = [];\n  const visit = (value) => {\n    if (value === undefined || value === null) return;\n    if (Array.isArray(value)) {\n      for (const item of value) visit(item);\n      return;\n    }\n    const s = String(value).trim();\n    if (s) out.push(s);\n  };\n  for (const value of values) visit(value);\n  return Array.from(new Set(out));\n};\nconst pickScalar = (f) => {\n  if (!f) return null;\n  const rv = f.report_value;\n  return (rv !== undefined && rv !== null && String(rv).trim() !== '') ? rv : f.value;\n};\nconst fieldMap = (fields) => {\n  const out = {};\n  for (const f of (fields || [])) {\n    const fid = f && f.field ? f.field.id : null;\n    if (fid) out[fid] = f;\n  }\n  return out;\n};\nconst parseNum = (v) => {\n  if (v === undefined || v === null) return 0;\n  if (typeof v === 'number' && Number.isFinite(v)) return v;\n  let s = String(v).trim();\n  if (!s) return 0;\n  s = s.replace(/[^0-9,.-]/g, '');\n  if (!s) return 0;\n  if (s.includes(',') && s.includes('.')) {\n    if (s.lastIndexOf(',') > s.lastIndexOf('.')) {\n      s = s.replace(/\\./g, '').replace(',', '.');\n    } else {\n      s = s.replace(/,/g, '');\n    }\n  } else if (s.includes(',')) {\n    s = s.replace(',', '.');\n  }\n  const n = Number(s);\n  return Number.isFinite(n) ? n : 0;\n};\nconst extractIds = (f) => {\n  if (!f) return [];\n  const out = [];\n  const push = (x) => {\n    if (x === undefined || x === null) return;\n    if (typeof x === 'object') {\n      if (x.id != null) out.push(String(x.id));\n      else if (x.value != null) out.push(String(x.value));\n      else if (x.label != null) out.push(String(x.label));\n    } else {\n      out.push(String(x));\n    }\n  };\n  if (Array.isArray(f.array_value)) {\n    for (const x of f.array_value) push(x);\n  } else {\n    const v = pickScalar(f);\n    if (Array.isArray(v)) {\n      for (const x of v) push(x);\n    } else if (typeof v === 'string') {\n      const matches = v.match(/[0-9]+/g);\n      if (matches) {\n        for (const x of matches) out.push(String(x));\n      } else if (v.trim()) {\n        out.push(v.trim());\n      }\n    } else if (v != null) {\n      push(v);\n    }\n  }\n  return Array.from(new Set(out.filter(Boolean)));\n};\nconst extractList = (f) => {\n  if (!f) return [];\n  const out = [];\n  const push = (x) => {\n    if (x === undefined || x === null) return;\n    const s = String(x).trim();\n    if (s) out.push(s);\n  };\n  if (Array.isArray(f.array_value)) {\n    for (const x of f.array_value) push(x);\n  } else {\n    const v = pickScalar(f);\n    if (Array.isArray(v)) {\n      for (const x of v) push(x);\n    } else if (typeof v === 'string') {\n      const s = v.trim();\n      if (s.startsWith('[')) {\n        try {\n          const parsed = JSON.parse(s);\n          if (Array.isArray(parsed)) {\n            for (const x of parsed) push(x);\n          } else {\n            push(parsed);\n          }\n        } catch (_err) {\n          for (const x of s.split(',')) push(x);\n        }\n      } else {\n        for (const x of s.split(',')) push(x);\n      }\n    } else if (v != null) {\n      push(v);\n    }\n  }\n  return Array.from(new Set(out));\n};\nconst toId = (v) => {\n  if (v == null) return null;\n  const s = String(v).trim();\n  const match = s.match(/[0-9]+/);\n  return match ? match[0] : (s || null);\n};\nconst jsonString = (v) => {\n  try { return JSON.stringify(v ?? null); } catch (_err) { return 'null'; }\n};\nconst timeWithOffset = (ymd) => clean(ymd) ? `${clean(ymd)}T00:00:00-03:00` : null;\nconst ensureLogState = (ctx) => {\n  ctx.failures = Array.isArray(ctx.failures) ? ctx.failures : [];\n  ctx.entityLogs = Array.isArray(ctx.entityLogs) ? ctx.entityLogs : [];\n  ctx.graphqlLogs = Array.isArray(ctx.graphqlLogs) ? ctx.graphqlLogs : [];\n  ctx.workflowLogs = Array.isArray(ctx.workflowLogs) ? ctx.workflowLogs : [];\n  ctx.metrics = asObj(ctx.metrics);\n  ctx.metrics.graphqlCallsTotal = Number(ctx.metrics.graphqlCallsTotal || 0);\n  ctx.metrics.graphqlErrorsTotal = Number(ctx.metrics.graphqlErrorsTotal || 0);\n  return ctx;\n};\nconst addFailure = (ctx, node, reason, ...ids) => {\n  ctx.failures.push({\n    node: String(node || 'unknown'),\n    reason: String(reason || 'unexpected_payload_shape'),\n    pipefyCardIds: collectIds(...ids),\n  });\n};\nconst nextGraphqlIndex = (ctx) => {\n  ctx.metrics.graphqlCallsTotal = Number(ctx.metrics.graphqlCallsTotal || 0) + 1;\n  return ctx.metrics.graphqlCallsTotal;\n};\nconst addGraphqlErrorLog = (ctx, payload) => {\n  ctx.metrics.graphqlErrorsTotal = Number(ctx.metrics.graphqlErrorsTotal || 0) + 1;\n  ctx.graphqlLogs.push({\n    run_id: ctx.run?.runId ?? null,\n    workflow_execution_id: ctx.trace?.workflowExecutionId ?? String($execution.id ?? 'manual'),\n    parent_execution_id: ctx.trace?.parentExecutionId ?? null,\n    workflow_name: ctx.trace?.workflowName ?? null,\n    node_name: payload.node_name,\n    operation_name: payload.operation_name,\n    pipe_id: payload.pipe_id ?? null,\n    phase_id: payload.phase_id ?? null,\n    card_id: payload.card_id ?? null,\n    entity_type: payload.entity_type ?? null,\n    entity_id: payload.entity_id ?? null,\n    request_fingerprint: payload.request_fingerprint ?? null,\n    graphql_call_index: payload.graphql_call_index ?? null,\n    requested_at: payload.requested_at ?? nowIso,\n    responded_at: nowIso,\n    duration_ms: payload.duration_ms ?? null,\n    status: payload.status ?? 'error',\n    error_code: payload.error_code ?? null,\n    error_message: payload.error_message ?? null,\n    query_excerpt: payload.query_excerpt ?? null,\n    variables_json: payload.variables_json ?? 'null',\n    response_json: payload.response_json ?? 'null',\n  });\n};\nconst addEntityLog = (ctx, payload) => {\n  ctx.entityLogs.push({\n    run_id: ctx.run?.runId ?? null,\n    workflow_execution_id: ctx.trace?.workflowExecutionId ?? String($execution.id ?? 'manual'),\n    parent_execution_id: ctx.trace?.parentExecutionId ?? null,\n    workflow_name: ctx.trace?.workflowName ?? null,\n    node_name: payload.node_name,\n    entity_type: payload.entity_type,\n    entity_id: payload.entity_id ?? null,\n    rule_id: payload.rule_id ?? ctx.rule?.ruleId ?? null,\n    template_item_id: payload.template_item_id ?? null,\n    fin02_parent_item_id: payload.fin02_parent_item_id ?? null,\n    invoice_id: payload.invoice_id ?? null,\n    fin04_item_id: payload.fin04_item_id ?? null,\n    competence_date: timeWithOffset(ctx.run?.competenceYMD),\n    action: payload.action,\n    status: payload.status,\n    failure_reason: payload.failure_reason ?? null,\n    dedupe_key: payload.dedupe_key ?? null,\n    graphql_calls_delta: Number(payload.graphql_calls_delta || 0),\n    started_at: payload.started_at ?? ctx.startedAt ?? nowIso,\n    finished_at: payload.finished_at ?? nowIso,\n    details_json: payload.details_json ?? 'null',\n  });\n};\nconst addWorkflowLog = (ctx, payload) => {\n  ctx.workflowLogs.push({\n    run_id: ctx.run?.runId ?? null,\n    workflow_execution_id: ctx.trace?.workflowExecutionId ?? String($execution.id ?? 'manual'),\n    parent_execution_id: ctx.trace?.parentExecutionId ?? null,\n    workflow_name: ctx.trace?.workflowName ?? null,\n    trigger_type: ctx.run?.triggerType ?? null,\n    competence_date: timeWithOffset(ctx.run?.competenceYMD),\n    started_at: payload.started_at ?? ctx.startedAt ?? nowIso,\n    finished_at: payload.finished_at ?? nowIso,\n    status: payload.status,\n    failure_reason: payload.failure_reason ?? null,\n    graphql_calls_total: Number(ctx.metrics?.graphqlCallsTotal || 0),\n    rules_found: Number(payload.rules_found || 0),\n    rules_eligible: Number(payload.rules_eligible || 0),\n    rules_processed: Number(payload.rules_processed || 0),\n    rules_failed: Number(payload.rules_failed || 0),\n    items_created: Number(payload.items_created || 0),\n    items_updated: Number(payload.items_updated || 0),\n    duplicate_items_blocked: Number(payload.duplicate_items_blocked || 0),\n    invoices_created: Number(payload.invoices_created || 0),\n    duplicate_invoices_blocked: Number(payload.duplicate_invoices_blocked || 0),\n    installments_incremented: Number(payload.installments_incremented || 0),\n    parent_items_inactivated: Number(payload.parent_items_inactivated || 0),\n    summary_json: payload.summary_json ?? 'null',\n  });\n};\n\n    const tz = 'America/Sao_Paulo';\n    const now = new Date();\n    const parts = new Intl.DateTimeFormat('en-CA', {\n      timeZone: tz,\n      year: 'numeric',\n      month: '2-digit',\n      day: '2-digit',\n    }).formatToParts(now);\n    const dateParts = {};\n    for (const part of parts) dateParts[part.type] = part.value;\n    const year = Number(dateParts.year);\n    const month = Number(dateParts.month);\n    const day = Number(dateParts.day);\n    let compYear = year;\n    let compMonth = month - 1;\n    if (compMonth === 0) {\n      compMonth = 12;\n      compYear -= 1;\n    }\n    const mm = String(compMonth).padStart(2, '0');\n    const competenciaYMD = `${compYear}-${mm}-01`;\n    const daysInCompMonth = new Date(Date.UTC(compYear, compMonth, 0)).getUTCDate();\n    const compEnd = `${compYear}-${mm}-${String(daysInCompMonth).padStart(2, '0')}`;\n    const triggerType = $input.context?.sourceData?.previousNode == null\n      ? (($node['Cron (dias 1-5 07:00)']?.isExecuted === true) ? 'cron' : 'manual')\n      : 'manual';\n    const runId = `fin-billing:${String($execution.id ?? 'manual')}:${competenciaYMD}`;\n    const ctx = ensureLogState({\n      contractVersion: 'fin_v3',\n      startedAt: nowIso,\n      trace: {\n        parentExecutionId: null,\n        workflowExecutionId: String($execution.id ?? 'manual'),\n        workflowName: '[FIN] 1 Orquestrar faturamento mensal',\n      },\n      run: {\n        runId,\n        executionId: String($execution.id ?? 'manual'),\n        triggerType,\n        timezone: tz,\n        todayDay: day,\n        competenceYMD: competenciaYMD,\n        competenceStart: competenciaYMD,\n        competenceEnd: compEnd,\n        competenceDateTime: timeWithOffset(competenciaYMD),\n      },\n      metrics: {\n        rulesFound: 0,\n        rulesEligible: 0,\n        rulesProcessed: 0,\n        rulesFailed: 0,\n        itemsCreated: 0,\n        itemsUpdated: 0,\n        duplicateItemsBlocked: 0,\n        invoicesCreated: 0,\n        duplicateInvoicesBlocked: 0,\n        installmentsIncremented: 0,\n        parentItemsInactivated: 0,\n      },\n      results: [],\n    });\n    return [{ json: { runContext: ctx.run, trace: ctx.trace, orchestratorContext: ctx } }];"
      },
      "id": "c6d29906-69a0-4bd7-a122-d3b36b466000",
      "name": "Init Run",
      "position": [
        -4560,
        640
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "cachedResultName": "[FIN] 1.1 Preparar regras elegiveis",
          "cachedResultUrl": "/workflow/HJNevahSs5CgzzVG",
          "mode": "list",
          "value": "HJNevahSs5CgzzVG"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "runContext",
              "id": "runContext",
              "required": false,
              "type": "object"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "trace",
              "id": "trace",
              "required": false,
              "type": "object"
            }
          ],
          "value": {
            "runContext": "={{ $json.runContext }}",
            "trace": "={{ $json.trace }}"
          }
        },
        "options": {}
      },
      "id": "6fa39371-bd5c-4f0b-8271-a2d01302cff6",
      "name": "Preparar regras elegiveis",
      "position": [
        -4336,
        640
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "834f6468-20c3-4917-901f-1c9fd43cb286",
      "name": "Loop regras",
      "position": [
        -4112,
        640
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.itemType === 'rule_input' }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "74fdf45d-415f-400a-ad62-48cb857e2e54",
      "name": "Loop: item e rule_input?",
      "position": [
        -3888,
        640
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "cachedResultName": "[FIN] 1.2 Preparar itens elegiveis da regra",
          "cachedResultUrl": "/workflow/e8exEEDF5NQXhhm1",
          "mode": "list",
          "value": "e8exEEDF5NQXhhm1"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "contractVersion",
              "id": "contractVersion",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "itemType",
              "id": "itemType",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "trace",
              "id": "trace",
              "required": false,
              "type": "object"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "run",
              "id": "run",
              "required": false,
              "type": "object"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "rule",
              "id": "rule",
              "required": false,
              "type": "object"
            }
          ],
          "value": {
            "contractVersion": "={{ $json.contractVersion }}",
            "itemType": "={{ $json.itemType }}",
            "trace": "={{ $json.trace }}",
            "run": "={{ $json.run }}",
            "rule": "={{ $json.rule }}"
          }
        },
        "options": {}
      },
      "id": "049bed97-2e5d-43e7-a132-ec09edb91d44",
      "name": "Preparar itens elegiveis da regra",
      "position": [
        -3664,
        560
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.itemType === 'item_plan' }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "f7d3851f-5e79-49b6-b75e-b317e0f070e4",
      "name": "Loop: item e item_plan?",
      "position": [
        -3440,
        560
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "cachedResultName": "[FIN] 1.3 Materializar itens FIN-04",
          "cachedResultUrl": "/workflow/QopNPbMmL97hjhfz",
          "mode": "list",
          "value": "QopNPbMmL97hjhfz"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "contractVersion",
              "id": "contractVersion",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "itemType",
              "id": "itemType",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "trace",
              "id": "trace",
              "required": false,
              "type": "object"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "run",
              "id": "run",
              "required": false,
              "type": "object"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "rule",
              "id": "rule",
              "required": false,
              "type": "object"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "itemPlan",
              "id": "itemPlan",
              "required": false,
              "type": "object"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "logs",
              "id": "logs",
              "required": false,
              "type": "object"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "failures",
              "id": "failures",
              "required": false,
              "type": "array"
            }
          ],
          "value": {
            "contractVersion": "={{ $json.contractVersion }}",
            "itemType": "={{ $json.itemType }}",
            "trace": "={{ $json.trace }}",
            "run": "={{ $json.run }}",
            "rule": "={{ $json.rule }}",
            "itemPlan": "={{ $json.itemPlan }}",
            "logs": "={{ $json.logs }}",
            "failures": "={{ $json.failures }}"
          }
        },
        "options": {}
      },
      "id": "439d7249-e911-4e60-b99d-5c021262deaa",
      "name": "Materializar itens FIN-04",
      "position": [
        -3216,
        496
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.itemType === 'fin04_items_ready' }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "332c2301-9303-4542-bc56-fdb348c766bf",
      "name": "Loop: item e fin04_items_ready?",
      "position": [
        -2992,
        496
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "cachedResultName": "[FIN] 1.4 Criar fatura FIN-03, concluir FIN-04 e atualizar FIN-02",
          "cachedResultUrl": "/workflow/7YnO0a1MG58lexEe",
          "mode": "list",
          "value": "7YnO0a1MG58lexEe"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "contractVersion",
              "id": "contractVersion",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "itemType",
              "id": "itemType",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "trace",
              "id": "trace",
              "required": false,
              "type": "object"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "run",
              "id": "run",
              "required": false,
              "type": "object"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "rule",
              "id": "rule",
              "required": false,
              "type": "object"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "itemPlan",
              "id": "itemPlan",
              "required": false,
              "type": "object"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "createdItemIds",
              "id": "createdItemIds",
              "required": false,
              "type": "array"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "parcelUpdates",
              "id": "parcelUpdates",
              "required": false,
              "type": "array"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "logs",
              "id": "logs",
              "required": false,
              "type": "object"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "failures",
              "id": "failures",
              "required": false,
              "type": "array"
            }
          ],
          "value": {
            "contractVersion": "={{ $json.contractVersion }}",
            "itemType": "={{ $json.itemType }}",
            "trace": "={{ $json.trace }}",
            "run": "={{ $json.run }}",
            "rule": "={{ $json.rule }}",
            "itemPlan": "={{ $json.itemPlan }}",
            "createdItemIds": "={{ $json.createdItemIds }}",
            "parcelUpdates": "={{ $json.parcelUpdates }}",
            "logs": "={{ $json.logs }}",
            "failures": "={{ $json.failures }}"
          }
        },
        "options": {}
      },
      "id": "1565a4c2-c82b-4ed9-8281-23d937e48fca",
      "name": "Criar fatura FIN-03 e concluir regra",
      "position": [
        -2768,
        416
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const nowIso = new Date().toISOString();\nconst asObj = (v) => (v && typeof v === 'object' && !Array.isArray(v)) ? v : {};\nconst clone = (v) => JSON.parse(JSON.stringify(v));\nconst clean = (v) => String(v ?? '').trim();\nconst isBlank = (v) => {\n  const s = clean(v).toLowerCase();\n  return s === '' || s === 'null' || s === 'undefined' || s === 'nan';\n};\nconst isIsoDate = (v) => /^\\d{4}-\\d{2}-\\d{2}$/.test(clean(v).slice(0, 10));\nconst collectIds = (...values) => {\n  const out = [];\n  const visit = (value) => {\n    if (value === undefined || value === null) return;\n    if (Array.isArray(value)) {\n      for (const item of value) visit(item);\n      return;\n    }\n    const s = String(value).trim();\n    if (s) out.push(s);\n  };\n  for (const value of values) visit(value);\n  return Array.from(new Set(out));\n};\nconst pickScalar = (f) => {\n  if (!f) return null;\n  const rv = f.report_value;\n  return (rv !== undefined && rv !== null && String(rv).trim() !== '') ? rv : f.value;\n};\nconst fieldMap = (fields) => {\n  const out = {};\n  for (const f of (fields || [])) {\n    const fid = f && f.field ? f.field.id : null;\n    if (fid) out[fid] = f;\n  }\n  return out;\n};\nconst parseNum = (v) => {\n  if (v === undefined || v === null) return 0;\n  if (typeof v === 'number' && Number.isFinite(v)) return v;\n  let s = String(v).trim();\n  if (!s) return 0;\n  s = s.replace(/[^0-9,.-]/g, '');\n  if (!s) return 0;\n  if (s.includes(',') && s.includes('.')) {\n    if (s.lastIndexOf(',') > s.lastIndexOf('.')) {\n      s = s.replace(/\\./g, '').replace(',', '.');\n    } else {\n      s = s.replace(/,/g, '');\n    }\n  } else if (s.includes(',')) {\n    s = s.replace(',', '.');\n  }\n  const n = Number(s);\n  return Number.isFinite(n) ? n : 0;\n};\nconst extractIds = (f) => {\n  if (!f) return [];\n  const out = [];\n  const push = (x) => {\n    if (x === undefined || x === null) return;\n    if (typeof x === 'object') {\n      if (x.id != null) out.push(String(x.id));\n      else if (x.value != null) out.push(String(x.value));\n      else if (x.label != null) out.push(String(x.label));\n    } else {\n      out.push(String(x));\n    }\n  };\n  if (Array.isArray(f.array_value)) {\n    for (const x of f.array_value) push(x);\n  } else {\n    const v = pickScalar(f);\n    if (Array.isArray(v)) {\n      for (const x of v) push(x);\n    } else if (typeof v === 'string') {\n      const matches = v.match(/[0-9]+/g);\n      if (matches) {\n        for (const x of matches) out.push(String(x));\n      } else if (v.trim()) {\n        out.push(v.trim());\n      }\n    } else if (v != null) {\n      push(v);\n    }\n  }\n  return Array.from(new Set(out.filter(Boolean)));\n};\nconst extractList = (f) => {\n  if (!f) return [];\n  const out = [];\n  const push = (x) => {\n    if (x === undefined || x === null) return;\n    const s = String(x).trim();\n    if (s) out.push(s);\n  };\n  if (Array.isArray(f.array_value)) {\n    for (const x of f.array_value) push(x);\n  } else {\n    const v = pickScalar(f);\n    if (Array.isArray(v)) {\n      for (const x of v) push(x);\n    } else if (typeof v === 'string') {\n      const s = v.trim();\n      if (s.startsWith('[')) {\n        try {\n          const parsed = JSON.parse(s);\n          if (Array.isArray(parsed)) {\n            for (const x of parsed) push(x);\n          } else {\n            push(parsed);\n          }\n        } catch (_err) {\n          for (const x of s.split(',')) push(x);\n        }\n      } else {\n        for (const x of s.split(',')) push(x);\n      }\n    } else if (v != null) {\n      push(v);\n    }\n  }\n  return Array.from(new Set(out));\n};\nconst toId = (v) => {\n  if (v == null) return null;\n  const s = String(v).trim();\n  const match = s.match(/[0-9]+/);\n  return match ? match[0] : (s || null);\n};\nconst jsonString = (v) => {\n  try { return JSON.stringify(v ?? null); } catch (_err) { return 'null'; }\n};\nconst timeWithOffset = (ymd) => clean(ymd) ? `${clean(ymd)}T00:00:00-03:00` : null;\nconst ensureLogState = (ctx) => {\n  ctx.failures = Array.isArray(ctx.failures) ? ctx.failures : [];\n  ctx.entityLogs = Array.isArray(ctx.entityLogs) ? ctx.entityLogs : [];\n  ctx.graphqlLogs = Array.isArray(ctx.graphqlLogs) ? ctx.graphqlLogs : [];\n  ctx.workflowLogs = Array.isArray(ctx.workflowLogs) ? ctx.workflowLogs : [];\n  ctx.metrics = asObj(ctx.metrics);\n  ctx.metrics.graphqlCallsTotal = Number(ctx.metrics.graphqlCallsTotal || 0);\n  ctx.metrics.graphqlErrorsTotal = Number(ctx.metrics.graphqlErrorsTotal || 0);\n  return ctx;\n};\nconst addFailure = (ctx, node, reason, ...ids) => {\n  ctx.failures.push({\n    node: String(node || 'unknown'),\n    reason: String(reason || 'unexpected_payload_shape'),\n    pipefyCardIds: collectIds(...ids),\n  });\n};\nconst nextGraphqlIndex = (ctx) => {\n  ctx.metrics.graphqlCallsTotal = Number(ctx.metrics.graphqlCallsTotal || 0) + 1;\n  return ctx.metrics.graphqlCallsTotal;\n};\nconst addGraphqlErrorLog = (ctx, payload) => {\n  ctx.metrics.graphqlErrorsTotal = Number(ctx.metrics.graphqlErrorsTotal || 0) + 1;\n  ctx.graphqlLogs.push({\n    run_id: ctx.run?.runId ?? null,\n    workflow_execution_id: ctx.trace?.workflowExecutionId ?? String($execution.id ?? 'manual'),\n    parent_execution_id: ctx.trace?.parentExecutionId ?? null,\n    workflow_name: ctx.trace?.workflowName ?? null,\n    node_name: payload.node_name,\n    operation_name: payload.operation_name,\n    pipe_id: payload.pipe_id ?? null,\n    phase_id: payload.phase_id ?? null,\n    card_id: payload.card_id ?? null,\n    entity_type: payload.entity_type ?? null,\n    entity_id: payload.entity_id ?? null,\n    request_fingerprint: payload.request_fingerprint ?? null,\n    graphql_call_index: payload.graphql_call_index ?? null,\n    requested_at: payload.requested_at ?? nowIso,\n    responded_at: nowIso,\n    duration_ms: payload.duration_ms ?? null,\n    status: payload.status ?? 'error',\n    error_code: payload.error_code ?? null,\n    error_message: payload.error_message ?? null,\n    query_excerpt: payload.query_excerpt ?? null,\n    variables_json: payload.variables_json ?? 'null',\n    response_json: payload.response_json ?? 'null',\n  });\n};\nconst addEntityLog = (ctx, payload) => {\n  ctx.entityLogs.push({\n    run_id: ctx.run?.runId ?? null,\n    workflow_execution_id: ctx.trace?.workflowExecutionId ?? String($execution.id ?? 'manual'),\n    parent_execution_id: ctx.trace?.parentExecutionId ?? null,\n    workflow_name: ctx.trace?.workflowName ?? null,\n    node_name: payload.node_name,\n    entity_type: payload.entity_type,\n    entity_id: payload.entity_id ?? null,\n    rule_id: payload.rule_id ?? ctx.rule?.ruleId ?? null,\n    template_item_id: payload.template_item_id ?? null,\n    fin02_parent_item_id: payload.fin02_parent_item_id ?? null,\n    invoice_id: payload.invoice_id ?? null,\n    fin04_item_id: payload.fin04_item_id ?? null,\n    competence_date: timeWithOffset(ctx.run?.competenceYMD),\n    action: payload.action,\n    status: payload.status,\n    failure_reason: payload.failure_reason ?? null,\n    dedupe_key: payload.dedupe_key ?? null,\n    graphql_calls_delta: Number(payload.graphql_calls_delta || 0),\n    started_at: payload.started_at ?? ctx.startedAt ?? nowIso,\n    finished_at: payload.finished_at ?? nowIso,\n    details_json: payload.details_json ?? 'null',\n  });\n};\nconst addWorkflowLog = (ctx, payload) => {\n  ctx.workflowLogs.push({\n    run_id: ctx.run?.runId ?? null,\n    workflow_execution_id: ctx.trace?.workflowExecutionId ?? String($execution.id ?? 'manual'),\n    parent_execution_id: ctx.trace?.parentExecutionId ?? null,\n    workflow_name: ctx.trace?.workflowName ?? null,\n    trigger_type: ctx.run?.triggerType ?? null,\n    competence_date: timeWithOffset(ctx.run?.competenceYMD),\n    started_at: payload.started_at ?? ctx.startedAt ?? nowIso,\n    finished_at: payload.finished_at ?? nowIso,\n    status: payload.status,\n    failure_reason: payload.failure_reason ?? null,\n    graphql_calls_total: Number(ctx.metrics?.graphqlCallsTotal || 0),\n    rules_found: Number(payload.rules_found || 0),\n    rules_eligible: Number(payload.rules_eligible || 0),\n    rules_processed: Number(payload.rules_processed || 0),\n    rules_failed: Number(payload.rules_failed || 0),\n    items_created: Number(payload.items_created || 0),\n    items_updated: Number(payload.items_updated || 0),\n    duplicate_items_blocked: Number(payload.duplicate_items_blocked || 0),\n    invoices_created: Number(payload.invoices_created || 0),\n    duplicate_invoices_blocked: Number(payload.duplicate_invoices_blocked || 0),\n    installments_incremented: Number(payload.installments_incremented || 0),\n    parent_items_inactivated: Number(payload.parent_items_inactivated || 0),\n    summary_json: payload.summary_json ?? 'null',\n  });\n};\n\n    const input = $input.all().map((item) => asObj(item.json));\n    const sd = $getWorkflowStaticData('global');\n    const executionId = String($execution.id ?? 'manual');\n    sd.finBillingAcc = asObj(sd.finBillingAcc);\n    if (!sd.finBillingAcc[executionId]) {\n      sd.finBillingAcc[executionId] = {\n        ctx: ensureLogState({\n          startedAt: nowIso,\n          trace: {\n            parentExecutionId: null,\n            workflowExecutionId: executionId,\n            workflowName: '[FIN] 1 Orquestrar faturamento mensal',\n          },\n          run: {},\n          metrics: {},\n          failures: [],\n          results: [],\n          entityLogs: [],\n          graphqlLogs: [],\n          workflowLogs: [],\n        }),\n      };\n    }\n    const acc = sd.finBillingAcc[executionId].ctx;\n    if (!acc.run?.runId) {\n      const first = input.find((x) => asObj(x.run).runId || asObj(x.summary).run_id || asObj(x.trace).workflowExecutionId);\n      if (first) {\n        if (asObj(first.run).runId) {\n          acc.run = clone(first.run);\n        } else if (asObj(first.summary).runId) {\n          acc.run.runId = first.summary.runId;\n        }\n      }\n    }\n    for (const item of input) {\n      const logs = asObj(item.logs);\n      if (Array.isArray(logs.workflowLogs)) acc.workflowLogs.push(...logs.workflowLogs);\n      if (Array.isArray(logs.entityLogs)) acc.entityLogs.push(...logs.entityLogs);\n      if (Array.isArray(logs.graphqlLogs)) acc.graphqlLogs.push(...logs.graphqlLogs);\n      const failures = Array.isArray(item.failures) ? item.failures : (Array.isArray(asObj(item.result).failures) ? item.result.failures : []);\n      if (failures.length > 0) acc.failures.push(...failures);\n      const result = asObj(item.result);\n      const metrics = asObj(result.metricsDelta);\n      for (const [key, value] of Object.entries(metrics)) {\n        const n = Number(value);\n        if (Number.isFinite(n)) acc.metrics[key] = Number(acc.metrics[key] || 0) + n;\n      }\n      if (item.itemType === 'prep_summary') {\n        const prep = asObj(result.prepContext);\n        acc.metrics.rulesFound = Number(prep.rulesFound || prep.rulesTotal || acc.metrics.rulesFound || 0);\n        acc.metrics.rulesEligible = Number(prep.rulesEligible || prep.eligibleCount || acc.metrics.rulesEligible || 0);\n        continue;\n      }\n      if (item.itemType !== 'rule_result') continue;\n      acc.results.push({\n        ruleId: asObj(item.rule).ruleId ?? null,\n        status: String(result.status || 'failed'),\n        reason: String(result.reason || 'unexpected_payload_shape'),\n        invoiceId: result.invoiceId ?? null,\n        createdItemIds: Array.isArray(result.createdItemIds) ? result.createdItemIds : [],\n      });\n      acc.metrics.rulesProcessed = Number(acc.metrics.rulesProcessed || 0) + 1;\n      if (String(result.status || '') === 'failed') {\n        acc.metrics.rulesFailed = Number(acc.metrics.rulesFailed || 0) + 1;\n      }\n    }\n    return $input.all();"
      },
      "id": "7ddb4adb-ce1a-4c65-badc-d50a3f0eaf52",
      "name": "Accumulate results",
      "position": [
        -2544,
        688
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const nowIso = new Date().toISOString();\nconst asObj = (v) => (v && typeof v === 'object' && !Array.isArray(v)) ? v : {};\nconst clone = (v) => JSON.parse(JSON.stringify(v));\nconst clean = (v) => String(v ?? '').trim();\nconst isBlank = (v) => {\n  const s = clean(v).toLowerCase();\n  return s === '' || s === 'null' || s === 'undefined' || s === 'nan';\n};\nconst isIsoDate = (v) => /^\\d{4}-\\d{2}-\\d{2}$/.test(clean(v).slice(0, 10));\nconst collectIds = (...values) => {\n  const out = [];\n  const visit = (value) => {\n    if (value === undefined || value === null) return;\n    if (Array.isArray(value)) {\n      for (const item of value) visit(item);\n      return;\n    }\n    const s = String(value).trim();\n    if (s) out.push(s);\n  };\n  for (const value of values) visit(value);\n  return Array.from(new Set(out));\n};\nconst pickScalar = (f) => {\n  if (!f) return null;\n  const rv = f.report_value;\n  return (rv !== undefined && rv !== null && String(rv).trim() !== '') ? rv : f.value;\n};\nconst fieldMap = (fields) => {\n  const out = {};\n  for (const f of (fields || [])) {\n    const fid = f && f.field ? f.field.id : null;\n    if (fid) out[fid] = f;\n  }\n  return out;\n};\nconst parseNum = (v) => {\n  if (v === undefined || v === null) return 0;\n  if (typeof v === 'number' && Number.isFinite(v)) return v;\n  let s = String(v).trim();\n  if (!s) return 0;\n  s = s.replace(/[^0-9,.-]/g, '');\n  if (!s) return 0;\n  if (s.includes(',') && s.includes('.')) {\n    if (s.lastIndexOf(',') > s.lastIndexOf('.')) {\n      s = s.replace(/\\./g, '').replace(',', '.');\n    } else {\n      s = s.replace(/,/g, '');\n    }\n  } else if (s.includes(',')) {\n    s = s.replace(',', '.');\n  }\n  const n = Number(s);\n  return Number.isFinite(n) ? n : 0;\n};\nconst extractIds = (f) => {\n  if (!f) return [];\n  const out = [];\n  const push = (x) => {\n    if (x === undefined || x === null) return;\n    if (typeof x === 'object') {\n      if (x.id != null) out.push(String(x.id));\n      else if (x.value != null) out.push(String(x.value));\n      else if (x.label != null) out.push(String(x.label));\n    } else {\n      out.push(String(x));\n    }\n  };\n  if (Array.isArray(f.array_value)) {\n    for (const x of f.array_value) push(x);\n  } else {\n    const v = pickScalar(f);\n    if (Array.isArray(v)) {\n      for (const x of v) push(x);\n    } else if (typeof v === 'string') {\n      const matches = v.match(/[0-9]+/g);\n      if (matches) {\n        for (const x of matches) out.push(String(x));\n      } else if (v.trim()) {\n        out.push(v.trim());\n      }\n    } else if (v != null) {\n      push(v);\n    }\n  }\n  return Array.from(new Set(out.filter(Boolean)));\n};\nconst extractList = (f) => {\n  if (!f) return [];\n  const out = [];\n  const push = (x) => {\n    if (x === undefined || x === null) return;\n    const s = String(x).trim();\n    if (s) out.push(s);\n  };\n  if (Array.isArray(f.array_value)) {\n    for (const x of f.array_value) push(x);\n  } else {\n    const v = pickScalar(f);\n    if (Array.isArray(v)) {\n      for (const x of v) push(x);\n    } else if (typeof v === 'string') {\n      const s = v.trim();\n      if (s.startsWith('[')) {\n        try {\n          const parsed = JSON.parse(s);\n          if (Array.isArray(parsed)) {\n            for (const x of parsed) push(x);\n          } else {\n            push(parsed);\n          }\n        } catch (_err) {\n          for (const x of s.split(',')) push(x);\n        }\n      } else {\n        for (const x of s.split(',')) push(x);\n      }\n    } else if (v != null) {\n      push(v);\n    }\n  }\n  return Array.from(new Set(out));\n};\nconst toId = (v) => {\n  if (v == null) return null;\n  const s = String(v).trim();\n  const match = s.match(/[0-9]+/);\n  return match ? match[0] : (s || null);\n};\nconst jsonString = (v) => {\n  try { return JSON.stringify(v ?? null); } catch (_err) { return 'null'; }\n};\nconst timeWithOffset = (ymd) => clean(ymd) ? `${clean(ymd)}T00:00:00-03:00` : null;\nconst STATUS_PRIORITY = {\n  success: 0,\n  skipped: 1,\n  blocked: 2,\n  failed: 3,\n};\nconst parseDetailsObject = (value) => {\n  if (value && typeof value === 'object' && !Array.isArray(value)) return clone(value);\n  const s = clean(value);\n  if (!s || s === 'null') return {};\n  try {\n    const parsed = JSON.parse(s);\n    return (parsed && typeof parsed === 'object' && !Array.isArray(parsed)) ? parsed : {};\n  } catch (_err) {\n    return {};\n  }\n};\nconst uniqueStrings = (values) => {\n  const out = [];\n  const seen = new Set();\n  for (const value of (values || [])) {\n    const s = clean(value);\n    if (!s || seen.has(s)) continue;\n    seen.add(s);\n    out.push(s);\n  }\n  return out;\n};\nconst uniqueObjects = (values) => {\n  const out = [];\n  const seen = new Set();\n  for (const value of (values || [])) {\n    const fingerprint = jsonString(value ?? null);\n    if (seen.has(fingerprint)) continue;\n    seen.add(fingerprint);\n    out.push(value);\n  }\n  return out;\n};\nconst minTime = (current, incoming) => {\n  const a = clean(current);\n  const b = clean(incoming);\n  if (!a) return b || null;\n  if (!b) return a || null;\n  return a <= b ? a : b;\n};\nconst maxTime = (current, incoming) => {\n  const a = clean(current);\n  const b = clean(incoming);\n  if (!a) return b || null;\n  if (!b) return a || null;\n  return a >= b ? a : b;\n};\nconst rawEntityType = (payload) => clean(payload.entity_type);\nconst resolveRuleId = (ctx, payload) => clean(payload.rule_id ?? ctx.rule?.ruleId ?? (rawEntityType(payload) === 'rule' ? payload.entity_id : '')) || null;\nconst resolveTemplateItemId = (payload) => clean(payload.template_item_id ?? payload.fin02_parent_item_id ?? (rawEntityType(payload) === 'template_item' ? payload.entity_id : '')) || null;\nconst resolveFin04ItemId = (payload) => clean(payload.fin04_item_id ?? (rawEntityType(payload) === 'fin04_item' ? payload.entity_id : '')) || null;\nconst ensureEntityLifecycleState = (ctx) => {\n  ctx.entityLifecycle = asObj(ctx.entityLifecycle);\n  ctx.entityLifecycle.items = asObj(ctx.entityLifecycle.items);\n  ctx.entityLifecycle.invoices = asObj(ctx.entityLifecycle.invoices);\n  ctx.entityLifecycle.aliasByFin04 = asObj(ctx.entityLifecycle.aliasByFin04);\n  ctx.entityLifecycle.syntheticInvoiceCounter = Number(ctx.entityLifecycle.syntheticInvoiceCounter || 0);\n  ctx.entityLifecycle.syntheticItemCounter = Number(ctx.entityLifecycle.syntheticItemCounter || 0);\n  return ctx.entityLifecycle;\n};\nconst syncEntityLogs = (ctx) => {\n  const state = ensureEntityLifecycleState(ctx);\n  const sortRows = (rows) => rows.sort((left, right) => {\n    const leftKey = clean(left.dedupe_key) || clean(left.entity_id) || clean(left.rule_id);\n    const rightKey = clean(right.dedupe_key) || clean(right.entity_id) || clean(right.rule_id);\n    return leftKey.localeCompare(rightKey);\n  });\n  ctx.entityLogs = [\n    ...sortRows(Object.values(state.invoices)),\n    ...sortRows(Object.values(state.items)),\n  ];\n  return ctx.entityLogs;\n};\nconst lifecycleKind = (payload) => {\n  const type = rawEntityType(payload);\n  if (type === 'rule' || type === 'invoice') return 'invoice';\n  return 'item';\n};\nconst invoiceLifecycleKey = (ctx, payload, state) => {\n  const ruleId = resolveRuleId(ctx, payload);\n  const dedupeKey = clean(payload.dedupe_key);\n  if (!ruleId && dedupeKey.startsWith('missing_rule:')) return dedupeKey;\n  const competence = clean(payload.competence_date).slice(0, 10) || clean(ctx.run?.competenceYMD);\n  if (ruleId) return `${ruleId}|${competence}`;\n  state.syntheticInvoiceCounter = Number(state.syntheticInvoiceCounter || 0) + 1;\n  return `missing_rule:${state.syntheticInvoiceCounter}|${competence}`;\n};\nconst itemLifecycleKey = (ctx, payload, state) => {\n  const competence = clean(payload.competence_date).slice(0, 10) || clean(ctx.run?.competenceYMD);\n  const ruleId = resolveRuleId(ctx, payload) || 'missing_rule';\n  const templateItemId = resolveTemplateItemId(payload);\n  const fin04ItemId = resolveFin04ItemId(payload);\n  if (templateItemId) {\n    if (fin04ItemId && clean(state.aliasByFin04[fin04ItemId])) return clean(state.aliasByFin04[fin04ItemId]);\n    const key = `${ruleId}|${templateItemId}|${competence}`;\n    if (fin04ItemId) state.aliasByFin04[fin04ItemId] = key;\n    return key;\n  }\n  if (fin04ItemId && clean(state.aliasByFin04[fin04ItemId])) return clean(state.aliasByFin04[fin04ItemId]);\n  if (fin04ItemId) {\n    const key = `${ruleId}|fin04:${fin04ItemId}|${competence}`;\n    state.aliasByFin04[fin04ItemId] = key;\n    return key;\n  }\n  const dedupeKey = clean(payload.dedupe_key);\n  if (dedupeKey) return `${ruleId}|dedupe:${dedupeKey}|${competence}`;\n  state.syntheticItemCounter = Number(state.syntheticItemCounter || 0) + 1;\n  return `${ruleId}|missing_item:${state.syntheticItemCounter}|${competence}`;\n};\nconst lifecycleIdentity = (ctx, payload, state) => {\n  const kind = lifecycleKind(payload);\n  return {\n    kind,\n    key: kind === 'invoice' ? invoiceLifecycleKey(ctx, payload, state) : itemLifecycleKey(ctx, payload, state),\n  };\n};\nconst lifecycleBaseRow = (ctx, payload, kind, key) => {\n  const ruleId = resolveRuleId(ctx, payload);\n  const templateItemId = resolveTemplateItemId(payload);\n  const fin04ItemId = resolveFin04ItemId(payload);\n  const invoiceId = clean(payload.invoice_id) || null;\n  const competenceDate = payload.competence_date ?? timeWithOffset(ctx.run?.competenceYMD);\n  return {\n    run_id: ctx.run?.runId ?? null,\n    workflow_execution_id: ctx.trace?.workflowExecutionId ?? String($execution.id ?? 'manual'),\n    parent_execution_id: ctx.trace?.parentExecutionId ?? null,\n    workflow_name: ctx.trace?.workflowName ?? null,\n    node_name: payload.node_name ?? null,\n    entity_type: kind,\n    entity_id: kind === 'invoice' ? (invoiceId || ruleId) : (fin04ItemId || templateItemId),\n    rule_id: ruleId,\n    template_item_id: templateItemId,\n    fin02_parent_item_id: clean(payload.fin02_parent_item_id) || templateItemId || null,\n    invoice_id: invoiceId,\n    fin04_item_id: fin04ItemId,\n    competence_date: competenceDate,\n    action: kind === 'invoice' ? 'invoice_lifecycle' : 'item_lifecycle',\n    status: null,\n    failure_reason: null,\n    dedupe_key: key,\n    graphql_calls_delta: 0,\n    started_at: null,\n    finished_at: null,\n    details_json: 'null',\n  };\n};\nconst mergeLifecycleDetails = (row, payload) => {\n  const details = parseDetailsObject(row.details_json);\n  const stageDetails = parseDetailsObject(payload.details_json);\n  const stage = {\n    node_name: payload.node_name ?? null,\n    action: clean(payload.action) || null,\n    status: clean(payload.status) || null,\n    failure_reason: clean(payload.failure_reason) || null,\n  };\n  details.stages = uniqueObjects([\n    ...(Array.isArray(details.stages) ? details.stages : []),\n    stage,\n  ].filter((value) => value.node_name || value.action || value.status || value.failure_reason));\n  details.raw_actions = uniqueStrings([\n    ...(Array.isArray(details.raw_actions) ? details.raw_actions : []),\n    payload.action,\n  ]);\n  details.failure_reasons = uniqueStrings([\n    ...(Array.isArray(details.failure_reasons) ? details.failure_reasons : []),\n    payload.failure_reason,\n  ]);\n  details.stage_details = uniqueObjects([\n    ...(Array.isArray(details.stage_details) ? details.stage_details : []),\n    ...(Object.keys(stageDetails).length > 0 ? [stageDetails] : []),\n  ]);\n  if (clean(payload.action) === 'create_item' && clean(payload.status) === 'success') details.created_item = true;\n  if (clean(payload.action) === 'update_item_invoice_id' && clean(payload.status) === 'success') details.invoice_linked = true;\n  if (clean(payload.action) === 'increment_installment_counter' && clean(payload.status) === 'success') details.parcelas_incremented = true;\n  if (clean(payload.action) === 'inactivate_parent_item' && clean(payload.status) === 'success') details.parent_inactivated = true;\n  if (clean(payload.action) === 'create_invoice' && clean(payload.status) === 'success') details.invoice_created = true;\n  if (clean(payload.failure_reason) === 'invoice_already_exists') details.invoice_preexisting = true;\n  row.details_json = jsonString(details);\n};\nconst mergeLifecycleRow = (ctx, current, payload, kind, key) => {\n  const row = current ? clone(current) : lifecycleBaseRow(ctx, payload, kind, key);\n  const incomingStatus = clean(payload.status) || 'success';\n  const incomingRank = STATUS_PRIORITY[incomingStatus] ?? -1;\n  const currentRank = STATUS_PRIORITY[clean(row.status)] ?? -1;\n  row.run_id = row.run_id ?? ctx.run?.runId ?? null;\n  row.workflow_execution_id = row.workflow_execution_id ?? ctx.trace?.workflowExecutionId ?? String($execution.id ?? 'manual');\n  row.parent_execution_id = row.parent_execution_id ?? ctx.trace?.parentExecutionId ?? null;\n  row.workflow_name = row.workflow_name ?? ctx.trace?.workflowName ?? null;\n  row.rule_id = row.rule_id || resolveRuleId(ctx, payload);\n  row.template_item_id = row.template_item_id || resolveTemplateItemId(payload);\n  row.fin02_parent_item_id = row.fin02_parent_item_id || clean(payload.fin02_parent_item_id) || row.template_item_id || null;\n  row.invoice_id = row.invoice_id || clean(payload.invoice_id) || null;\n  row.fin04_item_id = row.fin04_item_id || resolveFin04ItemId(payload);\n  row.entity_type = kind;\n  row.action = kind === 'invoice' ? 'invoice_lifecycle' : 'item_lifecycle';\n  row.dedupe_key = key;\n  row.graphql_calls_delta = Number(row.graphql_calls_delta || 0) + Number(payload.graphql_calls_delta || 0);\n  row.started_at = minTime(row.started_at, payload.started_at ?? ctx.startedAt ?? nowIso);\n  row.finished_at = maxTime(row.finished_at, payload.finished_at ?? nowIso);\n  if (incomingRank >= currentRank) {\n    row.status = incomingStatus;\n    row.node_name = payload.node_name ?? row.node_name;\n    if (clean(payload.failure_reason)) row.failure_reason = clean(payload.failure_reason);\n  }\n  if (!clean(row.failure_reason) && clean(payload.failure_reason)) row.failure_reason = clean(payload.failure_reason);\n  row.entity_id = kind === 'invoice' ? (row.invoice_id || row.rule_id || row.entity_id || null) : (row.fin04_item_id || row.template_item_id || row.entity_id || null);\n  mergeLifecycleDetails(row, payload);\n  return row;\n};\nconst rehydrateEntityLifecycle = (ctx) => {\n  const state = ensureEntityLifecycleState(ctx);\n  if (!Array.isArray(ctx.entityLogs) || ctx.entityLogs.length === 0) return;\n  if (Object.keys(state.items).length > 0 || Object.keys(state.invoices).length > 0) return;\n  const existingRows = ctx.entityLogs.slice();\n  ctx.entityLogs = [];\n  for (const row of existingRows) {\n    const identity = lifecycleIdentity(ctx, row, state);\n    const bucket = identity.kind === 'invoice' ? state.invoices : state.items;\n    const current = bucket[identity.key] ? asObj(bucket[identity.key]) : null;\n    const merged = mergeLifecycleRow(ctx, current, row, identity.kind, identity.key);\n    bucket[identity.key] = merged;\n    if (clean(merged.fin04_item_id)) state.aliasByFin04[clean(merged.fin04_item_id)] = identity.key;\n  }\n  syncEntityLogs(ctx);\n};\nconst ensureLogState = (ctx) => {\n  ctx.failures = Array.isArray(ctx.failures) ? ctx.failures : [];\n  ctx.entityLogs = Array.isArray(ctx.entityLogs) ? ctx.entityLogs : [];\n  ctx.graphqlLogs = Array.isArray(ctx.graphqlLogs) ? ctx.graphqlLogs : [];\n  ctx.workflowLogs = Array.isArray(ctx.workflowLogs) ? ctx.workflowLogs : [];\n  ctx.metrics = asObj(ctx.metrics);\n  ctx.metrics.graphqlCallsTotal = Number(ctx.metrics.graphqlCallsTotal || 0);\n  ctx.metrics.graphqlErrorsTotal = Number(ctx.metrics.graphqlErrorsTotal || 0);\n  ensureEntityLifecycleState(ctx);\n  rehydrateEntityLifecycle(ctx);\n  return ctx;\n};\nconst addFailure = (ctx, node, reason, ...ids) => {\n  ctx.failures.push({\n    node: String(node || 'unknown'),\n    reason: String(reason || 'unexpected_payload_shape'),\n    pipefyCardIds: collectIds(...ids),\n  });\n};\nconst nextGraphqlIndex = (ctx) => {\n  ctx.metrics.graphqlCallsTotal = Number(ctx.metrics.graphqlCallsTotal || 0) + 1;\n  return ctx.metrics.graphqlCallsTotal;\n};\nconst addGraphqlErrorLog = (ctx, payload) => {\n  ctx.metrics.graphqlErrorsTotal = Number(ctx.metrics.graphqlErrorsTotal || 0) + 1;\n  ctx.graphqlLogs.push({\n    run_id: ctx.run?.runId ?? null,\n    workflow_execution_id: ctx.trace?.workflowExecutionId ?? String($execution.id ?? 'manual'),\n    parent_execution_id: ctx.trace?.parentExecutionId ?? null,\n    workflow_name: ctx.trace?.workflowName ?? null,\n    node_name: payload.node_name,\n    operation_name: payload.operation_name,\n    pipe_id: payload.pipe_id ?? null,\n    phase_id: payload.phase_id ?? null,\n    card_id: payload.card_id ?? null,\n    entity_type: payload.entity_type ?? null,\n    entity_id: payload.entity_id ?? null,\n    request_fingerprint: payload.request_fingerprint ?? null,\n    graphql_call_index: payload.graphql_call_index ?? null,\n    requested_at: payload.requested_at ?? nowIso,\n    responded_at: nowIso,\n    duration_ms: payload.duration_ms ?? null,\n    status: payload.status ?? 'error',\n    error_code: payload.error_code ?? null,\n    error_message: payload.error_message ?? null,\n    query_excerpt: payload.query_excerpt ?? null,\n    variables_json: payload.variables_json ?? 'null',\n    response_json: payload.response_json ?? 'null',\n  });\n};\nconst addEntityLog = (ctx, payload) => {\n  const state = ensureEntityLifecycleState(ctx);\n  const identity = lifecycleIdentity(ctx, payload, state);\n  const bucket = identity.kind === 'invoice' ? state.invoices : state.items;\n  const current = bucket[identity.key] ? asObj(bucket[identity.key]) : null;\n  const merged = mergeLifecycleRow(ctx, current, payload, identity.kind, identity.key);\n  bucket[identity.key] = merged;\n  if (clean(merged.fin04_item_id)) state.aliasByFin04[clean(merged.fin04_item_id)] = identity.key;\n  syncEntityLogs(ctx);\n};\nconst consolidateEntityLogs = (ctx, rows, resultList) => {\n  const lifecycleCtx = ensureLogState({\n    startedAt: ctx.startedAt ?? nowIso,\n    trace: clone(asObj(ctx.trace)),\n    run: clone(asObj(ctx.run)),\n    metrics: {},\n    failures: [],\n    entityLogs: [],\n    graphqlLogs: [],\n    workflowLogs: [],\n    entityLifecycle: { items: {}, invoices: {}, aliasByFin04: {}, syntheticInvoiceCounter: 0, syntheticItemCounter: 0 },\n  });\n  for (const row of (Array.isArray(rows) ? rows : [])) addEntityLog(lifecycleCtx, asObj(row));\n  const existingInvoiceKeys = new Set(Object.keys(ensureEntityLifecycleState(lifecycleCtx).invoices));\n  for (const [index, result] of (Array.isArray(resultList) ? resultList : []).entries()) {\n    const ruleId = clean(result.ruleId);\n    const competence = clean(ctx.run?.competenceYMD);\n    const invoiceKey = ruleId ? `${ruleId}|${competence}` : `missing_rule:${index + 1}|${competence}`;\n    if (existingInvoiceKeys.has(invoiceKey)) continue;\n    const reason = clean(result.reason);\n    let status = 'success';\n    if (reason === 'invoice_already_exists') status = 'blocked';\n    else if (clean(result.status) === 'skipped') status = 'skipped';\n    else if (clean(result.status) === 'failed') status = 'failed';\n    addEntityLog(lifecycleCtx, {\n      node_name: 'Finalize summary',\n      entity_type: 'invoice',\n      entity_id: ruleId || null,\n      rule_id: ruleId || null,\n      invoice_id: clean(result.invoiceId) || null,\n      action: 'invoice_lifecycle',\n      status,\n      failure_reason: reason || null,\n      dedupe_key: invoiceKey,\n      details_json: jsonString({ synthesized_from_result: true, result_status: clean(result.status) || null, created_item_ids: Array.isArray(result.createdItemIds) ? result.createdItemIds : [] }),\n    });\n    existingInvoiceKeys.add(invoiceKey);\n  }\n  return Array.isArray(lifecycleCtx.entityLogs) ? lifecycleCtx.entityLogs : [];\n};\nconst addWorkflowLog = (ctx, payload) => {\n  ctx.workflowLogs.push({\n    run_id: ctx.run?.runId ?? null,\n    workflow_execution_id: ctx.trace?.workflowExecutionId ?? String($execution.id ?? 'manual'),\n    parent_execution_id: ctx.trace?.parentExecutionId ?? null,\n    workflow_name: ctx.trace?.workflowName ?? null,\n    trigger_type: ctx.run?.triggerType ?? null,\n    competence_date: timeWithOffset(ctx.run?.competenceYMD),\n    started_at: payload.started_at ?? ctx.startedAt ?? nowIso,\n    finished_at: payload.finished_at ?? nowIso,\n    status: payload.status,\n    failure_reason: payload.failure_reason ?? null,\n    graphql_calls_total: Number(ctx.metrics?.graphqlCallsTotal || 0),\n    rules_found: Number(payload.rules_found || 0),\n    rules_eligible: Number(payload.rules_eligible || 0),\n    rules_processed: Number(payload.rules_processed || 0),\n    rules_failed: Number(payload.rules_failed || 0),\n    items_created: Number(payload.items_created || 0),\n    items_updated: Number(payload.items_updated || 0),\n    duplicate_items_blocked: Number(payload.duplicate_items_blocked || 0),\n    invoices_created: Number(payload.invoices_created || 0),\n    duplicate_invoices_blocked: Number(payload.duplicate_invoices_blocked || 0),\n    installments_incremented: Number(payload.installments_incremented || 0),\n    parent_items_inactivated: Number(payload.parent_items_inactivated || 0),\n    summary_json: payload.summary_json ?? 'null',\n  });\n};\n\n    const sd = $getWorkflowStaticData('global');\n    const executionId = String($execution.id ?? 'manual');\n    const state = asObj(asObj(sd.finBillingAcc)[executionId]);\n    const ctx = ensureLogState(asObj(state.ctx));\n    const failures = Array.isArray(ctx.failures) ? ctx.failures : [];\n    const finishedAt = nowIso;\n    const resultList = Array.isArray(ctx.results) ? ctx.results : [];\n    const processed = resultList.filter((x) => x.status === 'processed').length;\n    const skipped = resultList.filter((x) => x.status === 'skipped').length;\n    const failed = resultList.filter((x) => x.status === 'failed').length;\n    const summary = {\n      runId: ctx.run?.runId ?? null,\n      competenceYMD: ctx.run?.competenceYMD ?? null,\n      startedAt: ctx.startedAt ?? null,\n      finishedAt,\n      processedRules: processed,\n      skippedRules: skipped,\n      failedRules: failed,\n      failureCount: failures.length,\n      graphqlCallsTotal: Number(ctx.metrics?.graphqlCallsTotal || 0),\n      metrics: ctx.metrics,\n      results: resultList,\n      firstFailure: failures[0] ?? null,\n    };\n    addWorkflowLog(ctx, {\n      status: failed > 0 || failures.length > 0 ? 'failed' : 'success',\n      failure_reason: failures[0]?.reason ?? null,\n      rules_found: Number(ctx.metrics?.rulesFound || 0),\n      rules_eligible: Number(ctx.metrics?.rulesEligible || 0),\n      rules_processed: Number(ctx.metrics?.rulesProcessed || 0),\n      rules_failed: Number(ctx.metrics?.rulesFailed || 0),\n      items_created: Number(ctx.metrics?.createItems || 0),\n      items_updated: Number((ctx.metrics?.updateItemInvoiceLinks || 0) + (ctx.metrics?.parentItemsInactivated || 0) + (ctx.metrics?.updateParcelasPagas || 0)),\n      duplicate_items_blocked: Number(ctx.metrics?.duplicateItemsBlocked || 0),\n      invoices_created: Number(ctx.metrics?.createInvoices || 0),\n      duplicate_invoices_blocked: Number(ctx.metrics?.duplicateInvoicesBlocked || 0),\n      installments_incremented: Number(ctx.metrics?.updateParcelasPagas || 0),\n      parent_items_inactivated: Number(ctx.metrics?.parentItemsInactivated || 0),\n      summary_json: jsonString(summary),\n      started_at: ctx.startedAt ?? null,\n      finished_at: finishedAt,\n    });\n    if (sd.finBillingAcc && sd.finBillingAcc[executionId]) delete sd.finBillingAcc[executionId];\n    return [{\n      json: {\n        ok: failed === 0 && failures.length === 0,\n        summary,\n        run: {\n          failures,\n          results: resultList,\n          metrics: ctx.metrics,\n        },\n        workflowLogRows: ctx.workflowLogs,\n        entityLogRows: consolidateEntityLogs(ctx, ctx.entityLogs, resultList),\n        graphqlLogRows: ctx.graphqlLogs,\n      }\n    }];"
      },
      "id": "8f7ec05b-b49d-4cb6-be96-e9701a7d7c90",
      "name": "Finalize summary",
      "position": [
        -3888,
        224
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fafa7065-437d-4990-8f21-70ba180b736b",
              "name": "runLogRows",
              "type": "json",
              "value": "={{ $json.workflowLogRows }}"
            }
          ]
        },
        "options": {}
      },
      "id": "59b287f4-bd01-4b2b-9595-c72fb5b76add",
      "name": "Emit workflow run logs",
      "position": [
        -3664,
        224
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "runLogRows",
        "options": {}
      },
      "id": "a49f6376-cd43-4de4-b5d2-41177652b943",
      "name": "Split workflow run logs",
      "position": [
        -3440,
        224
      ],
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "cachedResultName": "[Logs] FIN - Execuções mensais",
          "cachedResultUrl": "/projects/MxRYCPypQDED18DI/datatables/fpgoqekixFrir0V8",
          "mode": "list",
          "value": "fpgoqekixFrir0V8"
        },
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "run_id",
              "id": "run_id",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "workflow_execution_id",
              "id": "workflow_execution_id",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "parent_execution_id",
              "id": "parent_execution_id",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "workflow_name",
              "id": "workflow_name",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "trigger_type",
              "id": "trigger_type",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "competence_date",
              "id": "competence_date",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "dateTime"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "started_at",
              "id": "started_at",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "dateTime"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "finished_at",
              "id": "finished_at",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "dateTime"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "status",
              "id": "status",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "failure_reason",
              "id": "failure_reason",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "graphql_calls_total",
              "id": "graphql_calls_total",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "rules_found",
              "id": "rules_found",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "rules_eligible",
              "id": "rules_eligible",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "rules_processed",
              "id": "rules_processed",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "rules_failed",
              "id": "rules_failed",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "items_created",
              "id": "items_created",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "items_updated",
              "id": "items_updated",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "duplicate_items_blocked",
              "id": "duplicate_items_blocked",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "invoices_created",
              "id": "invoices_created",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "duplicate_invoices_blocked",
              "id": "duplicate_invoices_blocked",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "installments_incremented",
              "id": "installments_incremented",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "parent_items_inactivated",
              "id": "parent_items_inactivated",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "summary_json",
              "id": "summary_json",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "run_id": "={{ $json.run_id }}",
            "workflow_execution_id": "={{ $json.workflow_execution_id }}",
            "parent_execution_id": "={{ $json.parent_execution_id }}",
            "workflow_name": "={{ $json.workflow_name }}",
            "trigger_type": "={{ $json.trigger_type }}",
            "competence_date": "={{ $json.competence_date }}",
            "started_at": "={{ $json.started_at }}",
            "finished_at": "={{ $json.finished_at }}",
            "status": "={{ $json.status }}",
            "failure_reason": "={{ $json.failure_reason }}",
            "graphql_calls_total": "={{ $json.graphql_calls_total }}",
            "rules_found": "={{ $json.rules_found }}",
            "rules_eligible": "={{ $json.rules_eligible }}",
            "rules_processed": "={{ $json.rules_processed }}",
            "rules_failed": "={{ $json.rules_failed }}",
            "items_created": "={{ $json.items_created }}",
            "items_updated": "={{ $json.items_updated }}",
            "duplicate_items_blocked": "={{ $json.duplicate_items_blocked }}",
            "invoices_created": "={{ $json.invoices_created }}",
            "duplicate_invoices_blocked": "={{ $json.duplicate_invoices_blocked }}",
            "installments_incremented": "={{ $json.installments_incremented }}",
            "parent_items_inactivated": "={{ $json.parent_items_inactivated }}",
            "summary_json": "={{ $json.summary_json }}"
          }
        },
        "options": {}
      },
      "id": "2b7a06f2-74d0-44f2-a0d3-9f5c50eea05b",
      "name": "Persistir fin_billing_run_log",
      "position": [
        -3216,
        224
      ],
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9fb41736-ce65-4fe0-9e72-4ef37e79410a",
              "name": "entityLogRows",
              "type": "json",
              "value": "={{ $('Finalize summary').first().json.entityLogRows }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4f75748b-e01a-4b16-8210-fc1061991940",
      "name": "Restaurar summary apos run log",
      "position": [
        -2992,
        224
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0952ac0-e8cd-4843-a343-083d06077f27",
              "name": "entityLogRows",
              "type": "json",
              "value": "={{ $json.entityLogRows }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0cbc98ec-2bf3-4f50-897e-983f5d5505b8",
      "name": "Emit entity logs",
      "position": [
        -2768,
        224
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ Array.isArray($json.entityLogRows) && $json.entityLogRows.length > 0 }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "88b37d31-2a2a-4179-a1a6-021dd26e06db",
      "name": "Ha entity logs?",
      "position": [
        -2544,
        224
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "entityLogRows",
        "options": {}
      },
      "id": "fc19559d-ed30-4bd6-a1a7-1094312778d9",
      "name": "Split entity logs",
      "position": [
        -2320,
        160
      ],
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "cachedResultName": "[Logs] FIN - Eventos por entidade",
          "cachedResultUrl": "/projects/MxRYCPypQDED18DI/datatables/k72H175uH7BaSV44",
          "mode": "list",
          "value": "k72H175uH7BaSV44"
        },
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "run_id",
              "id": "run_id",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "workflow_execution_id",
              "id": "workflow_execution_id",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "parent_execution_id",
              "id": "parent_execution_id",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "workflow_name",
              "id": "workflow_name",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "node_name",
              "id": "node_name",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "entity_type",
              "id": "entity_type",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "entity_id",
              "id": "entity_id",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "rule_id",
              "id": "rule_id",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "template_item_id",
              "id": "template_item_id",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "fin02_parent_item_id",
              "id": "fin02_parent_item_id",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "invoice_id",
              "id": "invoice_id",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "fin04_item_id",
              "id": "fin04_item_id",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "competence_date",
              "id": "competence_date",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "dateTime"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "action",
              "id": "action",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "status",
              "id": "status",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "failure_reason",
              "id": "failure_reason",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "dedupe_key",
              "id": "dedupe_key",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "graphql_calls_delta",
              "id": "graphql_calls_delta",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "started_at",
              "id": "started_at",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "dateTime"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "finished_at",
              "id": "finished_at",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "dateTime"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "details_json",
              "id": "details_json",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "run_id": "={{ $json.run_id }}",
            "workflow_execution_id": "={{ $json.workflow_execution_id }}",
            "parent_execution_id": "={{ $json.parent_execution_id }}",
            "workflow_name": "={{ $json.workflow_name }}",
            "node_name": "={{ $json.node_name }}",
            "entity_type": "={{ $json.entity_type }}",
            "entity_id": "={{ $json.entity_id }}",
            "rule_id": "={{ $json.rule_id }}",
            "template_item_id": "={{ $json.template_item_id }}",
            "fin02_parent_item_id": "={{ $json.fin02_parent_item_id }}",
            "invoice_id": "={{ $json.invoice_id }}",
            "fin04_item_id": "={{ $json.fin04_item_id }}",
            "competence_date": "={{ $json.competence_date }}",
            "action": "={{ $json.action }}",
            "status": "={{ $json.status }}",
            "failure_reason": "={{ $json.failure_reason }}",
            "dedupe_key": "={{ $json.dedupe_key }}",
            "graphql_calls_delta": "={{ $json.graphql_calls_delta }}",
            "started_at": "={{ $json.started_at }}",
            "finished_at": "={{ $json.finished_at }}",
            "details_json": "={{ $json.details_json }}"
          }
        },
        "options": {}
      },
      "id": "1d946a6f-848b-4260-8a98-042ea3423964",
      "name": "Persistir fin_billing_entity_log",
      "position": [
        -2096,
        160
      ],
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return $input.all().slice(0, 1);"
      },
      "id": "1f4b3548-1f53-4f3e-bd12-e2da816c9c10",
      "name": "Reconvergir apos entity log",
      "position": [
        -1984,
        160
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78fe0b1c-77d3-4435-b079-d2b8d2e67535",
              "name": "graphqlLogRows",
              "type": "json",
              "value": "={{ $('Finalize summary').first().json.graphqlLogRows }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bbf7bb28-3a0e-4092-a4c0-05ea1592db1f",
      "name": "Restaurar summary apos entity log",
      "position": [
        -1872,
        224
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35607cc3-43e8-4a66-8966-4fe228cc9a98",
              "name": "graphqlLogRows",
              "type": "json",
              "value": "={{ $json.graphqlLogRows }}"
            }
          ]
        },
        "options": {}
      },
      "id": "51c33c0a-4c33-4c8f-ad26-05992509111a",
      "name": "Emit graphql logs",
      "position": [
        -1648,
        224
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ Array.isArray($json.graphqlLogRows) && $json.graphqlLogRows.length > 0 }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "6a3eed21-8fed-4021-979d-7a13c0e06cc5",
      "name": "Ha graphql logs?",
      "position": [
        -1424,
        224
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "graphqlLogRows",
        "options": {}
      },
      "id": "48974c91-364b-472e-ae37-f9fb6e42f979",
      "name": "Split graphql logs",
      "position": [
        -1200,
        160
      ],
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "cachedResultName": "[Logs] FIN - Chamadas GraphQL",
          "cachedResultUrl": "/projects/MxRYCPypQDED18DI/datatables/fhnPgfOCnePFkg6N",
          "mode": "list",
          "value": "fhnPgfOCnePFkg6N"
        },
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "run_id",
              "id": "run_id",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "workflow_execution_id",
              "id": "workflow_execution_id",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "parent_execution_id",
              "id": "parent_execution_id",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "workflow_name",
              "id": "workflow_name",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "node_name",
              "id": "node_name",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "operation_name",
              "id": "operation_name",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "pipe_id",
              "id": "pipe_id",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "phase_id",
              "id": "phase_id",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "card_id",
              "id": "card_id",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "entity_type",
              "id": "entity_type",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "entity_id",
              "id": "entity_id",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "request_fingerprint",
              "id": "request_fingerprint",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "graphql_call_index",
              "id": "graphql_call_index",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "requested_at",
              "id": "requested_at",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "dateTime"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "responded_at",
              "id": "responded_at",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "dateTime"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "duration_ms",
              "id": "duration_ms",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "status",
              "id": "status",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "error_code",
              "id": "error_code",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "error_message",
              "id": "error_message",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "query_excerpt",
              "id": "query_excerpt",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "variables_json",
              "id": "variables_json",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "response_json",
              "id": "response_json",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "run_id": "={{ $json.run_id }}",
            "workflow_execution_id": "={{ $json.workflow_execution_id }}",
            "parent_execution_id": "={{ $json.parent_execution_id }}",
            "workflow_name": "={{ $json.workflow_name }}",
            "node_name": "={{ $json.node_name }}",
            "operation_name": "={{ $json.operation_name }}",
            "pipe_id": "={{ $json.pipe_id }}",
            "phase_id": "={{ $json.phase_id }}",
            "card_id": "={{ $json.card_id }}",
            "entity_type": "={{ $json.entity_type }}",
            "entity_id": "={{ $json.entity_id }}",
            "request_fingerprint": "={{ $json.request_fingerprint }}",
            "graphql_call_index": "={{ $json.graphql_call_index }}",
            "requested_at": "={{ $json.requested_at }}",
            "responded_at": "={{ $json.responded_at }}",
            "duration_ms": "={{ $json.duration_ms }}",
            "status": "={{ $json.status }}",
            "error_code": "={{ $json.error_code }}",
            "error_message": "={{ $json.error_message }}",
            "query_excerpt": "={{ $json.query_excerpt }}",
            "variables_json": "={{ $json.variables_json }}",
            "response_json": "={{ $json.response_json }}"
          }
        },
        "options": {}
      },
      "id": "ddfb05d1-ad15-48fc-a1e5-c464d973479a",
      "name": "Persistir fin_billing_graphql_log",
      "position": [
        -976,
        160
      ],
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return $input.all().slice(0, 1);"
      },
      "id": "2aa5b056-3f35-49a3-9e22-f3f77c6f6a9b",
      "name": "Reconvergir apos graphql log",
      "position": [
        -864,
        160
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ddc7e7f1-09cf-4a73-b84f-4d361b9c17f7",
              "name": "summary",
              "type": "json",
              "value": "={{ $('Finalize summary').first().json.summary }}"
            },
            {
              "id": "1e04d94a-6492-49bf-9ec9-22857e2f400b",
              "name": "run",
              "type": "json",
              "value": "={{ $('Finalize summary').first().json.run }}"
            },
            {
              "id": "0dd0189a-0156-4240-879c-71e6b3fc0c9f",
              "name": "ok",
              "type": "boolean",
              "value": "={{ $('Finalize summary').first().json.ok }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f6d2f478-c21e-444c-b1d4-2362d0dc56e1",
      "name": "Restaurar summary final",
      "position": [
        -752,
        224
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.ok !== true }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "547c5d5d-9796-43a9-b515-38d2334b91f1",
      "name": "Run: tem erros?",
      "position": [
        -528,
        224
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "errorMessage": "={{ 'FIN billing mensal falhou. failureCount=' + String($json.summary.failureCount || 0) + ', firstFailure=' + String($json.run.failures?.[0]?.reason || 'n/a') + ', competence=' + String($json.summary.competenceYMD || 'n/a') }}"
      },
      "id": "141b70ff-563f-441c-94c7-0b2ea376f48f",
      "name": "Run: Stop and Error",
      "position": [
        -304,
        128
      ],
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a24c5dd-dec8-4d04-bb39-81e02b82f33b",
              "name": "ok",
              "type": "boolean",
              "value": true
            },
            {
              "id": "4e8ee943-7791-4926-b70b-32305c2f0bcc",
              "name": "summary",
              "type": "json",
              "value": "={{ $json.summary }}"
            },
            {
              "id": "69de60e8-712e-49dc-a7e3-58b2eaaa5995",
              "name": "run",
              "type": "json",
              "value": "={{ $json.run }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cfd21d40-0e4d-4365-968f-0d0c79f498b3",
      "name": "Run: Success output",
      "position": [
        -304,
        320
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "const nowIso = new Date().toISOString();\nconst asObj = (v) => (v && typeof v === 'object' && !Array.isArray(v)) ? v : {};\nconst asList = (v) => Array.isArray(v) ? v : [];\nconst clone = (v) => JSON.parse(JSON.stringify(v ?? null));\nconst clean = (v) => String(v ?? '').trim();\nconst collectIds = (...values) => {\n  const out = [];\n  const visit = (value) => {\n    if (value === undefined || value === null) return;\n    if (Array.isArray(value)) {\n      for (const item of value) visit(item);\n      return;\n    }\n    if (typeof value === 'object') {\n      if (value.id != null) out.push(String(value.id).trim());\n      return;\n    }\n    const s = String(value).trim();\n    if (s) out.push(s);\n  };\n  for (const value of values) visit(value);\n  return Array.from(new Set(out.filter(Boolean)));\n};\nconst jsonString = (v) => {\n  try { return JSON.stringify(v ?? null); } catch (_err) { return 'null'; }\n};\nconst timeWithOffset = (ymd) => clean(ymd) ? `${clean(ymd)}T00:00:00-03:00` : null;\nconst linkedJson = (nodeName) => {\n  try {\n    return asObj($(nodeName).item.json);\n  } catch (_err) {\n    return {};\n  }\n};\nconst validTypes = new Set([\"item_plan\", \"rule_result\"]);\nconst current = asObj($json);\nconst source = linkedJson(\"Loop: item e rule_input?\");\nif (String(current.contractVersion || '') === 'fin_v3' && validTypes.has(String(current.itemType || ''))) {\n  return [{ json: current }];\n}\nconst envelope = Object.keys(source).length > 0 ? source : current;\nconst trace = clone(asObj(envelope.trace));\nconst run = clone(asObj(envelope.run));\nconst ruleIn = asObj(envelope.rule);\nconst itemPlan = asObj(envelope.itemPlan);\nconst logsIn = asObj(envelope.logs);\nconst createdItemIds = asList(envelope.createdItemIds).map((value) => String(value));\nconst rule = {\n  ruleId: ruleIn.ruleId ?? null,\n  ruleTitle: ruleIn.ruleTitle ?? null,\n  prefetchDecision: ruleIn.prefetchDecision ?? null,\n};\nconst totalsIn = asObj(itemPlan.totals);\nconst toNumber = (value) => {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : 0;\n};\nconst totals = {\n  brl: toNumber(totalsIn.brl),\n  usd: toNumber(totalsIn.usd),\n};\nconst failure = {\n  node: \"Preparar itens elegiveis da regra\",\n  reason: 'child_workflow_returned_no_items',\n  pipefyCardIds: collectIds(\n    rule.ruleId,\n    ruleIn.itemTemplateIds,\n    asList(itemPlan.plannedItems).map((item) => asObj(item).templateItemId ?? null),\n    createdItemIds,\n  ),\n};\nconst failures = [...asList(envelope.failures), failure];\nconst workflowLogs = [...asList(logsIn.workflowLogs), {\n  run_id: run.runId ?? null,\n  workflow_execution_id: trace.workflowExecutionId ?? String($execution.id ?? 'manual'),\n  parent_execution_id: trace.parentExecutionId ?? null,\n  workflow_name: '[FIN] 1 Orquestrar faturamento mensal',\n  node_name: \"Normalizar retorno preparar itens\",\n  trigger_type: run.triggerType ?? null,\n  competence_date: timeWithOffset(run.competenceYMD),\n  started_at: nowIso,\n  finished_at: nowIso,\n  status: 'failed',\n  failure_reason: \"failed_prepare_items_stage\",\n  graphql_calls_total: 0,\n  rules_found: 0,\n  rules_eligible: 0,\n  rules_processed: 1,\n  rules_failed: 1,\n  items_created: 0,\n  items_updated: 0,\n  duplicate_items_blocked: 0,\n  invoices_created: 0,\n  duplicate_invoices_blocked: 0,\n  installments_incremented: 0,\n  parent_items_inactivated: 0,\n  summary_json: jsonString({\n    failure_mode: 'child_workflow_returned_no_items',\n    caller_node: \"Preparar itens elegiveis da regra\",\n    normalizer_node: \"Normalizar retorno preparar itens\",\n    stage_reason: \"failed_prepare_items_stage\",\n    observed_contract_version: clean(current.contractVersion || envelope.contractVersion || '') || null,\n    observed_item_type: clean(current.itemType || envelope.itemType || '') || null,\n  }),\n}];\nconst metricsDelta = {};\nreturn [{\n  json: {\n    contractVersion: 'fin_v3',\n    itemType: 'rule_result',\n    trace,\n    run,\n    rule,\n    result: {\n      status: 'failed',\n      reason: \"failed_prepare_items_stage\",\n      invoiceId: null,\n      existingInvoiceId: null,\n      createdItemIds,\n      totals,\n      metricsDelta,\n      failures,\n    },\n    logs: {\n      workflowLogs,\n      entityLogs: asList(logsIn.entityLogs),\n      graphqlLogs: asList(logsIn.graphqlLogs),\n    },\n    failures,\n  }\n}];"
      },
      "id": "1170f1d1-5e53-4a97-8e54-481ca3d30f31",
      "name": "Normalizar retorno preparar itens",
      "position": [
        -3440,
        720
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const nowIso = new Date().toISOString();\nconst asObj = (v) => (v && typeof v === 'object' && !Array.isArray(v)) ? v : {};\nconst asList = (v) => Array.isArray(v) ? v : [];\nconst clone = (v) => JSON.parse(JSON.stringify(v ?? null));\nconst clean = (v) => String(v ?? '').trim();\nconst collectIds = (...values) => {\n  const out = [];\n  const visit = (value) => {\n    if (value === undefined || value === null) return;\n    if (Array.isArray(value)) {\n      for (const item of value) visit(item);\n      return;\n    }\n    if (typeof value === 'object') {\n      if (value.id != null) out.push(String(value.id).trim());\n      return;\n    }\n    const s = String(value).trim();\n    if (s) out.push(s);\n  };\n  for (const value of values) visit(value);\n  return Array.from(new Set(out.filter(Boolean)));\n};\nconst jsonString = (v) => {\n  try { return JSON.stringify(v ?? null); } catch (_err) { return 'null'; }\n};\nconst timeWithOffset = (ymd) => clean(ymd) ? `${clean(ymd)}T00:00:00-03:00` : null;\nconst linkedJson = (nodeName) => {\n  try {\n    return asObj($(nodeName).item.json);\n  } catch (_err) {\n    return {};\n  }\n};\nconst validTypes = new Set([\"fin04_items_ready\", \"rule_result\"]);\nconst current = asObj($json);\nconst source = linkedJson(\"Loop: item e item_plan?\");\nif (String(current.contractVersion || '') === 'fin_v3' && validTypes.has(String(current.itemType || ''))) {\n  return [{ json: current }];\n}\nconst envelope = Object.keys(source).length > 0 ? source : current;\nconst trace = clone(asObj(envelope.trace));\nconst run = clone(asObj(envelope.run));\nconst ruleIn = asObj(envelope.rule);\nconst itemPlan = asObj(envelope.itemPlan);\nconst logsIn = asObj(envelope.logs);\nconst createdItemIds = asList(envelope.createdItemIds).map((value) => String(value));\nconst rule = {\n  ruleId: ruleIn.ruleId ?? null,\n  ruleTitle: ruleIn.ruleTitle ?? null,\n  prefetchDecision: ruleIn.prefetchDecision ?? null,\n};\nconst totalsIn = asObj(itemPlan.totals);\nconst toNumber = (value) => {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : 0;\n};\nconst totals = {\n  brl: toNumber(totalsIn.brl),\n  usd: toNumber(totalsIn.usd),\n};\nconst failure = {\n  node: \"Materializar itens FIN-04\",\n  reason: 'child_workflow_returned_no_items',\n  pipefyCardIds: collectIds(\n    rule.ruleId,\n    ruleIn.itemTemplateIds,\n    asList(itemPlan.plannedItems).map((item) => asObj(item).templateItemId ?? null),\n    createdItemIds,\n  ),\n};\nconst failures = [...asList(envelope.failures), failure];\nconst workflowLogs = [...asList(logsIn.workflowLogs), {\n  run_id: run.runId ?? null,\n  workflow_execution_id: trace.workflowExecutionId ?? String($execution.id ?? 'manual'),\n  parent_execution_id: trace.parentExecutionId ?? null,\n  workflow_name: '[FIN] 1 Orquestrar faturamento mensal',\n  node_name: \"Normalizar retorno materializacao\",\n  trigger_type: run.triggerType ?? null,\n  competence_date: timeWithOffset(run.competenceYMD),\n  started_at: nowIso,\n  finished_at: nowIso,\n  status: 'failed',\n  failure_reason: \"failed_materialize_items_stage\",\n  graphql_calls_total: 0,\n  rules_found: 0,\n  rules_eligible: 0,\n  rules_processed: 1,\n  rules_failed: 1,\n  items_created: 0,\n  items_updated: 0,\n  duplicate_items_blocked: 0,\n  invoices_created: 0,\n  duplicate_invoices_blocked: 0,\n  installments_incremented: 0,\n  parent_items_inactivated: 0,\n  summary_json: jsonString({\n    failure_mode: 'child_workflow_returned_no_items',\n    caller_node: \"Materializar itens FIN-04\",\n    normalizer_node: \"Normalizar retorno materializacao\",\n    stage_reason: \"failed_materialize_items_stage\",\n    observed_contract_version: clean(current.contractVersion || envelope.contractVersion || '') || null,\n    observed_item_type: clean(current.itemType || envelope.itemType || '') || null,\n  }),\n}];\nconst metricsDelta = {};\nreturn [{\n  json: {\n    contractVersion: 'fin_v3',\n    itemType: 'rule_result',\n    trace,\n    run,\n    rule,\n    result: {\n      status: 'failed',\n      reason: \"failed_materialize_items_stage\",\n      invoiceId: null,\n      existingInvoiceId: null,\n      createdItemIds,\n      totals,\n      metricsDelta,\n      failures,\n    },\n    logs: {\n      workflowLogs,\n      entityLogs: asList(logsIn.entityLogs),\n      graphqlLogs: asList(logsIn.graphqlLogs),\n    },\n    failures,\n  }\n}];"
      },
      "id": "c00d7480-3d83-4b5c-a5bc-9878ee9a359a",
      "name": "Normalizar retorno materializacao",
      "position": [
        -2992,
        640
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const nowIso = new Date().toISOString();\nconst asObj = (v) => (v && typeof v === 'object' && !Array.isArray(v)) ? v : {};\nconst asList = (v) => Array.isArray(v) ? v : [];\nconst clone = (v) => JSON.parse(JSON.stringify(v ?? null));\nconst clean = (v) => String(v ?? '').trim();\nconst collectIds = (...values) => {\n  const out = [];\n  const visit = (value) => {\n    if (value === undefined || value === null) return;\n    if (Array.isArray(value)) {\n      for (const item of value) visit(item);\n      return;\n    }\n    if (typeof value === 'object') {\n      if (value.id != null) out.push(String(value.id).trim());\n      return;\n    }\n    const s = String(value).trim();\n    if (s) out.push(s);\n  };\n  for (const value of values) visit(value);\n  return Array.from(new Set(out.filter(Boolean)));\n};\nconst jsonString = (v) => {\n  try { return JSON.stringify(v ?? null); } catch (_err) { return 'null'; }\n};\nconst timeWithOffset = (ymd) => clean(ymd) ? `${clean(ymd)}T00:00:00-03:00` : null;\nconst linkedJson = (nodeName) => {\n  try {\n    return asObj($(nodeName).item.json);\n  } catch (_err) {\n    return {};\n  }\n};\nconst validTypes = new Set([\"rule_result\"]);\nconst current = asObj($json);\nconst source = linkedJson(\"Loop: item e fin04_items_ready?\");\nif (String(current.contractVersion || '') === 'fin_v3' && validTypes.has(String(current.itemType || ''))) {\n  return [{ json: current }];\n}\nconst envelope = Object.keys(source).length > 0 ? source : current;\nconst trace = clone(asObj(envelope.trace));\nconst run = clone(asObj(envelope.run));\nconst ruleIn = asObj(envelope.rule);\nconst itemPlan = asObj(envelope.itemPlan);\nconst logsIn = asObj(envelope.logs);\nconst createdItemIds = asList(envelope.createdItemIds).map((value) => String(value));\nconst rule = {\n  ruleId: ruleIn.ruleId ?? null,\n  ruleTitle: ruleIn.ruleTitle ?? null,\n  prefetchDecision: ruleIn.prefetchDecision ?? null,\n};\nconst totalsIn = asObj(itemPlan.totals);\nconst toNumber = (value) => {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : 0;\n};\nconst totals = {\n  brl: toNumber(totalsIn.brl),\n  usd: toNumber(totalsIn.usd),\n};\nconst failure = {\n  node: \"Criar fatura FIN-03 e concluir regra\",\n  reason: 'child_workflow_returned_no_items',\n  pipefyCardIds: collectIds(\n    rule.ruleId,\n    ruleIn.itemTemplateIds,\n    asList(itemPlan.plannedItems).map((item) => asObj(item).templateItemId ?? null),\n    createdItemIds,\n  ),\n};\nconst failures = [...asList(envelope.failures), failure];\nconst workflowLogs = [...asList(logsIn.workflowLogs), {\n  run_id: run.runId ?? null,\n  workflow_execution_id: trace.workflowExecutionId ?? String($execution.id ?? 'manual'),\n  parent_execution_id: trace.parentExecutionId ?? null,\n  workflow_name: '[FIN] 1 Orquestrar faturamento mensal',\n  node_name: \"Normalizar retorno finalizacao\",\n  trigger_type: run.triggerType ?? null,\n  competence_date: timeWithOffset(run.competenceYMD),\n  started_at: nowIso,\n  finished_at: nowIso,\n  status: 'failed',\n  failure_reason: \"failed_invoice_stage\",\n  graphql_calls_total: 0,\n  rules_found: 0,\n  rules_eligible: 0,\n  rules_processed: 1,\n  rules_failed: 1,\n  items_created: 0,\n  items_updated: 0,\n  duplicate_items_blocked: 0,\n  invoices_created: 0,\n  duplicate_invoices_blocked: 0,\n  installments_incremented: 0,\n  parent_items_inactivated: 0,\n  summary_json: jsonString({\n    failure_mode: 'child_workflow_returned_no_items',\n    caller_node: \"Criar fatura FIN-03 e concluir regra\",\n    normalizer_node: \"Normalizar retorno finalizacao\",\n    stage_reason: \"failed_invoice_stage\",\n    observed_contract_version: clean(current.contractVersion || envelope.contractVersion || '') || null,\n    observed_item_type: clean(current.itemType || envelope.itemType || '') || null,\n  }),\n}];\nconst metricsDelta = { createItems: createdItemIds.length };\nreturn [{\n  json: {\n    contractVersion: 'fin_v3',\n    itemType: 'rule_result',\n    trace,\n    run,\n    rule,\n    result: {\n      status: 'failed',\n      reason: \"failed_invoice_stage\",\n      invoiceId: null,\n      existingInvoiceId: null,\n      createdItemIds,\n      totals,\n      metricsDelta,\n      failures,\n    },\n    logs: {\n      workflowLogs,\n      entityLogs: asList(logsIn.entityLogs),\n      graphqlLogs: asList(logsIn.graphqlLogs),\n    },\n    failures,\n  }\n}];"
      },
      "id": "8d7cb4ed-c343-4f0a-a6c8-90e7f984c7b9",
      "name": "Normalizar retorno finalizacao",
      "position": [
        -2544,
        416
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "connections": {
    "Cron (dias 1-5 07:00)": {
      "main": [
        [
          {
            "node": "Init Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Init Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Run": {
      "main": [
        [
          {
            "node": "Preparar regras elegiveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar regras elegiveis": {
      "main": [
        [
          {
            "node": "Loop regras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop regras": {
      "main": [
        [
          {
            "node": "Finalize summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop: item e rule_input?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: item e rule_input?": {
      "main": [
        [
          {
            "node": "Preparar itens elegiveis da regra",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Accumulate results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar itens elegiveis da regra": {
      "main": [
        [
          {
            "node": "Normalizar retorno preparar itens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: item e item_plan?": {
      "main": [
        [
          {
            "node": "Materializar itens FIN-04",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Accumulate results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Materializar itens FIN-04": {
      "main": [
        [
          {
            "node": "Normalizar retorno materializacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: item e fin04_items_ready?": {
      "main": [
        [
          {
            "node": "Criar fatura FIN-03 e concluir regra",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Accumulate results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar fatura FIN-03 e concluir regra": {
      "main": [
        [
          {
            "node": "Normalizar retorno finalizacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accumulate results": {
      "main": [
        [
          {
            "node": "Loop regras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize summary": {
      "main": [
        [
          {
            "node": "Emit workflow run logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emit workflow run logs": {
      "main": [
        [
          {
            "node": "Split workflow run logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split workflow run logs": {
      "main": [
        [
          {
            "node": "Persistir fin_billing_run_log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persistir fin_billing_run_log": {
      "main": [
        [
          {
            "node": "Restaurar summary apos run log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurar summary apos run log": {
      "main": [
        [
          {
            "node": "Emit entity logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emit entity logs": {
      "main": [
        [
          {
            "node": "Ha entity logs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ha entity logs?": {
      "main": [
        [
          {
            "node": "Split entity logs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Restaurar summary apos entity log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split entity logs": {
      "main": [
        [
          {
            "node": "Persistir fin_billing_entity_log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persistir fin_billing_entity_log": {
      "main": [
        [
          {
            "node": "Reconvergir apos entity log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reconvergir apos entity log": {
      "main": [
        [
          {
            "node": "Restaurar summary apos entity log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurar summary apos entity log": {
      "main": [
        [
          {
            "node": "Emit graphql logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emit graphql logs": {
      "main": [
        [
          {
            "node": "Ha graphql logs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ha graphql logs?": {
      "main": [
        [
          {
            "node": "Split graphql logs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Restaurar summary final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split graphql logs": {
      "main": [
        [
          {
            "node": "Persistir fin_billing_graphql_log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persistir fin_billing_graphql_log": {
      "main": [
        [
          {
            "node": "Reconvergir apos graphql log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reconvergir apos graphql log": {
      "main": [
        [
          {
            "node": "Restaurar summary final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurar summary final": {
      "main": [
        [
          {
            "node": "Run: tem erros?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run: tem erros?": {
      "main": [
        [
          {
            "node": "Run: Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run: Success output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar retorno preparar itens": {
      "main": [
        [
          {
            "node": "Loop: item e item_plan?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar retorno materializacao": {
      "main": [
        [
          {
            "node": "Loop: item e fin04_items_ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar retorno finalizacao": {
      "main": [
        [
          {
            "node": "Accumulate results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5e09b682-041d-4d7a-a672-18d83c99dd7d",
  "meta": {
    "instanceId": "3016816d496aebba57a69fdaf12429733e80c66b51f4f4969ff2808297f74ee9"
  },
  "id": "4ftO9aWCz1UBQJKg",
  "tags": []
}
