raw/n8n/workflows/cZMBxFgFcIVc0gtj.json
{
  "active": true,
  "connections": {
    "Add CSAT/NPS no DB-01 (clientes)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Sucesso?",
            "type": "main"
          }
        ]
      ]
    },
    "Add CSAT/NPS no DB-02 (redes)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Sucesso? 2",
            "type": "main"
          }
        ]
      ]
    },
    "Criar CSAT/NPS - Cliente": {
      "main": [
        [
          {
            "index": 0,
            "node": "Pegar IDs clientes",
            "type": "main"
          }
        ]
      ]
    },
    "Criar CSAT/NPS - Rede": {
      "main": [
        [
          {
            "index": 0,
            "node": "Add CSAT/NPS no DB-02 (redes)",
            "type": "main"
          }
        ]
      ]
    },
    "Dados treinamento": {
      "main": [
        [
          {
            "index": 0,
            "node": "Listar contatos",
            "type": "main"
          }
        ]
      ]
    },
    "Listar clientes": {
      "main": [
        [
          {
            "index": 0,
            "node": "Add CSAT/NPS no DB-01 (clientes)",
            "type": "main"
          }
        ]
      ]
    },
    "Listar contatos": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop contatos",
            "type": "main"
          }
        ]
      ]
    },
    "Loop contatos": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Pegar informação do contato",
            "type": "main"
          }
        ]
      ]
    },
    "Pegar IDs clientes": {
      "main": [
        [
          {
            "index": 0,
            "node": "Listar clientes",
            "type": "main"
          }
        ]
      ]
    },
    "Pegar informação do contato": {
      "main": [
        [
          {
            "index": 0,
            "node": "Treinamento é de rede?",
            "type": "main"
          }
        ]
      ]
    },
    "Pegar informação do treinamento": {
      "main": [
        [
          {
            "index": 0,
            "node": "Dados treinamento",
            "type": "main"
          }
        ]
      ]
    },
    "Sucesso?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop contatos",
            "type": "main"
          }
        ]
      ]
    },
    "Sucesso? 2": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop contatos",
            "type": "main"
          }
        ]
      ]
    },
    "Treinamento realizado - [OPE-06] Treinamentos": {
      "main": [
        [
          {
            "index": 0,
            "node": "Pegar informação do treinamento",
            "type": "main"
          }
        ]
      ]
    },
    "Treinamento é de rede?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Criar CSAT/NPS - Rede",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Criar CSAT/NPS - Cliente",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-04T18:55:21.827Z",
  "id": "cZMBxFgFcIVc0gtj",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Treinamento finalizado",
  "nodes": [
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "fc93956b-9fe5-4b34-99c4-8dfbdbaef395",
      "maxTries": 5,
      "name": "Pegar informação do treinamento",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query GetCardFields($cardId: ID!) {\n  card(id: $cardId) {\n    id\n    title\n    fields {\n      field {\n        id\n        label\n        type\n      }\n      value          # human-readable value\n      report_value   # normalized value (useful for numbers/selects)\n      array_value\n    }\n  }\n}",
        "variables": "={\n  \"cardId\": \"{{ $json.body.data.card.id }}\"\n}"
      },
      "position": [
        224,
        -64
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "credentials": {
        "httpHeaderAuth": {
          "id": "k0rDRzgBCkgdGEpt",
          "name": "Pipefy Webhook Header"
        }
      },
      "id": "300d9e15-d320-4ac8-9917-47d6887ea3af",
      "name": "Treinamento realizado - [OPE-06] Treinamentos",
      "parameters": {
        "authentication": "headerAuth",
        "httpMethod": "POST",
        "options": {},
        "path": "180c6876-d080-4aaa-8697-e0e2b491b5b3"
      },
      "position": [
        -16,
        -64
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "180c6876-d080-4aaa-8697-e0e2b491b5b3"
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "3cd4a8ed-174e-4fd8-8064-59fecb2b4987",
      "maxTries": 5,
      "name": "Pegar informação do contato",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query GetCardFields($cardId: ID!) {\n  card(id: $cardId) {\n    id\n    title\n    fields {\n      field {\n        id\n        label\n        type\n      }\n      value          # human-readable value\n      report_value   # normalized value (useful for numbers/selects)\n      array_value\n    }\n  }\n}",
        "variables": "={\n  \"cardId\": \"{{ $json.contatos }}\"\n}"
      },
      "position": [
        1120,
        -272
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "0268b9e9-8791-4773-9304-a0450c3c0393",
      "name": "Listar contatos",
      "parameters": {
        "fieldToSplitOut": "contatos",
        "options": {}
      },
      "position": [
        672,
        -64
      ],
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1
    },
    {
      "id": "fd27d20d-e4bb-4709-835f-67b33fd5a6c0",
      "name": "Dados treinamento",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e35ab98-864e-4668-a9b7-5f269f628e09",
              "name": "treinamentoRede",
              "type": "boolean",
              "value": "={{\n(() => {\n  const fields = $json.data?.card?.fields ?? [];\n  const f = fields.find(x => (x.field?.id ?? \"\") === \"p_blico_alvo_do_treinamento\");\n  if (!f) return false;\n\n  const value =\n    (Array.isArray(f.array_value) ? f.array_value : undefined) ??\n    ((f.report_value !== undefined && f.report_value !== null) ? f.report_value : undefined) ??\n    (f.value !== undefined ? f.value : undefined);\n\n  // Normaliza para string (cobre casos em que venha array)\n  const normalized = Array.isArray(value)\n    ? (value[0] ?? \"\")\n    : (value ?? \"\");\n\n  const s = String(normalized).trim();\n\n  if (s === \"Cliente específico\") return false;\n  if (s === \"Rede\") return true;\n\n  // Qualquer outro valor => false (ajuste se quiser outro comportamento)\n  return false;\n})()\n}}"
            },
            {
              "id": "0f6c1121-ec50-4bc9-bbc2-343749151c07",
              "name": "rede",
              "type": "array",
              "value": "={{\n(() => {\n  const FIELD_ID = \"rede\"; // change if you match by label: x.field?.label\n  const fields = $json.data?.card?.fields || [];\n  const f = fields.find(x => (x.field?.id || x.indexName || \"\") === FIELD_ID);\n  if (!f) return [];\n\n  const clean = s => (s ?? \"\").replace(/\\r?\\n/g, \"\").trim();\n\n  // Turn any label-like value into a plain string (no brackets/quotes)\n  const normalizeLabel = (v) => {\n    if (v == null) return \"\";\n    if (Array.isArray(v)) {\n      return v.map(x => normalizeLabel(x)).filter(Boolean).join(\", \");\n    }\n    if (typeof v === \"object\") {\n      const txt = v.label ?? v.name ?? v.value ?? \"\";\n      return normalizeLabel(txt);\n    }\n    let s = String(v);\n\n    // If it looks like JSON (e.g., '[\"Rede A\"]' or '\"Rede A\"'), try to parse first\n    try {\n      const parsed = JSON.parse(s);\n      if (Array.isArray(parsed)) return parsed.map(x => clean(String(x))).filter(Boolean).join(\", \");\n      if (typeof parsed === \"string\") s = parsed;\n    } catch (_) {}\n\n    s = clean(s);\n\n    // Strip wrapping quotes if present: \"Rede A\" -> Rede A\n    s = s.replace(/^\"(.*)\"$/,'$1');\n\n    // Strip a single pair of wrapping brackets if the whole thing is bracketed: [Rede A] -> Rede A\n    if (s.startsWith(\"[\") && s.endsWith(\"]\")) {\n      s = s.slice(1, -1).trim();\n    }\n\n    return s;\n  };\n\n  // ---- IDs from array_value ----\n  const extractIds = (input) => {\n    const out = [];\n    const push = (v) => {\n      if (v == null) return;\n      if (Array.isArray(v)) return v.forEach(push);\n      if (typeof v === \"object\") {\n        if (v.id != null) out.push(String(v.id));\n        else if (typeof v.value === \"string\")\n          clean(v.value).split(/[\\s,;|]+/).filter(Boolean).forEach(t => out.push(t));\n        return;\n      }\n      if (typeof v === \"number\") return out.push(String(v));\n      if (typeof v === \"string\")\n        return clean(v).split(/[\\s,;|]+/).filter(Boolean).forEach(t => out.push(t));\n    };\n    push(input);\n    return out;\n  };\n\n  const ids = extractIds(f.array_value);\n\n  // ---- Labels: prefer f.value; fallback to labels inside array_value objects ----\n  let labels = [];\n  if (Array.isArray(f.value)) {\n    labels = f.value.map(normalizeLabel).filter(Boolean);\n  } else if (typeof f.value === \"string\") {\n    const s = normalizeLabel(f.value);\n    // If multiple labels were packed in one string, split by commas/pipes\n    labels = s.split(/[,|]+/).map(x => x.trim()).filter(Boolean);\n  } else if (Array.isArray(f.array_value)) {\n    labels = f.array_value.map(v => normalizeLabel(v)).filter(Boolean);\n  }\n\n  // Zip by index\n  const max = Math.max(ids.length, labels.length);\n  const pairs = [];\n  for (let i = 0; i < max; i++) {\n    const id = ids[i] ?? null;\n    const label = (labels[i] ?? null);\n    if (id !== null || (label && label.length)) pairs.push({ id, label });\n  }\n  return pairs;\n})()\n}}"
            },
            {
              "id": "5e121ff7-2fe3-42cd-8402-878be95f298d",
              "name": "clientes",
              "type": "array",
              "value": "={{\n(() => {\n  const fields = $json.data?.card?.fields || [];\n  const f = fields.find(x => (x.field?.id || x.indexName || \"\") === \"cliente\"); // or match by label\n  const arr = Array.isArray(f?.array_value) ? f.array_value : [];\n  return arr.map(v => (typeof v === 'string' ? v.trim() : String(v))).filter(Boolean);\n})()\n}}"
            },
            {
              "id": "8533aa09-91e3-42d8-8d12-1e0309f8957e",
              "name": "contatos",
              "type": "array",
              "value": "={{\n(() => {\n  const fields = $json.data?.card?.fields || [];\n  const f = fields.find(x => (x.field?.id || x.indexName || \"\") === \"participantes_1\"); // or match by label\n  const arr = Array.isArray(f?.array_value) ? f.array_value : [];\n  return arr.map(v => (typeof v === 'string' ? v.trim() : String(v))).filter(Boolean);\n})()\n}}"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "position": [
        448,
        -64
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "d1602b80-57f5-4b9a-8b38-374afac13ce8",
      "maxTries": 5,
      "name": "Criar CSAT/NPS - Cliente",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "=mutation ($input: CreateCardInput!) {\n  createCard(input: $input) {\n    card {\n      id\n      url\n    }\n  }\n}",
        "variables": "={\n  \"input\": {\n    \"pipe_id\": \"306589932\",\n    \"fields_attributes\": [\n      {\n        \"field_id\": \"cliente\",\n        \"field_value\": {{ JSON.stringify($('Dados treinamento').item.json.clientes) }}\n      },\n      { \"field_id\": \"respondente\",      \"field_value\": [\"{{ $('Pegar informação do contato').item.json.data.card.id }}\"] },\n      { \"field_id\": \"treinamento\",      \"field_value\": [\"{{ $('Pegar informação do treinamento').item.json.data.card.id }}\"] },\n      { \"field_id\": \"tipo_de_pesquisa\", \"field_value\": [\"316498856\", \"316498854\"] }\n    ]\n  }\n}"
      },
      "position": [
        1568,
        -80
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "2b069a33-7dab-4032-ae3f-cae995d9580e",
      "maxTries": 5,
      "name": "Add CSAT/NPS no DB-02 (redes)",
      "notes": "Caso o uso de API por essa automação seja muito alto, podemos tentar consolidar em um batch único a atualização dos cards.",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "=mutation ($cardId: ID!, $toAdd: [UndefinedInput!]!) {\n  updateFieldsValues(\n    input: {\n      nodeId: $cardId\n      values: [\n        {\n          fieldId: \"cards_de_csat_e_nps\"\n          value: $toAdd\n          operation: ADD\n        }\n      ]\n    }\n  ) {\n    success\n    userErrors { field message }\n    updatedNode {\n      ... on Card { id }\n    }\n  }\n}",
        "variables": "={\n  \"cardId\": {{ $('Dados treinamento').item.json.rede[0].id }},\n  \"toAdd\": [{{ $json.data.createCard.card.id }}]\n}\n"
      },
      "position": [
        1792,
        -272
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "330b8d1c-18a3-419c-bfeb-3a8a45f828f8",
      "maxTries": 5,
      "name": "Add CSAT/NPS no DB-01 (clientes)",
      "notes": "Caso o uso de API por essa automação seja muito alto, podemos tentar consolidar em um batch único a atualização dos cards.",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "=mutation ($cardId: ID!, $toAdd: [UndefinedInput!]!) {\n  updateFieldsValues(\n    input: {\n      nodeId: $cardId\n      values: [\n        {\n          fieldId: \"card_de_csat_nps\"\n          value: $toAdd\n          operation: ADD\n        }\n      ]\n    }\n  ) {\n    success\n    userErrors { field message }\n    updatedNode {\n      ... on Card { id }\n    }\n  }\n}",
        "variables": "={\n  \"cardId\": {{ $json.clientes }},\n  \"toAdd\": [{{ $('Criar CSAT/NPS - Cliente').item.json.data.createCard.card.id }}]\n}"
      },
      "position": [
        2240,
        -80
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "bd73fb72-9969-4356-bfca-8e7ec81208f5",
      "name": "Treinamento é de rede?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "54f925ec-3631-4307-abd6-3a581ae07121",
              "leftValue": "={{ $('Dados treinamento').item.json.treinamentoRede }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": "=\\n"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        1344,
        -272
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "02e11888-dbe5-4de4-8790-9d0bb7103d9d",
      "name": "Listar clientes",
      "parameters": {
        "fieldToSplitOut": "clientes",
        "options": {}
      },
      "position": [
        2016,
        -80
      ],
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1
    },
    {
      "id": "aa735355-6f7f-4cbf-ac4c-c14cd9b8ef4b",
      "name": "Pegar IDs clientes",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e121ff7-2fe3-42cd-8402-878be95f298d",
              "name": "clientes",
              "type": "array",
              "value": "={{\n(() => {\n  const fields = $('Pegar informação do treinamento').item.json.data.card.fields || [];\n  const f = fields.find(x => (x.field?.id || x.indexName || \"\") === \"cliente\"); // or match by label\n  const arr = Array.isArray(f?.array_value) ? f.array_value : [];\n  return arr.map(v => (typeof v === 'string' ? v.trim() : String(v))).filter(Boolean);\n})()\n}}"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "position": [
        1792,
        -80
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "6e419eb3-5281-4e15-a4e9-e992c0c9ba02",
      "name": "Loop contatos",
      "parameters": {
        "options": {}
      },
      "position": [
        896,
        -64
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "5ae84ffe-5fbe-4f30-bfd9-45d8eb8c2e94",
      "name": "Sucesso?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "06c8aadc-1812-43dd-bb1e-7e21d16beffd",
              "leftValue": "={{ $json.data.updateFieldsValues.success }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        2464,
        48
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "a461a351-3d0b-4d64-9526-b97ee73a2c19",
      "maxTries": 5,
      "name": "Criar CSAT/NPS - Rede",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "=mutation ($input: CreateCardInput!) {\n  createCard(input: $input) {\n    card {\n      id\n      url\n    }\n  }\n}",
        "variables": "={\n  \"input\": {\n    \"pipe_id\": \"306589932\",\n    \"fields_attributes\": [\n      {\n        \"field_id\": \"rede\",\n        \"field_value\": {{ JSON.stringify($('Dados treinamento').item.json.rede[0].id) }}\n      },\n      { \"field_id\": \"respondente\",      \"field_value\": [\"{{ $('Pegar informação do contato').item.json.data.card.id }}\"] },\n      { \"field_id\": \"treinamento\",      \"field_value\": [\"{{ $('Pegar informação do treinamento').item.json.data.card.id }}\"] },\n      { \"field_id\": \"tipo_de_pesquisa\", \"field_value\": [\"316498856\", \"316498854\"] }\n    ]\n  }\n}"
      },
      "position": [
        1568,
        -272
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "bf326592-055c-4b41-bf4e-e0074da52106",
      "name": "Sucesso? 2",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "06c8aadc-1812-43dd-bb1e-7e21d16beffd",
              "leftValue": "={{ $json.data.updateFieldsValues.success }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        2016,
        -272
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    }
  ],
  "pinData": {},
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "mry7wCpuNRODMB5e",
    "executionOrder": "v1",
    "timeSavedPerExecution": 4
  },
  "shared": [
    {
      "createdAt": "2025-11-04T18:55:21.827Z",
      "project": {
        "createdAt": "2025-10-27T18:38:08.229Z",
        "description": null,
        "icon": null,
        "id": "MxRYCPypQDED18DI",
        "name": "João Tarrega <jtarrega@evnt.com.br>",
        "projectRelations": [
          {
            "createdAt": "2025-10-27T18:38:08.229Z",
            "projectId": "MxRYCPypQDED18DI",
            "updatedAt": "2025-10-27T18:38:08.229Z",
            "user": {
              "createdAt": "2025-10-27T18:38:08.229Z",
              "disabled": false,
              "email": "jtarrega@evnt.com.br",
              "firstName": "João",
              "id": "5d6fdffe-4782-42b7-934d-8573fbfd859e",
              "isPending": false,
              "lastActiveAt": "2026-03-09",
              "lastName": "Tarrega",
              "mfaEnabled": true,
              "personalizationAnswers": {
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companyType": "other",
                "personalization_survey_n8n_version": "1.116.2",
                "personalization_survey_submitted_at": "2025-10-27T18:41:49.819Z",
                "version": "v4"
              },
              "settings": {
                "firstSuccessfulWorkflowId": "DimCvyUk7mhpRK7O",
                "npsSurvey": {
                  "lastShownAt": 1762550473483,
                  "responded": true
                },
                "userActivated": true,
                "userActivatedAt": 1762272334672
              },
              "updatedAt": "2026-03-09T11:15:52.534Z"
            },
            "userId": "5d6fdffe-4782-42b7-934d-8573fbfd859e"
          }
        ],
        "type": "personal",
        "updatedAt": "2025-10-27T18:41:32.999Z"
      },
      "projectId": "MxRYCPypQDED18DI",
      "role": "workflow:owner",
      "updatedAt": "2025-11-04T18:55:21.827Z",
      "workflowId": "cZMBxFgFcIVc0gtj"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-28T14:26:57.025Z",
      "id": "jWQLHyRjnHUkdCL1",
      "name": "Pipefy",
      "updatedAt": "2025-10-28T14:26:57.025Z"
    },
    {
      "createdAt": "2025-11-10T13:15:26.055Z",
      "id": "XyK45Idu3SHOnbVr",
      "name": "Automação de pipe",
      "updatedAt": "2025-11-10T13:15:58.540Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-05T17:26:00.680Z",
  "versionId": "1a6a7157-0263-438a-b196-e7d993de7e06"
}