raw/n8n/workflows/F6VhdWY2MCs3SkcB.json
{
  "active": true,
  "connections": {
    "Add Ambiente no DB-01 (clientes)1": {
      "main": [
        []
      ]
    },
    "Ambiente criado no DB-03": {
      "main": [
        [
          {
            "index": 0,
            "node": "Pegar informação do ambiente",
            "type": "main"
          }
        ]
      ]
    },
    "Dados ambiente": {
      "main": [
        [
          {
            "index": 0,
            "node": "Versão SaaS",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "index": 0,
            "node": "Add Ambiente no DB-01 (clientes)",
            "type": "main"
          }
        ]
      ]
    },
    "Listar clientes": {
      "main": [
        [
          {
            "index": 0,
            "node": "Add Ambiente no DB-01 (clientes)1",
            "type": "main"
          }
        ]
      ]
    },
    "Pegar IDs clientes": {
      "main": [
        [
          {
            "index": 0,
            "node": "Listar clientes",
            "type": "main"
          }
        ]
      ]
    },
    "Pegar informação da solicitação": {
      "main": [
        [
          {
            "index": 0,
            "node": "Pegar IDs clientes",
            "type": "main"
          }
        ]
      ]
    },
    "Pegar informação do ambiente": {
      "main": [
        [
          {
            "index": 0,
            "node": "Dados ambiente",
            "type": "main"
          }
        ]
      ]
    },
    "Pegar informação do onboarding": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields",
            "type": "main"
          }
        ]
      ]
    },
    "Versão SaaS": {
      "main": [
        [
          {
            "index": 0,
            "node": "Pegar informação do onboarding",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Pegar informação da solicitação",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-06T17:35:12.167Z",
  "id": "F6VhdWY2MCs3SkcB",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Solicitação de ambiente finalizada",
  "nodes": [
    {
      "credentials": {
        "httpHeaderAuth": {
          "id": "k0rDRzgBCkgdGEpt",
          "name": "Pipefy Webhook Header"
        }
      },
      "id": "9fea8e11-96c6-47ae-a6fe-789aa6c4940a",
      "name": "Ambiente criado no DB-03",
      "notesInFlow": true,
      "parameters": {
        "authentication": "headerAuth",
        "httpMethod": "POST",
        "options": {},
        "path": "baee363b-5b86-47c0-bd53-962279038c41"
      },
      "position": [
        0,
        -48
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "baee363b-5b86-47c0-bd53-962279038c41"
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "3d067a66-7f34-4e78-88f3-2839b9edd546",
      "maxTries": 5,
      "name": "Pegar informação do ambiente",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query GetCardFields($cardId: ID!) {\n  card(id: $cardId) {\n    id\n    title\n    fields {\n      field {\n        id\n        label\n        type\n      }\n      value          # human-readable value\n      report_value   # normalized value (useful for numbers/selects)\n      array_value\n    }\n  }\n}",
        "variables": "={\n  \"cardId\": \"{{ $json.body.data.card.id }}\"\n}"
      },
      "position": [
        272,
        -48
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "aa21cb7e-e1cf-4730-9caa-45aaa35f54fa",
      "name": "Dados ambiente",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8533aa09-91e3-42d8-8d12-1e0309f8957e",
              "name": "idSolicitacao",
              "type": "string",
              "value": "={{\n(() => {\n  const fields = $json.data?.card?.fields || [];\n  const f = fields.find(x => (x.field?.id || x.indexName || \"\") === \"id_solicita_ao\");\n  const arr = Array.isArray(f?.array_value)\n    ? f.array_value\n    : f?.value != null\n      ? [f.value]\n      : [];\n  return arr\n    .map(v => (typeof v === \"string\" ? v.trim() : String(v)))\n    .filter(Boolean)\n    .join(\", \"); // return as a single string\n})()\n}}"
            },
            {
              "id": "20b14d22-6166-4059-94c9-6afe6942be72",
              "name": "versaoSaas",
              "type": "string",
              "value": "={{\n(() => {\n  const root = $input.all()[0].json;\n\n  const fields =\n    root?.body?.data?.card?.fields ??\n    root?.data?.card?.fields ??\n    root?.card?.fields ??\n    [];\n\n  const f = fields.find(x => {\n    const id = (x?.field?.id ?? \"\").toLowerCase();\n    const label = (x?.field?.label ?? \"\").toLowerCase();\n    return id.includes(\"saas\") || label.includes(\"saas\") || id.includes(\"vers\") || label.includes(\"vers\");\n  });\n\n  const raw = (f?.report_value ?? f?.value ?? \"\") ?? \"\";\n  const match = String(raw).match(/\\d+(?:\\.\\d+)+|\\d+(?:\\.\\d+)?/);\n  return match ? match[0] : null;\n})()\n}}"
            },
            {
              "id": "23938f54-456d-43cb-bb2d-263d120e59f8",
              "name": "idCardOnboarding",
              "type": "string",
              "value": "={{\n(() => {\n  const fields = $json.data?.card?.fields || [];\n  const f = fields.find(x => (x.field?.id || x.indexName || \"\") === \"id_do_card_de_onboarding\");\n  const arr = Array.isArray(f?.array_value)\n    ? f.array_value\n    : f?.value != null\n      ? [f.value]\n      : [];\n  return arr\n    .map(v => (typeof v === \"string\" ? v.trim() : String(v)))\n    .filter(Boolean)\n    .join(\", \"); // return as a single string\n})()\n}}"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "position": [
        496,
        -48
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "0cc2c69b-aa11-46b0-bc82-2c268be5af49",
      "maxTries": 5,
      "name": "Pegar informação da solicitação",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query GetCardFields($cardId: ID!) {\n  card(id: $cardId) {\n    id\n    title\n    fields {\n      field {\n        id\n        label\n        type\n      }\n      value          # human-readable value\n      report_value   # normalized value (useful for numbers/selects)\n      array_value\n    }\n  }\n}",
        "variables": "={\n  \"cardId\": \"{{ $json.idSolicitacao }}\"\n}"
      },
      "position": [
        896,
        -48
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "6bdd415b-7e6e-4014-a389-4e0a093cdfa7",
      "maxTries": 5,
      "name": "Add Ambiente no DB-01 (clientes)1",
      "notes": "Caso o uso de API por essa automação seja muito alto, podemos tentar consolidar em um batch único a atualização dos cards.",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "=mutation ($cardId: ID!, $toAdd: [UndefinedInput!]!) {\n  updateFieldsValues(\n    input: {\n      nodeId: $cardId\n      values: [\n        {\n          fieldId: \"card_de_entidade_no_sistema\"\n          value: $toAdd\n          operation: ADD\n        }\n      ]\n    }\n  ) {\n    success\n    userErrors { field message }\n    updatedNode {\n      ... on Card { id }\n    }\n  }\n}",
        "variables": "={\n  \"cardId\": {{ $json.clientes }},\n  \"toAdd\": [{{ $('Pegar informação do ambiente').item.json.data.card.id }}]\n}"
      },
      "position": [
        1504,
        -48
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "aa7256b0-0180-4484-b599-3cf7a042c516",
      "name": "Pegar IDs clientes",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e121ff7-2fe3-42cd-8402-878be95f298d",
              "name": "clientes",
              "type": "array",
              "value": "={{\n(() => {\n  const fields = $('Pegar informação da solicitação').item.json.data.card.fields || [];\n  const f = fields.find(x => (x.field?.id || x.indexName || \"\") === \"cliente\"); // or match by label\n  const arr = Array.isArray(f?.array_value) ? f.array_value : [];\n  return arr.map(v => (typeof v === 'string' ? v.trim() : String(v))).filter(Boolean);\n})()\n}}"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "position": [
        1088,
        -48
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "1c5a06ce-3e81-47c8-bb24-15c6e15f95b0",
      "name": "Listar clientes",
      "parameters": {
        "fieldToSplitOut": "clientes",
        "options": {}
      },
      "position": [
        1280,
        -48
      ],
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1
    },
    {
      "alwaysOutputData": false,
      "id": "81c09a0b-d20d-4e12-8975-99f3ef9ef4c7",
      "name": "Versão SaaS",
      "parameters": {
        "options": {
          "fallbackOutput": "extra"
        },
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "975af023-64df-44bf-bff3-9d9f1e6c9ec2",
                    "leftValue": "={{ $json.versaoSaas }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "2.0"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "2.0",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        704,
        -144
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "46907413-9262-40b0-a36a-70531dbbb5e1",
      "maxTries": 5,
      "name": "Add Ambiente no DB-01 (clientes)",
      "notes": "Caso o uso de API por essa automação seja muito alto, podemos tentar consolidar em um batch único a atualização dos cards.",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "=mutation ($cardId: ID!, $toAdd: [UndefinedInput!]!) {\n  updateFieldsValues(\n    input: {\n      nodeId: $cardId\n      values: [\n        {\n          fieldId: \"card_de_entidade_no_sistema\"\n          value: $toAdd\n          operation: ADD\n        }\n      ]\n    }\n  ) {\n    success\n    userErrors { field message }\n    updatedNode {\n      ... on Card { id }\n    }\n  }\n}",
        "variables": "={\n  \"cardId\": {{ $json.idCliente }},\n  \"toAdd\": [{{ $('Pegar informação do ambiente').item.json.data.card.id }}]\n}"
      },
      "position": [
        1344,
        -256
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "c6a4d546-00a0-46d7-bd27-453bd566ed23",
      "maxTries": 5,
      "name": "Pegar informação do onboarding",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query GetCardFields($cardId: ID!) {\n  card(id: $cardId) {\n    id\n    title\n    fields {\n      field {\n        id\n        label\n        type\n      }\n      value          # human-readable value\n      report_value   # normalized value (useful for numbers/selects)\n      array_value\n    }\n  }\n}",
        "variables": "={\n  \"cardId\": \"{{ $json.idCardOnboarding }}\"\n}"
      },
      "position": [
        912,
        -256
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "e6fcb712-fc0e-4bd7-b28d-4ef018d8bce6",
      "name": "Edit Fields",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f218074-162b-47af-8fc5-a6ef59deda48",
              "name": "idCliente",
              "type": "string",
              "value": "={{\n(() => {\n  const fields = $json.data?.card?.fields || [];\n  const f = fields.find(x => (x.field?.id || x.indexName || \"\") === \"cliente\");\n  const arr = Array.isArray(f?.array_value)\n    ? f.array_value\n    : f?.value != null\n      ? [f.value]\n      : [];\n  return arr\n    .map(v => (typeof v === \"string\" ? v.trim() : String(v)))\n    .filter(Boolean)\n    .join(\", \"); // return as a single string\n})()\n}}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1120,
        -256
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "mry7wCpuNRODMB5e",
    "executionOrder": "v1",
    "timeSavedPerExecution": 2
  },
  "shared": [
    {
      "createdAt": "2025-11-06T17:35:12.167Z",
      "project": {
        "createdAt": "2025-10-27T18:38:08.229Z",
        "description": null,
        "icon": null,
        "id": "MxRYCPypQDED18DI",
        "name": "João Tarrega <jtarrega@evnt.com.br>",
        "projectRelations": [
          {
            "createdAt": "2025-10-27T18:38:08.229Z",
            "projectId": "MxRYCPypQDED18DI",
            "updatedAt": "2025-10-27T18:38:08.229Z",
            "user": {
              "createdAt": "2025-10-27T18:38:08.229Z",
              "disabled": false,
              "email": "jtarrega@evnt.com.br",
              "firstName": "João",
              "id": "5d6fdffe-4782-42b7-934d-8573fbfd859e",
              "isPending": false,
              "lastActiveAt": "2026-03-09",
              "lastName": "Tarrega",
              "mfaEnabled": true,
              "personalizationAnswers": {
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companyType": "other",
                "personalization_survey_n8n_version": "1.116.2",
                "personalization_survey_submitted_at": "2025-10-27T18:41:49.819Z",
                "version": "v4"
              },
              "settings": {
                "firstSuccessfulWorkflowId": "DimCvyUk7mhpRK7O",
                "npsSurvey": {
                  "lastShownAt": 1762550473483,
                  "responded": true
                },
                "userActivated": true,
                "userActivatedAt": 1762272334672
              },
              "updatedAt": "2026-03-09T11:15:52.534Z"
            },
            "userId": "5d6fdffe-4782-42b7-934d-8573fbfd859e"
          }
        ],
        "type": "personal",
        "updatedAt": "2025-10-27T18:41:32.999Z"
      },
      "projectId": "MxRYCPypQDED18DI",
      "role": "workflow:owner",
      "updatedAt": "2025-11-06T17:35:12.167Z",
      "workflowId": "F6VhdWY2MCs3SkcB"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-28T14:26:57.025Z",
      "id": "jWQLHyRjnHUkdCL1",
      "name": "Pipefy",
      "updatedAt": "2025-10-28T14:26:57.025Z"
    },
    {
      "createdAt": "2025-11-10T13:15:26.055Z",
      "id": "XyK45Idu3SHOnbVr",
      "name": "Automação de pipe",
      "updatedAt": "2025-11-10T13:15:58.540Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-05T16:20:29.533Z",
  "versionId": "b285deaf-9981-4c45-bbcf-3b173bf9d96b"
}