raw/n8n/workflows/GTy8DnlpGb2ZXKwZ.json
{
  "active": true,
  "connections": {
    "Atualizar cards no DB-01 / DB-02": {
      "main": [
        [
          {
            "index": 0,
            "node": "Validar erros",
            "type": "main"
          }
        ]
      ]
    },
    "Calcular diffs": {
      "main": [
        [
          {
            "index": 0,
            "node": "Criar query",
            "type": "main"
          }
        ]
      ]
    },
    "Consultar card": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extrair campos",
            "type": "main"
          }
        ]
      ]
    },
    "Criar query": {
      "main": [
        [
          {
            "index": 0,
            "node": "Há alterações?",
            "type": "main"
          }
        ]
      ]
    },
    "Erro detectado?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Stop and Error",
            "type": "main"
          }
        ]
      ]
    },
    "Extrair campos": {
      "main": [
        [
          {
            "index": 0,
            "node": "Calcular diffs",
            "type": "main"
          }
        ]
      ]
    },
    "Há alterações?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Atualizar cards no DB-01 / DB-02",
            "type": "main"
          }
        ]
      ]
    },
    "Limpar clientes": {
      "main": [
        [
          {
            "index": 0,
            "node": "Consultar card",
            "type": "main"
          }
        ]
      ]
    },
    "Limpar rede": {
      "main": [
        [
          {
            "index": 0,
            "node": "Consultar card",
            "type": "main"
          }
        ]
      ]
    },
    "Novo tipo": {
      "main": [
        [
          {
            "index": 0,
            "node": "Limpar clientes",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Limpar rede",
            "type": "main"
          }
        ]
      ]
    },
    "Tipo": {
      "main": [
        [
          {
            "index": 0,
            "node": "Consultar card",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Consultar card",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Novo tipo",
            "type": "main"
          }
        ]
      ]
    },
    "Validar erros": {
      "main": [
        [
          {
            "index": 0,
            "node": "Erro detectado?",
            "type": "main"
          }
        ]
      ]
    },
    "Variáveis": {
      "main": [
        [
          {
            "index": 0,
            "node": "Tipo",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook Pipefy": {
      "main": [
        [
          {
            "index": 0,
            "node": "Variáveis",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-19T16:29:33.351Z",
  "id": "GTy8DnlpGb2ZXKwZ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[Global] Sync de campos conectados com DB-01 e DB-02",
  "nodes": [
    {
      "id": "7a0b6607-6144-447d-a392-d06215036c1d",
      "name": "Variáveis",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b0f3d36-a30d-474c-9dd2-45514a6b887e",
              "name": "clienteAtualizado",
              "type": "boolean",
              "value": "={{ \n  $json.body?.data?.action === 'card.field_update'\n  &&\n  (\n    $json.body?.data?.field?.id === 'empresa'\n    || (($json.body?.data?.field?.label || '').toLowerCase() === 'empresa')\n    || (\n      $json.body?.data?.field?.id === 'clientes_na_fatura'\n      || (($json.body?.data?.field?.label || '').toLowerCase() === 'clientes_na_fatura')\n    )\n  )\n}}"
            },
            {
              "id": "9684e933-b476-499b-9a63-f9e9b4c09d4c",
              "name": "redeAtualizado",
              "type": "boolean",
              "value": "={{ \n  $json.body?.data?.action === 'card.field_update'\n  &&\n  (\n    $json.body?.data?.field?.id === 'rede'\n    || (($json.body?.data?.field?.label || '').toLowerCase() === 'rede')\n    || (\n      $json.body?.data?.field?.id === 'rede_na_fatura'\n      || (($json.body?.data?.field?.label || '').toLowerCase() === 'rede_na_fatura')\n    )\n  )\n}}"
            },
            {
              "id": "896332f8-2fe3-4f91-9ff9-48b5abe28a44",
              "name": "tipoAtualizado",
              "type": "boolean",
              "value": "={{\n  $json.body?.data?.action === 'card.field_update'\n  &&\n  (\n    $json.body?.data?.field?.id === 'esse_contato_de_uma_rede'\n    || (($json.body?.data?.field?.label || '').toLowerCase() === 'esse contato de uma rede')\n    || ($json.body?.data?.field?.id === 'tipo_de_cliente_final'\n        || (($json.body?.data?.field?.label || '').toLowerCase() === 'tipo_de_cliente_final'))\n  )\n}}"
            },
            {
              "id": "1a657222-bd4c-4603-a6b5-d3e43cea3d8b",
              "name": "novoValor",
              "type": "string",
              "value": "={{ (() => {\n  const v = $json.body?.data?.new_value;\n  const toStr = (x) => {\n    if (x == null) return '';\n    if (Array.isArray(x)) return x.map(toStr).filter(Boolean).join(',');\n    if (typeof x === 'object') {\n      if ('value' in x) return toStr(x.value);\n      if ('label' in x) return toStr(x.label);\n      if ('id' in x) return toStr(x.id);\n    }\n    let s = String(x);\n    try { const parsed = JSON.parse(s); return toStr(parsed); } catch(_) {}\n    return s;\n  };\n  const raw = toStr(v).trim().toLowerCase();\n  return raw.normalize ? raw.normalize('NFD').replace(/[\\u0300-\\u036f]/g,'') : raw;\n})()}}"
            },
            {
              "id": "da72d3ed-7bd0-4b4a-a608-1385267bfad0",
              "name": "idCard",
              "type": "string",
              "value": "={{ $json.body.data.card.id }}"
            },
            {
              "id": "4ebf6f7f-b5ec-41a5-89ee-86ecfff2130a",
              "name": "cardCriado",
              "type": "boolean",
              "value": "={{ $json.body.data.action === 'card.create' }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -2080,
        -320
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "a57a4bbb-4603-4f57-9092-d3fecab2114e",
      "name": "Calcular diffs",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8674a7ef-2956-4078-a8c1-a0ae5c58b23c",
              "name": "toAddRedeId",
              "type": "array",
              "value": "={{ (() => {\n  const norm = (v) => {\n    const out = [];\n    const push = s => { s = String(s ?? '').trim(); if (s) out.push(s); };\n    if (Array.isArray(v)) for (const x of v) (x && typeof x==='object' && x.id!=null) ? push(x.id) : push(x);\n    else if (v && typeof v==='object' && v.id!=null) push(v.id);\n    else if (typeof v==='string') v.split(',').forEach(push);\n    return Array.from(new Set(out));\n  };\n\n  const curr = norm($json.rede);\n  const prev = norm($json.prevRedeId);\n\n  // Se não há valor anterior, tudo que existe hoje é considerado \"novo\"\n  if (!prev.length) {\n    return curr;\n  }\n\n  const sPrev = new Set(prev);\n  return curr.filter(id => !sPrev.has(id));\n})() }}"
            },
            {
              "id": "eccc74ff-6b86-454e-9690-b60228891b29",
              "name": "toRemoveRedeId",
              "type": "array",
              "value": "={{ (() => {\n  const norm = (v) => {\n    const out = [];\n\n    const pushRaw = (s) => {\n      s = String(s ?? '').trim();\n      if (!s) return;\n      if (s === '[]') return;                         // ignora literal \"[]\"\n      out.push(s);\n    };\n\n    const push = (val) => {\n      if (val == null) return;\n\n      if (Array.isArray(val)) {\n        val.forEach(push);\n        return;\n      }\n\n      if (typeof val === 'object') {\n        if (val.id != null) { pushRaw(val.id); return; }\n        if ('value' in val) { push(val.value); return; }\n        return; // ignora objetos sem id/value\n      }\n\n      if (typeof val === 'string') {\n        const s = val.trim();\n        // tenta JSON: \"[...]\", \"{\\\"id\\\":\\\"123\\\"}\", \"\\\"abc\\\"\"\n        try {\n          const parsed = JSON.parse(s);\n          push(parsed);\n          return;\n        } catch (_) {}\n\n        // como fallback, divide por vírgula\n        s.split(',').forEach(tok => pushRaw(tok));\n        return;\n      }\n\n      // number/boolean etc.\n      pushRaw(val);\n    };\n\n    push(v);\n    // dedup + filtra o literal \"[]\"\n    return Array.from(new Set(out.filter(s => s && s !== '[]')));\n  };\n\n  const curr = norm($json.rede);\n  const prev = norm($json.prevRedeId);\n\n  const sCurr = new Set(curr);\n  return prev.filter(id => !sCurr.has(id));\n})() }}"
            },
            {
              "id": "af5133d1-a18f-4748-be61-b13dc1b70570",
              "name": "toAddClientes",
              "type": "array",
              "value": "={{ (() => {\n  const norm = (v) => {\n    const out = [];\n    const push = s => { s = String(s ?? '').trim(); if (s) out.push(s); };\n    if (Array.isArray(v)) for (const x of v) (x && typeof x==='object' && x.id!=null) ? push(x.id) : push(x);\n    else if (v && typeof v==='object' && v.id!=null) push(v.id);\n    else if (typeof v==='string') v.split(',').forEach(push);\n    return Array.from(new Set(out));\n  };\n\n  const curr = norm($json.clientes);\n  const prev = norm($json.prevClientesId);\n\n  // Caso específico: não há valor anterior, mas já existe cliente atual.\n  // histUltimasEmpresas já terá o atual; aqui também consideramos todos como \"a adicionar\".\n  if (!prev.length) {\n    return curr;\n  }\n\n  const sPrev = new Set(prev);\n  return curr.filter(id => !sPrev.has(id));\n})() }}"
            },
            {
              "id": "85e7e7e1-a7f3-4427-8804-c244c1b6b1ff",
              "name": "toRemoveClientes",
              "type": "array",
              "value": "={{ (() => {\n  const norm = (v) => {\n    const out = [];\n    const push = s => { s = String(s ?? '').trim(); if (s) out.push(s); };\n    if (Array.isArray(v)) for (const x of v) (x && typeof x==='object' && x.id!=null) ? push(x.id) : push(x);\n    else if (v && typeof v==='object' && v.id!=null) push(v.id);\n    else if (typeof v==='string') v.split(',').forEach(push);\n    return Array.from(new Set(out));\n  };\n\n  const curr = norm($json.clientes);\n  const prev = norm($json.prevClientesId);\n\n  const sCurr = new Set(curr);\n  return prev.filter(id => !sCurr.has(id));\n})() }}"
            },
            {
              "id": "953e4888-f849-4b36-bf20-35e4d9f60cb1",
              "name": "histUltimaRede",
              "type": "array",
              "value": "={{ (() => {\n  const norm = (v) => {\n    const out = [];\n    const push = s => { s = String(s ?? '').trim(); if (s) out.push(s); };\n    if (Array.isArray(v)) for (const x of v) (x && typeof x==='object' && x.id!=null) ? push(x.id) : push(x);\n    else if (v && typeof v==='object' && v.id!=null) push(v.id);\n    else if (typeof v==='string') v.split(',').forEach(push);\n    return Array.from(new Set(out));\n  };\n  const curr = norm($json.rede);\n  return curr;\n})() }}"
            },
            {
              "id": "e205bc95-dac9-4ced-80a2-c05039ee7cd6",
              "name": "histUltimosClientes",
              "type": "array",
              "value": "={{ (() => {\n  const norm = (v) => {\n    const out = [];\n    const push = s => { s = String(s ?? '').trim(); if (s) out.push(s); };\n    if (Array.isArray(v)) for (const x of v) (x && typeof x==='object' && x.id!=null) ? push(x.id) : push(x);\n    else if (v && typeof v==='object' && v.id!=null) push(v.id);\n    else if (typeof v==='string') v.split(',').forEach(push);\n    return Array.from(new Set(out));\n  };\n  const curr = norm($json.clientes);\n  return curr;\n})() }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -736,
        -320
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "7576e0d6-4cfe-4eb3-bdfe-67c3b2984704",
      "name": "Extrair campos",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f6c1121-ec50-4bc9-bbc2-343749151c07",
              "name": "rede",
              "type": "array",
              "value": "={{\n(() => {\n  const FIELD_IDS = [\"rede\", \"rede_na_fatura\"];\n  const fields = $json.data?.card?.fields || [];\n  const f = fields.find(x => FIELD_IDS.includes((x.field?.id || x.indexName || \"\")));\n  const arr = Array.isArray(f?.array_value) ? f.array_value : [];\n\n  return arr\n    .map(v => {\n      if (v == null) return \"\";\n      if (typeof v === \"object\") return String(v.label ?? v.name ?? v.value ?? v.id ?? \"\");\n      return String(v);\n    })\n    .map(s => s.replace(/\\r?\\n/g, \"\").trim())\n    .filter(Boolean);\n})()\n}}"
            },
            {
              "id": "5e121ff7-2fe3-42cd-8402-878be95f298d",
              "name": "clientes",
              "type": "array",
              "value": "={{\n(() => {\n  const FIELD_IDS = [\"empresa\", \"clientes_na_fatura\"];\n  const fields = $json.data?.card?.fields || [];\n  const f = fields.find(x => FIELD_IDS.includes((x.field?.id || x.indexName || \"\"))); // or match by label\n  const arr = Array.isArray(f?.array_value) ? f.array_value : [];\n  return arr\n    .map(v => (typeof v === \"string\" ? v.trim() : String(v)))\n    .filter(Boolean);\n})()\n}}"
            },
            {
              "id": "7cbb82fa-0508-47c5-8ad7-b48156f59d04",
              "name": "prevRedeId",
              "type": "array",
              "value": "={{ (() => {\n  // Read fields from \"Consultar card\"\n  const fields = $('Consultar card').item.json.data?.card?.fields ?? [];\n\n  // Find field by field.id or indexName\n  const get = (id) => fields.find(x => (x.field?.id ?? x.indexName ?? '') === id);\n\n  const clean = (s) => String(s ?? '').trim();\n  const f = get('auto_historico_de_redes');\n\n  if (!f) return [];\n\n  // This field is long text in the format: \"id1,id2,id3,...\"\n  const raw = clean(f.value);\n\n  if (!raw) return [];\n\n  // Split by comma, trim, remove empties\n  return raw\n    .split(',')\n    .map(x => clean(x))\n    .filter(x => x.length > 0);\n})() }}"
            },
            {
              "id": "156f6873-2ccc-4dab-9a19-53a913353ab5",
              "name": "prevClientesId",
              "type": "array",
              "value": "={{ (() => {\n  const fields = $('Consultar card').item.json.data?.card?.fields ?? [];\n  const get = (id) => fields.find(x => (x.field?.id ?? x.indexName ?? '') === id);\n  const clean = (s) => String(s ?? '').trim();\n\n  const f = get('auto_historico_de_clientes');\n  if (!f) return [];\n\n  const raw = clean(f.value);\n  if (!raw) return [];\n\n  return raw\n    .split(',')\n    .map(x => clean(x))\n    .filter(x => x.length > 0);\n})() }}"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "position": [
        -960,
        -320
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "httpHeaderAuth": {
          "id": "k0rDRzgBCkgdGEpt",
          "name": "Pipefy Webhook Header"
        }
      },
      "id": "cb68cac4-666e-4970-9bdb-7fb5c1d9696f",
      "name": "Webhook Pipefy",
      "parameters": {
        "authentication": "headerAuth",
        "httpMethod": "POST",
        "options": {},
        "path": "sync-campos-conectados"
      },
      "position": [
        -2304,
        -320
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "3f035c42-dd36-4831-809a-d10881d3df27"
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "97d433d7-0484-45cf-83b1-ae8b685b9559",
      "maxTries": 5,
      "name": "Limpar clientes",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "=mutation ($cardId: ID!) {\n  limpar_clientes_na_fatura: updateCardField(input: { card_id: $cardId, field_id: \"clientes_na_fatura\", new_value: null }) { success }\n}",
        "variables": "={{ { \"cardId\": $json.idCard || $('Variáveis').item.json.idCard } }}"
      },
      "position": [
        -1408,
        -192
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "f4dca446-6ade-475f-bb55-61affd5efa08",
      "name": "Novo tipo",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cbf43717-0908-4b5e-af14-ce50cd315460",
                    "leftValue": "={{ (() => {\n  const v = String($json.novoValor ?? '').trim().toLowerCase();\n\n  if (v === 'sim' || v === 'rede') return 'rede';\n  if (v === 'não' || v === 'nao' || v === 'afiliados e independentes') return 'cliente';\n\n  return '';\n})() }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "rede"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Rede",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c32aade3-3176-4acc-a275-8b5e6ecf8fd1",
                    "leftValue": "={{ (() => {\n  const v = String($json.novoValor ?? '').trim().toLowerCase();\n\n  if (v === 'sim' || v === 'rede') return 'rede';\n  if (v === 'não' || v === 'nao' || v === 'afiliados e independentes') return 'cliente';\n\n  return '';\n})() }}",
                    "operator": {
                      "name": "filter.operator.equals",
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "cliente"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Cliente",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        -1632,
        -96
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "019db4cc-b62f-4d7e-aa37-ac7c9d3ad525",
      "maxTries": 5,
      "name": "Limpar rede",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "=mutation ($cardId: ID!) {\n  limpar_rede_na_fatura: updateCardField(input: { card_id: $cardId, field_id: \"rede_na_fatura\", new_value: null }) { success }\n}",
        "variables": "={{ { \"cardId\": $json.idCard || $('Variáveis').item.json.idCard } }}"
      },
      "position": [
        -1408,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "24be19d4-f6c2-4efc-bbdf-6b0807db4494",
      "maxTries": 5,
      "name": "Consultar card",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query GetCardFields($cardId: ID!) {\n  card(id: $cardId) {\n    id\n    title\n    fields {\n      field {\n        id\n        label\n        type\n      }\n      value          # human-readable value\n      report_value   # normalized value (useful for numbers/selects)\n      array_value\n    }\n  }\n}",
        "variables": "={\n  \"cardId\": \"{{ $('Variáveis').item.json.idCard }}\"\n}"
      },
      "position": [
        -1184,
        -320
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "d24a7e02-d3db-4fde-9484-ae3474f7d4b9",
      "name": "Criar query",
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\n\nconst FIELD_IDS = {\n  relCards: 'regras_de_faturamento', // campo conectado de cards (clientes/redes)\n  histRede: 'auto_historico_de_redes',\n  histClientes: 'auto_historico_de_clientes',\n};\n\nconst arr = (v) => (Array.isArray(v) ? v.filter(Boolean) : []);\nconst uniqStr = (xs) => Array.from(new Set(xs.map((x) => String(x))));\n\nconst originCardId = $('Consultar card').item.json.data.card.id;\n\nconst toAddRedeIds = uniqStr(arr($json.toAddRedeId));\nconst toRemRedeIds = uniqStr(arr($json.toRemoveRedeId));\nconst toAddClienteIds = uniqStr(arr($json.toAddClientes));\nconst toRemClienteIds = uniqStr(arr($json.toRemoveClientes));\n\nconst hasLinkOps =\n  toAddRedeIds.length || toRemRedeIds.length || toAddClienteIds.length || toRemClienteIds.length;\n\nconst changedRede = toAddRedeIds.length > 0 || toRemRedeIds.length > 0;\nconst changedCli  = toAddClienteIds.length > 0 || toRemClienteIds.length > 0;\n\nconst histUltimaRede = arr($json.histUltimaRede);\nconst histUltimosClientes = arr($json.histUltimosClientes);\n\n// ---- Monta partes (body) ----\nconst parts = [];\n\n// 1) Atualiza históricos no card de origem (1 chamada)\nconst histValues = [];\nif (changedRede) {\n  histValues.push(\n    `{ fieldId: \"${FIELD_IDS.histRede}\", value: $histUltimaRede, operation: REPLACE }`\n  );\n}\nif (changedCli) {\n  histValues.push(\n    `{ fieldId: \"${FIELD_IDS.histClientes}\", value: $histUltimosClientes, operation: REPLACE }`\n  );\n}\nif (histValues.length) {\n  parts.push(`\n    hist: updateFieldsValues(input: {\n      nodeId: $originCardId\n      values: [ ${histValues.join('\\n')} ]\n    }) { success userErrors { field message } }\n  `);\n}\n\n// 2) ADD/REMOVE do card de origem nos cards-alvo (clientes/redes)\nlet i = 0;\nconst addOp = (prefix, targetCardId, op) => {\n  const alias = `${prefix}_${i++}`;\n  parts.push(`\n    ${alias}: updateFieldsValues(input: {\n      nodeId: \"${targetCardId}\"\n      values: [\n        { fieldId: \"${FIELD_IDS.relCards}\", value: $originCardIdValue, operation: ${op} }\n      ]\n    }) { success userErrors { field message } }\n  `);\n};\n\ntoAddRedeIds.forEach((id) => addOp('addRede', id, 'ADD'));\ntoRemRedeIds.forEach((id) => addOp('remRede', id, 'REMOVE'));\ntoAddClienteIds.forEach((id) => addOp('addCliente', id, 'ADD'));\ntoRemClienteIds.forEach((id) => addOp('remCliente', id, 'REMOVE'));\n\n// ---- Variáveis ----\nconst hasWork = parts.length > 0;\n\nconst varDefs = [`$originCardId: ID!`];\nconst variables = { originCardId };\n\nif (hasLinkOps) {\n  varDefs.push(`$originCardIdValue: [UndefinedInput!]!`);\n  variables.originCardIdValue = [String(originCardId)];\n}\n\nif (changedRede) {\n  varDefs.push(`$histUltimaRede: [UndefinedInput!]`);\n  const csvRede = histUltimaRede.join(','); // \"id1,id2\"\n  variables.histUltimaRede = [csvRede];     // [\"id1,id2\"]\n}\n\nif (changedCli) {\n  varDefs.push(`$histUltimosClientes: [UndefinedInput!]`);\n  const csv = histUltimosClientes.join(','); // \"id1,id2\"\n  variables.histUltimosClientes = [csv];     // [\"id1,id2\"]\n}\n\nconst query = hasWork\n  ? `mutation SyncCards(${varDefs.join(', ')}) { ${parts.join('\\n')} }`\n  : '';\n\nreturn [{ json: { hasWork, query, variables } }];"
      },
      "position": [
        -528,
        -320
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "724b89a7-b8ac-4ea7-ac3f-835555b22c07",
      "name": "Há alterações?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "7db0ada6-c3e7-4671-9948-94e6751b554e",
              "leftValue": "={{ $json.hasWork }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -320,
        -320
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "fab5e603-826f-4fcc-8a94-25f71c5b87a8",
      "maxTries": 5,
      "name": "Atualizar cards no DB-01 / DB-02",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "={{ $json.query }}",
        "variables": "={{ $json.variables }}"
      },
      "position": [
        -64,
        -336
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "fd30904a-e8c3-4763-b3c6-b41e012dbfa8",
      "name": "Validar erros",
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\n// Lança erro se qualquer operação em data.* retornar success === false\n\nconst out = [];\n\nfor (const item of items) {\n  const data = item.json?.data ?? {};\n  const failures = [];\n\n  for (const [opName, opResult] of Object.entries(data)) {\n    if (opResult && typeof opResult === 'object' && opResult.success === false) {\n      failures.push({\n        operation: opName,\n        userErrors: opResult.userErrors ?? [],\n      });\n    }\n  }\n\n  out.push({\n    json: {\n      ...item.json,\n      hasFailures: failures.length > 0,\n      failures,\n      failureCount: failures.length,\n    },\n  });\n}\n\nconst anyFailure = out.some(i => i.json.hasFailures);\n\nif (anyFailure) {\n  const allFailures = out.flatMap(i => i.json.failures);\n  throw new Error(\n    `Pipefy retornou success:false em ${allFailures.length} operação(ões): ${JSON.stringify(allFailures)}`\n  );\n}\n\nreturn out;"
      },
      "position": [
        144,
        -336
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "5792aaa6-9424-41a6-bfe3-6a61a6eb50d9",
      "name": "Stop and Error",
      "parameters": {
        "errorMessage": "Erro detectado na sincronização de campos!"
      },
      "position": [
        560,
        -432
      ],
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1
    },
    {
      "id": "db7051be-8b74-4f6d-bc41-0817f694b471",
      "name": "Erro detectado?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "6d4dc9aa-7317-4335-8c57-ed51cc91e717",
              "leftValue": "={{ $json.hasFailures }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        352,
        -336
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "25ecb0cd-21f2-443b-bee8-ec18c24cb090",
      "name": "Tipo",
      "parameters": {
        "options": {},
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "bbba2a35-964e-441f-b1ce-9ddc56a9252c",
                    "leftValue": "={{ $json.clienteAtualizado || $json.redeAtualizado }}",
                    "operator": {
                      "operation": "true",
                      "singleValue": true,
                      "type": "boolean"
                    },
                    "rightValue": ""
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Att cliente/rede",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "831d54bc-7a8d-4566-a323-97fff82c5fbf",
                    "leftValue": "={{ $json.cardCriado }}",
                    "operator": {
                      "operation": "true",
                      "singleValue": true,
                      "type": "boolean"
                    },
                    "rightValue": ""
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Card criado",
              "renameOutput": true
            },
            {
              "conditions": {
                "combinator": "and",
                "conditions": [
                  {
                    "id": "0cc77857-2fce-41d3-9ddb-cad3de49b1f8",
                    "leftValue": "={{ $json.tipoAtualizado }}",
                    "operator": {
                      "operation": "true",
                      "singleValue": true,
                      "type": "boolean"
                    },
                    "rightValue": ""
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                }
              },
              "outputKey": "Tipo",
              "renameOutput": true
            }
          ]
        }
      },
      "position": [
        -1856,
        -336
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3
    }
  ],
  "pinData": {
    "Webhook Pipefy": [
      {
        "json": {
          "body": {
            "data": {
              "action": "card.field_update",
              "card": {
                "id": 1284578487,
                "pipe_id": "Csg4jfY3",
                "title": "Rascunho"
              },
              "field": {
                "id": "tipo_de_cliente_final",
                "internal_id": 421856856,
                "label": "Tipo de cliente faturado"
              },
              "new_value": "Afiliados e independentes",
              "updated_by": {
                "avatar_url": "https://app.pipefy.com/storage/v1/signed/avatar/store/user/306441124/avatar/small-ba8e8295694612a530bd18351d610f99.jpg?expires_on=1768936613&signature=T5iP61m%2BCxl2IOEvdtkgpRaPxglSFhBrdQkBjNkUALo%3D",
                "email": "jtarrega@evnt.com.br",
                "id": 306441124,
                "name": "João Tarrega",
                "username": "joaotarrega"
              }
            }
          },
          "executionMode": "production",
          "headers": {
            "connection": "close",
            "content-length": "571",
            "content-type": "application/json",
            "host": "n8n.evnt.com.br",
            "pipefy-webhook-token": "1I04K6ukazSRd96D5Mht1yzYLOaewHCTYQwtwy6DbEijdoBtTLjfsiNOFyrReseTdkcOEA5Nw9PFebHfXIyfHGu8rYLOZsV7O2zCug2fMumf8cq1XqIzHvv9WPTq4YD6wpyTCb8TmoGs9dedebvTh3KfrVqvxFLkmEdlUgXUIuAPIsBOT2c7cJ6wzaAP1iGZE9BANVlNwAJTHoRCGi7CBL9xo7Hr179SNdQmFEM2NgT8ItprCRHbGUDObKYBDtYlJDZTBxDV5i2Sfr8xVHkl08YrMQ5ZGJ3n8c9WI8Hx3DcYHiQyU846gAhru6GJkrvc91GXY1E4CAkoZ2Q4btxosOOiadXIf2EC77vHce5MX7R3SrF0T0SCBc1GNrUnBaj3fOcQ3pEYYWGDrvRfoszC5zuSFzRWpQeio91TkamjyrRBOq8KgLQOGL2J1EnpbVjzHBmfudrj7n8xRR4fudSLA7hBVKLqsrRZGpsg0OLqy5Wfn148KQbiz1S5gI6xEhwW",
            "traceparent": "00-03e7765c057979d04550779a58630e25-e3662d0c2a955b7a-00",
            "x-forwarded-for": "129.153.135.244",
            "x-forwarded-proto": "https",
            "x-real-ip": "129.153.135.244"
          },
          "params": {},
          "query": {},
          "webhookUrl": "https://n8n.evnt.com.br/webhook/sync-campos-conectados"
        }
      }
    ]
  },
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "mry7wCpuNRODMB5e",
    "executionOrder": "v1",
    "timeSavedPerExecution": 3
  },
  "shared": [
    {
      "createdAt": "2026-01-19T16:29:33.351Z",
      "project": {
        "createdAt": "2025-10-27T18:38:08.229Z",
        "description": null,
        "icon": null,
        "id": "MxRYCPypQDED18DI",
        "name": "João Tarrega <jtarrega@evnt.com.br>",
        "projectRelations": [
          {
            "createdAt": "2025-10-27T18:38:08.229Z",
            "projectId": "MxRYCPypQDED18DI",
            "updatedAt": "2025-10-27T18:38:08.229Z",
            "user": {
              "createdAt": "2025-10-27T18:38:08.229Z",
              "disabled": false,
              "email": "jtarrega@evnt.com.br",
              "firstName": "João",
              "id": "5d6fdffe-4782-42b7-934d-8573fbfd859e",
              "isPending": false,
              "lastActiveAt": "2026-03-09",
              "lastName": "Tarrega",
              "mfaEnabled": true,
              "personalizationAnswers": {
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companyType": "other",
                "personalization_survey_n8n_version": "1.116.2",
                "personalization_survey_submitted_at": "2025-10-27T18:41:49.819Z",
                "version": "v4"
              },
              "settings": {
                "firstSuccessfulWorkflowId": "DimCvyUk7mhpRK7O",
                "npsSurvey": {
                  "lastShownAt": 1762550473483,
                  "responded": true
                },
                "userActivated": true,
                "userActivatedAt": 1762272334672
              },
              "updatedAt": "2026-03-09T11:15:52.534Z"
            },
            "userId": "5d6fdffe-4782-42b7-934d-8573fbfd859e"
          }
        ],
        "type": "personal",
        "updatedAt": "2025-10-27T18:41:32.999Z"
      },
      "projectId": "MxRYCPypQDED18DI",
      "role": "workflow:owner",
      "updatedAt": "2026-01-19T16:29:33.351Z",
      "workflowId": "GTy8DnlpGb2ZXKwZ"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-28T14:26:57.025Z",
      "id": "jWQLHyRjnHUkdCL1",
      "name": "Pipefy",
      "updatedAt": "2025-10-28T14:26:57.025Z"
    },
    {
      "createdAt": "2025-11-10T13:15:26.055Z",
      "id": "XyK45Idu3SHOnbVr",
      "name": "Automação de pipe",
      "updatedAt": "2025-11-10T13:15:58.540Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-20T19:02:46.658Z",
  "versionId": "660b7181-31ae-45bd-b262-a4f305ddd537"
}