raw/n8n/workflows/K2P7z41zoYD5vLdh.json
{
  "active": false,
  "connections": {
    "Call 'Sync Pipefy -> Conta Azul'": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Preparar log",
            "type": "main"
          }
        ]
      ]
    },
    "Criar venda CA": {
      "main": [
        [
          {
            "index": 0,
            "node": "Update ultimoNumeroVenda",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Preparar log",
            "type": "main"
          }
        ]
      ]
    },
    "Definir descrição da nota": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Preparar log",
            "type": "main"
          }
        ]
      ]
    },
    "Definir variáveis": {
      "main": [
        [
          {
            "index": 0,
            "node": "Definir descrição da nota",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Preparar log",
            "type": "main"
          }
        ]
      ]
    },
    "Extrair dados excel": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop faturas",
            "type": "main"
          }
        ]
      ]
    },
    "Form": {
      "main": [
        [
          {
            "index": 0,
            "node": "Init staticData",
            "type": "main"
          }
        ]
      ]
    },
    "Get Cliente CA": {
      "main": [
        [
          {
            "index": 0,
            "node": "Validação Qtd Clientes",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Preparar log",
            "type": "main"
          }
        ]
      ]
    },
    "Get ultimoNumeroVenda": {
      "main": [
        [
          {
            "index": 0,
            "node": "Definir variáveis",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Preparar log",
            "type": "main"
          }
        ]
      ]
    },
    "Init staticData": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extrair dados excel",
            "type": "main"
          }
        ]
      ]
    },
    "Insert log into data table": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop faturas",
            "type": "main"
          }
        ]
      ]
    },
    "Loop faturas": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Call 'Sync Pipefy -> Conta Azul'",
            "type": "main"
          }
        ]
      ]
    },
    "Preparar log": {
      "main": [
        [
          {
            "index": 0,
            "node": "Insert log into data table",
            "type": "main"
          }
        ]
      ]
    },
    "Update ultimoNumeroVenda": {
      "main": [
        [
          {
            "index": 0,
            "node": "Preparar log",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Preparar log",
            "type": "main"
          }
        ]
      ]
    },
    "Validação Qtd Clientes": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get ultimoNumeroVenda",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Preparar log",
            "type": "main"
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "index": 0,
            "node": "Criar venda CA",
            "type": "main"
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get Cliente CA",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-18T14:09:05.620Z",
  "id": "K2P7z41zoYD5vLdh",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Faturamento clientes",
  "nodes": [
    {
      "id": "0879028b-1a82-4c89-89b0-8f2d4774bd55",
      "name": "Definir variáveis",
      "onError": "continueErrorOutput",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fefe5c10-fd10-44a1-994e-3a5eeee2d4ca",
              "name": "situacaoVenda",
              "type": "string",
              "value": "APROVADO"
            },
            {
              "id": "a9de1ae1-ff6d-4b02-9a78-c756e3ce183c",
              "name": "dataVenda",
              "type": "string",
              "value": "={{ $today.startOf('month').toFormat('yyyy-MM-dd') }}"
            },
            {
              "id": "12b2b702-c0ef-4725-a1e9-741bfb3883d8",
              "name": "numeroVenda",
              "type": "number",
              "value": "={{ Number($json.Value) + 1 }}"
            },
            {
              "id": "a10b2b64-009b-458a-b79c-8ddd239657a4",
              "name": "valorTotal",
              "type": "number",
              "value": "={{ $('Loop faturas').item.json['Valor Total'] }}"
            },
            {
              "id": "542f46d8-3299-4c27-8bca-ff68763f2382",
              "name": "valorFixo",
              "type": "number",
              "value": "={{ $('Loop faturas').item.json['Valor Fixo'] }}"
            },
            {
              "id": "5e9df9f6-8ce3-42f8-9b2c-9616c3f09467",
              "name": "valorVariavel",
              "type": "number",
              "value": "={{ $('Loop faturas').item.json['Valor Variável'] }}"
            },
            {
              "id": "de07864b-3a10-4946-a561-71524812aca8",
              "name": "valorSetup",
              "type": "string",
              "value": "={{ $('Loop faturas').item.json['Valor Setup'] }}"
            },
            {
              "id": "92343130-1dba-49ae-8b53-cf64ac8ce1e7",
              "name": "formaPagamento",
              "type": "string",
              "value": "={{ $('Loop faturas').item.json['Forma de pagamento'] }}"
            },
            {
              "id": "a0aa491e-40f4-4ef9-87b8-352f381bf7b0",
              "name": "dataVencimento",
              "type": "string",
              "value": "={{ $today.set({ day: 25 }).plus({ days: $today.set({ day: 25 }).weekday === 6 ? 2 : $today.set({ day: 25 }).weekday === 7 ? 1 : 0 }).toFormat('yyyy-MM-dd') }}"
            },
            {
              "id": "65aea19e-0474-44ac-9a96-2dbc3e676b79",
              "name": "obervacoes",
              "type": "string",
              "value": "={{ $('Loop faturas').item.json['Obs'] }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1600,
        400
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "9177706d-378f-4515-b525-0b317880c150",
      "name": "Definir descrição da nota",
      "onError": "continueErrorOutput",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1cd5a0a-1a71-4f11-be93-190291701ef4",
              "name": "descricaoNota",
              "type": "string",
              "value": "=Data de vencimento: {{ $json.dataVencimento }}\\nBanco: Itau Ag: 1608\\nConta: 99197-0\\nPix Email: financeiro@evnt.com.br\\nTaxa R$ {{ $json.valorFixo }}\\nFee de gerenciamento R$ {{ $json.valorVariavel }}\\nSetup R$ {{ $json.valorSetup }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1824,
        320
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "httpBasicAuth": {
          "id": "5BUHuPAyZQzpVFGp",
          "name": "Financeiro EVNT"
        }
      },
      "id": "9a778c14-a857-4058-ba82-bc1f44a82477",
      "name": "Form",
      "parameters": {
        "authentication": "basicAuth",
        "formDescription": "Envie a planilha no formato combinado abaixo.",
        "formFields": {
          "values": [
            {
              "acceptFileTypes": ".xlsx",
              "fieldLabel": "Planilha de faturamento",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            }
          ]
        },
        "formTitle": "Faturamento de clientes",
        "options": {}
      },
      "position": [
        -416,
        608
      ],
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "webhookId": "09195635-4ad6-4f90-9514-3400697d8f74"
    },
    {
      "id": "8fc27851-f0db-4828-a088-b120431f5dfa",
      "name": "Extrair dados excel",
      "parameters": {
        "binaryPropertyName": "=Planilha_de_faturamento",
        "operation": "xlsx",
        "options": {
          "headerRow": true
        }
      },
      "position": [
        32,
        608
      ],
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1
    },
    {
      "id": "5e7d9f32-47d5-4011-bafa-5ca11aabcc57",
      "name": "Get ultimoNumeroVenda",
      "onError": "continueErrorOutput",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "cachedResultName": "Variables",
          "cachedResultUrl": "/projects/MxRYCPypQDED18DI/datatables/Nb38tJFUirxY4cRd",
          "mode": "list",
          "value": "Nb38tJFUirxY4cRd"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Key",
              "keyValue": "ultimoNumeroVendaContaAzul"
            }
          ]
        },
        "operation": "get"
      },
      "position": [
        1376,
        464
      ],
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "oEUC1Ap6WtxXEuUt",
          "name": "Conta Azul"
        }
      },
      "id": "5f5d92e3-541a-4ca4-89a5-57f46ef30e08",
      "maxTries": 5,
      "name": "Get Cliente CA",
      "onError": "continueErrorOutput",
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {},
        "queryParameters": {
          "parameters": [
            {
              "name": "tipo_perfil",
              "value": "Cliente"
            },
            {
              "name": "codigos_pessoa",
              "value": "={{ $('Loop faturas').item.json['ID Regra de faturamento'] }}"
            }
          ]
        },
        "sendQuery": true,
        "url": "https://api-v2.contaazul.com/v1/pessoas"
      },
      "position": [
        928,
        608
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "af0f82e0-8cb6-4322-b79d-770947c5ded3",
      "name": "Loop faturas",
      "parameters": {
        "options": {}
      },
      "position": [
        256,
        608
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "oEUC1Ap6WtxXEuUt",
          "name": "Conta Azul"
        }
      },
      "id": "112bebb9-400d-4994-9829-e90f9e3901e3",
      "maxTries": 5,
      "name": "Criar venda CA",
      "onError": "continueErrorOutput",
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "jsonBody": "={\n  \"id_cliente\": \"{{ $('Get Cliente CA').item.json.items[0].id }}\",\n  \"situacao\": \"{{ $('Definir variáveis').item.json.situacaoVenda }}\",\n  \"data_venda\": \"{{ $('Definir variáveis').item.json.dataVenda }}\",\n  \"observacoes\": \"{{ $json.descricaoNota }}\",\n  \"numero\": \"{{ $('Definir variáveis').item.json.numeroVenda }}\",\n  \"itens\": [\n    {\n      \"id\": \"6c029539-cc3d-4f7d-8877-de88dcee30f8\",\n      \"quantidade\": 1,\n      \"valor\": {{ $('Definir variáveis').item.json.valorTotal }},\n      \"valor_custo\": 0.0\n    }\n  ],\n  \"condicao_pagamento\": {\n    \"tipo_pagamento\": \"{{ $('Definir variáveis').item.json.formaPagamento }}\",\n    \"opcao_condicao_pagamento\": \"À vista\",\n    \"parcelas\": [\n      {\n        \"data_vencimento\": \"{{ $('Definir variáveis').item.json.dataVencimento }}\",\n        \"valor\": {{ $('Definir variáveis').item.json.valorTotal }},\n        \"descricao\": \"Parcela única\"\n      }\n    ]\n  }\n}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "url": "https://api-v2.contaazul.com/v1/venda"
      },
      "position": [
        2272,
        256
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "d78a5896-7beb-430b-9e0a-26fe1d7424e3",
      "name": "Update ultimoNumeroVenda",
      "onError": "continueErrorOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "Key",
              "id": "Key",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "Value",
              "id": "Value",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Key": "ultimoNumeroVendaContaAzul",
            "Value": "={{ $('Definir variáveis').item.json.numeroVenda}}"
          }
        },
        "dataTableId": {
          "__rl": true,
          "cachedResultName": "Variables",
          "cachedResultUrl": "/projects/MxRYCPypQDED18DI/datatables/Nb38tJFUirxY4cRd",
          "mode": "list",
          "value": "Nb38tJFUirxY4cRd"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Key",
              "keyValue": "ultimoNumeroVendaContaAzul"
            }
          ]
        },
        "operation": "update",
        "options": {}
      },
      "position": [
        2496,
        176
      ],
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1
    },
    {
      "id": "d8ff9492-8455-47b6-98d6-734ee411a58b",
      "name": "Init staticData",
      "parameters": {
        "jsCode": "// Node: \"Init Report\"\nconst staticData = $getWorkflowStaticData('global');\nstaticData.results = []; // Create an empty list\n\nreturn items;"
      },
      "position": [
        -208,
        608
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "b4a165fa-bd7e-4734-8845-214af6a6a9ff",
      "name": "Validação Qtd Clientes",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "50443918-9dfc-4f39-9b38-22929fbabc87",
              "leftValue": "={{ $json.items.length }}",
              "operator": {
                "operation": "equals",
                "type": "number"
              },
              "rightValue": 1
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        1152,
        544
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "33e3f56b-f093-4c3e-8a12-1b604775724d",
      "name": "Wait",
      "parameters": {
        "amount": 1
      },
      "position": [
        2048,
        256
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "4f85fd68-d882-43cd-8efe-8bfa1132967b"
    },
    {
      "id": "445d035b-f3f8-41e9-8e34-982140f6873a",
      "name": "Preparar log",
      "parameters": {
        "jsCode": "// 1. Initialize variables\nlet originalItem = {};\nlet numeroVenda = null;\n\n// 2. Try to get the original data (Invoice Data)\ntry {\n  // Try to get from the Loop node first (most reliable source of original data)\n  originalItem = $('Loop faturas').item.json;\n} catch (e) {\n  // Fallback to current input if Loop is not accessible\n  originalItem = $input.first().json;\n}\n\n// 3. Try to get the Sale Number from the \"Definir variáveis\" node\n// If the workflow went down the \"False\" path (Validation Failed), this node never ran,\n// so this block will fail/throw, leaving numeroVenda as null.\ntry {\n  const vars = $('Definir variáveis').item.json;\n  if (vars && vars.numeroVenda) {\n    numeroVenda = vars.numeroVenda;\n  }\n} catch (e) {\n  // Node didn't execute for this item -> Logic Failure\n  numeroVenda = null; \n}\n\n// 4. Determine Status based on Data (Not just Errors)\n// A success MUST have a Sale Number. If it's null, something went wrong.\nconst currentItem = $input.first();\nconst technicalError = currentItem.error || (currentItem.json && currentItem.json.error);\n\nlet status = 'Sucesso';\nlet message = 'Processado com sucesso.';\n\nif (technicalError) {\n  status = 'Erro';\n  const rawError = technicalError.message || JSON.stringify(technicalError);\n  message = `Erro Técnico: ${rawError}`;\n} else if (!numeroVenda) {\n  // No technical error, but no Sale Number either -> Logic Failure (Validation)\n  status = 'Erro';\n  message = 'Falha de Validação: Cliente não encontrado, duplicado ou erro de fluxo.';\n}\n\n// 5. Return the formatted log\nreturn [{\n  json: {\n    data: new Date().toISOString(),\n    linha: originalItem.Linha || 0,\n    cliente: originalItem.Nome || 'N/A',\n    numeroVenda: numeroVenda || 'N/A',\n    status: status,\n    mensagem: message\n  }\n}];"
      },
      "position": [
        2784,
        688
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "549fc48b-0690-48f4-8339-7c7e52276077",
      "name": "Insert log into data table",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "data",
              "id": "data",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "dateTime"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "mensagem",
              "id": "mensagem",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "numeroVenda",
              "id": "numeroVenda",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "cliente",
              "id": "cliente",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "status",
              "id": "status",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "id_regra",
              "id": "id_regra",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "cliente": "={{ $json.cliente }}",
            "data": "={{ $json.data }}",
            "id_regra": "={{ $('Loop faturas').item.json['ID Regra de faturamento'] }}",
            "mensagem": "={{ $json.mensagem }}",
            "numeroVenda": "={{ $json.numeroVenda }}",
            "status": "={{ $json.status }}"
          }
        },
        "dataTableId": {
          "__rl": true,
          "cachedResultName": "Logs Faturamento",
          "cachedResultUrl": "/projects/MxRYCPypQDED18DI/datatables/NqXcoChf0TS5S9mt",
          "mode": "list",
          "value": "NqXcoChf0TS5S9mt"
        },
        "options": {}
      },
      "position": [
        2944,
        800
      ],
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1
    },
    {
      "id": "a5662df4-f21f-4c0e-9443-4202693eb38f",
      "name": "Call 'Sync Pipefy -> Conta Azul'",
      "onError": "continueErrorOutput",
      "parameters": {
        "mode": "each",
        "options": {},
        "workflowId": {
          "__rl": true,
          "cachedResultName": "Validação \"Cliente\" Conta Azul",
          "cachedResultUrl": "/workflow/lhHidwjVm6OvE528",
          "mode": "list",
          "value": "lhHidwjVm6OvE528"
        },
        "workflowInputs": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "idRegra",
              "id": "idRegra",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "cnpjFaturamento",
              "id": "cnpjFaturamento",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "nome",
              "id": "nome",
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "defaultMatch": false,
              "display": true,
              "displayName": "email",
              "id": "email",
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "cnpjFaturamento": "={{ $json['CNPJ de faturamento'] }}",
            "email": "={{ $json.Email }}",
            "idRegra": "={{ $json['ID Regra de faturamento'] }}",
            "nome": "={{ $json.Nome }}"
          }
        }
      },
      "position": [
        480,
        672
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3
    },
    {
      "id": "348fd0b5-851f-4f31-9e8b-6f407974c307",
      "name": "Wait1",
      "parameters": {
        "amount": 0.5
      },
      "position": [
        704,
        608
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "8e1756a2-ba1b-437e-bffe-2eedd3600b3d"
    },
    {
      "id": "87dce57f-3e15-47be-8fef-c720b70d193c",
      "name": "Sticky Note3",
      "parameters": {
        "content": "# Os \"clientes\" no Conta Azul são diferentes do Pipefy. Eles são reflexo das regras, e não dos clientes no DB-01.\n\nDessa forma, precisamos usar os dados das regras:\n- ID do card de regra de faturamento\n- CNPJ de faturamento\n- Nome do cliente\n- Email(s) do cliente\n",
        "height": 400,
        "width": 416
      },
      "position": [
        -336,
        64
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-18T14:09:05.620Z",
      "project": {
        "createdAt": "2025-10-27T18:38:08.229Z",
        "description": null,
        "icon": null,
        "id": "MxRYCPypQDED18DI",
        "name": "João Tarrega <jtarrega@evnt.com.br>",
        "projectRelations": [
          {
            "createdAt": "2025-10-27T18:38:08.229Z",
            "projectId": "MxRYCPypQDED18DI",
            "updatedAt": "2025-10-27T18:38:08.229Z",
            "user": {
              "createdAt": "2025-10-27T18:38:08.229Z",
              "disabled": false,
              "email": "jtarrega@evnt.com.br",
              "firstName": "João",
              "id": "5d6fdffe-4782-42b7-934d-8573fbfd859e",
              "isPending": false,
              "lastActiveAt": "2026-03-09",
              "lastName": "Tarrega",
              "mfaEnabled": true,
              "personalizationAnswers": {
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companyType": "other",
                "personalization_survey_n8n_version": "1.116.2",
                "personalization_survey_submitted_at": "2025-10-27T18:41:49.819Z",
                "version": "v4"
              },
              "settings": {
                "firstSuccessfulWorkflowId": "DimCvyUk7mhpRK7O",
                "npsSurvey": {
                  "lastShownAt": 1762550473483,
                  "responded": true
                },
                "userActivated": true,
                "userActivatedAt": 1762272334672
              },
              "updatedAt": "2026-03-09T11:15:52.534Z"
            },
            "userId": "5d6fdffe-4782-42b7-934d-8573fbfd859e"
          }
        ],
        "type": "personal",
        "updatedAt": "2025-10-27T18:41:32.999Z"
      },
      "projectId": "MxRYCPypQDED18DI",
      "role": "workflow:owner",
      "updatedAt": "2025-11-18T14:09:05.620Z",
      "workflowId": "K2P7z41zoYD5vLdh"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-04T18:16:06.795Z",
  "versionId": "5073a426-8839-458b-8533-8fd72c455ff9"
}