raw/n8n/workflows/KRYkEmSTkuVD8Nsn.json
{
  "active": false,
  "connections": {
    "Accumulate regras": {
      "main": [
        [
          {
            "index": 0,
            "node": "Há próxima página?",
            "type": "main"
          }
        ]
      ]
    },
    "Build regras elegíveis": {
      "main": [
        [
          {
            "index": 0,
            "node": "Emit runContext + rule",
            "type": "main"
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Init Run",
            "type": "main"
          }
        ]
      ]
    },
    "FIN-01: Listar regras Ativo (page)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Accumulate regras",
            "type": "main"
          }
        ]
      ]
    },
    "FIN-03: Prefetch faturas (competência)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Parse prefetch",
            "type": "main"
          }
        ]
      ]
    },
    "Há próxima página?": {
      "main": [
        [
          {
            "index": 0,
            "node": "FIN-01: Listar regras Ativo (page)",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Build regras elegíveis",
            "type": "main"
          }
        ]
      ]
    },
    "Init Run": {
      "main": [
        [
          {
            "index": 0,
            "node": "FIN-03: Prefetch faturas (competência)",
            "type": "main"
          }
        ]
      ]
    },
    "Parse prefetch": {
      "main": [
        [
          {
            "index": 0,
            "node": "Prefetch: Há próxima página?",
            "type": "main"
          }
        ]
      ]
    },
    "Prefetch: Há próxima página?": {
      "main": [
        [
          {
            "index": 0,
            "node": "FIN-03: Prefetch faturas (competência)",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "FIN-01: Listar regras Ativo (page)",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-27T19:57:51.163Z",
  "id": "KRYkEmSTkuVD8Nsn",
  "isArchived": false,
  "meta": null,
  "name": "FIN - Preparação regras elegíveis (faturamento mensal)",
  "nodes": [
    {
      "id": "97c1e270-9b9a-4889-90f6-ab98f7a8fc43",
      "name": "Execute Workflow Trigger",
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"runContext\": {\n    \"startedAt\": \"2026-03-02T10:00:00.000Z\",\n    \"timezone\": \"America/Sao_Paulo\",\n    \"todayDay\": 2,\n    \"competenciaYMD\": \"2026-02-01\",\n    \"compStart\": \"2026-02-01\",\n    \"compEnd\": \"2026-02-28\",\n    \"flags\": {\n      \"maxRulesPages\": 50,\n      \"maxPrefetchPages\": 50,\n      \"rulesPageSize\": 50,\n      \"prefetchPageSize\": 200\n    }\n  },\n  \"caller\": {\n    \"workflowId\": \"parent-workflow-id\",\n    \"workflowName\": \"FIN - Gerar faturas mensais\",\n    \"executionId\": \"12345\"\n  },\n  \"prepConfig\": {\n    \"rulesPhaseId\": 341313813,\n    \"invoicesPipeId\": 306859731,\n    \"competenciaFieldId\": \"data_de_compet_ncia\",\n    \"ruleLinkFieldId\": \"id_da_regra_de_faturamento\"\n  }\n}"
      },
      "position": [
        -1952,
        -256
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "id": "ba7906b6-2aa6-44f9-93fa-3c779d30598f",
      "name": "Init Run",
      "parameters": {
        "jsCode": "const sd=$getWorkflowStaticData('global');\nconst execId=String($execution.id ?? 'manual');\nconst nowIso=new Date().toISOString();\nconst METRICS_DEFAULTS={\"rulesPages\":0,\"rulesTotal\":0,\"rulesEligible\":0,\"rulesIneligible\":0,\"rulesInvalid\":0,\"rulesSkippedDay\":0,\"rulesSkippedExisting\":0,\"invoicesPrefetchCalls\":0,\"invoicesPrefetchCount\":0,\"prefetchInvoicesMissingRuleLink\":0,\"unexpectedStateErrors\":0};\n\nconst normalizeNumber=(value,fallback,min=1,max=Number.MAX_SAFE_INTEGER)=>{\n  const n=Number(value);\n  if(!Number.isFinite(n)) return fallback;\n  const normalized=Math.floor(n);\n  return Math.min(max,Math.max(min,normalized));\n};\nconst isIsoDate=(value)=>/^\\d{4}-\\d{2}-\\d{2}$/.test(String(value||'').slice(0,10));\nconst normalizeIsoDate=(value,fallbackValue,fieldName,notes)=>{\n  const candidate=String(value ?? '').trim().slice(0,10);\n  if(isIsoDate(candidate)) return candidate;\n  notes.push({field:fieldName,from:value ?? null,to:fallbackValue});\n  return fallbackValue;\n};\nconst validatePositiveInt=(value,name)=>{\n  const n=Number(value);\n  if(!Number.isInteger(n) || n<=0){\n    throw new Error('Invalid prepConfig '+name+': '+String(value));\n  }\n  return n;\n};\n\nconst buildFallbackRunContext=()=>{\n  const TZ='America/Sao_Paulo';\n  const now=new Date();\n  const parts=new Intl.DateTimeFormat('en-CA',{\n    timeZone:TZ,\n    year:'numeric',\n    month:'2-digit',\n    day:'2-digit'\n  }).formatToParts(now);\n  const m={};\n  for(const p of parts){\n    m[p.type]=p.value;\n  }\n\n  const year=Number(m.year);\n  const month=Number(m.month);\n  const day=Number(m.day);\n  let compYear=year;\n  let compMonth=month-1;\n  if(compMonth===0){\n    compMonth=12;\n    compYear=year-1;\n  }\n\n  const mm=String(compMonth).padStart(2,'0');\n  const competenciaYMD=compYear+'-'+mm+'-01';\n  const daysInCompMonth=new Date(Date.UTC(compYear,compMonth,0)).getUTCDate();\n\n  return {\n    startedAt:now.toISOString(),\n    timezone:TZ,\n    todayDay:day,\n    competenciaYMD,\n    compStart:competenciaYMD,\n    compEnd:compYear+'-'+mm+'-'+String(daysInCompMonth).padStart(2,'0'),\n    flags:{\n      maxRulesPages:50,\n      maxPrefetchPages:50,\n      rulesPageSize:50,\n      prefetchPageSize:200\n    },\n    metrics:{...METRICS_DEFAULTS},\n    logs:[],\n    errors:[]\n  };\n};\n\nconst clone=(obj)=>JSON.parse(JSON.stringify(obj));\nconst fallback=buildFallbackRunContext();\n\nconst input=($json && typeof $json==='object' && !Array.isArray($json)) ? $json : {};\nconst incomingRunContext=(input.runContext && typeof input.runContext==='object' && !Array.isArray(input.runContext)) ? input.runContext : null;\nconst callerInput=(input.caller && typeof input.caller==='object' && !Array.isArray(input.caller)) ? input.caller : {};\nconst prepInput=(input.prepConfig && typeof input.prepConfig==='object' && !Array.isArray(input.prepConfig)) ? input.prepConfig : {};\n\nconst runContext=incomingRunContext ? clone(incomingRunContext) : fallback;\nconst normalizationNotes=[];\nrunContext.timezone=String(runContext.timezone || fallback.timezone || 'America/Sao_Paulo');\nrunContext.startedAt=String(runContext.startedAt || nowIso);\nrunContext.todayDay=normalizeNumber(runContext.todayDay,fallback.todayDay,1,31);\nrunContext.competenciaYMD=normalizeIsoDate(runContext.competenciaYMD,fallback.competenciaYMD,'competenciaYMD',normalizationNotes);\nrunContext.compStart=normalizeIsoDate(runContext.compStart || runContext.competenciaYMD,fallback.compStart,'compStart',normalizationNotes);\nrunContext.compEnd=normalizeIsoDate(runContext.compEnd,fallback.compEnd,'compEnd',normalizationNotes);\nif(runContext.compStart > runContext.compEnd){\n  normalizationNotes.push({field:'competencia_window',from:{compStart:runContext.compStart,compEnd:runContext.compEnd},to:{compStart:fallback.compStart,compEnd:fallback.compEnd}});\n  runContext.compStart=fallback.compStart;\n  runContext.compEnd=fallback.compEnd;\n}\n\nrunContext.flags=(runContext.flags && typeof runContext.flags==='object' && !Array.isArray(runContext.flags)) ? runContext.flags : {};\nrunContext.flags.maxRulesPages=normalizeNumber(runContext.flags.maxRulesPages,50,1,1000);\nrunContext.flags.maxPrefetchPages=normalizeNumber(runContext.flags.maxPrefetchPages,50,1,1000);\nrunContext.flags.rulesPageSize=normalizeNumber(runContext.flags.rulesPageSize,50,1,200);\nrunContext.flags.prefetchPageSize=normalizeNumber(runContext.flags.prefetchPageSize,200,1,200);\nrunContext.metrics=(runContext.metrics && typeof runContext.metrics==='object' && !Array.isArray(runContext.metrics)) ? runContext.metrics : {};\nfor(const [k,v] of Object.entries(METRICS_DEFAULTS)){\n  runContext.metrics[k]=Number.isFinite(Number(runContext.metrics[k])) ? Number(runContext.metrics[k]) : v;\n}\nrunContext.logs=Array.isArray(runContext.logs) ? runContext.logs : [];\nrunContext.errors=Array.isArray(runContext.errors) ? runContext.errors : [];\n\nconst prepConfig={\n  rulesPhaseId:validatePositiveInt(prepInput.rulesPhaseId ?? 341313813,'rulesPhaseId'),\n  invoicesPipeId:validatePositiveInt(prepInput.invoicesPipeId ?? 306859731,'invoicesPipeId'),\n  competenciaFieldId:String(prepInput.competenciaFieldId || 'data_de_compet_ncia').trim(),\n  ruleLinkFieldId:String(prepInput.ruleLinkFieldId || 'id_da_regra_de_faturamento').trim()\n};\nif(!prepConfig.competenciaFieldId){\n  throw new Error('Invalid prepConfig competenciaFieldId (blank)');\n}\nif(!prepConfig.ruleLinkFieldId){\n  throw new Error('Invalid prepConfig ruleLinkFieldId (blank)');\n}\n\nconst prepMeta={\n  source:incomingRunContext ? 'caller' : 'fallback',\n  callerWorkflowId:callerInput.workflowId != null ? String(callerInput.workflowId) : null,\n  callerWorkflowName:callerInput.workflowName != null ? String(callerInput.workflowName) : null,\n  callerExecutionId:callerInput.executionId != null ? String(callerInput.executionId) : null,\n  prepExecutionId:execId,\n  normalizedAt:nowIso\n};\n\nif(normalizationNotes.length>0){\n  runContext.metrics.unexpectedStateErrors=Number(runContext.metrics.unexpectedStateErrors || 0) + normalizationNotes.length;\n  runContext.logs.push({\n    ts:nowIso,\n    level:'warn',\n    event:'prep_run_context_normalized',\n    fields:normalizationNotes.map((x)=>x.field),\n    details:normalizationNotes\n  });\n}\n\nif(!isIsoDate(runContext.compStart) || !isIsoDate(runContext.compEnd) || runContext.compStart>runContext.compEnd){\n  runContext.metrics.unexpectedStateErrors=Number(runContext.metrics.unexpectedStateErrors || 0) + 1;\n  runContext.errors.push({event:'prep_invalid_comp_window',details:{compStart:runContext.compStart,compEnd:runContext.compEnd}});\n  throw new Error('Invalid competencia window after normalization');\n}\n\nsd.prepRuns=(sd.prepRuns && typeof sd.prepRuns==='object' && !Array.isArray(sd.prepRuns)) ? sd.prepRuns : {};\nfor(const [key,state] of Object.entries(sd.prepRuns)){\n  const startedAt=state?.runContext?.startedAt || state?.stateStartedAt || null;\n  const ageMs=startedAt ? (Date.now()-Date.parse(startedAt)) : Number.POSITIVE_INFINITY;\n  if(!Number.isFinite(ageMs) || ageMs > 24*60*60*1000){\n    delete sd.prepRuns[key];\n  }\n}\n\nsd.prepRuns[execId]={\n  runContext,\n  rules:[],\n  existingRuleIds:{},\n  prepMeta,\n  prepConfig,\n  stateStartedAt:nowIso\n};\n\nreturn [{json:{\n  execId,\n  runContext,\n  prepMeta,\n  prepConfig,\n  after:null,\n  prefetchAfter:null\n}}];"
      },
      "position": [
        -1728,
        -256
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "969ec5c1-ba16-4777-9159-47073fda8c94",
      "maxTries": 5,
      "name": "FIN-01: Listar regras Ativo (page)",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query RulesByPhase($phaseId: ID!, $first: Int!, $after: String) { phase(id: $phaseId) { id name cards(first: $first, after: $after) { edges { node { id title fields { field { id label type } value report_value array_value } } } pageInfo { hasNextPage endCursor } } } }",
        "variables": "={{ { phaseId: $node['Init Run'].json.prepConfig.rulesPhaseId, first: Number($node['Init Run'].json.runContext.flags.rulesPageSize || 50), after: (() => { const a = ($json.after ?? null); if (a === null) return null; const s = String(a).trim(); if (!s || s.toLowerCase() === 'null') return null; return s; })() } }}"
      },
      "position": [
        -832,
        -256
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "f11457f1-abe6-4317-be21-861319747413",
      "name": "Accumulate regras",
      "parameters": {
        "jsCode": "const sd=$getWorkflowStaticData('global');\nconst execId=String($execution.id ?? 'manual');\nconst state=sd.prepRuns?.[execId];\nif(!state){\n  throw new Error('Missing state for execution '+execId);\n}\n\nconst runContext=state.runContext;\nrunContext.metrics=runContext.metrics || {};\nrunContext.logs=Array.isArray(runContext.logs) ? runContext.logs : [];\nrunContext.errors=Array.isArray(runContext.errors) ? runContext.errors : [];\nstate.rules=Array.isArray(state.rules) ? state.rules : [];\n\nconst nowIso=new Date().toISOString();\nconst gqlErrors=Array.isArray($json.errors) ? $json.errors : [];\nif(gqlErrors.length>0){\n  runContext.errors.push({event:'rules_query_error',reason:'graphql_errors',errors:gqlErrors});\n  runContext.logs.push({ts:nowIso,level:'error',event:'rules_query_error',reason:'graphql_errors',errorsCount:gqlErrors.length});\n  throw new Error('Rules query returned GraphQL errors: '+JSON.stringify(gqlErrors));\n}\n\nconst cards=$json.data?.phase?.cards;\nif(!cards || !Array.isArray(cards.edges) || typeof cards.pageInfo!=='object' || cards.pageInfo===null){\n  runContext.errors.push({event:'rules_query_error',reason:'invalid_shape',details:$json.data ?? null});\n  runContext.logs.push({ts:nowIso,level:'error',event:'rules_query_invalid_shape',reason:'invalid_shape'});\n  throw new Error('Invalid GraphQL shape for rules listing');\n}\n\nconst edges=cards.edges;\nconst pi=cards.pageInfo;\nconst sanitizeCursor=(c)=>{\n  if(c===undefined || c===null) return null;\n  const s=String(c).trim();\n  if(!s || s.toLowerCase()==='null') return null;\n  return s;\n};\n\nlet hasNextPage=pi.hasNextPage===true;\nlet endCursor=sanitizeCursor(pi.endCursor);\nlet stopReason=null;\n\nconst pageNum=Number(runContext.metrics.rulesPages || 0) + 1;\nrunContext.metrics.rulesPages=pageNum;\n\nfor(const e of edges){\n  if(e?.node?.id) state.rules.push(e.node);\n}\n\nif(edges.length===0){\n  hasNextPage=false;\n  stopReason='empty_page';\n}\n\nconst lastCursor=runContext.lastRulesCursor ?? null;\nif(hasNextPage && endCursor===null){\n  hasNextPage=false;\n  stopReason='missing_end_cursor';\n  runContext.logs.push({ts:nowIso,level:'warn',event:'rules_cursor_missing',page:pageNum});\n}else if(hasNextPage && lastCursor!==null && String(endCursor)===String(lastCursor)){\n  hasNextPage=false;\n  stopReason='stuck_cursor';\n  runContext.logs.push({ts:nowIso,level:'warn',event:'rules_cursor_stuck',page:pageNum,endCursor:String(endCursor)});\n}\nrunContext.lastRulesCursor=endCursor;\n\nconst MAX_PAGES=Math.max(1,Number(runContext.flags?.maxRulesPages || 50));\nif(pageNum>=MAX_PAGES && hasNextPage){\n  hasNextPage=false;\n  stopReason='max_pages_reached';\n  runContext.logs.push({ts:nowIso,level:'warn',event:'rules_page_cap_reached',maxPages:MAX_PAGES,page:pageNum});\n}\n\nrunContext.logs.push({\n  ts:nowIso,\n  level:'info',\n  event:'rules_page_fetched',\n  page:pageNum,\n  edgesCount:edges.length,\n  accumulatedRules:state.rules.length,\n  hasNextPage,\n  endCursor,\n  stopReason\n});\n\nreturn [{\n  json:{\n    hasNextPage,\n    endCursor,\n    after:(hasNextPage ? endCursor : null),\n    edgesCount:edges.length,\n    page:pageNum,\n    stopReason\n  }\n}];"
      },
      "position": [
        -608,
        -336
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "9d9a532a-9f56-4114-8162-0ad86c8b7f11",
      "name": "Há próxima página?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "b1b4b2b2-2d05-4b35-bc4b-7a7f5e1a1d7b",
              "leftValue": "={{ $json.hasNextPage === true }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -384,
        -256
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "2f063411-cf21-4f1b-98d1-463120b3942f",
      "name": "Build regras elegíveis",
      "parameters": {
        "jsCode": "const sd=$getWorkflowStaticData('global');\nconst execId=String($execution.id ?? 'manual');\nconst state=sd.prepRuns?.[execId];\nif(!state){\n  throw new Error('Missing state for execution '+execId);\n}\n\nconst runContext=state.runContext;\nrunContext.metrics=runContext.metrics || {};\nrunContext.logs=Array.isArray(runContext.logs) ? runContext.logs : [];\nrunContext.errors=Array.isArray(runContext.errors) ? runContext.errors : [];\n\nconst rules=Array.isArray(state.rules) ? state.rules : [];\nrunContext.metrics.rulesTotal=rules.length;\n\nconst todayDay=Number(runContext.todayDay);\nconst existing=state.existingRuleIds || {};\nconst eligibleRules=[];\nconst ineligibleRules=[];\nconst log=(obj)=>runContext.logs.push({ts:new Date().toISOString(),...obj});\nconst isBlankToken=(value)=>{\n  const s=String(value ?? '').trim().toLowerCase();\n  return s==='' || s==='null' || s==='undefined' || s==='nan';\n};\nconst normalizeBillingDay=(value)=>{\n  if(value===undefined || value===null) return null;\n  if(typeof value==='number' && Number.isFinite(value)){\n    const normalized=Math.trunc(value);\n    return (normalized>=1 && normalized<=31) ? normalized : null;\n  }\n  const s=String(value).trim();\n  if(!s) return null;\n  const matches=s.match(/[0-9]+/g);\n  if(!matches) return null;\n  for(let idx=matches.length-1; idx>=0; idx-=1){\n    const normalized=Number(matches[idx]);\n    if(Number.isInteger(normalized) && normalized>=1 && normalized<=31){\n      return normalized;\n    }\n  }\n  return null;\n};\n\nconst counters={\n  skippedDay:0,\n  skippedExisting:0,\n  invalidRuleId:0,\n  emptyItemTemplates:0\n};\nconst ineligibleByReason={};\nconst countIneligibleReason=(reason)=>{\n  const key=String(reason || 'unknown_reason');\n  ineligibleByReason[key]=Number(ineligibleByReason[key] || 0) + 1;\n};\n\nconst fieldMap=(fields)=>{\n  const m={};\n  for(const f of (fields || [])){\n    const fid=f&&f.field ? f.field.id : null;\n    if(fid) m[fid]=f;\n  }\n  return m;\n};\nconst pickScalar=(f)=>{\n  if(!f) return null;\n  const rv=f.report_value;\n  return (rv!==undefined && rv!==null && String(rv).trim()!=='') ? rv : f.value;\n};\nconst extractIds=(f)=>{\n  if(!f) return [];\n  const av=f.array_value;\n  const ids=[];\n  const push=(x)=>{\n    if(x===undefined || x===null) return;\n    if(typeof x==='object'){\n      if(x.id!=null) ids.push(String(x.id));\n      else if(x.value!=null) ids.push(String(x.value));\n      else if(x.label!=null) ids.push(String(x.label));\n      else ids.push(JSON.stringify(x));\n    }else{\n      ids.push(String(x));\n    }\n  };\n\n  if(Array.isArray(av)){\n    for(const x of av) push(x);\n  }else{\n    const v=pickScalar(f);\n    if(Array.isArray(v)){\n      for(const x of v) push(x);\n    }else if(typeof v==='string'){\n      const ms=v.match(/[0-9]+/g);\n      if(ms) for(const x of ms) ids.push(String(x));\n      else if(v.trim()!=='') ids.push(v.trim());\n    }else if(v!=null){\n      push(v);\n    }\n  }\n\n  return Array.from(new Set(ids.filter((s)=>s && String(s).trim()!==''))).map(String);\n};\n\nconst registerIneligible=(payload)=>{\n  const reason=String(payload?.reason || 'unknown_reason');\n  countIneligibleReason(reason);\n  ineligibleRules.push({\n    ...payload,\n    reason,\n    competenciaYMD:runContext.competenciaYMD,\n    compStart:runContext.compStart,\n    compEnd:runContext.compEnd\n  });\n};\n\nfor(const r of rules){\n  const ridRaw=String(r?.id ?? '').trim();\n  const ruleTitle=String(r?.title || '');\n\n  if(isBlankToken(ridRaw)){\n    counters.invalidRuleId += 1;\n    runContext.metrics.rulesInvalid=Number(runContext.metrics.rulesInvalid || 0) + 1;\n    runContext.errors.push({\n      event:'rule_invalid_id',\n      reason:'missing_rule_id',\n      details:{ruleTitle}\n    });\n    log({\n      level:'error',\n      event:'rule_skip_invalid_id',\n      reason:'missing_rule_id',\n      ruleTitle\n    });\n    registerIneligible({\n      ruleId:null,\n      ruleTitle,\n      diaGeracao:null,\n      reason:'missing_rule_id',\n      reasonDetail:{ruleIdRaw:ridRaw || null},\n      prefetchDecision:'invalid_rule'\n    });\n    continue;\n  }\n\n  const rid=String(ridRaw);\n  const fm=fieldMap(r.fields);\n  const rawDiaGeracao=pickScalar(fm['dia_de_gera_o_da_fatura']);\n  const normalizedDiaGeracao=normalizeBillingDay(rawDiaGeracao);\n  const diaGeracao=(normalizedDiaGeracao!==null)\n    ? String(normalizedDiaGeracao)\n    : String(rawDiaGeracao ?? '').trim();\n  if(normalizedDiaGeracao!==todayDay){\n    counters.skippedDay += 1;\n    runContext.metrics.rulesSkippedDay=Number(runContext.metrics.rulesSkippedDay || 0) + 1;\n    log({\n      level:'info',\n      event:'rule_skip_day',\n      ruleId:rid,\n      diaGeracao,\n      rawDiaGeracao:rawDiaGeracao ?? null,\n      normalizedDiaGeracao,\n      expectedDay:todayDay,\n      reason:'billing_day_mismatch'\n    });\n    registerIneligible({\n      ruleId:rid,\n      ruleTitle,\n      diaGeracao,\n      reason:'billing_day_mismatch',\n      reasonDetail:{expectedDay:todayDay,actualDay:normalizedDiaGeracao,rawDiaGeracao:rawDiaGeracao ?? null},\n      prefetchDecision:'billing_day_mismatch'\n    });\n    continue;\n  }\n\n  if(existing[rid]){\n    counters.skippedExisting += 1;\n    runContext.metrics.rulesSkippedExisting=Number(runContext.metrics.rulesSkippedExisting || 0) + 1;\n    log({level:'info',event:'rule_skip_existing_invoice',ruleId:rid,competenciaYMD:runContext.competenciaYMD,prefetchDecision:'already_has_invoice',reason:'prefetch_found_invoice'});\n    registerIneligible({\n      ruleId:rid,\n      ruleTitle,\n      diaGeracao,\n      reason:'prefetch_found_invoice',\n      reasonDetail:{competenciaYMD:runContext.competenciaYMD},\n      existingInvoiceId:existing[rid] ?? null,\n      prefetchDecision:'already_has_invoice'\n    });\n    continue;\n  }\n\n  const itemIds=extractIds(fm['itens_da_fatura']);\n  if(itemIds.length===0){\n    counters.emptyItemTemplates += 1;\n    log({level:'warn',event:'rule_no_item_templates',ruleId:rid,reason:'empty_item_template_list'});\n  }\n\n  eligibleRules.push({\n    ruleId:rid,\n    ruleTitle,\n    diaGeracao,\n    itemTemplateIds:itemIds,\n    ruleFields:fm,\n    competenciaYMD:runContext.competenciaYMD,\n    compStart:runContext.compStart,\n    compEnd:runContext.compEnd,\n    prefetchDecision:'new_rule_candidate'\n  });\n}\n\nrunContext.metrics.rulesEligible=eligibleRules.length;\nrunContext.metrics.rulesIneligible=ineligibleRules.length;\nlog({\n  level:'info',\n  event:'rules_classified',\n  eligible:eligibleRules.length,\n  ineligible:ineligibleRules.length,\n  totalRules:rules.length,\n  counters,\n  ineligibleByReason\n});\n\nif(eligibleRules.length===0){\n  runContext.logs.push({\n    ts:new Date().toISOString(),\n    level:'info',\n    event:'prep_completed_no_eligible_rules',\n    reason:'no_rule_eligible_after_filters',\n    counters,\n    ineligibleByReason\n  });\n}\n\nreturn [{json:{\n  kind:'prep_classification',\n  eligibleRules,\n  ineligibleRules,\n  counters,\n  ineligibleByReason\n}}];"
      },
      "position": [
        -160,
        -256
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "508544dd-08e5-4687-a233-0f7ad775cfe7",
      "name": "Emit runContext + rule",
      "parameters": {
        "jsCode": "const sd=$getWorkflowStaticData('global');\nconst execId=String($execution.id ?? 'manual');\nconst state=sd.prepRuns?.[execId];\nif(!state){\n  throw new Error('Missing state for execution '+execId);\n}\n\nconst runContext=state.runContext || {};\nrunContext.logs=Array.isArray(runContext.logs) ? runContext.logs : [];\nrunContext.errors=Array.isArray(runContext.errors) ? runContext.errors : [];\n\nconst items=$input.all();\nconst payloadItem=items.find((it)=>it && it.json && typeof it.json==='object' && !Array.isArray(it.json));\nconst payload=(payloadItem && payloadItem.json && typeof payloadItem.json==='object' && !Array.isArray(payloadItem.json)) ? payloadItem.json : {};\nconst eligibleRules=Array.isArray(payload.eligibleRules) ? payload.eligibleRules : [];\nconst ineligibleRules=Array.isArray(payload.ineligibleRules) ? payload.ineligibleRules : [];\n\nconst derivedIneligibleByReason={};\nfor(const rule of ineligibleRules){\n  const reason=String(rule?.reason || 'unknown_reason');\n  derivedIneligibleByReason[reason]=Number(derivedIneligibleByReason[reason] || 0) + 1;\n}\nconst providedIneligibleByReason=(payload.ineligibleByReason && typeof payload.ineligibleByReason==='object' && !Array.isArray(payload.ineligibleByReason)) ? payload.ineligibleByReason : null;\nconst ineligibleByReason=providedIneligibleByReason || derivedIneligibleByReason;\n\nconst eligibleCount=Number(runContext.metrics?.rulesEligible || eligibleRules.length || 0);\nconst ineligibleCount=Number(runContext.metrics?.rulesIneligible || ineligibleRules.length || 0);\nconst rulesTotal=Number(runContext.metrics?.rulesTotal || (eligibleCount + ineligibleCount));\nconst errorCount=runContext.errors.length;\nconst metricsSnapshot=JSON.parse(JSON.stringify((runContext.metrics && typeof runContext.metrics==='object' && !Array.isArray(runContext.metrics)) ? runContext.metrics : {}));\nconst finishedAt=new Date().toISOString();\nconst startedMs=Date.parse(runContext.startedAt || '');\nconst finishedMs=Date.parse(finishedAt);\nconst durationMs=(Number.isFinite(startedMs) && Number.isFinite(finishedMs)) ? Math.max(0,finishedMs-startedMs) : null;\n\nconst prepContext={\n  eligibleCount,\n  ineligibleCount,\n  ineligibleByReason,\n  rulesTotal,\n  errorCount,\n  metrics:metricsSnapshot\n};\n\nconst baseTrace={\n  parentExecutionId:state.prepMeta?.callerExecutionId != null ? String(state.prepMeta.callerExecutionId) : null,\n  workflowExecutionId:execId,\n  ruleExecutionKey:null\n};\n\nconst baseRun={\n  executionId:runContext.executionId ?? baseTrace.parentExecutionId ?? null,\n  competenciaYMD:runContext.competenciaYMD ?? null,\n  compStart:runContext.compStart ?? null,\n  compEnd:runContext.compEnd ?? null,\n  todayDay:runContext.todayDay ?? null\n};\n\nconst out=[];\nout.push({\n  json:{\n    contractVersion:'fin_v3',\n    itemType:'prep_summary',\n    trace:{...baseTrace},\n    result:{\n      status:'processed',\n      reason:'prep_summary',\n      prepContext,\n      metrics:metricsSnapshot,\n      metricsDelta:{},\n      timings:{\n        startedAt:runContext.startedAt || null,\n        finishedAt,\n        durationMs\n      },\n      failures:[]\n    }\n  }\n});\n\nfor(const rule of eligibleRules){\n  out.push({\n    json:{\n      contractVersion:'fin_v3',\n      itemType:'rule_input',\n      trace:{...baseTrace},\n      run:{...baseRun},\n      rule:{\n        ruleId:rule?.ruleId ?? null,\n        ruleTitle:rule?.ruleTitle ?? null,\n        diaGeracao:rule?.diaGeracao ?? null,\n        itemTemplateIds:Array.isArray(rule?.itemTemplateIds) ? rule.itemTemplateIds : [],\n        ruleFields:rule?.ruleFields ?? {},\n        competenciaYMD:rule?.competenciaYMD ?? baseRun.competenciaYMD ?? null,\n        compStart:rule?.compStart ?? baseRun.compStart ?? null,\n        compEnd:rule?.compEnd ?? baseRun.compEnd ?? null,\n        prefetchDecision:rule?.prefetchDecision ?? 'new_rule_candidate'\n      }\n    }\n  });\n}\n\nfor(const rule of ineligibleRules){\n  const reason=String(rule?.reason || 'prep_ineligible');\n  out.push({\n    json:{\n      contractVersion:'fin_v3',\n      itemType:'rule_result',\n      trace:{...baseTrace},\n      rule:{\n        ruleId:rule?.ruleId ?? null,\n        ruleTitle:rule?.ruleTitle ?? null,\n        prefetchDecision:rule?.prefetchDecision ?? null\n      },\n      result:{\n        status:'skipped',\n        reason,\n        invoiceId:null,\n        existingInvoiceId:rule?.existingInvoiceId ?? null,\n        createdItemIds:[],\n        totals:{brl:0,usd:0},\n        metricsDelta:{},\n        timings:{startedAt:null,finishedAt,durationMs:null},\n        failures:[]\n      }\n    }\n  });\n}\n\ndelete sd.prepRuns[execId];\nreturn out;"
      },
      "position": [
        80,
        -256
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "a807a1ba-3eb0-44e5-9443-1b1ec952a796",
      "maxTries": 5,
      "name": "FIN-03: Prefetch faturas (competência)",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query FindInvoicesByCompetencia($pipeId: ID!, $fieldId: String!, $competencia: String!, $first: Int!, $after: String) { findCards(pipeId: $pipeId, first: $first, after: $after, search: { fieldId: $fieldId, fieldValue: $competencia }) { edges { node { id title fields { field { id label type } value report_value array_value } } } pageInfo { hasNextPage endCursor } } }",
        "variables": "={{ { pipeId: $node['Init Run'].json.prepConfig.invoicesPipeId, fieldId: $node['Init Run'].json.prepConfig.competenciaFieldId, competencia: $node['Init Run'].json.runContext.competenciaYMD, first: Number($node['Init Run'].json.runContext.flags.prefetchPageSize || 200), after: (() => { const a = ($json.prefetchAfter ?? null); if (a === null) return null; const s = String(a).trim(); if (!s || s.toLowerCase() === 'null') return null; return s; })() } }}"
      },
      "position": [
        -1504,
        -256
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "ad361405-18b3-4cf4-a3f5-6e182645822f",
      "name": "Parse prefetch",
      "parameters": {
        "jsCode": "const sd=$getWorkflowStaticData('global');\nconst execId=String($execution.id ?? 'manual');\nconst state=sd.prepRuns?.[execId];\nif(!state){\n  throw new Error('Missing state for execution '+execId);\n}\n\nconst runContext=state.runContext;\nrunContext.metrics=runContext.metrics || {};\nrunContext.logs=Array.isArray(runContext.logs) ? runContext.logs : [];\nrunContext.errors=Array.isArray(runContext.errors) ? runContext.errors : [];\nrunContext.metrics.invoicesPrefetchCalls=Number(runContext.metrics.invoicesPrefetchCalls || 0);\nrunContext.metrics.invoicesPrefetchCount=Number(runContext.metrics.invoicesPrefetchCount || 0);\nrunContext.metrics.prefetchInvoicesMissingRuleLink=Number(runContext.metrics.prefetchInvoicesMissingRuleLink || 0);\n\nconst nowIso=new Date().toISOString();\nconst gqlErrors=Array.isArray($json.errors) ? $json.errors : [];\nif(gqlErrors.length>0){\n  runContext.errors.push({event:'prefetch_query_error',reason:'graphql_errors',errors:gqlErrors});\n  throw new Error('Prefetch query returned GraphQL errors: '+JSON.stringify(gqlErrors));\n}\n\nconst find=$json.data?.findCards;\nif(!find || !Array.isArray(find.edges) || typeof find.pageInfo!=='object' || find.pageInfo===null){\n  runContext.errors.push({event:'prefetch_query_error',reason:'invalid_shape',details:$json.data ?? null});\n  throw new Error('Invalid GraphQL shape for invoice prefetch');\n}\n\nconst edges=find.edges;\nconst pageInfo=find.pageInfo;\nconst sanitizeCursor=(c)=>{\n  if(c===undefined || c===null) return null;\n  const s=String(c).trim();\n  if(!s || s.toLowerCase()==='null') return null;\n  return s;\n};\n\nconst existing=state.existingRuleIds || {};\nconst getField=(fields,id)=>{ for(const f of (fields || [])) if(f?.field?.id===id) return f; return null; };\nconst pick=(f)=>{ if(!f) return null; const rv=f.report_value; return (rv!==undefined && rv!==null && String(rv).trim()!=='') ? rv : f.value; };\nconst toId=(v)=>{ if(v==null) return null; const s=String(v); const m=s.match(/[0-9]+/); return m ? m[0] : s.trim(); };\n\nlet missingRuleLinks=0;\nconst ruleLinkFieldId=String(state.prepConfig?.ruleLinkFieldId || 'id_da_regra_de_faturamento');\nfor(const e of edges){\n  const node=e?.node ?? null;\n  if(!node){\n    missingRuleLinks += 1;\n    continue;\n  }\n  const f=getField(node.fields,ruleLinkFieldId);\n  const rid=toId(pick(f));\n  if(rid){\n    existing[rid]=String(node.id);\n  }else{\n    missingRuleLinks += 1;\n  }\n}\nstate.existingRuleIds=existing;\nif(missingRuleLinks>0){\n  runContext.metrics.prefetchInvoicesMissingRuleLink += missingRuleLinks;\n}\n\nlet hasNextPage=pageInfo.hasNextPage===true;\nlet endCursor=sanitizeCursor(pageInfo.endCursor);\nlet stopReason=null;\n\nconst MAX_PAGES=Math.max(1,Number(runContext.flags?.maxPrefetchPages || 50));\nconst callNum=runContext.metrics.invoicesPrefetchCalls + 1;\nrunContext.metrics.invoicesPrefetchCalls=callNum;\nrunContext.metrics.invoicesPrefetchCount += edges.length;\n\nif(edges.length===0){\n  hasNextPage=false;\n  stopReason='empty_page';\n}\n\nconst lastCursor=runContext.lastInvoicesPrefetchCursor ?? null;\nif(hasNextPage && endCursor===null){\n  hasNextPage=false;\n  stopReason='missing_end_cursor';\n}else if(hasNextPage && lastCursor!==null && String(endCursor)===String(lastCursor)){\n  hasNextPage=false;\n  stopReason='stuck_cursor';\n}\nrunContext.lastInvoicesPrefetchCursor=endCursor;\n\nif(callNum>=MAX_PAGES && hasNextPage){\n  hasNextPage=false;\n  stopReason='max_pages_reached';\n}\n\nreturn [{json:{\n  prefetchAfter:(hasNextPage ? endCursor : null),\n  prefetchHasNextPage:hasNextPage,\n  prefetchStopReason:stopReason\n}}];"
      },
      "position": [
        -1280,
        -336
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "3c2c469f-89d3-464e-9e8c-ac9625876097",
      "name": "Prefetch: Há próxima página?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "11a2b3c4-d5e6-4f7a-8b9c-0d1e2f3a4b5c",
              "leftValue": "={{ $json.prefetchHasNextPage === true }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -1056,
        -256
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    }
  ],
  "pinData": {},
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "mry7wCpuNRODMB5e",
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-02-27T19:57:51.163Z",
      "project": {
        "createdAt": "2025-10-27T18:38:08.229Z",
        "description": null,
        "icon": null,
        "id": "MxRYCPypQDED18DI",
        "name": "João Tarrega <jtarrega@evnt.com.br>",
        "projectRelations": [
          {
            "createdAt": "2025-10-27T18:38:08.229Z",
            "projectId": "MxRYCPypQDED18DI",
            "updatedAt": "2025-10-27T18:38:08.229Z",
            "user": {
              "createdAt": "2025-10-27T18:38:08.229Z",
              "disabled": false,
              "email": "jtarrega@evnt.com.br",
              "firstName": "João",
              "id": "5d6fdffe-4782-42b7-934d-8573fbfd859e",
              "isPending": false,
              "lastActiveAt": "2026-03-09",
              "lastName": "Tarrega",
              "mfaEnabled": true,
              "personalizationAnswers": {
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companyType": "other",
                "personalization_survey_n8n_version": "1.116.2",
                "personalization_survey_submitted_at": "2025-10-27T18:41:49.819Z",
                "version": "v4"
              },
              "settings": {
                "firstSuccessfulWorkflowId": "DimCvyUk7mhpRK7O",
                "npsSurvey": {
                  "lastShownAt": 1762550473483,
                  "responded": true
                },
                "userActivated": true,
                "userActivatedAt": 1762272334672
              },
              "updatedAt": "2026-03-09T11:15:52.534Z"
            },
            "userId": "5d6fdffe-4782-42b7-934d-8573fbfd859e"
          }
        ],
        "type": "personal",
        "updatedAt": "2025-10-27T18:41:32.999Z"
      },
      "projectId": "MxRYCPypQDED18DI",
      "role": "workflow:owner",
      "updatedAt": "2026-02-27T19:57:51.163Z",
      "workflowId": "KRYkEmSTkuVD8Nsn"
    }
  ],
  "staticData": {
    "global": {
      "existingRuleIds": {},
      "finV3Runs": {
        "9511": {
          "acc": {
            "contractVersion": "fin_v3",
            "failures": [],
            "malformedResults": 0,
            "metrics": {
              "createInvoices": 0,
              "createItems": 0,
              "invoicesPrefetchCalls": 0,
              "invoicesPrefetchCount": 0,
              "itemBatchQueries": 0,
              "itemsFetched": 0,
              "prefetchInvoicesMissingRuleLink": 0,
              "rulesEligible": 0,
              "rulesIneligible": 0,
              "rulesInvalid": 0,
              "rulesPages": 0,
              "rulesSkippedDay": 0,
              "rulesSkippedExisting": 0,
              "rulesTotal": 0,
              "unexpectedStateErrors": 0,
              "updateItemInvoiceLinks": 0,
              "updateParcelasPagas": 0
            },
            "prepSummaryCount": 0,
            "prepSummarySeen": false,
            "results": [],
            "ruleResultsReceived": 0,
            "skippedReasons": {},
            "statusCounts": {
              "failed": 0,
              "processed": 0,
              "skipped": 0
            }
          },
          "runInit": {
            "competenciaYMD": "2026-02-01",
            "executionId": "9511",
            "metrics": {
              "createInvoices": 0,
              "createItems": 0,
              "invoicesPrefetchCalls": 0,
              "invoicesPrefetchCount": 0,
              "itemBatchQueries": 0,
              "itemsFetched": 0,
              "prefetchInvoicesMissingRuleLink": 0,
              "rulesEligible": 0,
              "rulesIneligible": 0,
              "rulesInvalid": 0,
              "rulesPages": 0,
              "rulesSkippedDay": 0,
              "rulesSkippedExisting": 0,
              "rulesTotal": 0,
              "unexpectedStateErrors": 0,
              "updateItemInvoiceLinks": 0,
              "updateParcelasPagas": 0
            },
            "startedAt": "2026-03-09T12:57:14.605Z"
          }
        }
      },
      "prepRuns": {},
      "ruleTmp": null,
      "rules": [
        {
          "fields": [
            {
              "array_value": null,
              "field": {
                "id": "auto_historico_de_clientes",
                "label": "[Auto] Historico de clientes",
                "type": "long_text"
              },
              "report_value": "1259910277",
              "value": "1259910277"
            },
            {
              "array_value": null,
              "field": {
                "id": "identificador_fiscal_na_fatura",
                "label": "Identificador fiscal na fatura",
                "type": "short_text"
              },
              "report_value": "85.939.685/0001-99",
              "value": "85.939.685/0001-99"
            },
            {
              "array_value": null,
              "field": {
                "id": "tipo_de_cliente_final",
                "label": "Tipo de cliente faturado",
                "type": "radio_horizontal"
              },
              "report_value": "Afiliados e independentes",
              "value": "Afiliados e independentes"
            },
            {
              "array_value": [
                "1259910277"
              ],
              "field": {
                "id": "clientes_na_fatura",
                "label": "Clientes na fatura",
                "type": "connector"
              },
              "report_value": "teste",
              "value": "[\"teste\"]"
            },
            {
              "array_value": [
                "1259912347"
              ],
              "field": {
                "id": "contatos_que_receber_o_a_fatura",
                "label": "Contato",
                "type": "connector"
              },
              "report_value": "teste",
              "value": "[\"teste\"]"
            },
            {
              "array_value": [
                "PIX"
              ],
              "field": {
                "id": "forma_de_pagamento",
                "label": "Condições de pagamento",
                "type": "checklist_horizontal"
              },
              "report_value": "PIX",
              "value": "[\"PIX\"]"
            },
            {
              "array_value": [
                "1300499159"
              ],
              "field": {
                "id": "itens_da_fatura",
                "label": "Itens da fatura",
                "type": "connector"
              },
              "report_value": "Ajustes de fatura",
              "value": "[\"Ajustes de fatura\"]"
            },
            {
              "array_value": null,
              "field": {
                "id": "dia_de_gera_o_da_fatura",
                "label": "Dia de geração da fatura",
                "type": "radio_horizontal"
              },
              "report_value": "2",
              "value": "2"
            }
          ],
          "id": "1300499186",
          "title": "85.939.685/0001-99"
        },
        {
          "fields": [
            {
              "array_value": null,
              "field": {
                "id": "identificador_fiscal_na_fatura",
                "label": "Identificador fiscal na fatura",
                "type": "short_text"
              },
              "report_value": "02.286.568/0001-46",
              "value": "02.286.568/0001-46"
            },
            {
              "array_value": null,
              "field": {
                "id": "tipo_de_cliente_final",
                "label": "Tipo de cliente faturado",
                "type": "radio_horizontal"
              },
              "report_value": "Afiliados e independentes",
              "value": "Afiliados e independentes"
            },
            {
              "array_value": [
                "1165155968"
              ],
              "field": {
                "id": "clientes_na_fatura",
                "label": "Clientes na fatura",
                "type": "connector"
              },
              "report_value": "Unique Garden",
              "value": "[\"Unique Garden\"]"
            },
            {
              "array_value": [
                "1223592611"
              ],
              "field": {
                "id": "contatos_que_receber_o_a_fatura",
                "label": "Contato",
                "type": "connector"
              },
              "report_value": "João Bezerra",
              "value": "[\"João Bezerra\"]"
            },
            {
              "array_value": [
                "PIX"
              ],
              "field": {
                "id": "forma_de_pagamento",
                "label": "Condições de pagamento",
                "type": "checklist_horizontal"
              },
              "report_value": "PIX",
              "value": "[\"PIX\"]"
            },
            {
              "array_value": [
                "BRL"
              ],
              "field": {
                "id": "moeda_do_teto_de_faturamento",
                "label": "Moeda do teto de faturamento",
                "type": "checklist_horizontal"
              },
              "report_value": "BRL",
              "value": "[\"BRL\"]"
            },
            {
              "array_value": null,
              "field": {
                "id": "teto_de_faturamento_brl",
                "label": "Teto de faturamento (BRL)",
                "type": "currency"
              },
              "report_value": "1,400.00",
              "value": "1,400.00"
            },
            {
              "array_value": [
                "1301644943"
              ],
              "field": {
                "id": "itens_da_fatura",
                "label": "Itens da fatura",
                "type": "connector"
              },
              "report_value": "Produto",
              "value": "[\"Produto\"]"
            },
            {
              "array_value": null,
              "field": {
                "id": "auto_historico_de_clientes",
                "label": "[Auto] Historico de clientes",
                "type": "long_text"
              },
              "report_value": "1165155968",
              "value": "1165155968"
            },
            {
              "array_value": null,
              "field": {
                "id": "dia_de_gera_o_da_fatura",
                "label": "Dia de geração da fatura",
                "type": "radio_horizontal"
              },
              "report_value": "2",
              "value": "2"
            }
          ],
          "id": "1301645310",
          "title": "02.286.568/0001-46"
        }
      ],
      "run": {
        "compEnd": "2026-02-28",
        "compStart": "2026-02-01",
        "competenciaYMD": "2026-02-01",
        "errors": [],
        "flags": {},
        "lastInvoicesPrefetchCursor": null,
        "lastRulesCursor": "WzEzMDE2NDUzMTBd",
        "logs": [
          {
            "compEnd": "2026-02-28",
            "compStart": "2026-02-01",
            "competenciaYMD": "2026-02-01",
            "event": "run_init",
            "level": "info",
            "todayDay": 2,
            "ts": "2026-03-02T15:14:52.706Z"
          },
          {
            "competenciaYMD": "2026-02-01",
            "count": 0,
            "endCursor": null,
            "event": "prefetch_invoices",
            "hasNextPage": false,
            "level": "info",
            "ts": "2026-03-02T15:14:53.010Z",
            "uniqueRules": 0
          },
          {
            "eligible": 2,
            "event": "rules_eligible_built",
            "level": "info",
            "ts": "2026-03-02T15:14:53.329Z"
          }
        ],
        "metrics": {
          "createInvoices": 0,
          "createItems": 0,
          "invoicesPrefetchCalls": 1,
          "invoicesPrefetchCount": 0,
          "itemBatchQueries": 0,
          "itemsFetched": 0,
          "rulesEligible": 2,
          "rulesPages": 1,
          "rulesSkippedDay": 0,
          "rulesSkippedExisting": 0,
          "rulesTotal": 2,
          "updateInvoiceConnectors": 0,
          "updateParcelasPagas": 0
        },
        "startedAt": "2026-03-02T15:14:52.706Z",
        "timezone": "America/Sao_Paulo",
        "todayDay": 2
      }
    }
  },
  "tags": [
    {
      "createdAt": "2025-10-28T14:26:57.025Z",
      "id": "jWQLHyRjnHUkdCL1",
      "name": "Pipefy",
      "updatedAt": "2025-10-28T14:26:57.025Z"
    },
    {
      "createdAt": "2025-11-10T13:15:26.055Z",
      "id": "XyK45Idu3SHOnbVr",
      "name": "Automação de pipe",
      "updatedAt": "2025-11-10T13:15:58.540Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-09T12:58:44.624Z",
  "versionId": "eeb5c5cd-9662-409b-9eb4-d4ea91cb07a0"
}