raw/n8n/workflows/m8Xz5K0kg6Gq4NK5.json
{
  "active": true,
  "connections": {
    "Card criado ou campo válido modificado?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Pegar informação do card",
            "type": "main"
          }
        ]
      ]
    },
    "Criar query": {
      "main": [
        [
          {
            "index": 0,
            "node": "Atualizar card no Pipefy",
            "type": "main"
          }
        ]
      ]
    },
    "Dados do card": {
      "main": [
        [
          {
            "index": 0,
            "node": "Definir prioridade",
            "type": "main"
          }
        ]
      ]
    },
    "Definir prioridade": {
      "main": [
        [
          {
            "index": 0,
            "node": "Criar query",
            "type": "main"
          }
        ]
      ]
    },
    "Pegar informação do card": {
      "main": [
        [
          {
            "index": 0,
            "node": "Dados do card",
            "type": "main"
          }
        ]
      ]
    },
    "Tarefa/projeto criada/atualizada": {
      "main": [
        [
          {
            "index": 0,
            "node": "Card criado ou campo válido modificado?",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-07T13:42:28.186Z",
  "id": "m8Xz5K0kg6Gq4NK5",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[PRO] Tarefas e projetos",
  "nodes": [
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "3c70fe44-9280-4917-860f-58b4957c09d4",
      "maxTries": 5,
      "name": "Pegar informação do card",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query GetCardFields($cardId: ID!) {\n  card(id: $cardId) {\n    id\n    title\n    pipe {\n    id\n    name\n    }\n    fields {\n      field {\n        id\n        label\n        type\n      }\n      value          # human-readable value\n      report_value   # normalized value (useful for numbers/selects)\n      array_value\n    }\n  }\n}",
        "variables": "={\n  \"cardId\": \"{{ $json.body.data.card.id }}\"\n}"
      },
      "position": [
        -1328,
        400
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "ab5ebecc-9c61-4556-a654-677b3771619b",
      "name": "Dados do card",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "name": "esforcoEstimado",
              "type": "string",
              "value": "={{\n(() => {\n const fields = $json.data?.card?.fields || [];\n const f = fields.find(x => (x.field?.id || x.indexName || \"\") === \"esfor_o_estimado\");\n const arr = Array.isArray(f?.array_value)\n ? f.array_value\n : f?.value != null\n ? [f.value]\n : [];\n return arr\n .map(v => (typeof v === \"string\" ? v.trim() : String(v)))\n .filter(Boolean)\n .join(\", \");\n})()\n}}"
            },
            {
              "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
              "name": "retornoEstimado",
              "type": "string",
              "value": "={{\n(() => {\n const fields = $json.data?.card?.fields || [];\n const f = fields.find(x => (x.field?.id || x.indexName || \"\") === \"retorno_estimado\");\n const arr = Array.isArray(f?.array_value)\n ? f.array_value\n : f?.value != null\n ? [f.value]\n : [];\n return arr\n .map(v => (typeof v === \"string\" ? v.trim() : String(v)))\n .filter(Boolean)\n .join(\", \");\n})()\n}}"
            },
            {
              "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
              "name": "idProjetoAssociado",
              "type": "string",
              "value": "={{\n(() => {\n const fields = $json.data?.card?.fields || [];\n const action = $('Tarefa/projeto criada/atualizada').item.json.body.data.action;\n \n // Determine which field to search for based on action\n let fieldToSearch = \"projeto_associado\";\n \n if (action === \"card.create\") {\n   fieldToSearch = \"id_do_projeto_associado\";\n }\n \n // First, try to find the determined field and get its array_value[0]\n const projetoAssociado = fields.find(x => (x.field?.id || x.indexName || \"\") === fieldToSearch);\n \n if (projetoAssociado?.array_value?.[0] != null) {\n   const value = String(projetoAssociado.array_value[0]).trim();\n   // Check if it's an empty array string\n   if (value !== \"\" && value !== \"[]\") {\n     return value;\n   }\n }\n \n // If not found or array_value doesn't exist, look for the same field's value property\n const idProjeto = fields.find(x => (x.field?.id || x.indexName || \"\") === fieldToSearch);\n \n if (idProjeto?.value != null) {\n   const value = String(idProjeto.value).trim();\n   // Check if it's an empty array string\n   if (value !== \"\" && value !== \"[]\") {\n     return value;\n   }\n }\n \n // If neither is found or both are empty/[], return empty string\n return \"\";\n})()\n}}"
            },
            {
              "id": "752c25d9-05b7-4373-981d-734312fc7525",
              "name": "idTarefaPrincipal",
              "type": "string",
              "value": "={{\n(() => {\n  const fields = $json.data?.card?.fields || [];\n  const action = $('Tarefa/projeto criada/atualizada').item.json.body?.data?.action; // mantido, caso queira usar depois\n\n  // Substitui a lógica de \"projeto\" por \"tarefa principal\"\n  const fieldToSearch = \"id_da_tarefa_principal\";\n\n  const field = fields.find(f => (f.field?.id || f.indexName || \"\") === fieldToSearch);\n\n  const normalize = (v) => {\n    if (v == null) return \"\";\n    const s = String(v).trim();\n    return (s !== \"\" && s !== \"[]\") ? s : \"\";\n  };\n\n  // Prioriza array_value[0] (quando existir), senão cai no value\n  return normalize(field?.array_value?.[0]) || normalize(field?.value) || \"\";\n})()\n}}"
            },
            {
              "id": "33dc0eef-d5f2-4131-a613-cb313bc5970a",
              "name": "cardId",
              "type": "string",
              "value": "={{ $json.data.card.id }}"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "position": [
        -1104,
        400
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "fb23472e-1c7e-4b09-bf61-0bb22f0e83a8",
      "name": "Definir prioridade",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c45814-8994-430e-8285-8c60279391b1",
              "name": "prioridade",
              "type": "number",
              "value": "={{\n  ($json.idProjetoAssociado !== null && $json.idProjetoAssociado !== undefined && $json.idProjetoAssociado !== '') \n    ? '-1' \n    : $json.esforcoEstimado === 'Baixo' && $json.retornoEstimado === 'Baixo' ? 40\n    : $json.esforcoEstimado === 'Baixo' && $json.retornoEstimado === 'Médio' ? 70\n    : $json.esforcoEstimado === 'Baixo' && $json.retornoEstimado === 'Alto' ? 100\n    : $json.esforcoEstimado === 'Médio' && $json.retornoEstimado === 'Baixo' ? 25\n    : $json.esforcoEstimado === 'Médio' && $json.retornoEstimado === 'Médio' ? 55\n    : $json.esforcoEstimado === 'Médio' && $json.retornoEstimado === 'Alto' ? 85\n    : $json.esforcoEstimado === 'Alto' && $json.retornoEstimado === 'Baixo' ? 5\n    : $json.esforcoEstimado === 'Alto' && $json.retornoEstimado === 'Médio' ? 35\n    : $json.esforcoEstimado === 'Alto' && $json.retornoEstimado === 'Alto' ? 65\n    : 0\n}}"
            },
            {
              "id": "3a62f905-fd71-48c2-b206-3486a1bea269",
              "name": "categoriaId",
              "type": "string",
              "value": "={{\n(() => {\n  const pipeId = $('Pegar informação do card').item.json.data.card.pipe.id;\n  const dados = $('Dados do card').item.json;\n\n  const hasValue = (v) => v !== null && v !== undefined && String(v).trim() !== '';\n\n  const hasProjeto = hasValue(dados.idProjetoAssociado);\n  const hasTarefa  = hasValue(dados.idTarefaPrincipal); // ✅ apenas este campo\n\n  const TAG_SUBTAREFA = '317187179';\n\n  const tagProjeto =\n    pipeId == 306877425 ? '317083825' :\n    pipeId == 306877345 ? '317083521' :\n    '';\n\n  let tagPrioridade = '';\n\n  if (pipeId == 306877425) {\n    tagPrioridade =\n      dados.esforcoEstimado === 'Baixo' && dados.retornoEstimado === 'Baixo' ? '317083822' :\n      dados.esforcoEstimado === 'Baixo' && dados.retornoEstimado === 'Médio' ? '317083821' :\n      dados.esforcoEstimado === 'Baixo' && dados.retornoEstimado === 'Alto'  ? '317083820' :\n      dados.esforcoEstimado === 'Médio' && dados.retornoEstimado === 'Baixo' ? '317083823' :\n      dados.esforcoEstimado === 'Médio' && dados.retornoEstimado === 'Médio' ? '317083822' :\n      dados.esforcoEstimado === 'Médio' && dados.retornoEstimado === 'Alto'  ? '317083821' :\n      dados.esforcoEstimado === 'Alto'  && dados.retornoEstimado === 'Baixo' ? '317083824' :\n      dados.esforcoEstimado === 'Alto'  && dados.retornoEstimado === 'Médio' ? '317083823' :\n      dados.esforcoEstimado === 'Alto'  && dados.retornoEstimado === 'Alto'  ? '317083822' :\n      '';\n  } else if (pipeId == 306877345) {\n    tagPrioridade =\n      dados.esforcoEstimado === 'Baixo' && dados.retornoEstimado === 'Baixo' ? '317083529' :\n      dados.esforcoEstimado === 'Baixo' && dados.retornoEstimado === 'Médio' ? '317083526' :\n      dados.esforcoEstimado === 'Baixo' && dados.retornoEstimado === 'Alto'  ? '317083521' :\n      dados.esforcoEstimado === 'Médio' && dados.retornoEstimado === 'Baixo' ? '317083530' :\n      dados.esforcoEstimado === 'Médio' && dados.retornoEstimado === 'Médio' ? '317083529' :\n      dados.esforcoEstimado === 'Médio' && dados.retornoEstimado === 'Alto'  ? '317083526' :\n      dados.esforcoEstimado === 'Alto'  && dados.retornoEstimado === 'Baixo' ? '317083541' :\n      dados.esforcoEstimado === 'Alto'  && dados.retornoEstimado === 'Médio' ? '317083530' :\n      dados.esforcoEstimado === 'Alto'  && dados.retornoEstimado === 'Alto'  ? '317083529' :\n      '';\n  }\n\n  // fallback (só relevante nos cenários que usam prioridade)\n  if (!hasValue(tagPrioridade)) {\n    tagPrioridade =\n      pipeId == 306877425 ? '317083822' :\n      pipeId == 306877345 ? '317083529' :\n      '';\n  }\n\n  // Regras\n  let tags = [];\n  const hasTagProjeto = hasProjeto && hasValue(tagProjeto);\n\n  if (hasTagProjeto) {\n    // projeto -> só projeto | projeto + tarefa -> projeto + subtarefa\n    tags = hasTarefa ? [tagProjeto, TAG_SUBTAREFA] : [tagProjeto];\n  } else if (hasTarefa) {\n    // sem projeto + tarefa -> subtarefa + prioridade\n    tags = [TAG_SUBTAREFA, tagPrioridade];\n  } else {\n    // sem projeto e sem tarefa -> só prioridade\n    tags = [tagPrioridade];\n  }\n\n  return Array.from(new Set(tags.filter(hasValue))).slice(0, 3);\n})()\n}}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -880,
        400
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "79833267-d520-456f-8d39-00008e9a64b4",
      "maxTries": 3,
      "name": "Atualizar card no Pipefy",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "={{ $json.query }}",
        "variables": "={{ $json.queryVariables }}"
      },
      "position": [
        -432,
        400
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "0431a086-f18c-4848-8cd3-410b344b0d6d",
      "name": "Card criado ou campo válido modificado?",
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "b6e698a5-f63e-40d6-9a84-de4acf9345c2",
              "leftValue": "={{ $json.body.data.action }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "card.create"
            },
            {
              "id": "e163717f-db36-461c-857d-3f42b49e0b55",
              "leftValue": "={{ $json.body.data.action == \"card.field_update\" && (($json.body.data.field.id == \"esfor_o_estimado\" || $json.body.data.field.id == \"retorno_estimado\" || $json.body.data.field.id == \"projeto_associado\") || ($json.body.data.field.id == \"recalcular_prioridade\" && $json.body.data.new_value == \"Sim\")) }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -1552,
        400
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "3f2d3314-9974-4e77-984c-159126794686",
      "name": "Criar query",
      "parameters": {
        "jsCode": "const prioridade = $input.item.json.prioridade;\nconst categoriaIdRaw = $input.item.json.categoriaId; // ✅ agora normalmente vem como array (ex.: [\"id1\",\"id2\"])\nconst cardId = $('Dados do card').item.json.cardId;\nconst idProjetoAssociado = $('Dados do card').item.json.idProjetoAssociado;\nconst action = $('Tarefa/projeto criada/atualizada').item.json.body.data.action;\n\nconst hasValue = (v) => v !== null && v !== undefined && String(v).trim() !== '';\n\nconst includePrioridade =\n  hasValue(prioridade) &&\n  Number(prioridade) >= 0 &&\n  Number(prioridade) <= 100;\n\nconst isCardCreate = action === \"card.create\";\n\nconst hasProjetoAssociado =\n  idProjetoAssociado !== undefined &&\n  idProjetoAssociado !== null &&\n  (typeof idProjetoAssociado !== \"string\" || idProjetoAssociado.trim() !== \"\");\n\n// Normaliza para array SEMPRE, priorizando o novo formato (array)\nconst normalizeCategoriaIds = (raw) => {\n  if (raw === null || raw === undefined) return [];\n\n  // ✅ novo formato esperado\n  if (Array.isArray(raw)) return raw;\n\n  const s = String(raw).trim();\n  if (s === \"\" || s === \"[]\") return [];\n\n  // cobre string exibida às vezes como: [Array: [\"a\",\"b\"]]\n  if (s.startsWith(\"[Array:\")) {\n    const start = s.indexOf(\"[\", 7);\n    const end = s.lastIndexOf(\"]\");\n    if (start !== -1 && end !== -1 && end > start) {\n      const inner = s.slice(start, end + 1);\n      try {\n        const parsed = JSON.parse(inner);\n        if (Array.isArray(parsed)) return parsed;\n      } catch (e) {}\n    }\n  }\n\n  // JSON array em string: '[\"a\",\"b\"]'\n  if (s.startsWith(\"[\") && s.endsWith(\"]\")) {\n    try {\n      const parsed = JSON.parse(s);\n      if (Array.isArray(parsed)) return parsed;\n    } catch (e) {}\n  }\n\n  // string no formato `\"a\",\"b\"` ou `a,b` ou `\"a\"`\n  return s\n    .replace(/^\\[|\\]$/g, \"\")\n    .split(\",\")\n    .map(v => v.trim())\n    .filter(v => v !== \"\");\n};\n\n// Converte array -> literal GraphQL: `\"a\",\"b\"`\nconst buildCategoriaListLiteral = (raw) => {\n  const ids = normalizeCategoriaIds(raw)\n    .map(v => String(v).trim())\n    .filter(v => v !== \"\" && v !== \"[]\")\n    .map(v => v.replace(/^\"|\"$/g, \"\")); // remove aspas externas se vierem\n\n  const unique = Array.from(new Set(ids)).slice(0, 3); // segurança extra\n\n  return unique.map(v => `\"${v}\"`).join(\",\");\n};\n\nconst categoriaListLiteral = buildCategoriaListLiteral(categoriaIdRaw);\n\nlet mutation = `mutation UpdateCardFields($cardId: ID!) {`;\n\nif (includePrioridade) {\n  mutation += `\n  updateCardField(input: {card_id: $cardId field_id: \"prioridade\" new_value: \"${Number(prioridade)}\"}) {\n    card {id}\n    success\n  }`;\n}\n\nmutation += `\n  updateCardField2: updateCardField(input: {card_id: $cardId field_id: \"categoria_de_prioridade\" new_value: [${categoriaListLiteral}]}) {\n    card {id}\n    success\n  }`;\n\nif (isCardCreate && hasProjetoAssociado) {\n  mutation += `\n  updateCardField3: updateCardField(input: {card_id: $cardId field_id: \"projeto_associado\" new_value: \"${idProjetoAssociado}\"}) {\n    card {id}\n    success\n  }`;\n}\n\nmutation += `\n}`;\n\nconst queryVariables = { cardId };\n\nreturn {\n  query: mutation,\n  queryVariables,\n};"
      },
      "position": [
        -656,
        400
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "httpHeaderAuth": {
          "id": "k0rDRzgBCkgdGEpt",
          "name": "Pipefy Webhook Header"
        }
      },
      "id": "0ad1c434-bc37-45e5-aa50-177c659525c9",
      "name": "Tarefa/projeto criada/atualizada",
      "notesInFlow": true,
      "parameters": {
        "authentication": "headerAuth",
        "httpMethod": "POST",
        "options": {},
        "path": "a04a27f8-43c4-4451-99d0-aeaa050238f8"
      },
      "position": [
        -1776,
        400
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "a04a27f8-43c4-4451-99d0-aeaa050238f8"
    }
  ],
  "pinData": {
    "Tarefa/projeto criada/atualizada": [
      {
        "json": {
          "body": {
            "data": {
              "action": "card.create",
              "card": {
                "id": 1288964328,
                "pipe_id": "f2K8Mx0b",
                "title": "teste"
              },
              "created_by": {
                "avatar_url": "https://app.pipefy.com/storage/v1/signed/avatar/store/user/306441124/avatar/small-ba8e8295694612a530bd18351d610f99.jpg?expires_on=1769543043&signature=DW4WriJyYI%2BYaRGGmCJ1JCTrbxbe4cQFx0gKNC4QjkU%3D",
                "email": "jtarrega@evnt.com.br",
                "id": 306441124,
                "name": "João Tarrega",
                "username": "joaotarrega"
              },
              "on_phase": {
                "id": 341596085,
                "name": "Backlog"
              }
            }
          },
          "executionMode": "production",
          "headers": {
            "connection": "close",
            "content-length": "469",
            "content-type": "application/json",
            "host": "n8n.evnt.com.br",
            "pipefy-webhook-token": "1I04K6ukazSRd96D5Mht1yzYLOaewHCTYQwtwy6DbEijdoBtTLjfsiNOFyrReseTdkcOEA5Nw9PFebHfXIyfHGu8rYLOZsV7O2zCug2fMumf8cq1XqIzHvv9WPTq4YD6wpyTCb8TmoGs9dedebvTh3KfrVqvxFLkmEdlUgXUIuAPIsBOT2c7cJ6wzaAP1iGZE9BANVlNwAJTHoRCGi7CBL9xo7Hr179SNdQmFEM2NgT8ItprCRHbGUDObKYBDtYlJDZTBxDV5i2Sfr8xVHkl08YrMQ5ZGJ3n8c9WI8Hx3DcYHiQyU846gAhru6GJkrvc91GXY1E4CAkoZ2Q4btxosOOiadXIf2EC77vHce5MX7R3SrF0T0SCBc1GNrUnBaj3fOcQ3pEYYWGDrvRfoszC5zuSFzRWpQeio91TkamjyrRBOq8KgLQOGL2J1EnpbVjzHBmfudrj7n8xRR4fudSLA7hBVKLqsrRZGpsg0OLqy5Wfn148KQbiz1S5gI6xEhwW",
            "traceparent": "00-897d5c9b662e785eaee2563986004cfd-ddc1895bcf17496d-00",
            "x-forwarded-for": "129.153.135.244",
            "x-forwarded-proto": "https",
            "x-real-ip": "129.153.135.244"
          },
          "params": {},
          "query": {},
          "webhookUrl": "https://n8n.evnt.com.br/webhook/a04a27f8-43c4-4451-99d0-aeaa050238f8"
        }
      }
    ]
  },
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "mry7wCpuNRODMB5e",
    "executionOrder": "v1",
    "timeSavedPerExecution": 5
  },
  "shared": [
    {
      "createdAt": "2026-01-07T13:42:28.186Z",
      "project": {
        "createdAt": "2025-10-27T18:38:08.229Z",
        "description": null,
        "icon": null,
        "id": "MxRYCPypQDED18DI",
        "name": "João Tarrega <jtarrega@evnt.com.br>",
        "projectRelations": [
          {
            "createdAt": "2025-10-27T18:38:08.229Z",
            "projectId": "MxRYCPypQDED18DI",
            "updatedAt": "2025-10-27T18:38:08.229Z",
            "user": {
              "createdAt": "2025-10-27T18:38:08.229Z",
              "disabled": false,
              "email": "jtarrega@evnt.com.br",
              "firstName": "João",
              "id": "5d6fdffe-4782-42b7-934d-8573fbfd859e",
              "isPending": false,
              "lastActiveAt": "2026-03-09",
              "lastName": "Tarrega",
              "mfaEnabled": true,
              "personalizationAnswers": {
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companyType": "other",
                "personalization_survey_n8n_version": "1.116.2",
                "personalization_survey_submitted_at": "2025-10-27T18:41:49.819Z",
                "version": "v4"
              },
              "settings": {
                "firstSuccessfulWorkflowId": "DimCvyUk7mhpRK7O",
                "npsSurvey": {
                  "lastShownAt": 1762550473483,
                  "responded": true
                },
                "userActivated": true,
                "userActivatedAt": 1762272334672
              },
              "updatedAt": "2026-03-09T11:15:52.534Z"
            },
            "userId": "5d6fdffe-4782-42b7-934d-8573fbfd859e"
          }
        ],
        "type": "personal",
        "updatedAt": "2025-10-27T18:41:32.999Z"
      },
      "projectId": "MxRYCPypQDED18DI",
      "role": "workflow:owner",
      "updatedAt": "2026-01-07T13:42:28.186Z",
      "workflowId": "m8Xz5K0kg6Gq4NK5"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-28T14:26:57.025Z",
      "id": "jWQLHyRjnHUkdCL1",
      "name": "Pipefy",
      "updatedAt": "2025-10-28T14:26:57.025Z"
    },
    {
      "createdAt": "2025-11-10T13:15:26.055Z",
      "id": "XyK45Idu3SHOnbVr",
      "name": "Automação de pipe",
      "updatedAt": "2025-11-10T13:15:58.540Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-27T19:44:20.962Z",
  "versionId": "cbee4962-4d84-4a70-87cd-2eaf668fd787"
}