raw/n8n/workflows/mry7wCpuNRODMB5e.json
{
  "active": false,
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Prepare message",
            "type": "main"
          }
        ]
      ]
    },
    "Prepare message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send email",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-13T13:22:32.053Z",
  "id": "mry7wCpuNRODMB5e",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Error workflow",
  "nodes": [
    {
      "id": "cbb90f3b-57f5-496b-b1ff-6b9f0aec6245",
      "name": "Error Trigger",
      "parameters": {},
      "position": [
        96,
        -32
      ],
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1
    },
    {
      "id": "932a0285-261f-40dd-90e0-f02e0602f298",
      "name": "Prepare message",
      "parameters": {
        "jsCode": "// n8n Error Information Processor for Notifications\n// Place this code in a Code node connected after an Error Trigger node\n\n// Get all input items (error data from Error Trigger)\nconst items = $input.all();\n\n// Process each error item\nconst processedErrors = items.map((item, index) => {\n  const data = item.json;\n  \n  // Determine if this is a trigger error or execution error\n  const isTriggerError = !!data.trigger;\n  \n  // Extract common information\n  const workflowInfo = {\n    id: data.workflow?.id || 'Unknown',\n    name: data.workflow?.name || 'Unknown Workflow'\n  };\n  \n  let errorDetails = {};\n  let severity = 'ERROR';\n  \n  if (isTriggerError) {\n    // Handle trigger node errors\n    const triggerError = data.trigger?.error || {};\n    \n    errorDetails = {\n      errorType: 'TRIGGER_ERROR',\n      severity: 'CRITICAL',\n      timestamp: triggerError.timestamp ? new Date(triggerError.timestamp).toISOString() : new Date().toISOString(),\n      errorName: triggerError.name || 'Unknown Error',\n      errorMessage: triggerError.message || triggerError.cause?.message || 'No error message available',\n      stackTrace: triggerError.stack || triggerError.cause?.stack || 'No stack trace available',\n      mode: data.trigger?.mode || 'trigger',\n      nodeName: triggerError.node?.name || 'Trigger Node',\n      nodeType: triggerError.node?.type || 'Unknown'\n    };\n    \n    severity = 'CRITICAL';\n    \n  } else {\n    // Handle execution errors\n    const execution = data.execution || {};\n    const error = execution.error || {};\n    \n    errorDetails = {\n      errorType: 'EXECUTION_ERROR',\n      severity: 'ERROR',\n      timestamp: new Date().toISOString(),\n      executionId: execution.id || 'Not saved',\n      executionUrl: execution.url || 'Not available',\n      retryOf: execution.retryOf || null,\n      errorMessage: error.message || 'No error message available',\n      stackTrace: error.stack || 'No stack trace available',\n      lastNodeExecuted: execution.lastNodeExecuted || 'Unknown',\n      executionMode: execution.mode || 'Unknown'\n    };\n    \n    // Adjust severity if this is a retry\n    severity = execution.retryOf ? 'WARNING' : 'ERROR';\n  }\n  \n  // Build a human-readable notification message\n  const notificationMessage = buildNotificationMessage(\n    workflowInfo,\n    errorDetails,\n    isTriggerError\n  );\n  \n  // Return structured data for notification systems\n  return {\n    json: {\n      // Notification-ready fields\n      title: `🚨 Workflow Error: ${workflowInfo.name}`,\n      message: notificationMessage,\n      severity: severity,\n      timestamp: errorDetails.timestamp,\n      \n      // Detailed information\n      workflow: workflowInfo,\n      error: errorDetails,\n      \n      // Quick action fields\n      needsAttention: !errorDetails.retryOf,\n      canRetry: !isTriggerError && errorDetails.executionId !== 'Not saved',\n      \n      // Raw data for advanced processing\n      rawErrorData: data,\n      \n      // Formatted for different notification platforms\n      formatted: {\n        slack: formatForSlack(workflowInfo, errorDetails, isTriggerError),\n        email: formatForEmail(workflowInfo, errorDetails, isTriggerError),\n        discord: formatForDiscord(workflowInfo, errorDetails, isTriggerError),\n        teams: formatForTeams(workflowInfo, errorDetails, isTriggerError)\n      }\n    }\n  };\n});\n\n// Helper function to build notification message\nfunction buildNotificationMessage(workflow, error, isTrigger) {\n  let message = `Workflow: ${workflow.name} (ID: ${workflow.id})\\n`;\n  message += `Time: ${error.timestamp}\\n`;\n  message += `Severity: ${error.severity}\\n\\n`;\n  \n  if (isTrigger) {\n    message += `❌ Trigger Activation Failed\\n`;\n    message += `Node: ${error.nodeName}\\n`;\n    message += `Type: ${error.nodeType}\\n`;\n  } else {\n    message += `❌ Execution Failed\\n`;\n    message += `Execution ID: ${error.executionId}\\n`;\n    message += `Last Node: ${error.lastNodeExecuted}\\n`;\n    message += `Mode: ${error.executionMode}\\n`;\n    if (error.retryOf) {\n      message += `⚠️ This is a retry of execution: ${error.retryOf}\\n`;\n    }\n  }\n  \n  message += `\\nError: ${error.errorMessage}\\n`;\n  \n  // Add execution URL if available\n  if (error.executionUrl && error.executionUrl !== 'Not available') {\n    message += `\\n🔗 View execution: ${error.executionUrl}`;\n  }\n  \n  return message;\n}\n\n// Format for Slack\nfunction formatForSlack(workflow, error, isTrigger) {\n  const emoji = error.severity === 'CRITICAL' ? ':fire:' : ':x:';\n  \n  return {\n    text: `${emoji} Workflow Error: ${workflow.name}`,\n    blocks: [\n      {\n        type: \"header\",\n        text: {\n          type: \"plain_text\",\n          text: `${emoji} Workflow Error Alert`,\n          emoji: true\n        }\n      },\n      {\n        type: \"section\",\n        fields: [\n          {\n            type: \"mrkdwn\",\n            text: `*Workflow:*\\n${workflow.name}`\n          },\n          {\n            type: \"mrkdwn\",\n            text: `*Severity:*\\n${error.severity}`\n          },\n          {\n            type: \"mrkdwn\",\n            text: `*Time:*\\n${error.timestamp}`\n          },\n          {\n            type: \"mrkdwn\",\n            text: isTrigger ? `*Node:*\\n${error.nodeName}` : `*Last Node:*\\n${error.lastNodeExecuted}`\n          }\n        ]\n      },\n      {\n        type: \"section\",\n        text: {\n          type: \"mrkdwn\",\n          text: `*Error Message:*\\n\\`\\`\\`${error.errorMessage}\\`\\`\\``\n        }\n      }\n    ]\n  };\n}\n\n// Format for Email\nfunction formatForEmail(workflow, error, isTrigger) {\n  return {\n    subject: `🚨 n8n Workflow Error: ${workflow.name}`,\n    html: `\n      <div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n        <div style=\"background-color: #f44336; color: white; padding: 20px; border-radius: 5px 5px 0 0;\">\n          <h2 style=\"margin: 0;\">🚨 Workflow Error Alert</h2>\n        </div>\n        <div style=\"background-color: #f5f5f5; padding: 20px; border-radius: 0 0 5px 5px;\">\n          <h3>${workflow.name}</h3>\n          <table style=\"width: 100%; border-collapse: collapse;\">\n            <tr>\n              <td style=\"padding: 8px; font-weight: bold;\">Workflow ID:</td>\n              <td style=\"padding: 8px;\">${workflow.id}</td>\n            </tr>\n            <tr>\n              <td style=\"padding: 8px; font-weight: bold;\">Severity:</td>\n              <td style=\"padding: 8px;\"><span style=\"background-color: #f44336; color: white; padding: 4px 8px; border-radius: 3px;\">${error.severity}</span></td>\n            </tr>\n            <tr>\n              <td style=\"padding: 8px; font-weight: bold;\">Time:</td>\n              <td style=\"padding: 8px;\">${error.timestamp}</td>\n            </tr>\n            ${isTrigger ? `\n            <tr>\n              <td style=\"padding: 8px; font-weight: bold;\">Node:</td>\n              <td style=\"padding: 8px;\">${error.nodeName}</td>\n            </tr>\n            ` : `\n            <tr>\n              <td style=\"padding: 8px; font-weight: bold;\">Execution ID:</td>\n              <td style=\"padding: 8px;\">${error.executionId}</td>\n            </tr>\n            <tr>\n              <td style=\"padding: 8px; font-weight: bold;\">Last Node:</td>\n              <td style=\"padding: 8px;\">${error.lastNodeExecuted}</td>\n            </tr>\n            `}\n          </table>\n          <div style=\"margin-top: 20px; padding: 15px; background-color: white; border-left: 4px solid #f44336; border-radius: 3px;\">\n            <h4 style=\"margin-top: 0;\">Error Message:</h4>\n            <pre style=\"background-color: #f5f5f5; padding: 10px; border-radius: 3px; overflow-x: auto;\">${error.errorMessage}</pre>\n          </div>\n          ${error.executionUrl && error.executionUrl !== 'Not available' ? `\n          <div style=\"margin-top: 20px; text-align: center;\">\n            <a href=\"${error.executionUrl}\" style=\"display: inline-block; background-color: #2196F3; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;\">View Execution</a>\n          </div>\n          ` : ''}\n        </div>\n      </div>\n    `,\n    text: buildNotificationMessage(workflow, error, isTrigger)\n  };\n}\n\n// Format for Discord\nfunction formatForDiscord(workflow, error, isTrigger) {\n  const color = error.severity === 'CRITICAL' ? 0xFF0000 : error.severity === 'ERROR' ? 0xFF5722 : 0xFFC107;\n  \n  return {\n    embeds: [{\n      title: \"🚨 Workflow Error Alert\",\n      description: `**${workflow.name}** has encountered an error`,\n      color: color,\n      fields: [\n        {\n          name: \"Workflow ID\",\n          value: workflow.id,\n          inline: true\n        },\n        {\n          name: \"Severity\",\n          value: error.severity,\n          inline: true\n        },\n        {\n          name: \"Timestamp\",\n          value: error.timestamp,\n          inline: false\n        },\n        {\n          name: isTrigger ? \"Node\" : \"Last Node\",\n          value: isTrigger ? error.nodeName : error.lastNodeExecuted,\n          inline: true\n        },\n        {\n          name: \"Error Message\",\n          value: `\\`\\`\\`${error.errorMessage.substring(0, 1000)}\\`\\`\\``,\n          inline: false\n        }\n      ],\n      timestamp: error.timestamp\n    }]\n  };\n}\n\n// Format for Microsoft Teams\nfunction formatForTeams(workflow, error, isTrigger) {\n  return {\n    \"@type\": \"MessageCard\",\n    \"@context\": \"https://schema.org/extensions\",\n    \"summary\": `Workflow Error: ${workflow.name}`,\n    \"themeColor\": \"FF0000\",\n    \"title\": \"🚨 Workflow Error Alert\",\n    \"sections\": [\n      {\n        \"activityTitle\": workflow.name,\n        \"activitySubtitle\": `Severity: ${error.severity}`,\n        \"facts\": [\n          {\n            \"name\": \"Workflow ID:\",\n            \"value\": workflow.id\n          },\n          {\n            \"name\": \"Time:\",\n            \"value\": error.timestamp\n          },\n          {\n            \"name\": isTrigger ? \"Node:\" : \"Last Node:\",\n            \"value\": isTrigger ? error.nodeName : error.lastNodeExecuted\n          },\n          {\n            \"name\": \"Error:\",\n            \"value\": error.errorMessage\n          }\n        ],\n        \"markdown\": true\n      }\n    ],\n    \"potentialAction\": error.executionUrl && error.executionUrl !== 'Not available' ? [\n      {\n        \"@type\": \"OpenUri\",\n        \"name\": \"View Execution\",\n        \"targets\": [\n          {\n            \"os\": \"default\",\n            \"uri\": error.executionUrl\n          }\n        ]\n      }\n    ] : []\n  };\n}\n\n// Return processed items\nreturn processedErrors;"
      },
      "position": [
        304,
        -32
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "smtp": {
          "id": "iWg0WXd7TTvhg0q1",
          "name": "SMTP account"
        }
      },
      "id": "6090fac6-0815-4f4e-a008-0fcc5c5d9151",
      "name": "Send email",
      "parameters": {
        "fromEmail": "n8n",
        "html": "={{ $json.message }}",
        "options": {},
        "subject": "={{ $json.title }} - {{ $json.severity }} - {{ $json.timestamp }}",
        "toEmail": "jtarrega@evnt.com.br"
      },
      "position": [
        512,
        -32
      ],
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "webhookId": "fb786c5d-f539-4b41-8dd1-3eb495135837"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-01-13T13:22:32.053Z",
      "project": {
        "createdAt": "2025-10-27T18:38:08.229Z",
        "description": null,
        "icon": null,
        "id": "MxRYCPypQDED18DI",
        "name": "João Tarrega <jtarrega@evnt.com.br>",
        "projectRelations": [
          {
            "createdAt": "2025-10-27T18:38:08.229Z",
            "projectId": "MxRYCPypQDED18DI",
            "updatedAt": "2025-10-27T18:38:08.229Z",
            "user": {
              "createdAt": "2025-10-27T18:38:08.229Z",
              "disabled": false,
              "email": "jtarrega@evnt.com.br",
              "firstName": "João",
              "id": "5d6fdffe-4782-42b7-934d-8573fbfd859e",
              "isPending": false,
              "lastActiveAt": "2026-03-09",
              "lastName": "Tarrega",
              "mfaEnabled": true,
              "personalizationAnswers": {
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companyType": "other",
                "personalization_survey_n8n_version": "1.116.2",
                "personalization_survey_submitted_at": "2025-10-27T18:41:49.819Z",
                "version": "v4"
              },
              "settings": {
                "firstSuccessfulWorkflowId": "DimCvyUk7mhpRK7O",
                "npsSurvey": {
                  "lastShownAt": 1762550473483,
                  "responded": true
                },
                "userActivated": true,
                "userActivatedAt": 1762272334672
              },
              "updatedAt": "2026-03-09T11:15:52.534Z"
            },
            "userId": "5d6fdffe-4782-42b7-934d-8573fbfd859e"
          }
        ],
        "type": "personal",
        "updatedAt": "2025-10-27T18:41:32.999Z"
      },
      "projectId": "MxRYCPypQDED18DI",
      "role": "workflow:owner",
      "updatedAt": "2026-01-13T13:22:32.053Z",
      "workflowId": "mry7wCpuNRODMB5e"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-09T17:47:48.390Z",
  "versionId": "e1e13125-8c0b-4696-a3f3-06648fedf85d"
}