raw/n8n/workflows/p5vgT5mHVbaM4qoq.json
{
  "active": false,
  "connections": {
    "Card criado ou campo válido modificado?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Pegar informação do card",
            "type": "main"
          }
        ]
      ]
    },
    "Criar query": {
      "main": [
        [
          {
            "index": 0,
            "node": "Atualizar card no Pipefy",
            "type": "main"
          }
        ]
      ]
    },
    "Dados do card": {
      "main": [
        [
          {
            "index": 0,
            "node": "Definir prioridade",
            "type": "main"
          }
        ]
      ]
    },
    "Definir prioridade": {
      "main": [
        [
          {
            "index": 0,
            "node": "Criar query",
            "type": "main"
          }
        ]
      ]
    },
    "Pegar informação do card": {
      "main": [
        [
          {
            "index": 0,
            "node": "Dados do card",
            "type": "main"
          }
        ]
      ]
    },
    "Tarefa criada/atualizada em PRO-02": {
      "main": [
        [
          {
            "index": 0,
            "node": "Card criado ou campo válido modificado?",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-12T18:14:00.940Z",
  "id": "p5vgT5mHVbaM4qoq",
  "isArchived": true,
  "meta": null,
  "name": "[PRO-01] Projetos",
  "nodes": [
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "14b14060-2873-4834-99e6-a5cfbb169a4e",
      "maxTries": 5,
      "name": "Pegar informação do card",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query GetCardFields($cardId: ID!) {\n  card(id: $cardId) {\n    id\n    title\n    fields {\n      field {\n        id\n        label\n        type\n      }\n      value          # human-readable value\n      report_value   # normalized value (useful for numbers/selects)\n      array_value\n    }\n  }\n}",
        "variables": "={\n  \"cardId\": \"{{ $json.body.data.card.id }}\"\n}"
      },
      "position": [
        -1328,
        400
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "27e91aa2-5687-416c-8f11-99bb6b378a7e",
      "name": "Dados do card",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "name": "esforcoEstimado",
              "type": "string",
              "value": "={{\n(() => {\n const fields = $json.data?.card?.fields || [];\n const f = fields.find(x => (x.field?.id || x.indexName || \"\") === \"esfor_o_estimado\");\n const arr = Array.isArray(f?.array_value)\n ? f.array_value\n : f?.value != null\n ? [f.value]\n : [];\n return arr\n .map(v => (typeof v === \"string\" ? v.trim() : String(v)))\n .filter(Boolean)\n .join(\", \");\n})()\n}}"
            },
            {
              "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
              "name": "retornoEstimado",
              "type": "string",
              "value": "={{\n(() => {\n const fields = $json.data?.card?.fields || [];\n const f = fields.find(x => (x.field?.id || x.indexName || \"\") === \"retorno_estimado\");\n const arr = Array.isArray(f?.array_value)\n ? f.array_value\n : f?.value != null\n ? [f.value]\n : [];\n return arr\n .map(v => (typeof v === \"string\" ? v.trim() : String(v)))\n .filter(Boolean)\n .join(\", \");\n})()\n}}"
            },
            {
              "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
              "name": "idProjetoAssociado",
              "type": "string",
              "value": "={{\n(() => {\n const fields = $json.data?.card?.fields || [];\n const action = $('Tarefa criada/atualizada em PRO-02').item.json.body.data.action;\n \n // Determine which field to search for based on action\n let fieldToSearch = \"projeto_associado\";\n \n if (action === \"card.create\") {\n   fieldToSearch = \"id_do_projeto_associado\";\n }\n \n // First, try to find the determined field and get its array_value[0]\n const projetoAssociado = fields.find(x => (x.field?.id || x.indexName || \"\") === fieldToSearch);\n \n if (projetoAssociado?.array_value?.[0] != null) {\n   const value = String(projetoAssociado.array_value[0]).trim();\n   // Check if it's an empty array string\n   if (value !== \"\" && value !== \"[]\") {\n     return value;\n   }\n }\n \n // If not found or array_value doesn't exist, look for the same field's value property\n const idProjeto = fields.find(x => (x.field?.id || x.indexName || \"\") === fieldToSearch);\n \n if (idProjeto?.value != null) {\n   const value = String(idProjeto.value).trim();\n   // Check if it's an empty array string\n   if (value !== \"\" && value !== \"[]\") {\n     return value;\n   }\n }\n \n // If neither is found or both are empty/[], return empty string\n return \"\";\n})()\n}}"
            },
            {
              "id": "33dc0eef-d5f2-4131-a613-cb313bc5970a",
              "name": "cardId",
              "type": "string",
              "value": "={{ $json.data.card.id }}"
            },
            {
              "id": "13f49332-3278-4157-a876-2f0a24c818f1",
              "name": "",
              "type": "string",
              "value": "={{ $('Tarefa criada/atualizada em PRO-02').item.json.body.data.action }}"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "position": [
        -1104,
        400
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "112d8d79-34ed-4f96-ae7b-eda8b086d16c",
      "name": "Definir prioridade",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c45814-8994-430e-8285-8c60279391b1",
              "name": "prioridade",
              "type": "number",
              "value": "={{ ($json.idProjetoAssociado !== null && $json.idProjetoAssociado !== undefined && $json.idProjetoAssociado !== '') ? '-1' : $json.esforcoEstimado === 'Baixo' && $json.retornoEstimado === 'Baixo' ? 40 : $json.esforcoEstimado === 'Baixo' && $json.retornoEstimado === 'Médio' ? 70 : $json.esforcoEstimado === 'Baixo' && $json.retornoEstimado === 'Alto' ? 100 : $json.esforcoEstimado === 'Médio' && $json.retornoEstimado === 'Baixo' ? 25 : $json.esforcoEstimado === 'Médio' && $json.retornoEstimado === 'Médio' ? 55 : $json.esforcoEstimado === 'Médio' && $json.retornoEs"
            },
            {
              "id": "3a62f905-fd71-48c2-b206-3486a1bea269",
              "name": "categoriaId",
              "type": "string",
              "value": "={{ ($json.idProjetoAssociado !== null && $json.idProjetoAssociado !== undefined && $json.idProjetoAssociado !== '') ? '317083825' : $json.esforcoEstimado === 'Baixo' && $json.retornoEstimado === 'Baixo' ? '317083822' : $json.esforcoEstimado === 'Baixo' && $json.retornoEstimado === 'Médio' ? '317083821' : $json.esforcoEstimado === 'Baixo' && $json.retornoEstimado === 'Alto' ? '317083820' : $json.esforcoEstimado === 'Médio' && $json.retornoEstimado === 'Baixo' ? '317083823' : $json.esforcoEstimado === 'Médio' && $json.retornoEstimado === 'Médio' ? '317083822' : $json.esforcoEstimado === 'Médio' && $json.retornoEstimado === 'Alto' ? '317083821' : $json.esforcoEstimado === 'Alto' && $json.retornoEstimado === 'Baixo' ? '317083824' : $json.esforcoEstimado === 'Alto' && $json.retornoEstimado === 'Médio' ? '317083823' : $json.esforcoEstimado === 'Alto' && $json.retornoEstimado === 'Alto' ? '317083822' : '' }}\n"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -880,
        400
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "84106f58-2d01-4359-87dd-8b0085f3818c",
      "maxTries": 3,
      "name": "Atualizar card no Pipefy",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "={{ $json.query }}",
        "variables": "={{ $json.queryVariables }}"
      },
      "position": [
        -432,
        400
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "9124ee87-3f54-491d-a276-8e9a183587e1",
      "name": "Card criado ou campo válido modificado?",
      "parameters": {
        "conditions": {
          "combinator": "or",
          "conditions": [
            {
              "id": "b6e698a5-f63e-40d6-9a84-de4acf9345c2",
              "leftValue": "={{ $json.body.data.action }}",
              "operator": {
                "name": "filter.operator.equals",
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "card.create"
            },
            {
              "id": "e163717f-db36-461c-857d-3f42b49e0b55",
              "leftValue": "={{ $json.body.data.action == \"card.field_update\" && ($json.body.data.field.id == \"esforco_estimado\" || $json.body.data.field.id == \"retorno_estimado\" || $json.body.data.field.id == \"projeto_associado\") }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        -1552,
        400
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "1f3d1c1d-8f57-4416-a5c6-a9084444addb",
      "name": "Criar query",
      "parameters": {
        "jsCode": "const prioridade = $input.item.json.prioridade;\nconst categoriaId = $input.item.json.categoriaId;\nconst cardId = $('Dados do card').item.json.cardId;\nconst idProjetoAssociado = $('Dados do card').item.json.idProjetoAssociado;\nconst action = $('Tarefa criada/atualizada em PRO-02').item.json.body.data.action;\n\nconst includePrioridade = prioridade !== undefined && \n                          prioridade !== null && \n                          prioridade >= 0 && \n                          prioridade <= 100;\n\nconst isCardCreate = action === \"card.create\";\n\nlet mutation = `mutation UpdateCardFields($cardId: ID!) {`;\n\nif (includePrioridade) {\n  mutation += `\n  updateCardField(input: {card_id: $cardId field_id: \"prioridade\" new_value: \"${prioridade}\"}) {\n    card {id}\n    success\n  }`;\n}\n\nmutation += `\n  updateCardField2: updateCardField(input: {card_id: $cardId field_id: \"categoria_de_prioridade\" new_value: [\"${categoriaId}\"]}) {\n    card {id}\n    success\n  }`;\n\n// Only include projeto_associado update if action is card.create\nif (isCardCreate) {\n  mutation += `\n  updateCardField3: updateCardField(input: {card_id: $cardId field_id: \"projeto_associado\" new_value: \"${idProjetoAssociado}\"}) {\n    card {id}\n    success\n  }`;\n}\n\nmutation += `\n}`;\n\nconst queryVariables = {\n  cardId: cardId\n};\n\nreturn { \n  query: mutation,\n  queryVariables: queryVariables\n};"
      },
      "position": [
        -656,
        400
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "httpHeaderAuth": {
          "id": "k0rDRzgBCkgdGEpt",
          "name": "Pipefy Webhook Header"
        }
      },
      "id": "8f327aa5-e8cc-4e94-85ec-20a155a737e5",
      "name": "Tarefa criada/atualizada em PRO-02",
      "notesInFlow": true,
      "parameters": {
        "authentication": "headerAuth",
        "httpMethod": "POST",
        "options": {},
        "path": "fe6103fd-da64-4861-a45a-96fe35f1dea1"
      },
      "position": [
        -1776,
        400
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "webhookId": "fe6103fd-da64-4861-a45a-96fe35f1dea1"
    }
  ],
  "pinData": {},
  "settings": {
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "timeSavedPerExecution": 5
  },
  "shared": [
    {
      "createdAt": "2026-01-12T18:14:00.940Z",
      "project": {
        "createdAt": "2025-10-27T18:38:08.229Z",
        "description": null,
        "icon": null,
        "id": "MxRYCPypQDED18DI",
        "name": "João Tarrega <jtarrega@evnt.com.br>",
        "projectRelations": [
          {
            "createdAt": "2025-10-27T18:38:08.229Z",
            "projectId": "MxRYCPypQDED18DI",
            "updatedAt": "2025-10-27T18:38:08.229Z",
            "user": {
              "createdAt": "2025-10-27T18:38:08.229Z",
              "disabled": false,
              "email": "jtarrega@evnt.com.br",
              "firstName": "João",
              "id": "5d6fdffe-4782-42b7-934d-8573fbfd859e",
              "isPending": false,
              "lastActiveAt": "2026-03-09",
              "lastName": "Tarrega",
              "mfaEnabled": true,
              "personalizationAnswers": {
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companyType": "other",
                "personalization_survey_n8n_version": "1.116.2",
                "personalization_survey_submitted_at": "2025-10-27T18:41:49.819Z",
                "version": "v4"
              },
              "settings": {
                "firstSuccessfulWorkflowId": "DimCvyUk7mhpRK7O",
                "npsSurvey": {
                  "lastShownAt": 1762550473483,
                  "responded": true
                },
                "userActivated": true,
                "userActivatedAt": 1762272334672
              },
              "updatedAt": "2026-03-09T11:15:52.534Z"
            },
            "userId": "5d6fdffe-4782-42b7-934d-8573fbfd859e"
          }
        ],
        "type": "personal",
        "updatedAt": "2025-10-27T18:41:32.999Z"
      },
      "projectId": "MxRYCPypQDED18DI",
      "role": "workflow:owner",
      "updatedAt": "2026-01-12T18:14:00.940Z",
      "workflowId": "p5vgT5mHVbaM4qoq"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-28T14:26:57.025Z",
      "id": "jWQLHyRjnHUkdCL1",
      "name": "Pipefy",
      "updatedAt": "2025-10-28T14:26:57.025Z"
    },
    {
      "createdAt": "2025-11-10T13:15:26.055Z",
      "id": "XyK45Idu3SHOnbVr",
      "name": "Automação de pipe",
      "updatedAt": "2025-11-10T13:15:58.540Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-12T20:40:15.950Z",
  "versionId": "0057a492-211d-4f57-846b-253cc0d7b0ae"
}