raw/n8n/workflows/TCyJuG5hdOCVxBTR.json
{
  "active": false,
  "connections": {
    "01 - Wait 3s": {
      "main": [
        [
          {
            "index": 0,
            "node": "T01 - Validar (card 1259910277)",
            "type": "main"
          }
        ]
      ]
    },
    "02 - Wait 3s": {
      "main": [
        [
          {
            "index": 0,
            "node": "T02 - Validar (1259910277 + 1284069901)",
            "type": "main"
          }
        ]
      ]
    },
    "03 - Wait 3s": {
      "main": [
        [
          {
            "index": 0,
            "node": "T03 - Validar (1259910277 + 1284069901)",
            "type": "main"
          }
        ]
      ]
    },
    "04 - Wait 3s": {
      "main": [
        [
          {
            "index": 0,
            "node": "T04 - Validar (1259910277 + 1284069901)",
            "type": "main"
          }
        ]
      ]
    },
    "05 - Wait 3s": {
      "main": [
        [
          {
            "index": 0,
            "node": "T05 - Validar (1259910277 + 1284069901)",
            "type": "main"
          }
        ]
      ]
    },
    "06 - Wait 3s": {
      "main": [
        [
          {
            "index": 0,
            "node": "T06 - Validar (card 1210959810)",
            "type": "main"
          }
        ]
      ]
    },
    "07 - Wait 3s": {
      "main": [
        [
          {
            "index": 0,
            "node": "T07 - Validar (1210959810 + 1284411830)",
            "type": "main"
          }
        ]
      ]
    },
    "08 - Wait 3s": {
      "main": [
        [
          {
            "index": 0,
            "node": "T08 - Validar (1210959810 + 1284411830)",
            "type": "main"
          }
        ]
      ]
    },
    "09 - Wait 3s": {
      "main": [
        [
          {
            "index": 0,
            "node": "T09 - Validar (1210959810 + 1284411830)",
            "type": "main"
          }
        ]
      ]
    },
    "10 - Wait 3s": {
      "main": [
        [
          {
            "index": 0,
            "node": "T10 - Validar (1210959810 + 1284411830)",
            "type": "main"
          }
        ]
      ]
    },
    "11 - Wait 3s": {
      "main": [
        [
          {
            "index": 0,
            "node": "T11 - Validar (4 cards)",
            "type": "main"
          }
        ]
      ]
    },
    "12 - Wait 3s": {
      "main": [
        [
          {
            "index": 0,
            "node": "T12 - Validar (card 1210959810)",
            "type": "main"
          }
        ]
      ]
    },
    "13 - Wait 3s": {
      "main": [
        [
          {
            "index": 0,
            "node": "T13 - Validar (4 cards)",
            "type": "main"
          }
        ]
      ]
    },
    "14 - Wait 3s": {
      "main": [
        [
          {
            "index": 0,
            "node": "T14 - Validar (card 1259910277)",
            "type": "main"
          }
        ]
      ]
    },
    "15 - Wait 3s": {
      "main": [
        [
          {
            "index": 0,
            "node": "T15 - Validar (4 cards)",
            "type": "main"
          }
        ]
      ]
    },
    "16 - Wait 3s": {
      "main": [
        [
          {
            "index": 0,
            "node": "T16 - Validar (4 cards)",
            "type": "main"
          }
        ]
      ]
    },
    "Consolidar logs (itens)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Data Table - Inserir em \"Logs - Testes de sync\"",
            "type": "main"
          }
        ]
      ]
    },
    "Data Table - Inserir em \"Logs - Testes de sync\"": {
      "main": [
        [
          {
            "index": 0,
            "node": "Fim",
            "type": "main"
          }
        ]
      ]
    },
    "Init - Limpar logs em memória": {
      "main": [
        [
          {
            "index": 0,
            "node": "T01 - Criar card (Afiliados)",
            "type": "main"
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Init - Limpar logs em memória",
            "type": "main"
          }
        ]
      ]
    },
    "T01 - Criar card (Afiliados)": {
      "main": [
        [
          {
            "index": 0,
            "node": "01 - Wait 3s",
            "type": "main"
          }
        ]
      ]
    },
    "T01 - Registrar resultado": {
      "main": [
        [
          {
            "index": 0,
            "node": "T02 - Add clientes_na_fatura (1284069901)",
            "type": "main"
          }
        ]
      ]
    },
    "T01 - Validar (card 1259910277)": {
      "main": [
        [
          {
            "index": 0,
            "node": "T01 - Registrar resultado",
            "type": "main"
          }
        ]
      ]
    },
    "T02 - Add clientes_na_fatura (1284069901)": {
      "main": [
        [
          {
            "index": 0,
            "node": "02 - Wait 3s",
            "type": "main"
          }
        ]
      ]
    },
    "T02 - Registrar resultado": {
      "main": [
        [
          {
            "index": 0,
            "node": "T03 - Set forma_de_pagamento=PIX (card Afiliados)",
            "type": "main"
          }
        ]
      ]
    },
    "T02 - Validar (1259910277 + 1284069901)": {
      "main": [
        [
          {
            "index": 0,
            "node": "T02 - Registrar resultado",
            "type": "main"
          }
        ]
      ]
    },
    "T03 - Registrar resultado": {
      "main": [
        [
          {
            "index": 0,
            "node": "T04 - Remove clientes_na_fatura (1284069901)",
            "type": "main"
          }
        ]
      ]
    },
    "T03 - Set forma_de_pagamento=PIX (card Afiliados)": {
      "main": [
        [
          {
            "index": 0,
            "node": "03 - Wait 3s",
            "type": "main"
          }
        ]
      ]
    },
    "T03 - Validar (1259910277 + 1284069901)": {
      "main": [
        [
          {
            "index": 0,
            "node": "T03 - Registrar resultado",
            "type": "main"
          }
        ]
      ]
    },
    "T04 - Registrar resultado": {
      "main": [
        [
          {
            "index": 0,
            "node": "T05 - Remove clientes_na_fatura (1259910277)",
            "type": "main"
          }
        ]
      ]
    },
    "T04 - Remove clientes_na_fatura (1284069901)": {
      "main": [
        [
          {
            "index": 0,
            "node": "04 - Wait 3s",
            "type": "main"
          }
        ]
      ]
    },
    "T04 - Validar (1259910277 + 1284069901)": {
      "main": [
        [
          {
            "index": 0,
            "node": "T04 - Registrar resultado",
            "type": "main"
          }
        ]
      ]
    },
    "T05 - Registrar resultado": {
      "main": [
        [
          {
            "index": 0,
            "node": "T06 - Criar card (Rede)",
            "type": "main"
          }
        ]
      ]
    },
    "T05 - Remove clientes_na_fatura (1259910277)": {
      "main": [
        [
          {
            "index": 0,
            "node": "05 - Wait 3s",
            "type": "main"
          }
        ]
      ]
    },
    "T05 - Validar (1259910277 + 1284069901)": {
      "main": [
        [
          {
            "index": 0,
            "node": "T05 - Registrar resultado",
            "type": "main"
          }
        ]
      ]
    },
    "T06 - Criar card (Rede)": {
      "main": [
        [
          {
            "index": 0,
            "node": "06 - Wait 3s",
            "type": "main"
          }
        ]
      ]
    },
    "T06 - Registrar resultado": {
      "main": [
        [
          {
            "index": 0,
            "node": "T07 - Add rede_na_fatura (1284411830)",
            "type": "main"
          }
        ]
      ]
    },
    "T06 - Validar (card 1210959810)": {
      "main": [
        [
          {
            "index": 0,
            "node": "T06 - Registrar resultado",
            "type": "main"
          }
        ]
      ]
    },
    "T07 - Add rede_na_fatura (1284411830)": {
      "main": [
        [
          {
            "index": 0,
            "node": "07 - Wait 3s",
            "type": "main"
          }
        ]
      ]
    },
    "T07 - Registrar resultado": {
      "main": [
        [
          {
            "index": 0,
            "node": "T08 - Set forma_de_pagamento=PIX (card Rede)",
            "type": "main"
          }
        ]
      ]
    },
    "T07 - Validar (1210959810 + 1284411830)": {
      "main": [
        [
          {
            "index": 0,
            "node": "T07 - Registrar resultado",
            "type": "main"
          }
        ]
      ]
    },
    "T08 - Registrar resultado": {
      "main": [
        [
          {
            "index": 0,
            "node": "T09 - Remove rede_na_fatura (1284411830)",
            "type": "main"
          }
        ]
      ]
    },
    "T08 - Set forma_de_pagamento=PIX (card Rede)": {
      "main": [
        [
          {
            "index": 0,
            "node": "08 - Wait 3s",
            "type": "main"
          }
        ]
      ]
    },
    "T08 - Validar (1210959810 + 1284411830)": {
      "main": [
        [
          {
            "index": 0,
            "node": "T08 - Registrar resultado",
            "type": "main"
          }
        ]
      ]
    },
    "T09 - Registrar resultado": {
      "main": [
        [
          {
            "index": 0,
            "node": "T10 - Remove rede_na_fatura (1210959810)",
            "type": "main"
          }
        ]
      ]
    },
    "T09 - Remove rede_na_fatura (1284411830)": {
      "main": [
        [
          {
            "index": 0,
            "node": "09 - Wait 3s",
            "type": "main"
          }
        ]
      ]
    },
    "T09 - Validar (1210959810 + 1284411830)": {
      "main": [
        [
          {
            "index": 0,
            "node": "T09 - Registrar resultado",
            "type": "main"
          }
        ]
      ]
    },
    "T10 - Registrar resultado": {
      "main": [
        [
          {
            "index": 0,
            "node": "T11 - Set tipo_de_cliente_final=Rede (card Afiliados)",
            "type": "main"
          }
        ]
      ]
    },
    "T10 - Remove rede_na_fatura (1210959810)": {
      "main": [
        [
          {
            "index": 0,
            "node": "10 - Wait 3s",
            "type": "main"
          }
        ]
      ]
    },
    "T10 - Validar (1210959810 + 1284411830)": {
      "main": [
        [
          {
            "index": 0,
            "node": "T10 - Registrar resultado",
            "type": "main"
          }
        ]
      ]
    },
    "T11 - Registrar resultado": {
      "main": [
        [
          {
            "index": 0,
            "node": "T12 - Add rede_na_fatura (1210959810) (card Afiliados)",
            "type": "main"
          }
        ]
      ]
    },
    "T11 - Set tipo_de_cliente_final=Rede (card Afiliados)": {
      "main": [
        [
          {
            "index": 0,
            "node": "11 - Wait 3s",
            "type": "main"
          }
        ]
      ]
    },
    "T11 - Validar (4 cards)": {
      "main": [
        [
          {
            "index": 0,
            "node": "T11 - Registrar resultado",
            "type": "main"
          }
        ]
      ]
    },
    "T12 - Add rede_na_fatura (1210959810) (card Afiliados)": {
      "main": [
        [
          {
            "index": 0,
            "node": "12 - Wait 3s",
            "type": "main"
          }
        ]
      ]
    },
    "T12 - Registrar resultado": {
      "main": [
        [
          {
            "index": 0,
            "node": "T13 - Set tipo_de_cliente_final=Afiliados e independentes (card Rede)",
            "type": "main"
          }
        ]
      ]
    },
    "T12 - Validar (card 1210959810)": {
      "main": [
        [
          {
            "index": 0,
            "node": "T12 - Registrar resultado",
            "type": "main"
          }
        ]
      ]
    },
    "T13 - Registrar resultado": {
      "main": [
        [
          {
            "index": 0,
            "node": "T14 - Add clientes_na_fatura (1259910277) (card Rede)",
            "type": "main"
          }
        ]
      ]
    },
    "T13 - Set tipo_de_cliente_final=Afiliados e independentes (card Rede)": {
      "main": [
        [
          {
            "index": 0,
            "node": "13 - Wait 3s",
            "type": "main"
          }
        ]
      ]
    },
    "T13 - Validar (4 cards)": {
      "main": [
        [
          {
            "index": 0,
            "node": "T13 - Registrar resultado",
            "type": "main"
          }
        ]
      ]
    },
    "T14 - Add clientes_na_fatura (1259910277) (card Rede)": {
      "main": [
        [
          {
            "index": 0,
            "node": "14 - Wait 3s",
            "type": "main"
          }
        ]
      ]
    },
    "T14 - Registrar resultado": {
      "main": [
        [
          {
            "index": 0,
            "node": "T15 - Set tipo_de_cliente_final=Afiliados e independentes (card Afiliados)",
            "type": "main"
          }
        ]
      ]
    },
    "T14 - Validar (card 1259910277)": {
      "main": [
        [
          {
            "index": 0,
            "node": "T14 - Registrar resultado",
            "type": "main"
          }
        ]
      ]
    },
    "T15 - Registrar resultado": {
      "main": [
        [
          {
            "index": 0,
            "node": "T16 - Set tipo_de_cliente_final=Rede (card Rede)",
            "type": "main"
          }
        ]
      ]
    },
    "T15 - Set tipo_de_cliente_final=Afiliados e independentes (card Afiliados)": {
      "main": [
        [
          {
            "index": 0,
            "node": "15 - Wait 3s",
            "type": "main"
          }
        ]
      ]
    },
    "T15 - Validar (4 cards)": {
      "main": [
        [
          {
            "index": 0,
            "node": "T15 - Registrar resultado",
            "type": "main"
          }
        ]
      ]
    },
    "T16 - Registrar resultado": {
      "main": [
        [
          {
            "index": 0,
            "node": "Consolidar logs (itens)",
            "type": "main"
          }
        ]
      ]
    },
    "T16 - Set tipo_de_cliente_final=Rede (card Rede)": {
      "main": [
        [
          {
            "index": 0,
            "node": "16 - Wait 3s",
            "type": "main"
          }
        ]
      ]
    },
    "T16 - Validar (4 cards)": {
      "main": [
        [
          {
            "index": 0,
            "node": "T16 - Registrar resultado",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-20T17:33:29.803Z",
  "id": "TCyJuG5hdOCVxBTR",
  "isArchived": true,
  "meta": null,
  "name": "Testes - Sincronização de campos Pipefy",
  "nodes": [
    {
      "id": "618be010-f0bc-4e80-ba62-094380144f15",
      "name": "Manual Trigger",
      "parameters": {},
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "id": "e4ddda0d-747c-4eae-86ce-f1f8a625dfcc",
      "name": "Init - Limpar logs em memória",
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nsd.logs = [];\nsd.startedAt = new Date().toISOString();\nreturn $input.all();\n"
      },
      "position": [
        304,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "466280e5-0f2d-4787-bef3-09d3ac5f5887",
      "maxTries": 5,
      "name": "T01 - Criar card (Afiliados)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation CreateCard($input: CreateCardInput!) {\n  createCard(input: $input) {\n    card { id title }\n  }\n}",
        "variables": "={\n  \"input\": {\n    \"pipe_id\": 306662125,\n    \"title\": \"Teste Sync - Afiliados - {{ $now }}\",\n    \"fields_attributes\": [\n      {\"field_id\": \"tipo_de_cliente_final\", \"field_value\": \"Afiliados e independentes\"},\n      {\"field_id\": \"clientes_na_fatura\", \"field_value\": [\"1259910277\"]}\n    ]\n  }\n}"
      },
      "position": [
        720,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "8728e983-c195-4da8-8420-7197df6d4d0a",
      "name": "01 - Wait 3s",
      "parameters": {
        "amount": 3
      },
      "position": [
        1008,
        0
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "e71d193b-128e-428f-a8c1-7f1a3a42d399"
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "77edd1ca-e449-40b2-b8d8-788ac0f050b6",
      "maxTries": 5,
      "name": "T01 - Validar (card 1259910277)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query Get1($cardId: ID!) {\n  card(id: $cardId) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n}",
        "variables": "={\n  \"cardId\": \"1259910277\"\n}"
      },
      "position": [
        1280,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "22cbd01d-6945-454e-bea1-09d96cac68ee",
      "name": "T01 - Registrar resultado",
      "parameters": {
        "jsCode": "\nfunction asString(v) {\n  if (v === null || v === undefined) return '';\n  return String(v);\n}\n\nfunction uniq(arr) {\n  return [...new Set(arr.filter(Boolean))];\n}\n\nfunction extractRegrasIds(card) {\n  const fields = card?.fields || [];\n  const f = fields.find(x => x?.field?.id === 'regras_de_faturamento');\n  if (!f) return [];\n\n  const av = f.array_value;\n  if (Array.isArray(av)) {\n    const out = av.map(v => {\n      if (v === null || v === undefined) return '';\n      if (typeof v === 'object') {\n        if (v.id) return String(v.id);\n        if (v.value) return String(v.value);\n        return JSON.stringify(v);\n      }\n      return String(v);\n    });\n    return uniq(out);\n  }\n\n  const val = f.value;\n  if (val === null || val === undefined) return [];\n  if (typeof val === 'string') {\n    const ids = val.match(/\\d+/g);\n    return uniq(ids && ids.length ? ids : [val]);\n  }\n  if (typeof val === 'object') return [JSON.stringify(val)];\n  return [String(val)];\n}\n\nfunction containsId(list, id) {\n  const needle = String(id);\n  return (list || []).some(v => String(v).includes(needle));\n}\n\nfunction isEmpty(list) {\n  return !list || list.length === 0;\n}\n\nfunction nodeJson(name) {\n  // Access other node output robustly\n  return $node?.[name]?.json;\n}\n\nfunction pushLog(id_do_teste, ok, observacoes) {\n  const sd = $getWorkflowStaticData('global');\n  if (!Array.isArray(sd.logs)) sd.logs = [];\n  sd.logs.push({\n    id_do_teste: String(id_do_teste),\n    resultado: ok ? 'OK' : 'ERRO',\n    observacoes: String(observacoes || '')\n  });\n}\n\n\nconst validation = nodeJson('T01 - Validar (card 1259910277)');\nconst createdId = $node[\"T01 - Criar card (Afiliados)\"].json?.data?.createCard?.card?.id;\n\nlet ok = Boolean(createdId);\n\nconst card = validation?.data?.card;\nconst regras = extractRegrasIds(card);\nif (!containsId(regras, createdId)) ok = false;\n\nconst obs = [\n  `createCard.id=${asString(createdId)}`,\n  `Esperado: 1259910277 conter ${createdId} em regras_de_faturamento`,\n  `1259910277 -> ${JSON.stringify(regras)}`\n].join(' | ');\n\npushLog('1', ok, obs);\nreturn $input.all();\n"
      },
      "position": [
        1712,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "28a1288d-0166-4638-8b46-19c47e04b571",
      "maxTries": 5,
      "name": "T02 - Add clientes_na_fatura (1284069901)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation UpdateFieldsValues($input: UpdateFieldsValuesInput!) {\n  updateFieldsValues(input: $input) {\n    success\n    userErrors\n  }\n}",
        "variables": "={\n  \"input\": {\n    \"nodeId\": \"{{ $node[\"T01 - Criar card (Afiliados)\"].json.data.createCard.card.id }}\",\n    \"values\": [\n      {\"fieldId\": \"clientes_na_fatura\", \"value\": [\"1284069901\"], \"operation\": \"ADD\"}\n    ]\n  }\n}"
      },
      "position": [
        2128,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "4d38a8df-4f29-4cc8-868b-816c1de22ac2",
      "name": "02 - Wait 3s",
      "parameters": {
        "amount": 3
      },
      "position": [
        2400,
        0
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "ee72624a-0c7f-4be8-9868-5c98b9ef8f20"
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "2f50ed75-71d6-4def-8d82-8db82fb98c6e",
      "maxTries": 5,
      "name": "T02 - Validar (1259910277 + 1284069901)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query Get2($a: ID!, $b: ID!) {\n  a: card(id: $a) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n  b: card(id: $b) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n}",
        "variables": "={\n  \"a\": \"1259910277\",\n  \"b\": \"1284069901\"\n}"
      },
      "position": [
        2688,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "8a369dcb-7378-4329-acee-279ef268fa56",
      "name": "T02 - Registrar resultado",
      "parameters": {
        "jsCode": "\nfunction asString(v) {\n  if (v === null || v === undefined) return '';\n  return String(v);\n}\n\nfunction uniq(arr) {\n  return [...new Set(arr.filter(Boolean))];\n}\n\nfunction extractRegrasIds(card) {\n  const fields = card?.fields || [];\n  const f = fields.find(x => x?.field?.id === 'regras_de_faturamento');\n  if (!f) return [];\n\n  const av = f.array_value;\n  if (Array.isArray(av)) {\n    const out = av.map(v => {\n      if (v === null || v === undefined) return '';\n      if (typeof v === 'object') {\n        if (v.id) return String(v.id);\n        if (v.value) return String(v.value);\n        return JSON.stringify(v);\n      }\n      return String(v);\n    });\n    return uniq(out);\n  }\n\n  const val = f.value;\n  if (val === null || val === undefined) return [];\n  if (typeof val === 'string') {\n    const ids = val.match(/\\d+/g);\n    return uniq(ids && ids.length ? ids : [val]);\n  }\n  if (typeof val === 'object') return [JSON.stringify(val)];\n  return [String(val)];\n}\n\nfunction containsId(list, id) {\n  const needle = String(id);\n  return (list || []).some(v => String(v).includes(needle));\n}\n\nfunction isEmpty(list) {\n  return !list || list.length === 0;\n}\n\nfunction nodeJson(name) {\n  // Access other node output robustly\n  return $node?.[name]?.json;\n}\n\nfunction pushLog(id_do_teste, ok, observacoes) {\n  const sd = $getWorkflowStaticData('global');\n  if (!Array.isArray(sd.logs)) sd.logs = [];\n  sd.logs.push({\n    id_do_teste: String(id_do_teste),\n    resultado: ok ? 'OK' : 'ERRO',\n    observacoes: String(observacoes || '')\n  });\n}\n\n\nconst validation = nodeJson('T02 - Validar (1259910277 + 1284069901)');\nconst cardIdCreated = $node[\"T01 - Criar card (Afiliados)\"].json?.data?.createCard?.card?.id;\nconst success = $node[\"T02 - Add clientes_na_fatura (1284069901)\"].json?.data?.updateFieldsValues?.success;\n\nlet ok = Boolean(cardIdCreated) && success === true;\n\nconst a = validation?.data?.a;\nconst b = validation?.data?.b;\nconst regrasA = extractRegrasIds(a);\nconst regrasB = extractRegrasIds(b);\n\nif (!containsId(regrasA, cardIdCreated)) ok = false;\nif (!containsId(regrasB, cardIdCreated)) ok = false;\n\nconst obs = [\n  `updateFieldsValues.success=${asString(success)}`,\n  `Esperado: ambos conterem ${cardIdCreated} em regras_de_faturamento`,\n  `1259910277 -> ${JSON.stringify(regrasA)}`,\n  `1284069901 -> ${JSON.stringify(regrasB)}`\n].join(' | ');\n\npushLog('2', ok, obs);\nreturn $input.all();\n"
      },
      "position": [
        3104,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "70b3217c-ae7f-4724-ade2-ee61583150bc",
      "maxTries": 5,
      "name": "T03 - Set forma_de_pagamento=PIX (card Afiliados)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation UpdateFieldsValues($input: UpdateFieldsValuesInput!) {\n  updateFieldsValues(input: $input) {\n    success\n    userErrors\n  }\n}",
        "variables": "={\n  \"input\": {\n    \"nodeId\": \"{{ $node[\"T01 - Criar card (Afiliados)\"].json.data.createCard.card.id }}\",\n    \"values\": [\n      {\"fieldId\": \"forma_de_pagamento\", \"value\": \"PIX\"}\n    ]\n  }\n}"
      },
      "position": [
        3520,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "18aa01ae-290c-42cf-8401-6902fdf6929a",
      "name": "03 - Wait 3s",
      "parameters": {
        "amount": 3
      },
      "position": [
        3808,
        0
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "2af9e688-4684-48a8-bd9b-3e6877e8a5b9"
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "820774c9-12b3-43d2-9b70-32fad2f4079c",
      "maxTries": 5,
      "name": "T03 - Validar (1259910277 + 1284069901)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query Get2($a: ID!, $b: ID!) {\n  a: card(id: $a) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n  b: card(id: $b) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n}",
        "variables": "={\n  \"a\": \"1259910277\",\n  \"b\": \"1284069901\"\n}"
      },
      "position": [
        4080,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "d9cdd042-caa8-4835-89b1-8b9a876687b7",
      "name": "T03 - Registrar resultado",
      "parameters": {
        "jsCode": "\nfunction asString(v) {\n  if (v === null || v === undefined) return '';\n  return String(v);\n}\n\nfunction uniq(arr) {\n  return [...new Set(arr.filter(Boolean))];\n}\n\nfunction extractRegrasIds(card) {\n  const fields = card?.fields || [];\n  const f = fields.find(x => x?.field?.id === 'regras_de_faturamento');\n  if (!f) return [];\n\n  const av = f.array_value;\n  if (Array.isArray(av)) {\n    const out = av.map(v => {\n      if (v === null || v === undefined) return '';\n      if (typeof v === 'object') {\n        if (v.id) return String(v.id);\n        if (v.value) return String(v.value);\n        return JSON.stringify(v);\n      }\n      return String(v);\n    });\n    return uniq(out);\n  }\n\n  const val = f.value;\n  if (val === null || val === undefined) return [];\n  if (typeof val === 'string') {\n    const ids = val.match(/\\d+/g);\n    return uniq(ids && ids.length ? ids : [val]);\n  }\n  if (typeof val === 'object') return [JSON.stringify(val)];\n  return [String(val)];\n}\n\nfunction containsId(list, id) {\n  const needle = String(id);\n  return (list || []).some(v => String(v).includes(needle));\n}\n\nfunction isEmpty(list) {\n  return !list || list.length === 0;\n}\n\nfunction nodeJson(name) {\n  // Access other node output robustly\n  return $node?.[name]?.json;\n}\n\nfunction pushLog(id_do_teste, ok, observacoes) {\n  const sd = $getWorkflowStaticData('global');\n  if (!Array.isArray(sd.logs)) sd.logs = [];\n  sd.logs.push({\n    id_do_teste: String(id_do_teste),\n    resultado: ok ? 'OK' : 'ERRO',\n    observacoes: String(observacoes || '')\n  });\n}\n\n\nconst validation = nodeJson('T03 - Validar (1259910277 + 1284069901)');\nconst cardIdCreated = $node[\"T01 - Criar card (Afiliados)\"].json?.data?.createCard?.card?.id;\nconst success = $node[\"T03 - Set forma_de_pagamento=PIX (card Afiliados)\"].json?.data?.updateFieldsValues?.success;\n\nlet ok = Boolean(cardIdCreated) && success === true;\n\nconst a = validation?.data?.a;\nconst b = validation?.data?.b;\nconst regrasA = extractRegrasIds(a);\nconst regrasB = extractRegrasIds(b);\n\nif (!containsId(regrasA, cardIdCreated)) ok = false;\nif (!containsId(regrasB, cardIdCreated)) ok = false;\n\nconst obs = [\n  `updateFieldsValues.success=${asString(success)}`,\n  `Esperado: ambos conterem ${cardIdCreated} em regras_de_faturamento`,\n  `1259910277 -> ${JSON.stringify(regrasA)}`,\n  `1284069901 -> ${JSON.stringify(regrasB)}`\n].join(' | ');\n\npushLog('3', ok, obs);\nreturn $input.all();\n"
      },
      "position": [
        4512,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "59787d82-30eb-4809-853a-3e67cb9055f6",
      "maxTries": 5,
      "name": "T04 - Remove clientes_na_fatura (1284069901)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation UpdateFieldsValues($input: UpdateFieldsValuesInput!) {\n  updateFieldsValues(input: $input) {\n    success\n    userErrors\n  }\n}",
        "variables": "={\n  \"input\": {\n    \"nodeId\": \"{{ $node[\"T01 - Criar card (Afiliados)\"].json.data.createCard.card.id }}\",\n    \"values\": [\n      {\"fieldId\": \"clientes_na_fatura\", \"value\": [\"1284069901\"], \"operation\": \"REMOVE\"}\n    ]\n  }\n}"
      },
      "position": [
        4928,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "6cb89b19-8d0b-43d7-8157-6bfa9d6e2ecd",
      "name": "04 - Wait 3s",
      "parameters": {
        "amount": 3
      },
      "position": [
        5200,
        0
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "4409d485-bd6e-4dab-8369-cfad14e854ea"
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "76cf6a93-4697-481a-9ed9-b802b62bbcba",
      "maxTries": 5,
      "name": "T04 - Validar (1259910277 + 1284069901)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query Get2($a: ID!, $b: ID!) {\n  a: card(id: $a) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n  b: card(id: $b) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n}",
        "variables": "={\n  \"a\": \"1259910277\",\n  \"b\": \"1284069901\"\n}"
      },
      "position": [
        5488,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "66ff4c0f-54ee-4371-a178-b0d62b042bce",
      "name": "T04 - Registrar resultado",
      "parameters": {
        "jsCode": "\nfunction asString(v) {\n  if (v === null || v === undefined) return '';\n  return String(v);\n}\n\nfunction uniq(arr) {\n  return [...new Set(arr.filter(Boolean))];\n}\n\nfunction extractRegrasIds(card) {\n  const fields = card?.fields || [];\n  const f = fields.find(x => x?.field?.id === 'regras_de_faturamento');\n  if (!f) return [];\n\n  const av = f.array_value;\n  if (Array.isArray(av)) {\n    const out = av.map(v => {\n      if (v === null || v === undefined) return '';\n      if (typeof v === 'object') {\n        if (v.id) return String(v.id);\n        if (v.value) return String(v.value);\n        return JSON.stringify(v);\n      }\n      return String(v);\n    });\n    return uniq(out);\n  }\n\n  const val = f.value;\n  if (val === null || val === undefined) return [];\n  if (typeof val === 'string') {\n    const ids = val.match(/\\d+/g);\n    return uniq(ids && ids.length ? ids : [val]);\n  }\n  if (typeof val === 'object') return [JSON.stringify(val)];\n  return [String(val)];\n}\n\nfunction containsId(list, id) {\n  const needle = String(id);\n  return (list || []).some(v => String(v).includes(needle));\n}\n\nfunction isEmpty(list) {\n  return !list || list.length === 0;\n}\n\nfunction nodeJson(name) {\n  // Access other node output robustly\n  return $node?.[name]?.json;\n}\n\nfunction pushLog(id_do_teste, ok, observacoes) {\n  const sd = $getWorkflowStaticData('global');\n  if (!Array.isArray(sd.logs)) sd.logs = [];\n  sd.logs.push({\n    id_do_teste: String(id_do_teste),\n    resultado: ok ? 'OK' : 'ERRO',\n    observacoes: String(observacoes || '')\n  });\n}\n\n\nconst validation = nodeJson('T04 - Validar (1259910277 + 1284069901)');\nconst cardIdCreated = $node[\"T01 - Criar card (Afiliados)\"].json?.data?.createCard?.card?.id;\nconst success = $node[\"T04 - Remove clientes_na_fatura (1284069901)\"].json?.data?.updateFieldsValues?.success;\n\nlet ok = Boolean(cardIdCreated) && success === true;\n\nconst a = validation?.data?.a;\nconst b = validation?.data?.b;\nconst regrasA = extractRegrasIds(a);\nconst regrasB = extractRegrasIds(b);\n\nif (!containsId(regrasA, cardIdCreated)) ok = false;\nif (!isEmpty(regrasB)) ok = false;\n\nconst obs = [\n  `updateFieldsValues.success=${asString(success)}`,\n  `Esperado: 1259910277 conter ${cardIdCreated} e 1284069901 vazio`,\n  `1259910277 -> ${JSON.stringify(regrasA)}`,\n  `1284069901 -> ${JSON.stringify(regrasB)}`\n].join(' | ');\n\npushLog('4', ok, obs);\nreturn $input.all();\n"
      },
      "position": [
        5904,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "22c30447-90bc-4c1a-b296-18e7df069bad",
      "maxTries": 5,
      "name": "T05 - Remove clientes_na_fatura (1259910277)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation UpdateFieldsValues($input: UpdateFieldsValuesInput!) {\n  updateFieldsValues(input: $input) {\n    success\n    userErrors\n  }\n}",
        "variables": "={\n  \"input\": {\n    \"nodeId\": \"{{ $node[\"T01 - Criar card (Afiliados)\"].json.data.createCard.card.id }}\",\n    \"values\": [\n      {\"fieldId\": \"clientes_na_fatura\", \"value\": [\"1259910277\"], \"operation\": \"REMOVE\"}\n    ]\n  }\n}"
      },
      "position": [
        6320,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "e18ca4e7-d398-4031-ba05-b00a161b344b",
      "name": "05 - Wait 3s",
      "parameters": {
        "amount": 3
      },
      "position": [
        6608,
        0
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "43e01eb1-6178-470a-bbf2-6ab9df63e82e"
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "1acaed51-bccd-4c87-8463-0e2e5dded3c9",
      "maxTries": 5,
      "name": "T05 - Validar (1259910277 + 1284069901)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query Get2($a: ID!, $b: ID!) {\n  a: card(id: $a) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n  b: card(id: $b) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n}",
        "variables": "={\n  \"a\": \"1259910277\",\n  \"b\": \"1284069901\"\n}"
      },
      "position": [
        6880,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "fc0baeef-b565-4a53-bac4-a69c0f2f86fb",
      "name": "T05 - Registrar resultado",
      "parameters": {
        "jsCode": "\nfunction asString(v) {\n  if (v === null || v === undefined) return '';\n  return String(v);\n}\n\nfunction uniq(arr) {\n  return [...new Set(arr.filter(Boolean))];\n}\n\nfunction extractRegrasIds(card) {\n  const fields = card?.fields || [];\n  const f = fields.find(x => x?.field?.id === 'regras_de_faturamento');\n  if (!f) return [];\n\n  const av = f.array_value;\n  if (Array.isArray(av)) {\n    const out = av.map(v => {\n      if (v === null || v === undefined) return '';\n      if (typeof v === 'object') {\n        if (v.id) return String(v.id);\n        if (v.value) return String(v.value);\n        return JSON.stringify(v);\n      }\n      return String(v);\n    });\n    return uniq(out);\n  }\n\n  const val = f.value;\n  if (val === null || val === undefined) return [];\n  if (typeof val === 'string') {\n    const ids = val.match(/\\d+/g);\n    return uniq(ids && ids.length ? ids : [val]);\n  }\n  if (typeof val === 'object') return [JSON.stringify(val)];\n  return [String(val)];\n}\n\nfunction containsId(list, id) {\n  const needle = String(id);\n  return (list || []).some(v => String(v).includes(needle));\n}\n\nfunction isEmpty(list) {\n  return !list || list.length === 0;\n}\n\nfunction nodeJson(name) {\n  // Access other node output robustly\n  return $node?.[name]?.json;\n}\n\nfunction pushLog(id_do_teste, ok, observacoes) {\n  const sd = $getWorkflowStaticData('global');\n  if (!Array.isArray(sd.logs)) sd.logs = [];\n  sd.logs.push({\n    id_do_teste: String(id_do_teste),\n    resultado: ok ? 'OK' : 'ERRO',\n    observacoes: String(observacoes || '')\n  });\n}\n\n\nconst validation = nodeJson('T05 - Validar (1259910277 + 1284069901)');\nconst success = $node[\"T05 - Remove clientes_na_fatura (1259910277)\"].json?.data?.updateFieldsValues?.success;\n\nlet ok = success === true;\n\nconst a = validation?.data?.a;\nconst b = validation?.data?.b;\nconst regrasA = extractRegrasIds(a);\nconst regrasB = extractRegrasIds(b);\n\nif (!isEmpty(regrasA)) ok = false;\nif (!isEmpty(regrasB)) ok = false;\n\nconst obs = [\n  `updateFieldsValues.success=${asString(success)}`,\n  `Esperado: ambos vazios em regras_de_faturamento`,\n  `1259910277 -> ${JSON.stringify(regrasA)}`,\n  `1284069901 -> ${JSON.stringify(regrasB)}`\n].join(' | ');\n\npushLog('5', ok, obs);\nreturn $input.all();\n"
      },
      "position": [
        7312,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "3ae1a911-11a2-4bf5-943d-63635a03be5b",
      "maxTries": 5,
      "name": "T06 - Criar card (Rede)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation CreateCard($input: CreateCardInput!) {\n  createCard(input: $input) {\n    card { id title }\n  }\n}",
        "variables": "={\n  \"input\": {\n    \"pipe_id\": 306662125,\n    \"title\": \"Teste Sync - Rede - {{ $now }}\",\n    \"fields_attributes\": [\n      {\"field_id\": \"tipo_de_cliente_final\", \"field_value\": \"Rede\"},\n      {\"field_id\": \"rede_na_fatura\", \"field_value\": [\"1210959810\"]}\n    ]\n  }\n}"
      },
      "position": [
        7728,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "59fd6801-8420-4e7a-a713-85edcabc1f3d",
      "name": "06 - Wait 3s",
      "parameters": {
        "amount": 3
      },
      "position": [
        8000,
        0
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "343f9273-9af7-4976-80c0-1d57a4940d58"
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "c4557dd4-94b8-4c2f-ad8a-74722bf71728",
      "maxTries": 5,
      "name": "T06 - Validar (card 1210959810)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query Get1($cardId: ID!) {\n  card(id: $cardId) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n}",
        "variables": "={\n  \"cardId\": \"1210959810\"\n}"
      },
      "position": [
        8288,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "43a519af-0ae1-4e87-9fc2-0625bdc4a361",
      "name": "T06 - Registrar resultado",
      "parameters": {
        "jsCode": "\nfunction asString(v) {\n  if (v === null || v === undefined) return '';\n  return String(v);\n}\n\nfunction uniq(arr) {\n  return [...new Set(arr.filter(Boolean))];\n}\n\nfunction extractRegrasIds(card) {\n  const fields = card?.fields || [];\n  const f = fields.find(x => x?.field?.id === 'regras_de_faturamento');\n  if (!f) return [];\n\n  const av = f.array_value;\n  if (Array.isArray(av)) {\n    const out = av.map(v => {\n      if (v === null || v === undefined) return '';\n      if (typeof v === 'object') {\n        if (v.id) return String(v.id);\n        if (v.value) return String(v.value);\n        return JSON.stringify(v);\n      }\n      return String(v);\n    });\n    return uniq(out);\n  }\n\n  const val = f.value;\n  if (val === null || val === undefined) return [];\n  if (typeof val === 'string') {\n    const ids = val.match(/\\d+/g);\n    return uniq(ids && ids.length ? ids : [val]);\n  }\n  if (typeof val === 'object') return [JSON.stringify(val)];\n  return [String(val)];\n}\n\nfunction containsId(list, id) {\n  const needle = String(id);\n  return (list || []).some(v => String(v).includes(needle));\n}\n\nfunction isEmpty(list) {\n  return !list || list.length === 0;\n}\n\nfunction nodeJson(name) {\n  // Access other node output robustly\n  return $node?.[name]?.json;\n}\n\nfunction pushLog(id_do_teste, ok, observacoes) {\n  const sd = $getWorkflowStaticData('global');\n  if (!Array.isArray(sd.logs)) sd.logs = [];\n  sd.logs.push({\n    id_do_teste: String(id_do_teste),\n    resultado: ok ? 'OK' : 'ERRO',\n    observacoes: String(observacoes || '')\n  });\n}\n\n\nconst validation = nodeJson('T06 - Validar (card 1210959810)');\nconst createdId = $node[\"T06 - Criar card (Rede)\"].json?.data?.createCard?.card?.id;\n\nlet ok = Boolean(createdId);\n\nconst card = validation?.data?.card;\nconst regras = extractRegrasIds(card);\nif (!containsId(regras, createdId)) ok = false;\n\nconst obs = [\n  `createCard.id=${asString(createdId)}`,\n  `Esperado: 1210959810 conter ${createdId} em regras_de_faturamento`,\n  `1210959810 -> ${JSON.stringify(regras)}`,\n  `Obs: a planilha menciona \"card criado no teste 5\"; aqui usamos o criado no T06.`\n].join(' | ');\n\npushLog('6', ok, obs);\nreturn $input.all();\n"
      },
      "position": [
        8704,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "750c477a-e663-49c8-b4db-837dbcff23a0",
      "maxTries": 5,
      "name": "T07 - Add rede_na_fatura (1284411830)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation UpdateFieldsValues($input: UpdateFieldsValuesInput!) {\n  updateFieldsValues(input: $input) {\n    success\n    userErrors\n  }\n}",
        "variables": "={\n  \"input\": {\n    \"nodeId\": \"{{ $node[\"T06 - Criar card (Rede)\"].json.data.createCard.card.id }}\",\n    \"values\": [\n      {\"fieldId\": \"rede_na_fatura\", \"value\": [\"1284411830\"], \"operation\": \"ADD\"}\n    ]\n  }\n}"
      },
      "position": [
        9120,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "5f63c2ea-c9cf-476e-b14e-722a1ef655b5",
      "name": "07 - Wait 3s",
      "parameters": {
        "amount": 3
      },
      "position": [
        9408,
        0
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "651cb3b0-8c76-4019-a9dd-e3144279a38f"
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "4a19690b-3605-4049-a338-2f20c1a6b3f3",
      "maxTries": 5,
      "name": "T07 - Validar (1210959810 + 1284411830)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query Get2($a: ID!, $b: ID!) {\n  a: card(id: $a) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n  b: card(id: $b) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n}",
        "variables": "={\n  \"a\": \"1210959810\",\n  \"b\": \"1284411830\"\n}"
      },
      "position": [
        9680,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "c3920b10-97e6-4b3c-b9a1-2b5349e6dffa",
      "name": "T07 - Registrar resultado",
      "parameters": {
        "jsCode": "\nfunction asString(v) {\n  if (v === null || v === undefined) return '';\n  return String(v);\n}\n\nfunction uniq(arr) {\n  return [...new Set(arr.filter(Boolean))];\n}\n\nfunction extractRegrasIds(card) {\n  const fields = card?.fields || [];\n  const f = fields.find(x => x?.field?.id === 'regras_de_faturamento');\n  if (!f) return [];\n\n  const av = f.array_value;\n  if (Array.isArray(av)) {\n    const out = av.map(v => {\n      if (v === null || v === undefined) return '';\n      if (typeof v === 'object') {\n        if (v.id) return String(v.id);\n        if (v.value) return String(v.value);\n        return JSON.stringify(v);\n      }\n      return String(v);\n    });\n    return uniq(out);\n  }\n\n  const val = f.value;\n  if (val === null || val === undefined) return [];\n  if (typeof val === 'string') {\n    const ids = val.match(/\\d+/g);\n    return uniq(ids && ids.length ? ids : [val]);\n  }\n  if (typeof val === 'object') return [JSON.stringify(val)];\n  return [String(val)];\n}\n\nfunction containsId(list, id) {\n  const needle = String(id);\n  return (list || []).some(v => String(v).includes(needle));\n}\n\nfunction isEmpty(list) {\n  return !list || list.length === 0;\n}\n\nfunction nodeJson(name) {\n  // Access other node output robustly\n  return $node?.[name]?.json;\n}\n\nfunction pushLog(id_do_teste, ok, observacoes) {\n  const sd = $getWorkflowStaticData('global');\n  if (!Array.isArray(sd.logs)) sd.logs = [];\n  sd.logs.push({\n    id_do_teste: String(id_do_teste),\n    resultado: ok ? 'OK' : 'ERRO',\n    observacoes: String(observacoes || '')\n  });\n}\n\n\nconst validation = nodeJson('T07 - Validar (1210959810 + 1284411830)');\nconst cardIdCreated = $node[\"T06 - Criar card (Rede)\"].json?.data?.createCard?.card?.id;\nconst success = $node[\"T07 - Add rede_na_fatura (1284411830)\"].json?.data?.updateFieldsValues?.success;\n\nlet ok = Boolean(cardIdCreated) && success === true;\n\nconst a = validation?.data?.a;\nconst b = validation?.data?.b;\nconst regrasA = extractRegrasIds(a);\nconst regrasB = extractRegrasIds(b);\n\nif (!containsId(regrasA, cardIdCreated)) ok = false;\nif (!containsId(regrasB, cardIdCreated)) ok = false;\n\nconst obs = [\n  `updateFieldsValues.success=${asString(success)}`,\n  `Esperado: ambos conterem ${cardIdCreated} em regras_de_faturamento`,\n  `1210959810 -> ${JSON.stringify(regrasA)}`,\n  `1284411830 -> ${JSON.stringify(regrasB)}`\n].join(' | ');\n\npushLog('7', ok, obs);\nreturn $input.all();\n"
      },
      "position": [
        10112,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "b86bea3c-944f-4008-a242-cbfe12183157",
      "maxTries": 5,
      "name": "T08 - Set forma_de_pagamento=PIX (card Rede)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation UpdateFieldsValues($input: UpdateFieldsValuesInput!) {\n  updateFieldsValues(input: $input) {\n    success\n    userErrors\n  }\n}",
        "variables": "={\n  \"input\": {\n    \"nodeId\": \"{{ $node[\"T06 - Criar card (Rede)\"].json.data.createCard.card.id }}\",\n    \"values\": [\n      {\"fieldId\": \"forma_de_pagamento\", \"value\": \"PIX\"}\n    ]\n  }\n}"
      },
      "position": [
        10528,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "0ff2dfa6-22dc-4b3a-96ad-c229265671bf",
      "name": "08 - Wait 3s",
      "parameters": {
        "amount": 3
      },
      "position": [
        10800,
        0
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "86e31362-63e0-41cb-84b8-6ed75b1361b8"
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "9f309df4-23ee-4e17-bb35-91c61918a33e",
      "maxTries": 5,
      "name": "T08 - Validar (1210959810 + 1284411830)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query Get2($a: ID!, $b: ID!) {\n  a: card(id: $a) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n  b: card(id: $b) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n}",
        "variables": "={\n  \"a\": \"1210959810\",\n  \"b\": \"1284411830\"\n}"
      },
      "position": [
        11088,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "524f2c63-84bc-4f43-b002-73ce147b58d2",
      "name": "T08 - Registrar resultado",
      "parameters": {
        "jsCode": "\nfunction asString(v) {\n  if (v === null || v === undefined) return '';\n  return String(v);\n}\n\nfunction uniq(arr) {\n  return [...new Set(arr.filter(Boolean))];\n}\n\nfunction extractRegrasIds(card) {\n  const fields = card?.fields || [];\n  const f = fields.find(x => x?.field?.id === 'regras_de_faturamento');\n  if (!f) return [];\n\n  const av = f.array_value;\n  if (Array.isArray(av)) {\n    const out = av.map(v => {\n      if (v === null || v === undefined) return '';\n      if (typeof v === 'object') {\n        if (v.id) return String(v.id);\n        if (v.value) return String(v.value);\n        return JSON.stringify(v);\n      }\n      return String(v);\n    });\n    return uniq(out);\n  }\n\n  const val = f.value;\n  if (val === null || val === undefined) return [];\n  if (typeof val === 'string') {\n    const ids = val.match(/\\d+/g);\n    return uniq(ids && ids.length ? ids : [val]);\n  }\n  if (typeof val === 'object') return [JSON.stringify(val)];\n  return [String(val)];\n}\n\nfunction containsId(list, id) {\n  const needle = String(id);\n  return (list || []).some(v => String(v).includes(needle));\n}\n\nfunction isEmpty(list) {\n  return !list || list.length === 0;\n}\n\nfunction nodeJson(name) {\n  // Access other node output robustly\n  return $node?.[name]?.json;\n}\n\nfunction pushLog(id_do_teste, ok, observacoes) {\n  const sd = $getWorkflowStaticData('global');\n  if (!Array.isArray(sd.logs)) sd.logs = [];\n  sd.logs.push({\n    id_do_teste: String(id_do_teste),\n    resultado: ok ? 'OK' : 'ERRO',\n    observacoes: String(observacoes || '')\n  });\n}\n\n\nconst validation = nodeJson('T08 - Validar (1210959810 + 1284411830)');\nconst cardIdCreated = $node[\"T06 - Criar card (Rede)\"].json?.data?.createCard?.card?.id;\nconst success = $node[\"T08 - Set forma_de_pagamento=PIX (card Rede)\"].json?.data?.updateFieldsValues?.success;\n\nlet ok = Boolean(cardIdCreated) && success === true;\n\nconst a = validation?.data?.a;\nconst b = validation?.data?.b;\nconst regrasA = extractRegrasIds(a);\nconst regrasB = extractRegrasIds(b);\n\nif (!containsId(regrasA, cardIdCreated)) ok = false;\nif (!containsId(regrasB, cardIdCreated)) ok = false;\n\nconst obs = [\n  `updateFieldsValues.success=${asString(success)}`,\n  `Esperado: ambos conterem ${cardIdCreated} em regras_de_faturamento`,\n  `1210959810 -> ${JSON.stringify(regrasA)}`,\n  `1284411830 -> ${JSON.stringify(regrasB)}`\n].join(' | ');\n\npushLog('8', ok, obs);\nreturn $input.all();\n"
      },
      "position": [
        11504,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "785f1d04-06e7-472d-afe4-6fa3d7e78a86",
      "maxTries": 5,
      "name": "T09 - Remove rede_na_fatura (1284411830)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation UpdateFieldsValues($input: UpdateFieldsValuesInput!) {\n  updateFieldsValues(input: $input) {\n    success\n    userErrors\n  }\n}",
        "variables": "={\n  \"input\": {\n    \"nodeId\": \"{{ $node[\"T06 - Criar card (Rede)\"].json.data.createCard.card.id }}\",\n    \"values\": [\n      {\"fieldId\": \"rede_na_fatura\", \"value\": [\"1284411830\"], \"operation\": \"REMOVE\"}\n    ]\n  }\n}"
      },
      "position": [
        11920,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "4d0dda76-ccec-407a-b6bb-598e79b075e3",
      "name": "09 - Wait 3s",
      "parameters": {
        "amount": 3
      },
      "position": [
        12208,
        0
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "ebcd9499-ac30-48bb-9ac9-605d69a7a05b"
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "62081c8d-4c65-49f1-bcc7-60b8d68dc596",
      "maxTries": 5,
      "name": "T09 - Validar (1210959810 + 1284411830)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query Get2($a: ID!, $b: ID!) {\n  a: card(id: $a) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n  b: card(id: $b) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n}",
        "variables": "={\n  \"a\": \"1210959810\",\n  \"b\": \"1284411830\"\n}"
      },
      "position": [
        12480,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "b6ca13a5-e15d-4a73-9b2e-126f45ecc716",
      "name": "T09 - Registrar resultado",
      "parameters": {
        "jsCode": "\nfunction asString(v) {\n  if (v === null || v === undefined) return '';\n  return String(v);\n}\n\nfunction uniq(arr) {\n  return [...new Set(arr.filter(Boolean))];\n}\n\nfunction extractRegrasIds(card) {\n  const fields = card?.fields || [];\n  const f = fields.find(x => x?.field?.id === 'regras_de_faturamento');\n  if (!f) return [];\n\n  const av = f.array_value;\n  if (Array.isArray(av)) {\n    const out = av.map(v => {\n      if (v === null || v === undefined) return '';\n      if (typeof v === 'object') {\n        if (v.id) return String(v.id);\n        if (v.value) return String(v.value);\n        return JSON.stringify(v);\n      }\n      return String(v);\n    });\n    return uniq(out);\n  }\n\n  const val = f.value;\n  if (val === null || val === undefined) return [];\n  if (typeof val === 'string') {\n    const ids = val.match(/\\d+/g);\n    return uniq(ids && ids.length ? ids : [val]);\n  }\n  if (typeof val === 'object') return [JSON.stringify(val)];\n  return [String(val)];\n}\n\nfunction containsId(list, id) {\n  const needle = String(id);\n  return (list || []).some(v => String(v).includes(needle));\n}\n\nfunction isEmpty(list) {\n  return !list || list.length === 0;\n}\n\nfunction nodeJson(name) {\n  // Access other node output robustly\n  return $node?.[name]?.json;\n}\n\nfunction pushLog(id_do_teste, ok, observacoes) {\n  const sd = $getWorkflowStaticData('global');\n  if (!Array.isArray(sd.logs)) sd.logs = [];\n  sd.logs.push({\n    id_do_teste: String(id_do_teste),\n    resultado: ok ? 'OK' : 'ERRO',\n    observacoes: String(observacoes || '')\n  });\n}\n\n\nconst validation = nodeJson('T09 - Validar (1210959810 + 1284411830)');\nconst cardIdCreated = $node[\"T06 - Criar card (Rede)\"].json?.data?.createCard?.card?.id;\nconst success = $node[\"T09 - Remove rede_na_fatura (1284411830)\"].json?.data?.updateFieldsValues?.success;\n\nlet ok = Boolean(cardIdCreated) && success === true;\n\nconst a = validation?.data?.a;\nconst b = validation?.data?.b;\nconst regrasA = extractRegrasIds(a);\nconst regrasB = extractRegrasIds(b);\n\nif (!containsId(regrasA, cardIdCreated)) ok = false;\nif (!isEmpty(regrasB)) ok = false;\n\nconst obs = [\n  `updateFieldsValues.success=${asString(success)}`,\n  `Esperado: 1210959810 conter ${cardIdCreated} e 1284411830 vazio`,\n  `1210959810 -> ${JSON.stringify(regrasA)}`,\n  `1284411830 -> ${JSON.stringify(regrasB)}`\n].join(' | ');\n\npushLog('9', ok, obs);\nreturn $input.all();\n"
      },
      "position": [
        12912,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "4cb2bd9a-851c-4728-893a-5af067c05ed4",
      "maxTries": 5,
      "name": "T10 - Remove rede_na_fatura (1210959810)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation UpdateFieldsValues($input: UpdateFieldsValuesInput!) {\n  updateFieldsValues(input: $input) {\n    success\n    userErrors\n  }\n}",
        "variables": "={\n  \"input\": {\n    \"nodeId\": \"{{ $node[\"T06 - Criar card (Rede)\"].json.data.createCard.card.id }}\",\n    \"values\": [\n      {\"fieldId\": \"rede_na_fatura\", \"value\": [\"1210959810\"], \"operation\": \"REMOVE\"}\n    ]\n  }\n}"
      },
      "position": [
        13328,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "586fc313-0fbb-4efc-b93e-2ad469dca158",
      "name": "10 - Wait 3s",
      "parameters": {
        "amount": 3
      },
      "position": [
        13600,
        0
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "6c6fa131-698e-4b87-b3ec-b11a3e0372b0"
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "0def3790-d3ac-4efe-a8b5-ab6242ac799d",
      "maxTries": 5,
      "name": "T10 - Validar (1210959810 + 1284411830)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query Get2($a: ID!, $b: ID!) {\n  a: card(id: $a) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n  b: card(id: $b) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n}",
        "variables": "={\n  \"a\": \"1210959810\",\n  \"b\": \"1284411830\"\n}"
      },
      "position": [
        13888,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "7a711efc-d4f7-4708-a036-e2edf87b0ce1",
      "name": "T10 - Registrar resultado",
      "parameters": {
        "jsCode": "\nfunction asString(v) {\n  if (v === null || v === undefined) return '';\n  return String(v);\n}\n\nfunction uniq(arr) {\n  return [...new Set(arr.filter(Boolean))];\n}\n\nfunction extractRegrasIds(card) {\n  const fields = card?.fields || [];\n  const f = fields.find(x => x?.field?.id === 'regras_de_faturamento');\n  if (!f) return [];\n\n  const av = f.array_value;\n  if (Array.isArray(av)) {\n    const out = av.map(v => {\n      if (v === null || v === undefined) return '';\n      if (typeof v === 'object') {\n        if (v.id) return String(v.id);\n        if (v.value) return String(v.value);\n        return JSON.stringify(v);\n      }\n      return String(v);\n    });\n    return uniq(out);\n  }\n\n  const val = f.value;\n  if (val === null || val === undefined) return [];\n  if (typeof val === 'string') {\n    const ids = val.match(/\\d+/g);\n    return uniq(ids && ids.length ? ids : [val]);\n  }\n  if (typeof val === 'object') return [JSON.stringify(val)];\n  return [String(val)];\n}\n\nfunction containsId(list, id) {\n  const needle = String(id);\n  return (list || []).some(v => String(v).includes(needle));\n}\n\nfunction isEmpty(list) {\n  return !list || list.length === 0;\n}\n\nfunction nodeJson(name) {\n  // Access other node output robustly\n  return $node?.[name]?.json;\n}\n\nfunction pushLog(id_do_teste, ok, observacoes) {\n  const sd = $getWorkflowStaticData('global');\n  if (!Array.isArray(sd.logs)) sd.logs = [];\n  sd.logs.push({\n    id_do_teste: String(id_do_teste),\n    resultado: ok ? 'OK' : 'ERRO',\n    observacoes: String(observacoes || '')\n  });\n}\n\n\nconst validation = nodeJson('T10 - Validar (1210959810 + 1284411830)');\nconst success = $node[\"T10 - Remove rede_na_fatura (1210959810)\"].json?.data?.updateFieldsValues?.success;\n\nlet ok = success === true;\n\nconst a = validation?.data?.a;\nconst b = validation?.data?.b;\nconst regrasA = extractRegrasIds(a);\nconst regrasB = extractRegrasIds(b);\n\nif (!isEmpty(regrasA)) ok = false;\nif (!isEmpty(regrasB)) ok = false;\n\nconst obs = [\n  `updateFieldsValues.success=${asString(success)}`,\n  `Esperado: ambos vazios em regras_de_faturamento`,\n  `1210959810 -> ${JSON.stringify(regrasA)}`,\n  `1284411830 -> ${JSON.stringify(regrasB)}`\n].join(' | ');\n\npushLog('10', ok, obs);\nreturn $input.all();\n"
      },
      "position": [
        14304,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "4d3f947b-2305-4370-a32c-6a2161ec9b1b",
      "maxTries": 5,
      "name": "T11 - Set tipo_de_cliente_final=Rede (card Afiliados)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation UpdateFieldsValues($input: UpdateFieldsValuesInput!) {\n  updateFieldsValues(input: $input) {\n    success\n    userErrors\n  }\n}",
        "variables": "={\n  \"input\": {\n    \"nodeId\": \"{{ $node[\"T01 - Criar card (Afiliados)\"].json.data.createCard.card.id }}\",\n    \"values\": [\n      {\"fieldId\": \"tipo_de_cliente_final\", \"value\": \"Rede\"}\n    ]\n  }\n}"
      },
      "position": [
        14720,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "149f7ac2-7510-4c93-bc20-4556560040d0",
      "name": "11 - Wait 3s",
      "parameters": {
        "amount": 3
      },
      "position": [
        15008,
        0
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "f9d9c60d-3457-4568-9afe-7d39a2f68314"
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "8d48d8a1-527a-4a09-bb92-a2ade7a1b50d",
      "maxTries": 5,
      "name": "T11 - Validar (4 cards)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query Get4($c1: ID!, $c2: ID!, $c3: ID!, $c4: ID!) {\n  c1: card(id: $c1) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n  c2: card(id: $c2) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n  c3: card(id: $c3) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n  c4: card(id: $c4) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n}",
        "variables": "={\n  \"c1\": \"1259910277\",\n  \"c2\": \"1284069901\",\n  \"c3\": \"1210959810\",\n  \"c4\": \"1284411830\"\n}"
      },
      "position": [
        15280,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "8cc7d8ce-4b01-41c1-ae31-fe0a185ddf4e",
      "name": "T11 - Registrar resultado",
      "parameters": {
        "jsCode": "\nfunction asString(v) {\n  if (v === null || v === undefined) return '';\n  return String(v);\n}\n\nfunction uniq(arr) {\n  return [...new Set(arr.filter(Boolean))];\n}\n\nfunction extractRegrasIds(card) {\n  const fields = card?.fields || [];\n  const f = fields.find(x => x?.field?.id === 'regras_de_faturamento');\n  if (!f) return [];\n\n  const av = f.array_value;\n  if (Array.isArray(av)) {\n    const out = av.map(v => {\n      if (v === null || v === undefined) return '';\n      if (typeof v === 'object') {\n        if (v.id) return String(v.id);\n        if (v.value) return String(v.value);\n        return JSON.stringify(v);\n      }\n      return String(v);\n    });\n    return uniq(out);\n  }\n\n  const val = f.value;\n  if (val === null || val === undefined) return [];\n  if (typeof val === 'string') {\n    const ids = val.match(/\\d+/g);\n    return uniq(ids && ids.length ? ids : [val]);\n  }\n  if (typeof val === 'object') return [JSON.stringify(val)];\n  return [String(val)];\n}\n\nfunction containsId(list, id) {\n  const needle = String(id);\n  return (list || []).some(v => String(v).includes(needle));\n}\n\nfunction isEmpty(list) {\n  return !list || list.length === 0;\n}\n\nfunction nodeJson(name) {\n  // Access other node output robustly\n  return $node?.[name]?.json;\n}\n\nfunction pushLog(id_do_teste, ok, observacoes) {\n  const sd = $getWorkflowStaticData('global');\n  if (!Array.isArray(sd.logs)) sd.logs = [];\n  sd.logs.push({\n    id_do_teste: String(id_do_teste),\n    resultado: ok ? 'OK' : 'ERRO',\n    observacoes: String(observacoes || '')\n  });\n}\n\n\nconst validation = nodeJson('T11 - Validar (4 cards)');\nconst success = $node[\"T11 - Set tipo_de_cliente_final=Rede (card Afiliados)\"].json?.data?.updateFieldsValues?.success;\n\nlet ok = success === true;\n\nconst m = {\n  '1259910277': extractRegrasIds(validation?.data?.c1),\n  '1284069901': extractRegrasIds(validation?.data?.c2),\n  '1210959810': extractRegrasIds(validation?.data?.c3),\n  '1284411830': extractRegrasIds(validation?.data?.c4),\n};\n\nfor (const k of Object.keys(m)) {\n  if (!isEmpty(m[k])) ok = false;\n}\n\nconst obs = [\n  `updateFieldsValues.success=${asString(success)}`,\n  `Esperado: todos vazios em regras_de_faturamento`,\n  ...Object.entries(m).map(([k,v]) => `${k} -> ${JSON.stringify(v)}`)\n].join(' | ');\n\npushLog('11', ok, obs);\nreturn $input.all();\n"
      },
      "position": [
        15712,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "fda990cc-16dc-45c8-8a48-7d7bc1d0f1c6",
      "maxTries": 5,
      "name": "T12 - Add rede_na_fatura (1210959810) (card Afiliados)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation UpdateFieldsValues($input: UpdateFieldsValuesInput!) {\n  updateFieldsValues(input: $input) {\n    success\n    userErrors\n  }\n}",
        "variables": "={\n  \"input\": {\n    \"nodeId\": \"{{ $node[\"T01 - Criar card (Afiliados)\"].json.data.createCard.card.id }}\",\n    \"values\": [\n      {\"fieldId\": \"rede_na_fatura\", \"value\": [\"1210959810\"], \"operation\": \"ADD\"}\n    ]\n  }\n}"
      },
      "position": [
        16128,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "97ab4f86-7a94-4d00-a1d0-c4169cdc34cd",
      "name": "12 - Wait 3s",
      "parameters": {
        "amount": 3
      },
      "position": [
        16400,
        0
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "4a24f535-8366-4017-abda-b9e65b4a1bfe"
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "3807d2b2-b0dc-40fd-af4c-fc2e9f1e22a6",
      "maxTries": 5,
      "name": "T12 - Validar (card 1210959810)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query Get1($cardId: ID!) {\n  card(id: $cardId) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n}",
        "variables": "={\n  \"cardId\": \"1210959810\"\n}"
      },
      "position": [
        16688,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "03bc6f1c-b31a-44f3-8b80-e1efe1faff89",
      "name": "T12 - Registrar resultado",
      "parameters": {
        "jsCode": "\nfunction asString(v) {\n  if (v === null || v === undefined) return '';\n  return String(v);\n}\n\nfunction uniq(arr) {\n  return [...new Set(arr.filter(Boolean))];\n}\n\nfunction extractRegrasIds(card) {\n  const fields = card?.fields || [];\n  const f = fields.find(x => x?.field?.id === 'regras_de_faturamento');\n  if (!f) return [];\n\n  const av = f.array_value;\n  if (Array.isArray(av)) {\n    const out = av.map(v => {\n      if (v === null || v === undefined) return '';\n      if (typeof v === 'object') {\n        if (v.id) return String(v.id);\n        if (v.value) return String(v.value);\n        return JSON.stringify(v);\n      }\n      return String(v);\n    });\n    return uniq(out);\n  }\n\n  const val = f.value;\n  if (val === null || val === undefined) return [];\n  if (typeof val === 'string') {\n    const ids = val.match(/\\d+/g);\n    return uniq(ids && ids.length ? ids : [val]);\n  }\n  if (typeof val === 'object') return [JSON.stringify(val)];\n  return [String(val)];\n}\n\nfunction containsId(list, id) {\n  const needle = String(id);\n  return (list || []).some(v => String(v).includes(needle));\n}\n\nfunction isEmpty(list) {\n  return !list || list.length === 0;\n}\n\nfunction nodeJson(name) {\n  // Access other node output robustly\n  return $node?.[name]?.json;\n}\n\nfunction pushLog(id_do_teste, ok, observacoes) {\n  const sd = $getWorkflowStaticData('global');\n  if (!Array.isArray(sd.logs)) sd.logs = [];\n  sd.logs.push({\n    id_do_teste: String(id_do_teste),\n    resultado: ok ? 'OK' : 'ERRO',\n    observacoes: String(observacoes || '')\n  });\n}\n\n\nconst validation = nodeJson('T12 - Validar (card 1210959810)');\nconst cardIdCreated = $node[\"T01 - Criar card (Afiliados)\"].json?.data?.createCard?.card?.id;\nconst success = $node[\"T12 - Add rede_na_fatura (1210959810) (card Afiliados)\"].json?.data?.updateFieldsValues?.success;\n\nlet ok = Boolean(cardIdCreated) && success === true;\n\nconst card = validation?.data?.card;\nconst regras = extractRegrasIds(card);\nif (!containsId(regras, cardIdCreated)) ok = false;\n\nconst obs = [\n  `updateFieldsValues.success=${asString(success)}`,\n  `Esperado: 1210959810 conter ${cardIdCreated} em regras_de_faturamento`,\n  `1210959810 -> ${JSON.stringify(regras)}`\n].join(' | ');\n\npushLog('12', ok, obs);\nreturn $input.all();\n"
      },
      "position": [
        17104,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "d77e1de6-d0a9-4b2c-826c-e1e5fc4f5d79",
      "maxTries": 5,
      "name": "T13 - Set tipo_de_cliente_final=Afiliados e independentes (card Rede)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation UpdateFieldsValues($input: UpdateFieldsValuesInput!) {\n  updateFieldsValues(input: $input) {\n    success\n    userErrors\n  }\n}",
        "variables": "={\n  \"input\": {\n    \"nodeId\": \"{{ $node[\"T06 - Criar card (Rede)\"].json.data.createCard.card.id }}\",\n    \"values\": [\n      {\"fieldId\": \"tipo_de_cliente_final\", \"value\": \"Afiliados e independentes\"}\n    ]\n  }\n}"
      },
      "position": [
        17520,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "a03af161-f657-417b-ae6c-3f52baf3d038",
      "name": "13 - Wait 3s",
      "parameters": {
        "amount": 3
      },
      "position": [
        17808,
        0
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "fe98b6e1-acf8-4033-849c-684584b0202c"
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "87f5b198-0e43-49a9-8be8-0e618832e510",
      "maxTries": 5,
      "name": "T13 - Validar (4 cards)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query Get4($c1: ID!, $c2: ID!, $c3: ID!, $c4: ID!) {\n  c1: card(id: $c1) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n  c2: card(id: $c2) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n  c3: card(id: $c3) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n  c4: card(id: $c4) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n}",
        "variables": "={\n  \"c1\": \"1259910277\",\n  \"c2\": \"1284069901\",\n  \"c3\": \"1210959810\",\n  \"c4\": \"1284411830\"\n}"
      },
      "position": [
        18080,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "3f5ea154-7caa-4cb3-b9a9-f5f3ec561e1c",
      "name": "T13 - Registrar resultado",
      "parameters": {
        "jsCode": "\nfunction asString(v) {\n  if (v === null || v === undefined) return '';\n  return String(v);\n}\n\nfunction uniq(arr) {\n  return [...new Set(arr.filter(Boolean))];\n}\n\nfunction extractRegrasIds(card) {\n  const fields = card?.fields || [];\n  const f = fields.find(x => x?.field?.id === 'regras_de_faturamento');\n  if (!f) return [];\n\n  const av = f.array_value;\n  if (Array.isArray(av)) {\n    const out = av.map(v => {\n      if (v === null || v === undefined) return '';\n      if (typeof v === 'object') {\n        if (v.id) return String(v.id);\n        if (v.value) return String(v.value);\n        return JSON.stringify(v);\n      }\n      return String(v);\n    });\n    return uniq(out);\n  }\n\n  const val = f.value;\n  if (val === null || val === undefined) return [];\n  if (typeof val === 'string') {\n    const ids = val.match(/\\d+/g);\n    return uniq(ids && ids.length ? ids : [val]);\n  }\n  if (typeof val === 'object') return [JSON.stringify(val)];\n  return [String(val)];\n}\n\nfunction containsId(list, id) {\n  const needle = String(id);\n  return (list || []).some(v => String(v).includes(needle));\n}\n\nfunction isEmpty(list) {\n  return !list || list.length === 0;\n}\n\nfunction nodeJson(name) {\n  // Access other node output robustly\n  return $node?.[name]?.json;\n}\n\nfunction pushLog(id_do_teste, ok, observacoes) {\n  const sd = $getWorkflowStaticData('global');\n  if (!Array.isArray(sd.logs)) sd.logs = [];\n  sd.logs.push({\n    id_do_teste: String(id_do_teste),\n    resultado: ok ? 'OK' : 'ERRO',\n    observacoes: String(observacoes || '')\n  });\n}\n\n\nconst validation = nodeJson('T13 - Validar (4 cards)');\nconst success = $node[\"T13 - Set tipo_de_cliente_final=Afiliados e independentes (card Rede)\"].json?.data?.updateFieldsValues?.success;\n\nlet ok = success === true;\n\nconst m = {\n  '1259910277': extractRegrasIds(validation?.data?.c1),\n  '1284069901': extractRegrasIds(validation?.data?.c2),\n  '1210959810': extractRegrasIds(validation?.data?.c3),\n  '1284411830': extractRegrasIds(validation?.data?.c4),\n};\n\nfor (const k of Object.keys(m)) {\n  if (!isEmpty(m[k])) ok = false;\n}\n\nconst obs = [\n  `updateFieldsValues.success=${asString(success)}`,\n  `Esperado: todos vazios em regras_de_faturamento`,\n  ...Object.entries(m).map(([k,v]) => `${k} -> ${JSON.stringify(v)}`)\n].join(' | ');\n\npushLog('13', ok, obs);\nreturn $input.all();\n"
      },
      "position": [
        18512,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "5c30ac5c-a37a-456f-8b70-27455855a920",
      "maxTries": 5,
      "name": "T14 - Add clientes_na_fatura (1259910277) (card Rede)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation UpdateFieldsValues($input: UpdateFieldsValuesInput!) {\n  updateFieldsValues(input: $input) {\n    success\n    userErrors\n  }\n}",
        "variables": "={\n  \"input\": {\n    \"nodeId\": \"{{ $node[\"T06 - Criar card (Rede)\"].json.data.createCard.card.id }}\",\n    \"values\": [\n      {\"fieldId\": \"clientes_na_fatura\", \"value\": [\"1259910277\"], \"operation\": \"ADD\"}\n    ]\n  }\n}"
      },
      "position": [
        18928,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "52193512-008e-451b-bebc-5a18a289f303",
      "name": "14 - Wait 3s",
      "parameters": {
        "amount": 3
      },
      "position": [
        19200,
        0
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "fd0a7501-c94e-4884-b726-d888329d2945"
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "815da32a-2dbe-4d5f-9660-6ac7f38414f9",
      "maxTries": 5,
      "name": "T14 - Validar (card 1259910277)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query Get1($cardId: ID!) {\n  card(id: $cardId) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n}",
        "variables": "={\n  \"cardId\": \"1259910277\"\n}"
      },
      "position": [
        19488,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "7c2dcec6-5265-49a9-880a-e9f54a0667e8",
      "name": "T14 - Registrar resultado",
      "parameters": {
        "jsCode": "\nfunction asString(v) {\n  if (v === null || v === undefined) return '';\n  return String(v);\n}\n\nfunction uniq(arr) {\n  return [...new Set(arr.filter(Boolean))];\n}\n\nfunction extractRegrasIds(card) {\n  const fields = card?.fields || [];\n  const f = fields.find(x => x?.field?.id === 'regras_de_faturamento');\n  if (!f) return [];\n\n  const av = f.array_value;\n  if (Array.isArray(av)) {\n    const out = av.map(v => {\n      if (v === null || v === undefined) return '';\n      if (typeof v === 'object') {\n        if (v.id) return String(v.id);\n        if (v.value) return String(v.value);\n        return JSON.stringify(v);\n      }\n      return String(v);\n    });\n    return uniq(out);\n  }\n\n  const val = f.value;\n  if (val === null || val === undefined) return [];\n  if (typeof val === 'string') {\n    const ids = val.match(/\\d+/g);\n    return uniq(ids && ids.length ? ids : [val]);\n  }\n  if (typeof val === 'object') return [JSON.stringify(val)];\n  return [String(val)];\n}\n\nfunction containsId(list, id) {\n  const needle = String(id);\n  return (list || []).some(v => String(v).includes(needle));\n}\n\nfunction isEmpty(list) {\n  return !list || list.length === 0;\n}\n\nfunction nodeJson(name) {\n  // Access other node output robustly\n  return $node?.[name]?.json;\n}\n\nfunction pushLog(id_do_teste, ok, observacoes) {\n  const sd = $getWorkflowStaticData('global');\n  if (!Array.isArray(sd.logs)) sd.logs = [];\n  sd.logs.push({\n    id_do_teste: String(id_do_teste),\n    resultado: ok ? 'OK' : 'ERRO',\n    observacoes: String(observacoes || '')\n  });\n}\n\n\nconst validation = nodeJson('T14 - Validar (card 1259910277)');\nconst cardIdCreated = $node[\"T06 - Criar card (Rede)\"].json?.data?.createCard?.card?.id;\nconst success = $node[\"T14 - Add clientes_na_fatura (1259910277) (card Rede)\"].json?.data?.updateFieldsValues?.success;\n\nlet ok = Boolean(cardIdCreated) && success === true;\n\nconst card = validation?.data?.card;\nconst regras = extractRegrasIds(card);\nif (!containsId(regras, cardIdCreated)) ok = false;\n\nconst obs = [\n  `updateFieldsValues.success=${asString(success)}`,\n  `Esperado: 1259910277 conter ${cardIdCreated} em regras_de_faturamento`,\n  `1259910277 -> ${JSON.stringify(regras)}`\n].join(' | ');\n\npushLog('14', ok, obs);\nreturn $input.all();\n"
      },
      "position": [
        19904,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "640864f9-ad31-4e8e-809c-df1fdb02e7d1",
      "maxTries": 5,
      "name": "T15 - Set tipo_de_cliente_final=Afiliados e independentes (card Afiliados)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation UpdateFieldsValues($input: UpdateFieldsValuesInput!) {\n  updateFieldsValues(input: $input) {\n    success\n    userErrors\n  }\n}",
        "variables": "={\n  \"input\": {\n    \"nodeId\": \"{{ $node[\"T01 - Criar card (Afiliados)\"].json.data.createCard.card.id }}\",\n    \"values\": [\n      {\"fieldId\": \"tipo_de_cliente_final\", \"value\": \"Afiliados e independentes\"}\n    ]\n  }\n}"
      },
      "position": [
        20320,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "9c93239f-5dab-45e1-8e08-400239bfc193",
      "name": "15 - Wait 3s",
      "parameters": {
        "amount": 3
      },
      "position": [
        20608,
        0
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "d32a31a3-fbeb-4675-9ba1-c7fa9d19fbd5"
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "eb506ee4-19dd-434e-b1ae-7a189eec27ba",
      "maxTries": 5,
      "name": "T15 - Validar (4 cards)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query Get4($c1: ID!, $c2: ID!, $c3: ID!, $c4: ID!) {\n  c1: card(id: $c1) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n  c2: card(id: $c2) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n  c3: card(id: $c3) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n  c4: card(id: $c4) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n}",
        "variables": "={\n  \"c1\": \"1259910277\",\n  \"c2\": \"1284069901\",\n  \"c3\": \"1210959810\",\n  \"c4\": \"1284411830\"\n}"
      },
      "position": [
        20880,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "4a2ebde8-71bd-4a77-8128-e7eed3913cf7",
      "name": "T15 - Registrar resultado",
      "parameters": {
        "jsCode": "\nfunction asString(v) {\n  if (v === null || v === undefined) return '';\n  return String(v);\n}\n\nfunction uniq(arr) {\n  return [...new Set(arr.filter(Boolean))];\n}\n\nfunction extractRegrasIds(card) {\n  const fields = card?.fields || [];\n  const f = fields.find(x => x?.field?.id === 'regras_de_faturamento');\n  if (!f) return [];\n\n  const av = f.array_value;\n  if (Array.isArray(av)) {\n    const out = av.map(v => {\n      if (v === null || v === undefined) return '';\n      if (typeof v === 'object') {\n        if (v.id) return String(v.id);\n        if (v.value) return String(v.value);\n        return JSON.stringify(v);\n      }\n      return String(v);\n    });\n    return uniq(out);\n  }\n\n  const val = f.value;\n  if (val === null || val === undefined) return [];\n  if (typeof val === 'string') {\n    const ids = val.match(/\\d+/g);\n    return uniq(ids && ids.length ? ids : [val]);\n  }\n  if (typeof val === 'object') return [JSON.stringify(val)];\n  return [String(val)];\n}\n\nfunction containsId(list, id) {\n  const needle = String(id);\n  return (list || []).some(v => String(v).includes(needle));\n}\n\nfunction isEmpty(list) {\n  return !list || list.length === 0;\n}\n\nfunction nodeJson(name) {\n  // Access other node output robustly\n  return $node?.[name]?.json;\n}\n\nfunction pushLog(id_do_teste, ok, observacoes) {\n  const sd = $getWorkflowStaticData('global');\n  if (!Array.isArray(sd.logs)) sd.logs = [];\n  sd.logs.push({\n    id_do_teste: String(id_do_teste),\n    resultado: ok ? 'OK' : 'ERRO',\n    observacoes: String(observacoes || '')\n  });\n}\n\n\nconst validation = nodeJson('T15 - Validar (4 cards)');\nconst success = $node[\"T15 - Set tipo_de_cliente_final=Afiliados e independentes (card Afiliados)\"].json?.data?.updateFieldsValues?.success;\n\nlet ok = success === true;\n\nconst m = {\n  '1259910277': extractRegrasIds(validation?.data?.c1),\n  '1284069901': extractRegrasIds(validation?.data?.c2),\n  '1210959810': extractRegrasIds(validation?.data?.c3),\n  '1284411830': extractRegrasIds(validation?.data?.c4),\n};\n\nfor (const k of Object.keys(m)) {\n  if (!isEmpty(m[k])) ok = false;\n}\n\nconst obs = [\n  `updateFieldsValues.success=${asString(success)}`,\n  `Esperado: todos vazios em regras_de_faturamento`,\n  ...Object.entries(m).map(([k,v]) => `${k} -> ${JSON.stringify(v)}`)\n].join(' | ');\n\npushLog('15', ok, obs);\nreturn $input.all();\n"
      },
      "position": [
        21312,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "e72d08fb-c049-4a59-9816-a48b8e89fd5c",
      "maxTries": 5,
      "name": "T16 - Set tipo_de_cliente_final=Rede (card Rede)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation UpdateFieldsValues($input: UpdateFieldsValuesInput!) {\n  updateFieldsValues(input: $input) {\n    success\n    userErrors\n  }\n}",
        "variables": "={\n  \"input\": {\n    \"nodeId\": \"{{ $node[\"T06 - Criar card (Rede)\"].json.data.createCard.card.id }}\",\n    \"values\": [\n      {\"fieldId\": \"tipo_de_cliente_final\", \"value\": \"Rede\"}\n    ]\n  }\n}"
      },
      "position": [
        21728,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "235f18d0-a6c1-437b-a016-918fdcd8d2ec",
      "name": "16 - Wait 3s",
      "parameters": {
        "amount": 3
      },
      "position": [
        22000,
        0
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "55d64de8-5b6a-4cdd-bbbe-7f0d32f72121"
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "d9cb0d3a-16e9-4ad4-bdf4-f456cff93c05",
      "maxTries": 5,
      "name": "T16 - Validar (4 cards)",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query Get4($c1: ID!, $c2: ID!, $c3: ID!, $c4: ID!) {\n  c1: card(id: $c1) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n  c2: card(id: $c2) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n  c3: card(id: $c3) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n  c4: card(id: $c4) {\n    id\n    title\n    fields {\n      field { id label type }\n      value\n      array_value\n    }\n  }\n}",
        "variables": "={\n  \"c1\": \"1259910277\",\n  \"c2\": \"1284069901\",\n  \"c3\": \"1210959810\",\n  \"c4\": \"1284411830\"\n}"
      },
      "position": [
        22288,
        0
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "waitBetweenTries": 2000
    },
    {
      "id": "8ce11164-6d06-4482-b116-bafc050f5ce0",
      "name": "T16 - Registrar resultado",
      "parameters": {
        "jsCode": "\nfunction asString(v) {\n  if (v === null || v === undefined) return '';\n  return String(v);\n}\n\nfunction uniq(arr) {\n  return [...new Set(arr.filter(Boolean))];\n}\n\nfunction extractRegrasIds(card) {\n  const fields = card?.fields || [];\n  const f = fields.find(x => x?.field?.id === 'regras_de_faturamento');\n  if (!f) return [];\n\n  const av = f.array_value;\n  if (Array.isArray(av)) {\n    const out = av.map(v => {\n      if (v === null || v === undefined) return '';\n      if (typeof v === 'object') {\n        if (v.id) return String(v.id);\n        if (v.value) return String(v.value);\n        return JSON.stringify(v);\n      }\n      return String(v);\n    });\n    return uniq(out);\n  }\n\n  const val = f.value;\n  if (val === null || val === undefined) return [];\n  if (typeof val === 'string') {\n    const ids = val.match(/\\d+/g);\n    return uniq(ids && ids.length ? ids : [val]);\n  }\n  if (typeof val === 'object') return [JSON.stringify(val)];\n  return [String(val)];\n}\n\nfunction containsId(list, id) {\n  const needle = String(id);\n  return (list || []).some(v => String(v).includes(needle));\n}\n\nfunction isEmpty(list) {\n  return !list || list.length === 0;\n}\n\nfunction nodeJson(name) {\n  // Access other node output robustly\n  return $node?.[name]?.json;\n}\n\nfunction pushLog(id_do_teste, ok, observacoes) {\n  const sd = $getWorkflowStaticData('global');\n  if (!Array.isArray(sd.logs)) sd.logs = [];\n  sd.logs.push({\n    id_do_teste: String(id_do_teste),\n    resultado: ok ? 'OK' : 'ERRO',\n    observacoes: String(observacoes || '')\n  });\n}\n\n\nconst validation = nodeJson('T16 - Validar (4 cards)');\nconst success = $node[\"T16 - Set tipo_de_cliente_final=Rede (card Rede)\"].json?.data?.updateFieldsValues?.success;\n\nlet ok = success === true;\n\nconst m = {\n  '1259910277': extractRegrasIds(validation?.data?.c1),\n  '1284069901': extractRegrasIds(validation?.data?.c2),\n  '1210959810': extractRegrasIds(validation?.data?.c3),\n  '1284411830': extractRegrasIds(validation?.data?.c4),\n};\n\nfor (const k of Object.keys(m)) {\n  if (!isEmpty(m[k])) ok = false;\n}\n\nconst obs = [\n  `updateFieldsValues.success=${asString(success)}`,\n  `Esperado: todos vazios em regras_de_faturamento`,\n  ...Object.entries(m).map(([k,v]) => `${k} -> ${JSON.stringify(v)}`)\n].join(' | ');\n\npushLog('16', ok, obs);\nreturn $input.all();\n"
      },
      "position": [
        22704,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "72e7b21d-4be7-4d06-8ecc-167cd7cd510e",
      "name": "Consolidar logs (itens)",
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nconst logs = Array.isArray(sd.logs) ? sd.logs : [];\nreturn logs.map(r => ({ json: {\n  id_do_teste: String(r.id_do_teste ?? ''),\n  resultado: String(r.resultado ?? ''),\n  observacoes: String(r.observacoes ?? '')\n}}));\n"
      },
      "position": [
        23120,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "85fede9d-04cd-4f04-81fd-3c8bd143db88",
      "name": "Data Table - Inserir em \"Logs - Testes de sync\"",
      "onError": "continueRegularOutput",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "id_do_teste",
              "id": "id_do_teste",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "resultado",
              "id": "resultado",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "observacoes",
              "id": "observacoes",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {}
        },
        "dataTableId": {
          "__rl": true,
          "cachedResultName": "Logs - Testes de sync",
          "cachedResultUrl": "/projects/MxRYCPypQDED18DI/datatables/89LCRXxXaKCbCJba",
          "mode": "list",
          "value": "89LCRXxXaKCbCJba"
        },
        "options": {
          "optimizeBulk": true
        }
      },
      "position": [
        23552,
        0
      ],
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1
    },
    {
      "id": "e5bb166d-599f-4eb4-915f-46d20af21cb6",
      "name": "Fim",
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\n// Mantém histórico mínimo; se preferir, comente as linhas abaixo.\n// sd.logs = [];\nreturn $input.all();\n"
      },
      "position": [
        23968,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-01-20T17:33:29.803Z",
      "project": {
        "createdAt": "2025-10-27T18:38:08.229Z",
        "description": null,
        "icon": null,
        "id": "MxRYCPypQDED18DI",
        "name": "João Tarrega <jtarrega@evnt.com.br>",
        "projectRelations": [
          {
            "createdAt": "2025-10-27T18:38:08.229Z",
            "projectId": "MxRYCPypQDED18DI",
            "updatedAt": "2025-10-27T18:38:08.229Z",
            "user": {
              "createdAt": "2025-10-27T18:38:08.229Z",
              "disabled": false,
              "email": "jtarrega@evnt.com.br",
              "firstName": "João",
              "id": "5d6fdffe-4782-42b7-934d-8573fbfd859e",
              "isPending": false,
              "lastActiveAt": "2026-03-09",
              "lastName": "Tarrega",
              "mfaEnabled": true,
              "personalizationAnswers": {
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companyType": "other",
                "personalization_survey_n8n_version": "1.116.2",
                "personalization_survey_submitted_at": "2025-10-27T18:41:49.819Z",
                "version": "v4"
              },
              "settings": {
                "firstSuccessfulWorkflowId": "DimCvyUk7mhpRK7O",
                "npsSurvey": {
                  "lastShownAt": 1762550473483,
                  "responded": true
                },
                "userActivated": true,
                "userActivatedAt": 1762272334672
              },
              "updatedAt": "2026-03-09T11:15:52.534Z"
            },
            "userId": "5d6fdffe-4782-42b7-934d-8573fbfd859e"
          }
        ],
        "type": "personal",
        "updatedAt": "2025-10-27T18:41:32.999Z"
      },
      "projectId": "MxRYCPypQDED18DI",
      "role": "workflow:owner",
      "updatedAt": "2026-01-20T17:33:29.803Z",
      "workflowId": "TCyJuG5hdOCVxBTR"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-20T18:32:21.732Z",
  "versionId": "c9604253-9bcf-4b8a-914f-1085983428f9"
}