raw/n8n/workflows/VBhQWaYDssUxoDLs.json
{
  "active": false,
  "connections": {
    "Consultar pipes": {
      "main": [
        [
          {
            "index": 0,
            "node": "Listar pipes",
            "type": "main"
          }
        ]
      ]
    },
    "Listar pipes": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upsert pipes na tabela",
            "type": "main"
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "index": 0,
            "node": "Consultar pipes",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-28T14:26:59.015Z",
  "id": "VBhQWaYDssUxoDLs",
  "isArchived": false,
  "meta": null,
  "name": "Atualizar tabela de pipes",
  "nodes": [
    {
      "id": "39bd16d7-443e-429a-b57d-2e5f4a5f49a3",
      "name": "When clicking ‘Execute workflow’",
      "parameters": {},
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "c494bd15-924a-4e25-bf68-2b668ea35e7b",
      "name": "Consultar pipes",
      "notes": "Retorna pipes com a tag de organização \"AWS\" no Pipefy",
      "notesInFlow": true,
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query GetOrgPipeTags($organizationUuid: ID!, $search: String) {\n  tagsByCategory(organizationUuid: $organizationUuid, search: $search) {\n    uuid\n    name            # nome da categoria (ex.: \"Departments\" ou \"Uncategorized\")\n    total           # total de tags nesta categoria\n    tags {\n      uuid\n      name\n      description\n      taggedPipes {\n        pipes {\n          edges {\n            node {\n              id\n              name\n              uuid\n            }\n          }\n        }\n      }\n    }\n  }\n}\n",
        "variables": "={\n  \"organizationUuid\": \"da89a2a1-c230-436f-9208-3a82c494527f\",\n  \"search\": \"AWS\"\n}\n"
      },
      "position": [
        224,
        0
      ],
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1
    },
    {
      "id": "a6878749-b54a-41a5-94d8-1ea255d286c5",
      "name": "Listar pipes",
      "parameters": {
        "fieldToSplitOut": "data.tagsByCategory[0].tags[0].taggedPipes.pipes.edges",
        "options": {}
      },
      "position": [
        448,
        0
      ],
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1
    },
    {
      "id": "e885a747-9fee-4997-8cea-8d34c67c6688",
      "name": "Upsert pipes na tabela",
      "parameters": {
        "columns": {
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "schema": [
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "Nome",
              "id": "Nome",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "PipeID",
              "id": "PipeID",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "number"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "Identificador",
              "id": "Identificador",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            },
            {
              "defaultMatch": false,
              "display": true,
              "displayName": "UUID",
              "id": "UUID",
              "readOnly": false,
              "removed": false,
              "required": false,
              "type": "string"
            }
          ],
          "value": {
            "Identificador": "={{ $('Listar pipes').item.json.node.name.slice(0, 7).replace(/[\\[\\]\\s]/g, '') }}",
            "Nome": "={{ $('Listar pipes').item.json.node.name }}",
            "PipeID": "={{ $('Listar pipes').item.json.node.id }}",
            "UUID": "={{ $('Listar pipes').item.json.node.uuid }}"
          }
        },
        "dataTableId": {
          "__rl": true,
          "cachedResultName": "Pipes",
          "cachedResultUrl": "/projects/MxRYCPypQDED18DI/datatables/t09z8A1rvCGSBqP7",
          "mode": "list",
          "value": "t09z8A1rvCGSBqP7"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "PipeID",
              "keyValue": "={{ $('Listar pipes').item.json.node.id }}"
            }
          ]
        },
        "operation": "upsert",
        "options": {}
      },
      "position": [
        672,
        0
      ],
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-28T14:26:59.015Z",
      "project": {
        "createdAt": "2025-10-27T18:38:08.229Z",
        "description": null,
        "icon": null,
        "id": "MxRYCPypQDED18DI",
        "name": "João Tarrega <jtarrega@evnt.com.br>",
        "projectRelations": [
          {
            "createdAt": "2025-10-27T18:38:08.229Z",
            "projectId": "MxRYCPypQDED18DI",
            "updatedAt": "2025-10-27T18:38:08.229Z",
            "user": {
              "createdAt": "2025-10-27T18:38:08.229Z",
              "disabled": false,
              "email": "jtarrega@evnt.com.br",
              "firstName": "João",
              "id": "5d6fdffe-4782-42b7-934d-8573fbfd859e",
              "isPending": false,
              "lastActiveAt": "2026-03-09",
              "lastName": "Tarrega",
              "mfaEnabled": true,
              "personalizationAnswers": {
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companyType": "other",
                "personalization_survey_n8n_version": "1.116.2",
                "personalization_survey_submitted_at": "2025-10-27T18:41:49.819Z",
                "version": "v4"
              },
              "settings": {
                "firstSuccessfulWorkflowId": "DimCvyUk7mhpRK7O",
                "npsSurvey": {
                  "lastShownAt": 1762550473483,
                  "responded": true
                },
                "userActivated": true,
                "userActivatedAt": 1762272334672
              },
              "updatedAt": "2026-03-09T11:15:52.534Z"
            },
            "userId": "5d6fdffe-4782-42b7-934d-8573fbfd859e"
          }
        ],
        "type": "personal",
        "updatedAt": "2025-10-27T18:41:32.999Z"
      },
      "projectId": "MxRYCPypQDED18DI",
      "role": "workflow:owner",
      "updatedAt": "2025-10-28T14:26:59.015Z",
      "workflowId": "VBhQWaYDssUxoDLs"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-28T14:26:57.025Z",
      "id": "jWQLHyRjnHUkdCL1",
      "name": "Pipefy",
      "updatedAt": "2025-10-28T14:26:57.025Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-10T13:16:46.273Z",
  "versionId": "98274a3b-deb3-4cae-879c-7132110fadea"
}