raw/n8n/workflows/WEqAoBJZMF0sLmgn.json
{
  "active": false,
  "connections": {
    "Consultar pipes": {
      "main": [
        [
          {
            "index": 0,
            "node": "Listar pipes",
            "type": "main"
          }
        ]
      ]
    },
    "Criar report do pipe": {
      "main": [
        [
          {
            "index": 0,
            "node": "Exportar report",
            "type": "main"
          }
        ]
      ]
    },
    "Delete report": {
      "main": [
        [
          {
            "index": 0,
            "node": "Report deletado com sucesso?",
            "type": "main"
          }
        ]
      ]
    },
    "Deve ser extraído?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Listar colunas do report",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Loop nos pipes",
            "type": "main"
          }
        ]
      ]
    },
    "Download report": {
      "main": [
        [
          {
            "index": 0,
            "node": "Delete report",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Upload report",
            "type": "main"
          }
        ]
      ]
    },
    "Exportar report": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get report download link",
            "type": "main"
          }
        ]
      ]
    },
    "Get report download link": {
      "main": [
        [
          {
            "index": 0,
            "node": "Download report",
            "type": "main"
          }
        ]
      ]
    },
    "Listar colunas do report": {
      "main": [
        [
          {
            "index": 0,
            "node": "Criar report do pipe",
            "type": "main"
          }
        ]
      ]
    },
    "Listar pipes": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop nos pipes",
            "type": "main"
          }
        ]
      ]
    },
    "Loop nos pipes": {
      "main": [
        [],
        [
          {
            "index": 0,
            "node": "Deve ser extraído?",
            "type": "main"
          }
        ]
      ]
    },
    "Report deletado com sucesso?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop nos pipes",
            "type": "main"
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "index": 0,
            "node": "Consultar pipes",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-28T14:05:19.765Z",
  "id": "WEqAoBJZMF0sLmgn",
  "isArchived": true,
  "meta": null,
  "name": "Download de dados do Pipefy",
  "nodes": [
    {
      "id": "481fe81f-632f-4adb-82b2-2f5bbd28172b",
      "name": "When clicking ‘Execute workflow’",
      "parameters": {},
      "position": [
        0,
        560
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "1f065704-609a-4249-9716-c2b9c99e5106",
      "name": "Consultar pipes",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query GetDatabaseRecords($orgId: ID!, $databasePipesId: ID!) {\n  # (Optional) sanity check: fetch org name\n  organization(id: $orgId) {\n    id\n    name\n  }\n\n  # Table (database) metadata + which org it belongs to\n  table(id: $databasePipesId) {\n    id\n    name\n    organization { id name }\n  }\n\n  # The actual records from this database (paginated)\n  table_records(table_id: $databasePipesId, first: 50) {\n    edges {\n      node {\n        id\n        title\n        record_fields {\n          name\n          value\n        }\n      }\n    }\n    pageInfo {\n      endCursor\n      hasNextPage\n    }\n  }\n}\n",
        "variables": "={\n  \"orgId\": \"{{$vars.pipefyOrgId}}\",\n  \"databasePipesId\": \"306594780\"\n}"
      },
      "position": [
        224,
        560
      ],
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1
    },
    {
      "id": "9c40956b-b31a-4495-8c9b-e3473d44a0ef",
      "name": "Listar pipes",
      "parameters": {
        "fieldToSplitOut": "data.table_records.edges",
        "options": {}
      },
      "position": [
        448,
        560
      ],
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1
    },
    {
      "id": "efd8ecc0-c441-4edc-8d37-3e353ddbc9a0",
      "maxTries": 5,
      "name": "Download report",
      "parameters": {
        "options": {
          "response": {
            "response": {
              "outputPropertyName": "downloadedReport",
              "responseFormat": "file"
            }
          }
        },
        "url": "={{ $json.data.pipeReportExport.fileURL }}"
      },
      "position": [
        2016,
        320
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 5000
    },
    {
      "disabled": true,
      "id": "275a62f3-72ef-4436-8b94-c6ee00ee0ddc",
      "name": ".xlsx -> .json",
      "parameters": {
        "binaryPropertyName": "downloadedReport",
        "operation": "xlsx",
        "options": {
          "headerRow": true
        }
      },
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1
    },
    {
      "id": "632bf54b-6b33-4334-89fc-4a89f5c8f15b",
      "name": "Delete report",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation DeletePipeReport($id: ID!) {\n  deletePipeReport(input: { id: $id }) {\n    success\n  }\n}\n",
        "variables": "={\n  \"id\": \"{{ $('Criar report do pipe').item.json.data.createPipeReport.pipeReport.id }}\"\n}\n"
      },
      "position": [
        2240,
        416
      ],
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1
    },
    {
      "id": "6f9c64d4-6017-4795-9f74-3f2956b87a12",
      "name": "Loop nos pipes",
      "parameters": {
        "options": {}
      },
      "position": [
        672,
        560
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "96edad7c-6187-44c0-a2b6-cdaf3087a4f8",
      "name": "Listar colunas do report",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query GetAllReportColumns($pipeUuid: String!) {\n  pipeReportColumns(pipeUuid: $pipeUuid) {\n    name   # ← use these in createPipeReport.fields\n  }\n}",
        "variables": "={\"pipeUuid\":\"{{ $('Loop nos pipes').item.json.node.record_fields[4].value }}\"}"
      },
      "position": [
        1120,
        320
      ],
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1
    },
    {
      "id": "d54dc474-7afc-4b1f-9b39-cdae2d4a655d",
      "name": "Criar report do pipe",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation CreatePipeReport($input: CreatePipeReportInput!) {\n  createPipeReport(input: $input) {\n    pipeReport {\n      id\n      name\n      fields\n      cardCount\n    }\n  }\n}\n",
        "variables": "={\n  \"input\": {\n    \"name\": \"Full Export {{ $now }}\",\n    \"pipeId\": \"{{ $('Loop nos pipes').item.json.node.record_fields[2].value }}\",\n    \"fields\": [{{ $('Listar colunas do report').item.json.data.pipeReportColumns.map(col => `\"${col.name}\"`)\n  .join(\", \"); }}]\n  }\n}"
      },
      "position": [
        1344,
        320
      ],
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1
    },
    {
      "id": "2f42a399-3802-468a-928a-c98e3614927a",
      "name": "Exportar report",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation ExportPipeReport($input: ExportPipeReportInput!) {\n  exportPipeReport(input: $input) {\n    pipeReportExport { id }\n  }\n}",
        "variables": "={\n  \"input\": {\n    \"pipeId\": \"{{ $('Loop nos pipes').item.json.node.record_fields[2].value }}\",\n    \"pipeReportId\": \"{{ $json.data.createPipeReport.pipeReport.id }}\"\n  }\n}\n"
      },
      "position": [
        1568,
        320
      ],
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1
    },
    {
      "id": "0608b94d-977c-4f4f-bb63-229a48cca98f",
      "name": "Get report download link",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query GetExportURL($exportId: ID!) {\n  pipeReportExport(id: $exportId) {\n    fileURL\n    state\n    finishedAt\n  }\n}\n",
        "variables": "={ \"exportId\": \"{{ $json.data.exportPipeReport.pipeReportExport.id }}\" }\n"
      },
      "position": [
        1792,
        320
      ],
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1
    },
    {
      "disabled": true,
      "id": "d0fb0830-5267-4bb5-9d79-51ae34bc2c59",
      "name": "Upload report",
      "parameters": {},
      "position": [
        2240,
        224
      ],
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1
    },
    {
      "id": "591c0221-9188-4381-a4d2-3e03e07c3a09",
      "name": "Report deletado com sucesso?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "e1de79ed-f645-4ff5-b14f-34da1acb8082",
              "leftValue": "={{ $json.data.deletePipeReport.success }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        2464,
        496
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "7571bfa0-f733-466f-83f2-6885bac810b4",
      "name": "Deve ser extraído?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "0954258c-3757-4a20-bb2a-dde4f7932a00",
              "leftValue": "={{ $json.node.record_fields[3].value }}",
              "operator": {
                "operation": "contains",
                "rightType": "any",
                "type": "array"
              },
              "rightValue": "AWS"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "position": [
        896,
        320
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-28T14:05:19.765Z",
      "project": {
        "createdAt": "2025-10-27T18:38:08.229Z",
        "description": null,
        "icon": null,
        "id": "MxRYCPypQDED18DI",
        "name": "João Tarrega <jtarrega@evnt.com.br>",
        "projectRelations": [
          {
            "createdAt": "2025-10-27T18:38:08.229Z",
            "projectId": "MxRYCPypQDED18DI",
            "updatedAt": "2025-10-27T18:38:08.229Z",
            "user": {
              "createdAt": "2025-10-27T18:38:08.229Z",
              "disabled": false,
              "email": "jtarrega@evnt.com.br",
              "firstName": "João",
              "id": "5d6fdffe-4782-42b7-934d-8573fbfd859e",
              "isPending": false,
              "lastActiveAt": "2026-03-09",
              "lastName": "Tarrega",
              "mfaEnabled": true,
              "personalizationAnswers": {
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companyType": "other",
                "personalization_survey_n8n_version": "1.116.2",
                "personalization_survey_submitted_at": "2025-10-27T18:41:49.819Z",
                "version": "v4"
              },
              "settings": {
                "firstSuccessfulWorkflowId": "DimCvyUk7mhpRK7O",
                "npsSurvey": {
                  "lastShownAt": 1762550473483,
                  "responded": true
                },
                "userActivated": true,
                "userActivatedAt": 1762272334672
              },
              "updatedAt": "2026-03-09T11:15:52.534Z"
            },
            "userId": "5d6fdffe-4782-42b7-934d-8573fbfd859e"
          }
        ],
        "type": "personal",
        "updatedAt": "2025-10-27T18:41:32.999Z"
      },
      "projectId": "MxRYCPypQDED18DI",
      "role": "workflow:owner",
      "updatedAt": "2025-10-28T14:05:19.765Z",
      "workflowId": "WEqAoBJZMF0sLmgn"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-28T14:07:09.006Z",
  "versionId": "5ac2b2c1-e24d-4e4c-a516-6e6bbf84f3ac"
}