raw/n8n/workflows/ZQJV6Nyiyhk1EJfq.json
{
  "active": false,
  "connections": {
    "Criar report do pipe": {
      "main": [
        [
          {
            "index": 0,
            "node": "Exportar report",
            "type": "main"
          }
        ]
      ]
    },
    "Delete report": {
      "main": [
        [
          {
            "index": 0,
            "node": "Report deletado com sucesso?",
            "type": "main"
          }
        ]
      ]
    },
    "Download report": {
      "main": [
        [
          {
            "index": 0,
            "node": "Delete report",
            "type": "main"
          }
        ]
      ]
    },
    "Exportar report": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get report download link",
            "type": "main"
          }
        ]
      ]
    },
    "Get pipes da tabela": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop nos pipes",
            "type": "main"
          }
        ]
      ]
    },
    "Get report download link": {
      "main": [
        [
          {
            "index": 0,
            "node": "Download report",
            "type": "main"
          }
        ]
      ]
    },
    "Listar colunas do report": {
      "main": [
        [
          {
            "index": 0,
            "node": "Criar report do pipe",
            "type": "main"
          }
        ]
      ]
    },
    "Loop nos pipes": {
      "main": [
        [
          {
            "index": 0,
            "node": "No Operation, do nothing1",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Listar colunas do report",
            "type": "main"
          }
        ]
      ]
    },
    "Report deletado com sucesso?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop nos pipes",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "No Operation, do nothing",
            "type": "main"
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get pipes da tabela",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-28T14:05:23.311Z",
  "id": "ZQJV6Nyiyhk1EJfq",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Download de dados do Pipefy",
  "nodes": [
    {
      "id": "481fe81f-632f-4adb-82b2-2f5bbd28172b",
      "name": "When clicking ‘Execute workflow’",
      "parameters": {},
      "position": [
        0,
        592
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "id": "efd8ecc0-c441-4edc-8d37-3e353ddbc9a0",
      "maxTries": 5,
      "name": "Download report",
      "parameters": {
        "options": {
          "response": {
            "response": {
              "outputPropertyName": "downloadedReport",
              "responseFormat": "file"
            }
          }
        },
        "url": "={{ $json.data.pipeReportExport.fileURL }}"
      },
      "position": [
        1568,
        400
      ],
      "retryOnFail": true,
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "waitBetweenTries": 5000
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "632bf54b-6b33-4334-89fc-4a89f5c8f15b",
      "name": "Delete report",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation DeletePipeReport($id: ID!) {\n  deletePipeReport(input: { id: $id }) {\n    success\n  }\n}\n",
        "variables": "={\n  \"id\": \"{{ $('Criar report do pipe').item.json.data.createPipeReport.pipeReport.id }}\"\n}\n"
      },
      "position": [
        1792,
        400
      ],
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1
    },
    {
      "id": "6f9c64d4-6017-4795-9f74-3f2956b87a12",
      "name": "Loop nos pipes",
      "parameters": {
        "options": {}
      },
      "position": [
        448,
        592
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "96edad7c-6187-44c0-a2b6-cdaf3087a4f8",
      "name": "Listar colunas do report",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query GetAllReportColumns($pipeUuid: String!) {\n  pipeReportColumns(pipeUuid: $pipeUuid) {\n    name   # ← use these in createPipeReport.fields\n  }\n}",
        "variables": "={\"pipeUuid\":\"{{ $json.UUID }}\"}"
      },
      "position": [
        672,
        400
      ],
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "d54dc474-7afc-4b1f-9b39-cdae2d4a655d",
      "name": "Criar report do pipe",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation CreatePipeReport($input: CreatePipeReportInput!) {\n  createPipeReport(input: $input) {\n    pipeReport {\n      id\n      name\n      fields\n      cardCount\n    }\n  }\n}\n",
        "variables": "={\n  \"input\": {\n    \"name\": \"Full Export {{ $now }}\",\n    \"pipeId\": \"{{ $('Loop nos pipes').item.json.PipeID }}\",\n    \"fields\": [{{ $('Listar colunas do report').item.json.data.pipeReportColumns.map(col => `\"${col.name}\"`)\n  .join(\", \"); }}]\n  }\n}"
      },
      "position": [
        896,
        400
      ],
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "2f42a399-3802-468a-928a-c98e3614927a",
      "name": "Exportar report",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "mutation ExportPipeReport($input: ExportPipeReportInput!) {\n  exportPipeReport(input: $input) {\n    pipeReportExport { id }\n  }\n}",
        "variables": "={\n  \"input\": {\n    \"pipeId\": \"{{ $('Loop nos pipes').item.json.PipeID }}\",\n    \"pipeReportId\": \"{{ $json.data.createPipeReport.pipeReport.id }}\"\n  }\n}\n"
      },
      "position": [
        1120,
        400
      ],
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1
    },
    {
      "credentials": {
        "oAuth2Api": {
          "id": "26uKvuUtjVempi2s",
          "name": "Pipefy OAuth2 API"
        }
      },
      "id": "0608b94d-977c-4f4f-bb63-229a48cca98f",
      "name": "Get report download link",
      "parameters": {
        "authentication": "oAuth2",
        "endpoint": "https://api.pipefy.com/graphql",
        "query": "query GetExportURL($exportId: ID!) {\n  pipeReportExport(id: $exportId) {\n    fileURL\n    state\n    finishedAt\n  }\n}\n",
        "variables": "={ \"exportId\": \"{{ $json.data.exportPipeReport.pipeReportExport.id }}\" }\n"
      },
      "position": [
        1344,
        400
      ],
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1
    },
    {
      "id": "591c0221-9188-4381-a4d2-3e03e07c3a09",
      "name": "Report deletado com sucesso?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "e1de79ed-f645-4ff5-b14f-34da1acb8082",
              "leftValue": "={{ $json.data.deletePipeReport.success }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "position": [
        2016,
        576
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "a1dbcbf8-5b97-4a17-b27e-8fcf6aa3e031",
      "name": "Get pipes da tabela",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "cachedResultName": "Pipes",
          "cachedResultUrl": "/projects/MxRYCPypQDED18DI/datatables/t09z8A1rvCGSBqP7",
          "mode": "list",
          "value": "t09z8A1rvCGSBqP7"
        },
        "operation": "get",
        "returnAll": true
      },
      "position": [
        224,
        592
      ],
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1
    },
    {
      "id": "b5308e38-7d13-4e60-969a-ff88a474a099",
      "name": "No Operation, do nothing",
      "parameters": {},
      "position": [
        2240,
        576
      ],
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1
    },
    {
      "id": "ed8b7892-4220-4644-8252-7fec3162bde6",
      "name": "No Operation, do nothing1",
      "parameters": {},
      "position": [
        672,
        592
      ],
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-28T14:05:23.311Z",
      "project": {
        "createdAt": "2025-10-27T18:38:08.229Z",
        "description": null,
        "icon": null,
        "id": "MxRYCPypQDED18DI",
        "name": "João Tarrega <jtarrega@evnt.com.br>",
        "projectRelations": [
          {
            "createdAt": "2025-10-27T18:38:08.229Z",
            "projectId": "MxRYCPypQDED18DI",
            "updatedAt": "2025-10-27T18:38:08.229Z",
            "user": {
              "createdAt": "2025-10-27T18:38:08.229Z",
              "disabled": false,
              "email": "jtarrega@evnt.com.br",
              "firstName": "João",
              "id": "5d6fdffe-4782-42b7-934d-8573fbfd859e",
              "isPending": false,
              "lastActiveAt": "2026-03-09",
              "lastName": "Tarrega",
              "mfaEnabled": true,
              "personalizationAnswers": {
                "companyIndustryExtended": [
                  "it-industry"
                ],
                "companyType": "other",
                "personalization_survey_n8n_version": "1.116.2",
                "personalization_survey_submitted_at": "2025-10-27T18:41:49.819Z",
                "version": "v4"
              },
              "settings": {
                "firstSuccessfulWorkflowId": "DimCvyUk7mhpRK7O",
                "npsSurvey": {
                  "lastShownAt": 1762550473483,
                  "responded": true
                },
                "userActivated": true,
                "userActivatedAt": 1762272334672
              },
              "updatedAt": "2026-03-09T11:15:52.534Z"
            },
            "userId": "5d6fdffe-4782-42b7-934d-8573fbfd859e"
          }
        ],
        "type": "personal",
        "updatedAt": "2025-10-27T18:41:32.999Z"
      },
      "projectId": "MxRYCPypQDED18DI",
      "role": "workflow:owner",
      "updatedAt": "2025-10-28T14:05:23.311Z",
      "workflowId": "ZQJV6Nyiyhk1EJfq"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-28T14:26:57.025Z",
      "id": "jWQLHyRjnHUkdCL1",
      "name": "Pipefy",
      "updatedAt": "2025-10-28T14:26:57.025Z"
    },
    {
      "createdAt": "2025-11-10T13:15:38.224Z",
      "id": "298WcPDiWKPoEgv8",
      "name": "Relatório",
      "updatedAt": "2025-11-10T13:15:38.224Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-10T13:16:36.618Z",
  "versionId": "dbf2d9b4-6feb-410d-8904-e35ddacde1c0"
}